@import "../../../shared/styles/config";
@import "assets/styles/map";
@import "assets/styles/clusterer";
@import "assets/styles/data-selection";

.is-print-mode,
.is-embed-preview,
.is-embed {
  @import "assets/styles/map-print";

  & .c-map {
    height: 350px;
  }

  &--landscape {
    .c-map {
      height: 650px;
    }
  }
}

.is-embed {
  @import "assets/styles/map-embed";
}

.test-cx {
  height: 100%;
}

.leaflet-layer {
  transition: opacity .3s ease-in-out;
}
