.u-margin--0 { margin: 0 * $base-whitespace !important; }
.u-margin--05 { margin: $base-whitespace / 2 !important; }
.u-margin--1 { margin: 1 * $base-whitespace !important; }
.u-margin--1-5 { margin: 1.5 * $base-whitespace !important; }
.u-margin--2 { margin: 2 * $base-whitespace !important; }
.u-margin--2-5 { margin: 2.5 * $base-whitespace !important; }
.u-margin--3 { margin: 3 * $base-whitespace !important; }
.u-margin--3-2 { margin: 3.2 * $base-whitespace !important; }
.u-margin--4 { margin: 4 * $base-whitespace !important; }

.u-margin__top--0 { margin-top: 0 * $base-whitespace !important; }
.u-margin__top--05 { margin-top: $base-whitespace / 2 !important; }
.u-margin__top--1 { margin-top: 1 * $base-whitespace !important; }
.u-margin__top--1-5 { margin-top: 1.5 * $base-whitespace !important; }
.u-margin__top--2 { margin-top: 2 * $base-whitespace !important; }
.u-margin__top--2-5 { margin-top: 2.5 * $base-whitespace !important; }
.u-margin__top--3 { margin-top: 3 * $base-whitespace !important; }
.u-margin__top--3-2 { margin-top: 3.2 * $base-whitespace !important; }
.u-margin__top--4 { margin-top: 4 * $base-whitespace !important; }

.u-margin__right--0 { margin-right: 0 * $base-whitespace !important; }
.u-margin__right--05 { margin-right: $base-whitespace / 2 !important; }
.u-margin__right--1 { margin-right: 1 * $base-whitespace !important; }
.u-margin__right--1-5 { margin-right: 1.5 * $base-whitespace !important; }
.u-margin__right--2 { margin-right: 2 * $base-whitespace !important; }
.u-margin__right--2-5 { margin-right: 2.5 * $base-whitespace !important; }
.u-margin__right--3 { margin-right: 3 * $base-whitespace !important; }
.u-margin__right--3-2 { margin-right: 3.2 * $base-whitespace !important; }
.u-margin__right--4 { margin-right: 4 * $base-whitespace !important; }

.u-margin__bottom--0 { margin-bottom: 0 * $base-whitespace !important; }
.u-margin__bottom--05 { margin-bottom: $base-whitespace / 2 !important; }
.u-margin__bottom--1 { margin-bottom: 1 * $base-whitespace !important; }
.u-margin__bottom--1-5 { margin-bottom: 1.5 * $base-whitespace !important; }
.u-margin__bottom--2 { margin-bottom: 2 * $base-whitespace !important; }
.u-margin__bottom--2-5 { margin-bottom: 2.5 * $base-whitespace !important; }
.u-margin__bottom--3 { margin-bottom: 3 * $base-whitespace !important; }
.u-margin__bottom--3-2 { margin-bottom: 3.2 * $base-whitespace !important; }
.u-margin__bottom--4 { margin-bottom: 4 * $base-whitespace !important; }

.u-margin__left--0 { margin-left: 0 * $base-whitespace !important; }
.u-margin__left--05 { margin-left: $base-whitespace / 2 !important; }
.u-margin__left--1 { margin-left: 1 * $base-whitespace !important; }
.u-margin__left--1-5 { margin-left: 1.5 * $base-whitespace !important; }
.u-margin__left--2 { margin-left: 2 * $base-whitespace !important; }
.u-margin__left--2-5 { margin-left: 2.5 * $base-whitespace !important; }
.u-margin__left--3 { margin-left: 3 * $base-whitespace !important; }
.u-margin__left--3-2 { margin-left: 3.2 * $base-whitespace !important; }
.u-margin__left--4 { margin-left: 4 * $base-whitespace !important; }