* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  &[type='number'] {
    appearance: textfield;

    &::inner-spin-button,
    &::outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  // sass-lint:disable-line no-vendor-prefixes
  border: none;
}
