body,
input,
textarea,
keygen,
select,
button {
  @include font-size($s-font);
  color: $primary-dark;
  font-weight: $normal-weight;
}

h1 {
  @include font-size-responsive($xl-header-font);
  font-weight: $bold-weight;
}

h2 {
  @include font-size-responsive($l-header-font);
  font-weight: $bold-weight;
}

h3 {
  @include font-size-responsive($m-header-font);
  font-weight: $bold-weight;
}

h4,
h5,
h6 {
  @include font-size-responsive($s-header-font);
  color: $secondary-gray60;
  font-weight: $bold-weight;
}
