$c-event-day-width: 3 * $base-whitespace;
$c-event-day-height: 24px;
$c-event-month-height: 19px;

.c-event__day {
  position: absolute;
  width: $c-event-day-width;
  font-size: $c-event-day-height;
  font-weight: bolder;
  line-height: $c-event-day-height;
  text-align: center;
}

.c-event__month {
  position: absolute;
  width: $c-event-day-width;
  margin-top: 2 * $base-whitespace;
  font-weight: normal;
  line-height: $c-event-month-height;
  text-align: center;
}

.c-event__content {
  min-height: $c-event-day-height + $c-event-month-height;
  margin-left: $c-event-day-width + $base-whitespace;
}
