$c-event-date-width: 3 * $base-whitespace;

.c-event__content {
  min-height: 45px;
  margin-left: $c-event-date-width + $base-whitespace;
}

.daymonth {
  margin-right: 30px;
}

.c-event__day {
  width: $c-event-date-width;
  font-size: 24px;
  line-height: 24px;
  font-weight: bolder;
  text-align: center;
}

.c-event__month {
  width: $c-event-date-width;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.c-event__month--compact {
  margin-top: -5px;
}

.title {
  display: inline-block;
}

.c-event {
  position: relative;
}

.c-event__daymonth {
  position: absolute;
}
