$c-event-date-width: 3 * $base-whitespace;

.c-event__day {
  position: absolute;
  width: $c-event-date-width;
  font-size: 26px;
  font-weight: bolder;
  line-height: 26px;
  text-align: center;
}

.c-event__month {
  position: absolute;
  width: $c-event-date-width;
  margin-top: 22px;
  font-weight: normal;
  line-height: 19px;
  text-align: center;
}

.c-event__content {
  min-height: 45px;
  margin-left: $c-event-date-width + $base-whitespace;
}
