%draw-tool-element {
  position: relative;
  height: $button-size;
  margin-right: $base-whitespace;
  padding: 0 $base-whitespace;
  float: left;
  background-color: $primary-light;
  color: $secondary-gray60;
  line-height: $button-size;
}

.c-draw-tool {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $base-whitespace;
  z-index: $fixed-position-z-index;
}
