.c-straatbeeld {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -$base-whitespace * 2;
  left: 0;
  z-index: 1;
}

.c-straatbeeld__marzipano {
  position: absolute;
  top: 0;
  right: 0;
  bottom:  $base-whitespace * 2;
  left: 0;
  border: solid $secondary-gray40 1px;
}

.c-straatbeeld__status-bar {
  position: absolute;
  right: 0;
  bottom: $base-whitespace * 2;
  left: 0;
  height: $button-size;
  padding-right: $base-whitespace / 2;
  background-color: $primary-dark-alpha33;
  color: $primary-light;
  font-size: $base-font-size - 2;
  line-height: $button-size;
  z-index: 2;

}

.c-straatbeeld__close {
  @include icon-button("close", "red", "");

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.c-straatbeeld__streetview-history-icon {
  @include icon-button-text-right("klok", "", "red");
  margin-left: $base-whitespace / 2;
  font-family: $base-font-family;
  font-size: $base-font-size - 2;
  z-index: 2;

  &:hover {
    color: $primary-light;
    text-decoration: underline;
  }

  &::after {
    position: absolute;
  }
}

.c-straatbeeld__streetview-map-icon--minimize {
  @include icon-button-text-right("forward", "", "red");
  margin-left: $base-whitespace / 2;
  font-family: $base-font-family;
  font-size: $base-font-size - 2;
  z-index: 2;

  &:hover {
    color: $primary-light;
    text-decoration: underline;
  }

  &::after {
    position: absolute;
  }
}

.c-straatbeeld__streetview-map-icon--maximize {
  @include icon-button-text-right("back", "", "red");
  margin-left: $base-whitespace / 2;
  font-family: $base-font-family;
  font-size: $base-font-size - 2;
  z-index: 2;

  &:hover {
    color: $primary-light;
    text-decoration: underline;
  }

  &::after {
    position: absolute;
  }
}
