@mixin font-definition {
  font-family: $base-font-family;
  font-size: $base-font-size - 2;
}

.c-straatbeeld {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -$base-whitespace * 2;
  left: 0;
  z-index: 1;
}

.c-straatbeeld__marzipano {
  position: absolute;
  top: 0;
  right: 0;
  bottom:  $base-whitespace * 2;
  left: 0;
  border: solid $secondary-gray40 1px;
}

.c-straatbeeld__status-bar {
  @include font-definition;
  position: absolute;
  right: 0;
  bottom: $base-whitespace * 2;
  left: 0;
  height: $button-size;
  padding-right: $base-whitespace / 2;
  background-color: $primary-light-alpha66;
  color: $secondary-gray80;
  z-index: 2;
}

.c-straatbeeld__coordinates {
  padding-left: $base-whitespace;
  line-height: 26px;
  border-left: solid $primary-light-alpha50 1px;
}

.c-straatbeeld__close {
  @include icon-button("close", "red", "");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.c-straatbeeld__kaart-toggle {
  display: inline;
}

.c-straatbeeld__close-map {
  @include icon-button-text-right("verder", "", "white");
  @include font-definition;
  margin-right: 0;
  margin-left: -5px;
  padding-right: 10px;
  padding-left: 5px;
  float: left;
  border-right: solid $primary-light-alpha50 1px;
  color: $secondary-gray80;
  z-index: 2;

  &:hover {
    background-color: $primary-contrast;
    color: $primary-light;
    text-decoration: none;
  }

  &::before {
    //margin-top: -1px;
    margin-right: 0;
  }
}

.c-straatbeeld__streetview-history-icon {
  @include icon-button-text-right("klok", "zwart", "red");
  @include font-definition;
  margin-left: 0;
  padding-right: $base-whitespace;
  padding-left: $base-whitespace / 2;
  border-right: solid $primary-light-alpha50 1px;

  z-index: 2;

  &:hover {
    padding-right: 10px;
    background-color: $primary-contrast;
    color: $primary-light;
    text-decoration: none;
  }
}

