@import "modules/straatbeeld/components/toggle-straatbeeld-fullscreen/toggle-straatbeeld-fullscreen";

@mixin smaller-font-definition {
  font-family: $header-font-family;
  font-size: $base-font-size - 2;
  line-height: 24px;
}

.c-straatbeeld {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.c-straatbeeld__marzipano {
  position: absolute;
  top: 0;
  right: 0;
  bottom:  0;
  left: 0;
  border: solid $secondary-gray20 1px;
}

.c-straatbeeld__status-bar {
  @include smaller-font-definition;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: $button-size;
  padding-right: $base-whitespace / 2;
  background-color: $primary-light-alpha66;
  color: $primary-dark;
  line-height: $button-size;
  z-index: 2;
}

.c-straatbeeld__coordinates {
  padding-left: $base-whitespace;
  border-left: solid $secondary-gray20 1px;
}

.c-straatbeeld__close {
  @include icon-button("close", "red", "");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.c-straatbeeld__streetview-history-icon {
  @include icon-button-text-right("clock", "black", "white");
  @include smaller-font-definition;

  &::before {
    margin-right: $base-whitespace / 2;
  }
}