.c-straatbeeld {
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.c-straatbeeld__marzipano {
  position: absolute;
  top: 0;
  right: 0;
  bottom:  0;
  left: 0;
  border: solid $secondary-gray20 1px;
}

.c-straatbeeld__status-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.c-straatbeeld__close {
  @extend %hover-focus-button;
  position: absolute;
  top: $container-whitespace;
  right: $container-whitespace;
  z-index: 2;
}
