<div class="c-straatbeeld">
    <dp-toggle-straatbeeld-fullscreen is-fullscreen="state.isFullscreen"></dp-toggle-straatbeeld-fullscreen>

    <div class="qa-close">
        <dp-button type="HIDE_STRAATBEELD" class-name="c-straatbeeld__close c-toggle-button" hover-text="Sluiten">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <polygon points="512 577.139159 718.860841 784 784 718.860841 577.139159 512 784 305.139159 718.860841 240 511.542265 447.318576 305.139159 240 240 305.139159 446.879667 511.981174 240 718.860841 305.139159 784"></polygon>
            </svg>
        </dp-button>
    </div>

    <div class="c-straatbeeld__marzipano js-marzipano-viewer"
        ng-mousemove="updateOrientation()"
        ng-mousedown="startUpdating()"
        ng-mouseup="stopUpdating()" >
    </div>

    <dp-straatbeeld-status-bar
        class="c-straatbeeld__status-bar"
        date="state.date"
        location="state.location"
        heading="state.heading"
        history="state.history">
    </dp-straatbeeld-status-bar>
</div>

<dp-loading-indicator is-loading="state.isLoading" use-delay="true" show-inline="false"></dp-loading-indicator>
