<div class="c-straatbeeld">
    <dp-toggle-straatbeeld-fullscreen is-fullscreen="state.isFullscreen"></dp-toggle-straatbeeld-fullscreen>

    <div class="qa-close">
        <dp-link type="HIDE_STRAATBEELD" class-name="c-straatbeeld__close c-toggle-button" hover-text="Sluiten">
            <svg ng-if="!vm.isFullscreen" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            	<path d="M267.271964,697.618047 L388.422796,574.143713 L450.172679,636.198412 L332.229047,756.315986 L470.5,756.315986 L470.5,844 L180,844 L180,552.279412 L267.271964,552.279412 L267.271964,697.618047 Z M553.5,180 L844,180 L844,471.720588 L756.714463,471.720588 L756.714463,326.336591 L635.54479,449.810925 L573.785303,387.801588 L691.792457,267.638653 L553.5,267.638653 L553.5,180 Z" id="arrow"></path>
            </svg>
        </dp-link>
    </div>

    <div class="c-straatbeeld__marzipano js-marzipano-viewer" ng-mousemove="updateOrientation()"></div>

    <dp-straatbeeld-status-bar
        class="c-straatbeeld__status-bar"
        date="state.date"
        location="state.location"
        heading="state.heading"
        history="state.history">
    </dp-straatbeeld-status-bar>
</div>

<dp-loading-indicator is-loading="state.isLoading" use-delay="true" show-inline="false"></dp-loading-indicator>
