<div>
    <!-- nummeraanduiding -->
    <dp-api-call
        endpoint="{{vm.apiData.results.hoofdadres._links.self.href}}"
        partial="bag/nummeraanduiding"
        merge="{
            results: {
                indicatie_geconstateerd: vm.apiData.results.indicatie_geconstateerd,
                aanduiding_in_onderzoek: vm.apiData.results.aanduiding_in_onderzoek
            }
        }"
        user="vm.user">
    </dp-api-call>

    <div ng-if="vm.apiData.results" class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-parent-relations content="vm.apiData.results"></dp-parent-relations>
        </div>
        <div class="u-col-sm--6">
            <dp-straatbeeld-thumbnail panorama="vm.previewPanorama" is-loading="vm.isPreviewPanoramaLoading"></dp-straatbeeld-thumbnail>
        </div>
    </div>

    <!-- ligplaats -->
    <dp-partial-select partial="bag/ligplaats" api-data="vm.apiData" user="vm.user"></dp-partial-select>

    <!-- monumenten -->
    <dp-api-call
        endpoint="monumenten/situeringen/?betreft_nummeraanduiding={{vm.apiData.results.ligplaatsidentificatie}}"
        add-api-root="true"
        partial="monumenten/situering"
        user="vm.user">
    </dp-api-call>
</div>
