<div>
    <!-- nummeraanduiding -->
    <dp-partial-select partial="bag/nummeraanduiding" api-data="vm.apiData"></dp-partial-select>

    <div ng-if="vm.apiData.results" class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-parent-relations content="vm.apiData.results"></dp-parent-relations>
        </div>
        <div class="u-col-sm--6">
            <dp-straatbeeld-thumbnail location="vm.location"></dp-straatbeeld-thumbnail>
        </div>
    </div>

    <!-- verblijfsobject -->
    <dp-api-call
        ng-if="vm.apiData.results.type === 'Verblijfsobject'"
        endpoint="{{vm.apiData.results.verblijfsobject}}"
        partial="bag/verblijfsobject">
    </dp-api-call>

    <!-- standplaats -->
    <dp-api-call
        ng-if="vm.apiData.results.type === 'Standplaats'"
        endpoint="{{vm.apiData.results.standplaats}}"
        partial="bag/standplaats">
    </dp-api-call>

    <!-- ligplaats -->
    <dp-api-call
        ng-if="vm.apiData.results.type === 'Ligplaats'"
        endpoint="{{vm.apiData.results.ligplaats}}"
        partial="bag/ligplaats">
    </dp-api-call>
</div>
