<div>
    <!-- nummeraanduiding -->
    <dp-api-call
        partial="bag/nummeraanduiding"
        endpoint="{{
            vm.apiData.results.type === 'Standplaats' ? vm.apiData.results.standplaats
            : (vm.apiData.results.type === 'Ligplaats' ? vm.apiData.results.ligplaats
               : vm.apiData.results.verblijfsobject)
        }}"
        merge="{
            results: {
                begin_geldigheid: vm.apiData.results.begin_geldigheid,
                document_mutatie: vm.apiData.results.document_mutatie,
                document_nummer: vm.apiData.results.document_nummer,
                nummeraanduidingidentificatie: vm.apiData.results.nummeraanduidingidentificatie,
                sleutelverzendend: vm.apiData.results.sleutelverzendend,
                _display: vm.apiData.results._display,
                huisnummer: vm.apiData.results.huisnummer,
                huisletter: vm.apiData.results.huisletter,
                huisnummer_toevoeging: vm.apiData.results.huisnummer_toevoeging,
                postcode: vm.apiData.results.postcode,
                woonplaats: vm.apiData.results.woonplaats,
                openbare_ruimte: vm.apiData.results.openbare_ruimte,
                hoofdadres: vm.apiData.results.hoofdadres
            }
        }"
        user="vm.user"></dp-api-call>

    <div ng-if="vm.apiData.results" class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-parent-relations content="vm.apiData.results"></dp-parent-relations>
        </div>
        <div class="u-col-sm--6">
            <dp-panorama-thumbnail panorama="vm.previewPanorama" is-loading="vm.isPreviewPanoramaLoading"></dp-panorama-thumbnail>
        </div>
    </div>

    <!-- verblijfsobject -->
    <dp-api-call
        ng-if="vm.apiData.results.type === 'Verblijfsobject'"
        endpoint="{{vm.apiData.results.verblijfsobject}}"
        partial="bag/verblijfsobject"
        user="vm.user">
    </dp-api-call>

    <!-- standplaats -->
    <dp-api-call
        ng-if="vm.apiData.results.type === 'Standplaats'"
        endpoint="{{vm.apiData.results.standplaats}}"
        partial="bag/standplaats"
        user="vm.user">
    </dp-api-call>

    <!-- ligplaats -->
    <dp-api-call
        ng-if="vm.apiData.results.type === 'Ligplaats'"
        endpoint="{{vm.apiData.results.ligplaats}}"
        partial="bag/ligplaats"
        user="vm.user">
    </dp-api-call>

</div>
