<div>
    <div class="c-detail__block">
        <dp-glossary-header
            heading="{{vm.apiData.results.naam}}"
            definition="OPENBARERUIMTE"
            meta-data="vm.apiData">
        </dp-glossary-header>

        <dl class="c-key-value-list">
            <dt>Naam 24-posities (NEN)</dt>
            <dd>{{ vm.apiData.results.naam_24_posities }}</dd>
            <dt>Woonplaats</dt>
            <dd>
                <dp-redux-link
                    to="vm.apiData.results.woonplaats._links.self.href | detailEndpointAction"
                    link-class="o-btn o-btn--link"
                >{{ vm.apiData.results.woonplaats._display }}</dp-redux-link>
            </dd>

            <dt>Type</dt>
            <dd>{{ vm.apiData.results.type }}</dd>
            <dt>Status</dt>
            <dd>{{ vm.apiData.results.status }}</dd>
            <dt class="c-key-value-list__key--full-width">Omschrijving</dt>
            <dd class="c-key-value-list__value--full-width">
                <p
                  class="c-key-value-list__content"
                  dp-expand-collapse
                  ng-if="vm.apiData.results.omschrijving">{{ vm.apiData.results.omschrijving }}</p>
            </dd>
        </dl>
    </div>

    <div class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-panorama-thumbnail panorama="vm.previewPanorama" is-loading="vm.isPreviewPanoramaLoading"></dp-panorama-thumbnail>
        </div>
    </div>

    <div ng-if="vm.apiData.results.adressen.count" class="u-row">
        <dp-data-selection-links active-filters="{'openbare_ruimte': vm.filterSelection.openbareruimte}"></dp-data-selection-links>
    </div>
</div>
