<div>
    <div class="u-row">
        <div class="o-header">
            <dp-stelselpedia-header
                heading="{{vm.apiData.results._display}}"
                definition="PAND"
                meta-data="vm.apiData">
            </dp-stelselpedia-header>

            <div ng-if="vm.apiData.results.status.code != 30 && vm.apiData.results.status.code != 31">
                <dp-panel is-panel-visible="true" type="warning" class-name="c-panel--header">
                    {{vm.apiData.results.status.omschrijving}}
                </dp-panel>
            </div>
        </div>

        <dl class="c-key-value-list">
            <dt>Oorspronkelijk bouwjaar</dt>
            <dd ng-if="vm.apiData.results.bouwjaar !== 1005">{{ vm.apiData.results.oorspronkelijk_bouwjaar }}</dd>
            <dd ng-if="vm.apiData.results.bouwjaar === 1005">onbekend</dd>
            <dt>Naam</dt>
            <dd>{{ vm.apiData.results.pandnummer }}</dd>
            <dt>Status</dt>
            <dd>{{ vm.apiData.results.status.omschrijving }}</dd>
        </dl>
    </div>

    <div ng-if="vm.apiData.results" class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-parent-relations content="vm.apiData.results"></dp-parent-relations>
        </div>
        <div class="u-col-sm--6">
            <dp-straatbeeld-thumbnail location="vm.location"></dp-straatbeeld-thumbnail>
        </div>
    </div>

    <div ng-if="vm.apiData.results.verblijfsobjecten.count">
        <dp-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="{{vm.apiData.results.verblijfsobjecten.href}}" partial="adressen_lijst"></dp-api-call>
    </div>

    <div>
        <dp-stelselpedia-header definition="VESTIGING" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="handelsregister/vestiging/?pand={{ vm.apiData.results.pandidentificatie }}" add-api-root="true" partial="lijst"></dp-api-call>
    </div>
</div>
