<div>
  <div class="c-detail__block">
    <dp-glossary-header
      heading="{{ vm.apiData.results._display }}"
      definition="PAND"
      meta-data="vm.apiData"
    >
    </dp-glossary-header>

    <dp-panel
      ng-if="
            vm.apiData.results.notifications && vm.apiData.results.notifications[0] && vm.apiData.results.notifications[0].value"
      is-panel-visible="true"
      class-name="c-panel--offsets-below-page-title"
      type="warning"
    >
      {{ vm.apiData.results.notifications[0].value }}
    </dp-panel>

    <dl class="c-key-value-list">
      <dt>Oorspronkelijk bouwjaar</dt>
      <dd ng-if="vm.apiData.results.oorspronkelijk_bouwjaar !== '1005'">
        {{ vm.apiData.results.oorspronkelijk_bouwjaar }}
      </dd>
      <dd ng-if="vm.apiData.results.oorspronkelijk_bouwjaar === '1005'">onbekend</dd>
      <dt>Status</dt>
      <dd>{{ vm.apiData.results.status.omschrijving }}</dd>
      <dt>Naam</dt>
      <dd>{{ vm.apiData.results.pandnaam }}</dd>
    </dl>
  </div>

  <div ng-if="vm.apiData.results" class="u-row">
    <div class="u-col-sm--6 u-padding__right--2">
      <dp-parent-relations content="vm.apiData.results"></dp-parent-relations>
    </div>
    <div class="u-col-sm--6">
      <dp-panorama-thumbnail
        panorama="vm.previewPanorama"
        is-loading="vm.isPreviewPanoramaLoading"
      ></dp-panorama-thumbnail>
    </div>
  </div>

  <div ng-if="vm.apiData.results.verblijfsobjecten.count" class="c-detail__block">
    <!--
        There is no _adressen.count variable. But this check is still valid, because:

        - A pand has 0-n verblijfsobjecten
        - A verblijfsobject has 1-n adressen
        - An adres is always related to a verblijfsobject

        So; there are no adressen if there are no verblijfsobjecten. And if there are any verblijfsobjecten there must
        be at least one adres for each verblijfsobject as well.
        -->
    <dp-glossary-header definition="NUMMERAANDUIDING" use-plural="true"></dp-glossary-header>

    <dp-api-call
      endpoint="{{ vm.apiData.results._adressen.href }}"
      partial="adressen_lijst"
      user="vm.user"
    ></dp-api-call>
  </div>

  <div class="c-detail__block">
    <dp-glossary-header definition="VESTIGING" use-plural="true"></dp-glossary-header>

    <dp-panel is-panel-visible="!vm.user.scopes.includes('HR/R')" can-close="true" type="warning">
      Medewerkers/ketenpartners van Gemeente Amsterdam kunnen inloggen om vestigingen te bekijken.
      <dp-login-link></dp-login-link>
    </dp-panel>

    <dp-api-call
      ng-if="vm.user.scopes.includes('HR/R') && vm.apiData.results.pandidentificatie"
      endpoint="handelsregister/vestiging/?pand={{ vm.apiData.results.pandidentificatie }}"
      add-api-root="true"
      partial="lijst"
      user="vm.user"
    >
    </dp-api-call>
  </div>

  <dp-api-call
    endpoint="{{ vm.apiData.results._monumenten.href }}"
    partial="monumenten_lijst"
    user="vm.user"
  ></dp-api-call>
</div>
