<div class="detail-page__content--main">
    <div class="c-detail__block">
      <dp-glossary-header
        heading="{{vm.apiData.results.subTitle}}"
        definition="WOONPLAATS"
        meta-data="vm.apiData">
      </dp-glossary-header>

      <dl class="c-key-value-list">
          <dt>Gemeente</dt>
          <dd>{{ vm.apiData.results.gemeente._display }}</dd>
      </dl>
    </div>

    <div ng-if="vm.apiData.results.openbare_ruimtes.count"
         class="c-detail__block">
      <dp-glossary-header definition="OPENBARERUIMTE" use-plural="true"></dp-glossary-header>

      <dp-api-call
          endpoint="{{vm.apiData.results.openbare_ruimtes.href}}"
          partial="adressen_lijst"
          user="vm.user">
      </dp-api-call>
    </div>
</div>
