<div class="detail-page__content--main">
    <div class="u-row">
      <dp-stelselpedia-header
        heading="{{vm.apiData.results.naam}}"
        definition="WOONPLAATS"
        meta-data="vm.apiData">
      </dp-stelselpedia-header>

      <dl class="c-key-value-list">
          <dt>Naam 17-posities (post)</dt>
          <dd>{{ vm.apiData.results.naam_17_posities}}</dd>
          <dt>Gemeente</dt>
          <dd>{{ vm.apiData.results.gemeente._display }}</dd>
      </dl>
    </div>

    <div ng-if="vm.apiData.results.openbare_ruimtes.count">
      <dp-stelselpedia-header definition="OPENBARERUIMTE" use-plural="true"></dp-stelselpedia-header>

      <dp-api-call endpoint="{{vm.apiData.results.openbare_ruimtes.href}}" partial="adressen_lijst"></dp-api-call>
    </div>
</div>

