$image-tall-offset-top: 20px;
$image-tall-offset-left: -26px;
$image-tall-width: 85px;
$image-tall-height: 68px;
$title-short-offset-left: 63px;
$title-tall-offset-left: 100px;
$title-short-height: 47px;
$title-tall-height: 61px;
$title-tall-hover-width: 220px;
$title-tall-hover-height: 100px;
$title-short-hover-width: 140px;
$title-short-hover-height: 40px;

.c-logo {
  @include font-size($xl-header-font);

  display: block;
  height: 100%;
  color: $primary-dark;
  cursor: pointer;

  &__link:hover, // sass-lint:disable-line force-pseudo-nesting
  &__link:focus {  // sass-lint:disable-line force-pseudo-nesting
    .c-logo__container {
      border-bottom: 2px solid $primary-contrast;
    }
  }
}

.c-logo__container {
  position: relative;

  .c-logo--short & {
    position: relative;
    left: 2 * $base-whitespace + 3px;
    width: $title-short-hover-width;
    height: $title-short-hover-height;
  }

  .c-logo--tall & {
    width: $title-tall-hover-width;
    height: $title-tall-hover-height;
  }
}

.c-logo__link {
  width: 100%;
  color: $primary-dark;
  text-align: left;
  text-decoration: none;
}

.c-logo__title-col {
  display: flex;
  align-items: center;

  .c-logo--short & {
    height: $title-short-height;
    margin-left: $title-short-offset-left;
  }

  .c-logo--tall & {
    height: $title-tall-height;
    margin-left: $title-tall-offset-left;
  }
}

.c-logo__image {
  position: absolute;

  .c-logo--short & {
    top: $base-whitespace;
    right: $base-whitespace;
    left: -$base-whitespace - 3px;
  }

  .c-logo--tall & {
    top: $image-tall-offset-top;
    left: $image-tall-offset-left;
    width: $image-tall-width;
    height: $image-tall-height;
  }
}

.c-logo__title {
  display: inline-block;
  font-weight: $bold-weight;
  line-height: normal;

  .c-logo--short & {
    @include font-size($s-header-font);
  }

  .c-logo--tall & {
    @include font-size($xl-header-font);
  }
}
