<div>
    <h4
      class="c-paginering"
      ng-if="apiData.count >= 5">
        1-{{ apiData.results.length }} van {{apiData.count}}
    </h4>
    <ul class="o-list">
        <li ng-repeat="object in apiData.results">
            <dp-redux-link
                to="object.betreft_nummeraanduiding._links.self.href | detailEndpointAction"
                link-class="o-btn o-btn--link"
            >{{ object._display }}</dp-redux-link>


            <span
              class="muted"
              ng-if="object.hoofdadres === false">
                (nevenadres)
            </span>

            <span
              class="muted"
              ng-if="object.situering_nummeraanduiding === 'Actueel/Bij'">
                (gelegen bij)
            </span>

            <span
              class="muted"
              ng-if="object.situering_nummeraanduiding === 'Actueel/Tegenover'">
                (gelegen tegenover)
            </span>

            <span
              class="muted"
              ng-if="object.situering_nummeraanduiding === 'Actueel/Via'">
                (betreden via)
            </span>
        </li>
    </ul>

    <button
      class="c-show-more"
      ng-click="loadMore()"
      ng-if="apiData.next">
        Meer
    </button>
</div>
