@import "../../shared/styles/config";

.article {
  background-color: $primary-light;

  & > &__row {
    position: relative;
    background-color: $primary-light;

    /* This is a hack, we need to add a collapse functionality in the Row component */
    @media screen and (max-width: 570px) {
      padding: 0;
    }
  }
}
