@import "../../shared/styles/config";

.c-construction-files {
  background-color: $primary-light;

  &__title {
    margin-bottom: 7px !important;
  }

  .c-ds-table {
    margin-bottom: 20px;

    &__cell {
      padding-left: 20px;

      &:first-child {
        width: 33%;
      }
    }
  }
}
