$icon-height: 24px;

.c-embed-button {
  @extend %hover-focus-button;
  background-color: $primary-light;
  border: 1px solid $secondary-gray20;
  box-shadow: $button-shadow-size $button-shadow-size 0 0 $secondary-gray40;
  color: $secondary-gray60;
  display: none;
  padding: 4px;
  position: absolute;
  right: $container-whitespace;
  text-decoration: none;
  top: $container-whitespace;
  z-index: $fixed-position-z-index;

  &:hover,
  &:focus {
    .c-embed-button__icon--maximize {
      @include icon-sprite("icon-maximize", $primary-dark, $primary-dark, $icon-height);
    }
  }

  &__icon {
    display: block;
    float: left;
    height: $icon-height;
    width: $icon-height;

    &--maximize {
      @include icon-sprite("icon-maximize", $secondary-gray60, $primary-dark, $icon-height);
    }
  }

  &__label {
    font-size: $s-font-size;
    font-weight: $bold-weight;
    line-height: $icon-height;
    margin: 4px;
  }

  .is-embed-preview &,
  .is-embed & {
    display: inline-block;
  }
}
