.c-toggle-drawing-tool {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 0 0 #999999;
  box-sizing: content-box;
  color: #666666;
  display: flex;
  height: 24px;
  margin: -2px 0 0 -2px;
  outline: none;
  padding: 4px;

  &:focus {
    background-color: $secondary-gray10;
    color: $primary-dark;
    fill: $primary-dark;
  }

  &:hover {
    border-color: #EC0000;
    background-color: #EC0000;

    // TODO:, fix illegal BEM
    svg {
      fill: #FFFFFF;
    }

    // TODO:, fix illegal BEM
    span {
      color: #FFFFFF;
    }
  }


  // TODO:, fix illegal BEM
  svg {
    fill: #666666;
    height: 24px;
    width: 24px;
  }

  // TODO:, fix illegal BEM
  div {
    font-family: "Avenir LT W01 85 Heavy";
    line-height: 24px;
    margin-left: 4px;
  }
}
