<button ng-click="vm.toggle()"
        class="c-toggle-drawing-tool"
        ng-class="{
          'c-toggle-drawing-tool--inactive': !vm.isEnabled(),
          'c-toggle-drawing-tool--active': vm.isEnabled(),
          'c-toggle-drawing-tool--again': vm.hasDrawnPolygon && !vm.isEnabled()
        }"
        title="{{ vm.isEnabled() ? 'Eindig meten en intekenen' : ( vm.hasDrawnPolygon ? 'Opnieuw' : 'Begin' ) + ' meten en intekenen' }}">
    <em class="u-sr-only">Polygoon meten</em>
    <span ng-show="vm.isEnabled()">Eindig</span>
    <span ng-show="vm.hasDrawnPolygon && !vm.isEnabled()">Opnieuw</span>
</button>
