.c-toggle-fullscreen {
  position: absolute;
  top: $base-whitespace;
  right: $base-whitespace;
  z-index: $fixed-position-z-index;
}

.c-toggle-fullscreen__icon--fullscreen {
  @include icon-button-box("maximize");
}

.c-toggle-fullscreen__icon--minimize {
  @include icon-button-box("minimize");
}
