.c-toggle-fullscreen {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 2;
}

.c-toggle-fullscreen__icon--fullscreen {
  @include icon-button("maximize", "", "red");
}

.c-toggle-fullscreen__icon--minimize {
  @include icon-button("close", "red", "");
}
