.c-toggle-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.c-toggle-fullscreen__icon--fullscreen {
  @include icon-button("fullscreen", "red", "");
}

.c-toggle-fullscreen__icon--minimize {
  @include icon-button("close", "red", "");
}
