<div>
  <div class="c-detail__block">
    <dp-glossary-header heading="{{ vm.apiData.results.label }}" definition="BEKENDMAKINGEN">
    </dp-glossary-header>

    <dl class="c-key-value-list">
      <div class="c-key-value-item" ng-repeat="item in vm.apiData.results.items">
        <dt ng-if="$index < 4">{{ item.label }}</dt>
        <dd ng-if="$index < 4">{{ item.value }}</dd>
      </div>
      <div class="c-key-value-item">
        <dt>{{ vm.apiData.results.items[4].label }}</dt>
        <dd class="c-key-value-list__value--ellipsis">
          <a
            class="o-btn o-btn--link c-key-value-list__value-inline"
            target="_blank"
            ng-href="{{ vm.apiData.results.items[4].value }}"
            >{{ vm.apiData.results.items[4].value }}</a
          >
        </dd>
      </div>
    </dl>
  </div>
</div>
