<div>
    <div class="c-detail__block">
        <dp-glossary-header
            heading="{{vm.apiData.results._display}}"
            definition="BIZ">
        </dp-glossary-header>

        <dl class="c-key-value-list">
          <dt>Naam</dt>
          <dd>{{ vm.apiData.results._display }}</dd>
          <dt>Type</dt>
          <dd>{{ vm.apiData.results.biz_type }}</dd>
          <dt>Heffingsgrondslag</dt>
          <dd>{{ vm.apiData.results.heffingsgrondslag }}</dd>
          <dt>Jaarlijks opgehaald bedrag</dt>
          <dd>{{ vm.apiData.results.heffing }}</dd>
          <dt>Aantal heffingsplichtigen</dt>
          <dd>{{ vm.apiData.results.bijdrageplichtigen }}</dd>
          <dt>Website</dt>
          <dd><a href="{{ vm.apiData.results.website }}" class="o-btn o-btn--link">{{ vm.apiData.results.website }}</a></dd>
          <dt>Verordening</dt>
          <dd><a href="{{ vm.apiData.results.verordening }}" class="o-btn o-btn--link">{{ vm.apiData.results.verordening }}</a></dd>
        </dl>
    </div>
</div>
