<div>
    <div class="c-detail__block">
        <dp-glossary-header
            heading="{{vm.apiData.results._display}}"
            definition="BIZ">
        </dp-glossary-header>

        <dl class="c-key-value-list">
            <dt>Naam</dt>
            <dd>{{ vm.apiData.results._display }}</dd>
            <dt>Type</dt>
            <dd>{{ vm.apiData.results.biz_type }}</dd>
            <dt>Heffingsgrondslag</dt>
            <dd>{{ vm.apiData.results.heffingsgrondslag }}</dd>
            <dt>Jaarlijkse heffing</dt>
            <dd>{{ vm.apiData.results.heffing_display }}</dd>
            <dt>Aantal heffingsplichtigen</dt>
            <dd>{{ vm.apiData.results.bijdrageplichtigen }}</dd>
            <dt>Website</dt>
            <dd class="c-key-value-list__value--ellipsis">
                <a
                    ng-show="vm.apiData.results.website"
                    href="{{ vm.apiData.results.website }}"
                    class="o-btn o-btn--link c-key-value-list__value-inline"
                >{{ vm.apiData.results.website }}</a>
            </dd>
            <dt>Verordening</dt>
            <dd class="c-key-value-list__value--ellipsis">
                <a
                    ng-show="vm.apiData.results.verordening"
                    href="{{ vm.apiData.results.verordening }}"
                    class="o-btn o-btn--link c-key-value-list__value-inline"
                >{{ vm.apiData.results.verordening }}</a>
            </dd>
        </dl>
    </div>
</div>
