<div>
  <div class="c-detail__block--container">
    <dp-glossary-header heading="{{ vm.apiData.results.label }}" definition="VASTGOED">
    </dp-glossary-header>

    <div class="c-search-results__block">
      <dl class="c-key-value-list">
        <dt>Bouwjaar</dt>
        <dd>{{ vm.apiData.results.construction_year }}</dd>
        <dt>Aantal verhuurde eenheden</dt>
        <dd>{{ vm.apiData.results.features.length }}</dd>
        <dt>Monumentstatus</dt>
        <dd>{{ vm.apiData.results.monumental_status }}</dd>
        <dt>Status</dt>
        <dd>{{ vm.apiData.results.status }}</dd>
      </dl>
    </div>
    <div class="o-header">
      <h2 class="o-header__subtitle qa-search-header">
        <span>Verhuurde eenheden ({{ vm.apiData.results.features.length }})</span>
      </h2>
    </div>
    <br />
    <div>
      <div class="c-search-results__block" ng-repeat="feature in vm.apiData.results.features">
        <dl class="c-key-value-list">
          <dt>Verhuurde eenheid</dt>
          <dd>{{ feature.address }}</dd>
          <dt>Gebruiksdoel</dt>
          <dd>{{ feature.usage }}</dd>
          <dt>Oppervlakte (indicatie)</dt>
          <dd ng-if="feature.size > 0">{{ feature.size | number }} m<sup>2</sup></dd>
          <dd ng-if="feature.size === 0">onbekend</dd>
          <dt>Monumentstatus</dt>
          <dd>{{ feature.monumental_status }}</dd>
          <dt>Status</dt>
          <dd>{{ feature.status }}</dd>
          <dt>Contractueel gebruik</dt>
          <dd>{{ feature.usage_type }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
