<div>
  <div class="c-detail__block--container">
    <dp-glossary-header heading="{{ vm.apiData.results.label }}" definition="VASTGOED">
    </dp-glossary-header>

    <div class="u-row">
      <div class="u-col-sm--6 u-padding__right--2">
        <div class="c-search-results__block">
          <dl class="c-key-value-list">
            <dt>Bouwjaar</dt>
            <dd>{{ vm.apiData.results.construction_year }}</dd>
            <dt>Aantal verhuurde eenheden</dt>
            <dd>{{ vm.apiData.results.features.length }}</dd>
            <dt>Monumentstatus</dt>
            <dd>{{ vm.apiData.results.monumental_status }}</dd>
            <dt>Status</dt>
            <dd>{{ vm.apiData.results.status }}</dd>
          </dl>
        </div>
      </div>
      <div class="u-col-sm--6">
        <dp-panorama-thumbnail
          panorama="vm.previewPanorama"
          is-loading="vm.isPreviewPanoramaLoading"
        ></dp-panorama-thumbnail>
      </div>
    </div>
    <div class="o-header">
      <h2 class="o-header__subtitle qa-search-header">
        <span>Verhuurde eenheden ({{ vm.apiData.results.features.length }})</span>
      </h2>
    </div>
    <br />
    <div>
      <div class="c-search-results__block" ng-repeat="feature in vm.apiData.results.features">
        <h3 class="o-header__subtitle o-header__subtitle--dark">
          {{ feature.vhe_adres }}
        </h3>
        <dl class="c-key-value-list">
          <dt>Verhuurde eenheid</dt>
          <dd>{{ feature.vhe_adres }}</dd>
          <dt>Gebruiksdoel</dt>
          <dd>{{ feature.bag_verblijfsobject_gebruiksdoelen }}</dd>
          <dt>Oppervlakte (indicatie)</dt>
          <dd ng-if="feature.oppervlakte > 0">{{ feature.oppervlakte | number }} m<sup>2</sup></dd>
          <dd ng-if="feature.oppervlakte === 0">onbekend</dd>
          <dt>Monumentstatus</dt>
          <dd>{{ feature.monumental_status }}</dd>
          <dt>Status</dt>
          <dd>{{ feature.status }}</dd>
          <dt>Contractueel gebruik</dt>
          <dd>{{ feature.huurtype }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
