<div>
  <div class="c-detail__block">
    <dp-glossary-header heading="{{ vm.apiData.results.label }}" definition="WINKGEB">
    </dp-glossary-header>

    <dp-panel
      class-name="c-panel--offsets-below-page-title"
      is-panel-visible="true"
      can-close="true"
      type="warning"
    >
      De grenzen van dit winkelgebied zijn indicatief. Er kunnen geen rechten aan worden ontleend.
    </dp-panel>

    <dl class="c-key-value-list">
      <div class="c-key-value-item" ng-repeat="item in vm.apiData.results.items">
        <dt>{{ item.label }}</dt>
        <dd>{{ item.value }}</dd>
      </div>
    </dl>
  </div>
</div>
