<div>
    <div class="c-detail__block">
        <dp-glossary-header
            heading="{{vm.apiData.results.label}}"
            definition="WINKGEB">
        </dp-glossary-header>

        <dp-panel
            class-name="c-panel--offsets-below-page-title"
            is-panel-visible="true"
            can-close="true"
            type="warning"
        >
            De grenzen van dit winkelgebied zijn indicatief. Er kunnen geen rechten aan worden ontleend.
        </dp-panel>

        <dl class="c-key-value-list">
            <dt>Categorie</dt>
            <dd>{{ vm.apiData.results.categorie }}</dd>
        </dl>
    </div>
</div>
