<div>
    <ul>
        <li ng-repeat="theme in vm.themes">
            <dp-link
                type="FETCH_DATA_SELECTION"
                payload="{
                    dataset: 'catalogus',
                    filters: {
                        groups: theme.slug
                    },
                    view: 'CARDS',
                    page: 1
                }">
                {{theme.name}}
            </dp-link>
        </li>
    </ul>

    <dp-link
        type="FETCH_DATA_SELECTION"
        payload="{
            dataset: 'catalogus',
            filters: {},
            view: 'CARDS',
            page: 1
        }">
        Alle datasets tonen
    </dp-link>

    <a href="https://api.datapunt.amsterdam.nl/api/">Alle API's tonen</a>
</div>
