<div class="c-catalogus-themes">
    <div class="u-grid">
        <div class="u-row">
            <div class="u-col-sm--6" ng-repeat="column in vm.themeColumns">
                <div class="c-catalogus-themes__column" ng-class="{
                    'c-catalogus-themes__column--left': $first,
                    'c-catalogus-themes__column--right': $last
                    }">
                    <ul>
                        <li ng-repeat="theme in column">
                            <dp-link
                                type="FETCH_DATA_SELECTION"
                                class-name="c-catalogus-theme__icon c-catalogus-theme__icon--{{theme.icon}} qa-theme-link"
                                payload="{
                                    dataset: 'catalogus',
                                    filters: {
                                        groups: theme.slug
                                    },
                                    view: 'CARDS',
                                    page: 1
                                }"><div class="c-catalogus-theme__link"><div class="c-catalogus-theme__link__text">{{theme.name}}</div></div></dp-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="u-row">
            <div class="u-col-sm--6 c-catalogus-themes__column c-catalogus-themes__column--left">
                <dp-link type="FETCH_DATA_SELECTION"
                         class-name="o-btn o-btn--white qa-go-to-catalogus"
                         payload="{
                             dataset: 'catalogus',
                             filters: {},
                             view: 'CARDS',
                             page: 1
                         }"
                    ><span class="o-btn--white__label">Datasets</span></dp-link>
            </div>
            <div class="u-col-sm--6 c-catalogus-themes__column c-catalogus-themes__column--right">
                <a class="o-btn o-btn--white" href="https://api.data.amsterdam.nl/api/"
                    ><span class="o-btn--white__label">API's</span></a>
            </div>
        </div>
    </div>
</div>
