<div class="c-catalogus-themes">
    <div class="u-grid">
        <div class="u-row">
            <div class="u-col-sm--6" ng-repeat="column in vm.themeColumns">
                <div class="c-catalogus-themes__column" ng-class="{
                    'c-catalogus-themes__column--left': $first,
                    'c-catalogus-themes__column--right': $last
                    }">
                    <ul class="u-margin__bottom--2">
                        <li class="u-margin__bottom--1" ng-repeat="theme in column">
                            <dp-link
                                type="FETCH_DATA_SELECTION"
                                class-name="c-catalogus-theme__icon c-catalogus-theme__icon--{{theme.icon}}"
                                payload="{
                                    dataset: 'catalogus',
                                    filters: {
                                        groups: theme.slug
                                    },
                                    view: 'CARDS',
                                    page: 1
                                }">{{theme.name}}</dp-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="u-row">
            <div class="u-col-sm--6 c-catalogus-themes__column c-catalogus-themes__column--left">
                <dp-link
                    type="FETCH_DATA_SELECTION"
                    class-name="o-btn o-btn--white"
                    payload="{
                        dataset: 'catalogus',
                        filters: {},
                        view: 'CARDS',
                        page: 1
                    }">Alle datasets tonen</dp-link>
            </div>
            <div class="u-col-sm--6 c-catalogus-themes__column c-catalogus-themes__column--right">
                <a class="o-btn o-btn--white" href="https://api.datapunt.amsterdam.nl/api/">Alle API's tonen</a>
            </div>
        </div>
    </div>
</div>
