@import "../../../shared/components/toggle/toggle";
@import "../../../shared/styles/utilities/screen-reader";

$icon-height: 24px;

.map-layers {
  background-color: $secondary-gray5;
  position: relative;
  user-select: none;

  @media screen and (min-width: $breakpoint-md) {
    padding-bottom: 12px;
  }

  & > ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  &__category {
    margin-top: 8px;
    text-indent: 8px;

    @media screen and (min-width: $breakpoint-md) {
      text-indent: 12px;
    }

    & + & {
      margin-top: 16px;

      @media screen and (min-width: $breakpoint-md) {
        margin-top: 24px;
      }
    }

    &:last-child {
      margin-bottom: 8px;

      @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 12px;
      }
    }

    ul {
      margin-top: 8px;
      padding-left: 0;
    }
  }

  &__category-text {
    color: $primary-dark;
    font-family: "Avenir LT W01 85 Heavy";
    font-size: 16px;
    margin: 0;
  }

  &__title {
    border: 1px solid transparent;
    display: flex;
    font-family: "Avenir LT W01 55 Roman";
    font-size: 16px;
    text-align: left;
    text-indent: 0;

    &--active {
      background-color: $primary-light;
      border-bottom-color: $secondary-gray60;
      border-top-color: $secondary-gray60;

      & + & {
        border-top-color: transparent;
      }
    }

    button {
      @extend %hover-focus-listitem;
      align-items: center;
      border: none;
      cursor: pointer;
      display: flex;
      font-family: "Avenir LT W01 55 Roman";
      font-size: 16px;
      justify-content: space-between;
      outline: none;
      overflow: hidden;
      padding: 0;
      width: 100%;

      &:hover,
      &:focus {
        .map-layers__toggle--add,
        .map-layers__toggle--remove {
          @extend %active-button;
          background-color: $secondary-gray20 !important; // !important statement only needed in  Chrome
        }

        .map-layers__toggle--add {
          @include icon-sprite("icon-plus", $primary-dark, $primary-dark, $icon-height);
        }

        .map-layers__toggle--remove {
          @include icon-sprite("icon-cross", $primary-dark, $primary-dark, $icon-height);
        }
      }

      .map-layers__toggle-title {
        overflow: hidden;
        padding: 8px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        @media screen and (min-width: $breakpoint-md) {
          padding: 8px 12px;
        }
      }
    }
  }

  &__toggle {
    @extend %__toggle; // sass-lint:disable-line placeholder-name-format
    margin-right: 8px;

    @media screen and (min-width: $breakpoint-md) {
      margin-right: 12px;
    }

    &--add {
      @include icon-sprite("icon-plus", $secondary-gray60, $primary-dark, $icon-height);
    }

    &--remove {
      @include icon-sprite("icon-cross", $secondary-gray60, $primary-dark, $icon-height);
    }

    .map-layers__title--active &--add,
    .map-layers__title--inactive &--remove {
      display: none;
    }

    .map-layers__title--active & {
      border-color: $secondary-gray60;
    }
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
