@import "../../../shared/components/toggle/toggle";
@import "../../../../modules/shared/styles/utilities/screen-reader";

.map-layers {
  background-color: #FAFAFA;
  position: relative;
  user-select: none;

  @media screen and (min-width: 1200px) {
    padding-bottom: 12px;
  }

  & > ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  &__category {
    margin-top: 8px;
    text-indent: 8px;

    @media screen and (min-width: 1200px) {
      text-indent: 12px;
    }

    & + & {
      margin-top: 16px;

      @media screen and (min-width: 1200px) {
        margin-top: 24px;
      }
    }

    &:last-child {
      margin-bottom: 8px;

      @media screen and (min-width: 1200px) {
        margin-bottom: 12px;
      }
    }

    ul {
      margin-top: 8px;
      padding-left: 0;
    }
  }

  &__category-text {
    color: #000;
    font-family: "Avenir LT W01 85 Heavy";
    font-size: 16px;
    margin: 0;
  }

  &__title {
    border: 1px solid transparent;
    display: flex;
    font-family: "Avenir LT W01 55 Roman";
    font-size: 16px;
    text-align: left;
    text-indent: 0;

    &--active {
      background-color: #FFFFFF;
      border-bottom-color: #666666;
      border-top-color: #666666;

      & + & {
        border-top-color: transparent;
      }
    }

    button {
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      font-family: "Avenir LT W01 55 Roman";
      font-size: 16px;
      justify-content: space-between;
      outline: none;
      overflow: hidden;
      padding: 0;
      width: 100%;

      & > span:first-child {
        overflow: hidden;
        padding: 8px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        @media screen and (min-width: 1200px) {
          padding: 8px 12px;
        }
      }
    }
  }

  &__toggle {
    @extend %__toggle;
    margin-right: 8px;

    @media screen and (min-width: 1200px) {
      margin-right: 12px;
    }

    .map-layers__title--active &--add,
    .map-layers__title--inactive &--remove {
      display: none;
    }

    .map-layers__title--active & {
      border-color: #666666;
    }

    .map-layers__title:hover & {
      background-color: #EC0000;
      border-color: #EC0000;

      svg {
        fill: #FFFFFF;
      }
    }
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
