<div>
    <div class="u-row">
        <dp-stelselpedia-header
            heading="{{ vm.apiData.results.inschrijfnummer }}"
            definition="BEPERKING"
            meta-data="vm.apiData">
        </dp-stelselpedia-header>

        <dl class="c-key-value-list">
            <dt>Beperkingcode</dt>
            <dd><a target="_blank" href="https://www.amsterdam.nl/stelselpedia/wkpb-index/handboek-inwinnen/codes-wetten/" class="o-btn o-btn--link">{{ vm.apiData.results.beperkingcode.code}}</a></dd>
            <dt>Omschrijving</dt>
            <dd>{{ vm.apiData.results.beperkingcode.omschrijving }}</dd>
        </dl>

    </div>

    <div class="u-row" ng-if="vm.apiData.results.documenten.count === 1">
        <dp-stelselpedia-header definition="BRONDOCUMENT"></dp-stelselpedia-header>

        <dp-api-call endpoint="{{vm.apiData.results.documenten.href}}" partial="wkpb/brondocument"></dp-api-call>
    </div>

    <div class="u-row" ng-if="vm.apiData.results.documenten.count > 1">
        <dp-stelselpedia-header definition="BRONDOCUMENT" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="{{vm.apiData.results.documenten.href}}" partial="lijst"></dp-api-call>
    </div>

    <div class="u-row" ng-if=" vm.apiData.results.kadastrale_objecten.count">
        <dp-stelselpedia-header definition="OBJECT" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="{{vm.apiData.results.kadastrale_objecten.href}}" partial="lijst"></dp-api-call>
    </div>
</div>
