%menu-item {
  height: $site-header-height;
  padding-right: $base-whitespace * 2;
  padding-left: $base-whitespace * 2;

  background-color: inherit;
  color: $primary-light;
  font-family: $header-font-family;
  line-height: $site-header-height;
  text-decoration: none;
  cursor: pointer;
}

.site-header {
  position: relative;
  height: $site-header-height;
  background-color: $secondary-gray80;
}

.site-header__logo {
  @include font-size($xl-header-font);
  display: block;
  height: $site-header-height;
  padding-left: $base-whitespace * 2.5;
  background-color: $secondary-gray80;
  color: $primary-light;
  font-family: $header-font-family;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 14.5px;
    padding-right: 2.75px;
    padding-left: 2.75px;
    background-color: $primary-light;
    box-sizing: content-box;
  }

  span {
    background-color: $secondary-gray80;
  }
}

.site-header__search {
  padding-left: $base-whitespace * 2;
}

.site-header__menu {
  height: $site-header-height;
  float: right;
}

.site-header__menu__item {
  @extend %menu-item;
  display: inline-block;

  &:hover {
    background-color: $secondary-gray60;
  }
}

.site-header__menu__item--toggle {
  &::after {
    display: inline-block;
    padding-left: $base-whitespace / 2;
    transform: rotate(90deg); //Point downwards
    content: "›";
  }

  &.site-header__menu__item--toggle--active {
    background-color: $secondary-gray60;

    &::after {
      transform: rotate(-90deg); //Point upwards
    }
  }
}

.site-header__menu__subitem {
  @extend %menu-item;
  display: block;
  width: 100%;
  text-align: left;

  &:hover {
    background-color: $secondary-gray40;
  }
}

.c-exit-print-mode {
  position: absolute;
  top: -35px;
  right: -21px;
}

.c-exit-print-mode__button {
  width: $button-size;
  height: $button-size;
  background-image: url("assets/icons/close-hover.svg");
}

.c-print-button {
  float: right;
  font-family: $header-font-family;
  font-weight: 500;
  line-height: $button-size;

  &::after {
    display: inline-block;
    width: $button-size;
    height: $button-size;
    margin-left: $base-whitespace / 2;
    background-image: url("assets/icons/print-icoon.svg");
    content: "";
    vertical-align: middle;
  }

  &:hover {
    color: $primary-contrast;
    text-decoration: underline;

    &::after {
      background-image: url("assets/icons/print-icoon-hover.svg");
    }
  }
}

/* SASSLint enforces merging of selectors */
.is-print-mode {
  .site-header {
    background-color: transparent;
  }

  .site-header__menu__item {
    color: $secondary-gray60;

    &:hover {
      background-color: transparent;
    }
  }
}
