<header class="site-header u-hide-on-print">
    <div class="u-grid">
        <div class="u-row">
            <div class="u-col-sm--12">
                <dp-link type="FETCH_DATA_SELECTION"
                         payload="{dataset: 'catalogus', view: 'CARDS', filters: {}, page: 1}"
                         class-name="site-header__logo"
                         hover-text="Naar Amsterdam data home">
                    <img class="u-block site-header__logo" src="assets/images/andreas.svg" alt="Logo Gemeente Amsterdam" >
                    Data.amsterdam
                </dp-link>
            </div>
        </div>
    </div>
</header>
