<header class="site-header u-hide-on-print"
        ng-class="{ 'site-header--tall': vm.isTall }">

    <div class="u-grid" ng-if="!vm.isPrintMode">
        <div class="u-row">
            <div ng-class="{
                     'u-col-sm--6': vm.isTall,
                     'u-col-sm--3': !vm.isTall
                 }">
                <div class="site-header__logo"
                     ng-class="{ 'site-header__logo--tall': vm.isTall }">
                    <dp-logo is-tall="vm.isTall"></dp-logo>
                </div>
            </div>
            <div ng-if="vm.isTall" class="u-col-sm--6">
                <a href="https://amsterdam.nl/contact" class="site-header__contact o-btn o-btn--link">Contact</a>
            </div>
            <div ng-if="!vm.isTall" class="u-col-sm--6 site-header__search">
                <dp-search query="{{vm.query}}"></dp-search>
            </div>
            <div ng-if="!vm.isTall" class="u-col-sm--3 u-padding__right--2">
                <div class="site-header__menu"
                     ng-class="{ 'site-header__menu--toolbar': vm.isTall }">
                    <dp-menu is-toolbar="vm.isTall" has-print-button="vm.hasPrintButton"></dp-menu>
                </div>
            </div>
        </div>
        <div ng-if="vm.isTall" class="site-header__toolbar u-row">
            <div class="u-col-sm--6 site-header__search"
                 ng-class="{ 'site-header__search--toolbar': vm.isTall }">
                <dp-search query="{{vm.query}}"></dp-search>
            </div>
            <div class="u-col-sm--6 u-padding__right--2">
                <div class="site-header__menu"
                     ng-class="{ 'site-header__menu--toolbar': vm.isTall }">
                    <dp-menu is-toolbar="vm.isTall" has-print-button="vm.hasPrintButton"></dp-menu>
                </div>
            </div>
        </div>
    </div>

    <!-- When printing -->
    <div class="u-grid" ng-if="vm.isPrintMode">
        <div class="u-row">
            <h1 class="u-col-sm--3">Printversie</h1>
            <div class="u-col-sm--9">
                <nav class="site-header__menu">
                    <dp-print-button>
                        Printen
                    </dp-print-button>
                    <div class="c-exit-print-mode">
                        <dp-link type="HIDE_PRINT" class-name="o-btn--close--danger"></dp-link>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>
