<header class="site-header">
    <div class="u-grid">
        <div class="u-row">
            <div class="u-col-sm--3">
                <dp-link type="SHOW_HOME" class-name="site-header__logo" hover-text="Naar Atlas home">
                    <img class="u-block site-header__logo" src="assets/images/andreas.svg" alt="Logo Gemeente Amsterdam" >
                    Atlas
                </dp-link>
            </div>

            <!-- Default -->
            <div ng-if="!vm.isPrintMode" class="u-col-sm--9 u-padding__left--1">
                <div class="u-col-sm--7" class="site-header__search">
                    <dp-search query="{{vm.query}}"></dp-search>
                </div>
                <div class="u-col-sm--5 u-padding__right--2">
                    <nav class="site-header__menu">
                        <dp-link ng-if="!vm.isLoggedIn()"
                            type="SHOW_PAGE" payload="'login'" class-name="site-header__menu__item">
                            Inloggen
                        </dp-link>

                        <button ng-if="vm.isLoggedIn()" ng-click="vm.logout()" class="site-header__menu__item">
                            Uitloggen
                        </button>

                        <dp-menu-dropdown has-print-button="vm.hasPrintButton"></dp-menu-dropdown>
                    </nav>
                </div>
            </div>

            <!-- When printing -->
            <div ng-if="vm.isPrintMode" class="u-col-sm--9">
                <nav class="site-header__menu">
                    <dp-print-button>
                        Printen
                    </dp-print-button>
                    <dp-link type="HIDE_PRINT" class-name="site-header__menu__item">
                        Verlaat printversie
                    </dp-link>
                </nav>
            </div>
        </div>
    </div>
</header>
