<div ng-class="{ 'u-fixed': !vm.isPrintMode && !vm.isEmbedPreview }">
  <div class="c-dashboard__heading"
       ng-class="{ 'o-max-width': vm.hasMaxWidth }"
       ng-controller="HeaderController as header">
    <div ng-class="{ 'o-max-width__inner': vm.hasMaxWidth }">
      <div ng-if="!vm.isPrintOrEmbedOrPreview" class="qa-dashboard__header">
        <dp-site-header size="vm.headerSize"
                        user="vm.user"
                        has-print-button="header.hasPrintButton"
                        has-embed-button="header.hasEmbedButton"
                        search-action="header.searchAction"
                        query="{{header.query}}"></dp-site-header>
      </div>
      <div ng-if="vm.isPrintMode" class="qa-dashboard__print-header">
        <dp-print-header close-action="vm.hidePrintAction"></dp-print-header>
      </div>
      <div ng-if="vm.isEmbedPreview" class="qa-dashboard__embed-header">
        <dp-embed-header close-action="vm.hideEmbedMode"></dp-embed-header>
      </div>
    </div>
  </div>
</div>
