.c-hotspot {
  margin: 0 -20px;
  padding: 0 20px;
  outline: none;
  cursor: pointer;

  .c-hotspot__image {
    transform: scale(1);
    background-size: cover;
  }

  &:hover {
    transform: scale(1.15);
    animation: hotspot-animation 100ms linear;
  }

  &.c-hotspot--year-2016 {
    .c-hotspot__image {
      background-image: url("assets/images/hotspots/2016.svg");
    }

    &:hover {
      .c-hotspot__image {
        background-image: url("assets/images/hotspots/2016-hover.svg");
      }
    }
  }

  &.c-hotspot--year-2017 {
    .c-hotspot__image {
      background-image: url("assets/images/hotspots/2017.svg");
    }

    &:hover {
      .c-hotspot__image {
        background-image: url("assets/images/hotspots/2017-hover.svg");
      }
    }
  }
}

@keyframes hotspot-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}
