.hotspot {
  width: 42px;
  height: 42px;
  transform: rotateX(0.5rad);
  border: none;
  border-radius: 50%;
  outline: none;
  background-size: cover;
  cursor: pointer;

  &.hotspot--year-2016 {
    background-image: url("assets/images/hotspots/2016.svg");

    &:hover {
      background-image: url("assets/images/hotspots/2016-hover.svg");
    }
  }

  &.hotspot--year-2017 {
    background-image: url("assets/images/hotspots/2017.svg");

    &:hover {
      background-image: url("assets/images/hotspots/2017-hover.svg");
    }
  }
}
