.u-block {
  display: block;

  &:focus {
    border: 2px solid $primary-dark;
    padding: 0;
    outline: none;
  }
}

.u-inline {
  display: inline;
}

.u-inline-block {
  display: inline-block;
}
