<dp-loading-indicator is-loading="vm.isLoading" use-delay="false" show-inline="true"></dp-loading-indicator>

<table ng-if="vm.sources" class="c-table">
    <thead>
        <tr class="c-table__header-row">
            <th class="c-table__field c-table__header-field"
                scope="col">Thema</th>
            <th class="c-table__field c-table__header-field"
                scope="col">Actualisatie (aanmaak producten)</th>
            <th class="c-table__field c-table__header-field"
                scope="col">Versie datum gegevens (peildatum verwerkt product)</th>
        </tr>
    </thead>
    <tbody>
        <tr class="c-table__content-row"
            ng-repeat="source in vm.sources"
            ng-if="source.title">
            <td class="c-table__field c-table__content-field">
                <span ng-if="source.group">{{source.group}} -</span>
                {{source.title}}
            </td>
            <td class="c-table__field c-table__content-field">{{source.update_frequency}}</td>
            <td class="c-table__field c-table__content-field">{{source.data_modified_date}}</td>
        </tr>
    </tbody>
</table>
