<p>
    Medewerkers/ketenpartners van Gemeente Amsterdam kunnen inloggen om
    meer gegevens te zien: KvK-nummer, bezoekadres, SBI-omschrijving en
    SBI-code. Ook is het dan mogelijk de geselecteerde gegevens als
    spreadsheet (csv) te downloaden.
</p>

Zie
<dp-link
    type="SHOW_PAGE"
    payload="{
        name: 'content-overzicht',
        type: 'snelwegwijs',
        item: 'item9'
    }"
    class-name="c-link--light c-link--inline"
    >Help &gt; Bediening dataportaal &gt; Inloggen</dp-link>.
