$icon-height: 30px;

.c-catalogus-themes__column {
  margin-right: 17px; // to position the button links under the theme
  font-size: 0;
}

.c-catalogus-themes__column--right {
  margin-left: 3 * $base-whitespace;
}

.c-catalogus-theme__link {
  @extend %link;
  @include font-weight($normal-weight);
  width: 100%;
  height: 40px;
  margin-bottom: ($base-whitespace / 2);
  text-align: left;

  &__text {
    display: inline-block;
    padding-left: ($base-whitespace / 2);
    line-height: 20px;
    vertical-align: middle;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &:hover,
  &:focus {
    text-decoration: underline;

    .c-catalogus-theme__icon--parkeren-beheer {
      @include icon-sprite("parkeren-beheer", $primary-contrast, $primary-contrast, $icon-height);
    }

    .c-catalogus-theme__icon--toerisme {
      @include icon-sprite("toerisme", $primary-contrast, $primary-contrast, $icon-height);
    }

    .c-catalogus-theme__icon--kaart {
      @include icon-sprite("kaart", $primary-contrast, $primary-contrast, $icon-height);
    }

    .c-catalogus-theme__icon--bevolking {
      @include icon-sprite("bevolking", $primary-contrast, $primary-contrast, $icon-height);
    }

    .c-catalogus-theme__icon--openbare-ruimte {
      @include icon-sprite("openbare-ruimte", $primary-contrast, $primary-contrast, $icon-height);
    }

    .c-catalogus-theme__icon--stedelijke-ontwikkeling {
      @include icon-sprite("stedelijke-ontwikkeling", $primary-contrast, $primary-contrast, $icon-height);
    }

    .c-catalogus-theme__icon--gezondheid-zorg-welzijn {
      @include icon-sprite("gezondheid-zorg-welzijn", $primary-contrast, $primary-contrast, $icon-height);
    }

    .c-catalogus-theme__icon--energie {
      @include icon-sprite("energie", $primary-contrast, $primary-contrast, $icon-height);
    }

    .c-catalogus-theme__link__text {
      text-decoration: underline;
    }
  }
}

.c-catalogus-theme__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: ($base-whitespace / 2);
  padding-top: ($base-whitespace / 2);
  padding-bottom: ($base-whitespace / 2);
  vertical-align: middle;

  &--parkeren-beheer {
    @include icon-sprite("parkeren-beheer", $primary-dark, $primary-contrast, $icon-height);
  }

  &--toerisme {
    @include icon-sprite("toerisme", $primary-dark, $primary-contrast, $icon-height);
  }

  &--kaart {
    @include icon-sprite("kaart", $primary-dark, $primary-contrast, $icon-height);
  }

  &--bevolking {
    @include icon-sprite("bevolking", $primary-dark, $primary-contrast, $icon-height);
  }

  &--openbare-ruimte {
    @include icon-sprite("openbare-ruimte", $primary-dark, $primary-contrast, $icon-height);
  }

  &--stedelijke-ontwikkeling {
    @include icon-sprite("stedelijke-ontwikkeling", $primary-dark, $primary-contrast, $icon-height);
  }

  &--gezondheid-zorg-welzijn {
    @include icon-sprite("gezondheid-zorg-welzijn", $primary-dark, $primary-contrast, $icon-height);
  }

  &--energie {
    @include icon-sprite("energie", $primary-dark, $primary-contrast, $icon-height);
  }
}
