$base-padding: calc(#{$base-whitespace} * 2);

.c-catalogus-themes {
  padding-top: ($base-whitespace * .8);
  padding-right: $base-padding;
  padding-bottom: $base-padding;
  padding-left: $base-padding;
}

.c-catalogus-themes__column {
  margin: 6px 0 17px; // to position the button links under the themes
  font-size: 0;
}

.c-catalogus-themes__column--right {
  margin-left: 3 * $base-whitespace;
}

.c-catalogus-theme__icon {
  width: 100%;
  height: 40px;
  margin-bottom: ($base-whitespace / 2);

  &::before {
    display: block;
    margin-top: 7px;
    float: left;
  }

  a {
    color: $primary-dark;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    a {
      color: $primary-contrast;
      text-decoration: underline;
    }
  }
}

.c-catalogus-theme__link {
  @include font-weight($normal-weight);
  display: table;
  height: 40px;

  &:focus {
    color: $primary-contrast;
    text-decoration: underline;
  }
}

.c-catalogus-theme__link__text {
  display: table-cell;
  width: 100%;
  padding-right: $base-whitespace;
  line-height: 20px;
  vertical-align: middle;
}

.c-catalogus-theme__icon--parkeren-beheer {
  @include icon-button-text-right("parkeren-beheer", "", "red");
}

.c-catalogus-theme__icon--toerisme {
  @include icon-button-text-right("toerisme", "", "red");
}

.c-catalogus-theme__icon--kaart {
  @include icon-button-text-right("kaart", "", "red");
}

.c-catalogus-theme__icon--bevolking {
  @include icon-button-text-right("bevolking", "", "red");
}

.c-catalogus-theme__icon--openbare-ruimte {
  @include icon-button-text-right("openbare-ruimte", "", "red");
}

.c-catalogus-theme__icon--stedelijke-ontwikkeling {
  @include icon-button-text-right("stedelijke-ontwikkeling", "", "red");
}

.c-catalogus-theme__icon--gezondheid-zorg-welzijn {
  @include icon-button-text-right("gezondheid-zorg-welzijn", "", "red");
}

.c-catalogus-theme__icon--energie {
  @include icon-button-text-right("energie", "", "red");
}

.c-catalogus-theme__icon--wonen-leefomgeving {
  @include icon-button-text-right("wonen-leefomgeving", "", "red");
}

.c-catalogus-theme__icon--werk-en-inkomen {
  @include icon-button-text-right("werk-en-inkomen", "", "red");
}

.c-catalogus-theme__icon--dienstverlening {
  @include icon-button-text-right("dienstverlening", "", "red");
}

.c-catalogus-theme__icon--bestuur-organisatie {
  @include icon-button-text-right("bestuur-organisatie", "", "red");
}

.c-catalogus-theme__icon--educatie-jeugd-diversiteit {
  @include icon-button-text-right("educatie-jeugd-diversiteit", "", "red");
}
