@import "../../../shared/styles/config";

$icon-height: 24px;

.rc-icon {
  display: block;
  height: $icon-height;
  width: $icon-height;

  &--maximize {
    @include icon-sprite("icon-maximize", $secondary-gray60, $primary-dark, $icon-height);

  }

  &--minimize {
    @include icon-sprite("icon-minimize", $secondary-gray60, $primary-dark, $icon-height);
  }

  &--cross {
    @include icon-sprite("icon-cross", $secondary-gray60, $primary-dark, 30px);
  }
}
