<div ng-if="vm.feed" class="c-user-content-widget">
    <div ng-repeat="entry in vm.entries | limitTo: vm.limitTo" class="c-user-content-widget__entry">
        <dp-link type="SHOW_PAGE"
                 payload="{name: 'content-detail', type: vm.type, item: entry.id}"
                 class-name="o-btn o-btn--link c-user-content-widget__events-link">
                <dp-event date="entry.datum.date">
                    <div class="c-user-content-widget__short s-cms-content" ng-bind-html="entry.short.html"></div>
                </dp-event>
        </dp-link>
    </div>
</div>
