<div ng-if="vm.feed">
    <div ng-repeat="entry in vm.entries | limitTo: vm.limitTo" class="c-user-content-widget__entry">

        <div ng-if="entry.short.isHref"
             class="c-link c-user-content-widget__short">
            <dp-event date="entry.datum.date" is-compact="true">
                <div class="s-cms-widget-content s-cms-widget-content--link" ng-bind-html="entry.short.html"></div>
            </dp-event>
        </div>

        <dp-link ng-if="!entry.short.isHref"
                 type="SHOW_PAGE"
                 payload="{name: 'content-detail', type: vm.type, item: entry.id}"
                 class-name="o-btn o-btn--link c-user-content-widget__events-link c-user-content-widget__short">
            <dp-event date="entry.datum.date" is-compact="true">
                <div class="s-cms-widget-content" ng-bind-html="entry.short.html"></div>
            </dp-event>
        </dp-link>

    </div>
</div>
