<div ng-if="vm.feed" class="c-user-content-widget">
    <div class="c-user-content-widget__entries" ng-class="vm.entriesClassname">
        <div ng-repeat="entry in vm.entries" class="c-user-content-widget__entry">
            <dp-event date="entry.datum.date">
                <div class="c-user-content-widget__events-event-short">
                    <dp-link type="SHOW_PAGE"
                             payload="{name: 'content-detail', type: vm.type, item: entry.id}"
                             class-name="o-btn o-btn--link c-user-content-widget__events-link">
                        <div class="s-cms-content" ng-bind-html="entry.short.html"></div>
                    </dp-link>
                </div>
            </dp-event>
        </div>
    </div>

    <div ng-class="vm.showMoreClassname">
        <dp-link type="SHOW_PAGE"
                 payload="{name: 'content-overzicht', type: vm.type}">
            <div class="c-user-content-widget__entry c-user-content-widget__meer">Meer over datalab</div>
        </dp-link>
    </div>
</div>
