<div ng-if="vm.feed" class="c-user-content-widget">
    <div ng-repeat="entry in vm.entries | limitTo: vm.limitTo" class="c-user-content-widget__entry">
        <div ng-if="entry.short.isHref"
             class="o-btn o-btn--link c-user-content-widget__short s-cms-widget-content"
             ng-bind-html="entry.short.html"></div>
        <dp-link ng-if="!entry.short.isHref"
                 type="SHOW_PAGE" payload="{name: 'content-detail', type: vm.type, item: entry.id}">
            <div class="c-user-content-widget__short s-cms-widget-content" ng-bind-html="entry.short.html"></div>
        </dp-link>
    </div>
</div>
