.c-straatbeeld-status-bar {
  height: $button-size;
  padding-right: $base-whitespace / 2;
  background-color: $primary-light-alpha67;
  color: $primary-dark;
  line-height: $button-size;
}

.c-straatbeeld-status-bar__history {
  position: absolute;
  bottom: 0;
  left: 0;
  border-right: 1px solid $secondary-gray20;
  z-index: 2;
}

.c-straatbeeld-status-bar__info {
  @include font-size($xs-font);
  @include font-weight($bold-weight);

  position: absolute;
  right: 0;
  bottom: 0;
  left: 202px;
  height: $button-size;
  line-height: $button-size;
  overflow: hidden;
}

.c-straatbeeld-status-bar__info-item {
  padding: 0 $base-whitespace;
  float: right;
  border-left: solid $secondary-gray20 1px;
}
