<div ng-if="vm.showMetaInfo()" class="c-straatbeeld-status-bar">
    <dp-straatbeeld-history
        location="vm.location"
        heading="vm.heading"
        class="c-straatbeeld-status-bar__history"></dp-straatbeeld-history>
    <div class="c-straatbeeld-status-bar__info">
        <div class="c-straatbeeld-status-bar__info-item">
            <span>{{vm.location | coordinates: 'WGS84'}}</span>
        </div>
        <div class="c-straatbeeld-status-bar__info-item">
            <span>{{vm.date | date : 'dd-MM-yyyy'}}</span>
        </div>
    </div>
</div>
