@import '../../../shared/styles/config';

$panorama-toggle-width: 205px;

.panorama-menu {
  bottom: $base-whitespace;
  color: $secondary-gray60;
  left: $base-whitespace;
  position: absolute;
  width: $panorama-toggle-width;

  & > div > button {
    width: 100%;
  }
}

.panorama-menu + .context-menu {
  bottom: $base-whitespace;
  left: $panorama-toggle-width + (2 * $container-whitespace);
}
