@import "../../../shared/styles/config";

.panorama-menu {
  bottom: $base-whitespace;
  left: $base-whitespace;
  position: absolute;
  width: 170px;
}

.panorama-menu + .context-menu {
  bottom: $base-whitespace;
  left: 170px + (2 * $container-whitespace);
}
