@import "../../../../shared/styles/config/variables/colors";
@import "../../../../shared/styles/config/variables/typography";
@import "../../../../shared/styles/config/mixins/typography";

.grondexploitatie-grafiek-totale-begroting {
  margin-top: 50px;
  width: 100%;

  &__title {
    @include font-size-responsive($l-header-font);
    @include font-weight($bold-weight);
    color: $primary-contrast;
  }

  &__container {
    margin-top: 30px;
    max-width: 700px;
    width: 100%;
  }

  &__value {
    font-size: 14px;
  }

  .recharts-label-list {
    .recharts-label {
      font-size: 14px;
    }
  }

  .recharts-xAxis { // sass-lint:disable-line class-name-format
    .recharts-label,
    .recharts-cartesian-axis-tick-value {
      font-size: 12px;
    }
  }
}
