
.select {
  position: relative;
  margin-bottom: 20px;
  width: 100%;

  .select__drop-down {
    position: absolute;
    width: inherit;
    border: 1px solid #000;
    background-color: #fff;
    display: none;
    z-index: 700;
  }

  .select__drop-down-item {
    width: inherit;
  }

  .select__drop-down-item--selected {
    background-color: #eeeeee;
  }

  .select__toggle {
    position: absolute;
    right: 0;
  }

  .select__toggle--expand {
    display: inline;
  }

  .select__toggle--contract {
    display: none;
  }

  &.select--expanded {
    .select__drop-down {
      display: block;
    }

    .select__toggle--expand {
      display: none;
    }

    .select__toggle--contract {
      display: inline;
    }
  }

  .select__label,
  .select__drop-down-button {
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: inherit;
    padding: 7px 10px;
    text-align: left;
  }

  .select__drop-down-button {
    &:hover {
      background-color: #f6f6f6;
    }
  }
}
