
.select {
  position: relative;

  .select__drop-down {
    position: absolute;
    left: 0;
    background-color: yellow;
    display: none;
    z-index: 700;
  }

  .select__drop-down-item--selected {
    background-color: red;
  }

  .select__drop-down--expanded {
    display: block;
  }

  .select__label,
  .select__drop-down-button {
    padding: 5px 10px;
  }
}
