@mixin svg-highlight-color($color) {
  svg {
    path,
    polygon {
      fill: $color;
    }
  }
}

.select {
  position: relative;
  margin-bottom: 20px;

  .select__wrapper {
    border: 1px solid #7e7e7e;
    align-items: center;
    display: flex;
    justify-content: space-between;
    outline: none;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #f00;

      @include svg-highlight-color(white);
    }
  }

  .select__label {
    border-right: 1px solid #7e7e7e;
  }

  .select__icon {
    right: 0;
    width: 22px;
    height: 22px;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  .select__icon--expand {
    display: inline;
  }

  .select__icon--contract {
    display: none;
  }

  &.select--expanded {
    .select__drop-down {
      display: block;
    }

    .select__icon--expand {
      display: none;
    }

    .select__icon--contract {
      display: inline;
    }

    .select__icon {
      background-color: red;

      @include svg-highlight-color(white);
    }
  }

  &.select--disabled {
    .select__wrapper,
    .select__label {
      border-color: #d2d2d2;
      color: #ccc;
    }

    @include svg-highlight-color(#ccc);
  }

  .select__custom-icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .select__drop-down {
    position: absolute;
    width: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #fff;
    display: none;
    z-index: 700;
  }

  .select__drop-down-item {
    width: inherit;
  }

  .select__drop-down-item--selected {
    background-color: #eeeeee;
  }

  .select__drop-down-button {
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
  }

  .select__label,
  .select__drop-down-button {
    width: inherit;
    padding: 7px 10px;
    text-align: left;
  }

  .select__drop-down-button {
    &:hover {
      background-color: #f6f6f6;
    }
  }
}
