.map-search-results-item {
  background-color: $primary-light;
  border-bottom: 1px solid $secondary-gray10;

  &:first-child {
    border-top: 1px solid $secondary-gray10;
  }

  &__button {
    @extend %hover-focus-listitem;
    align-items: center;
    background-color: transparent;
    display: flex;
    padding: 4px 8px;
    text-align: left;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      padding: 4px 12px;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  &__category {
    color: $secondary-gray40;
    font-size: $xs-font-size;
    padding-bottom: 4px;
  }

  &__name {
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__status {
    color: $secondary-gray40;
    white-space: nowrap;

    &::before,
    &::after {
      content: '\00a0\00a0';
    }
  }

  &__arrow {
    @include icon-sprite('icon-arrow-right', $secondary-gray60, $secondary-gray60, 24px);

    flex-shrink: 0;
    height: 24px;
    width: 24px;
  }
}
