<div>
    <div class="u-row">
      <dp-stelselpedia-header heading="{{vm.apiData.results.naam}}" definition="BUURT" meta-data="vm.apiData">
      </dp-stelselpedia-header>

      <dl class="c-key-value-list">
        <dt>Volledige code</dt>
        <dd>{{ vm.apiData.results.volledige_code }}</dd>
      </dl>
    </div>

    <div ng-if="vm.apiData.results" class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-parent-relations content="vm.apiData.results"></dp-parent-relations>
        </div>
    </div>

    <div ng-if="vm.apiData.results.bouwblokken.count">
      <dp-stelselpedia-header definition="BOUWBLOK" use-plural="true"></dp-stelselpedia-header>

      <dp-api-call endpoint="{{vm.apiData.results.bouwblokken.href}}" partial="lijst"></dp-api-call>
    </div>

    <div>
        <dp-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></dp-stelselpedia-header>
        <div class="u-margin__bottom--4">
            <dp-link type="SHOW_DATA_SELECTION" payload="{dataset: 'bag', filters: {'buurt_naam': vm.filterSelection.buurt}, page: 1}">Toon alle adressen</dp-link>
        </div>
    </div>

    <dp-bbga-graphs
      gebied-heading="{{vm.apiData.results.naam}}"
      gebied-code="{{vm.apiData.results.volledige_code}}">
    </dp-bbga-graphs>
</div>
