<div>
    <div class="c-detail__block">
        <dp-glossary-header heading="{{vm.apiData.results.naam}}" definition="GEBIEDSGERICHTWERKEN">
        </dp-glossary-header>

        <dl class="c-key-value-list">
            <dt>Code</dt>
            <dd>{{ vm.apiData.results.code }}</dd>
            <dt>Stadsdeel</dt>
            <dd><dp-redux-link
                to="vm.apiData.results.stadsdeel._links.self.href | detailEndpointAction"
                link-class="o-btn o-btn--link"
            >{{ vm.apiData.results.stadsdeel._display }}</dp-redux-link></dd>
        </dl>
    </div>

    <dp-data-selection-links active-filters="{'ggw_naam': vm.filterSelection.gebiedsgerichtwerken}"></dp-data-selection-links>

    <dp-bbga-graphs
        gebied-heading="{{vm.apiData.results.naam}}"
        gebied-code="{{vm.apiData.results.code}}">
    </dp-bbga-graphs>
</div>
