<div class="detail-page__content">
    <div class="detail-page__content--main">
        <div class="u-row">
            <dp-stelselpedia-header
                heading="{{vm.apiData.results.naam}}"
                definition="STADSDEEL"
                meta-data="vm.apiData">

            </dp-stelselpedia-header>

            <dl class="c-key-value-list">
                <dt>Code</dt>
                <dd>{{ vm.apiData.results.code }}</dd>
                <dt>Gemeente</dt>
                <dd>{{ vm.apiData.results.gemeente._display }}</dd>
            </dl>

        </div>

        <div ng-if="vm.apiData.results.buurtcombinaties.count">
            <dp-stelselpedia-header definition="BUURTCOMBINATIE" use-plural="true"></dp-stelselpedia-header>

            <dp-api-call endpoint="{{vm.apiData.results.buurtcombinaties.href}}" partial="lijst"></dp-api-call>
        </div>

        <div ng-if="vm.apiData.results.gebiedsgerichtwerken.count">
            <dp-stelselpedia-header definition="GEBIEDSGERICHTWERKEN" use-plural="true"></dp-stelselpedia-header>

            <dp-api-call endpoint="{{vm.apiData.results.gebiedsgerichtwerken.href}}" partial="lijst"></dp-api-call>
        </div>

        <dp-data-selection-links active-filters="{'stadsdeel_naam': vm.filterSelection.stadsdeel}"></dp-data-selection-links>

        <dp-bbga-graphs
            gebied-heading="{{vm.apiData.results.naam}}"
            gebied-code="{{vm.apiData.results.code}}">
        </dp-bbga-graphs>
    </div>
</div>
