@import "../../../shared/styles/config";

$embed-header-height: 211px;
$embed-header-padding: 46px;
$embed-header-padding-icon: 4px;

.c-embed-header {
  &__title {
    @include font-size($xl-header-font);
  }

  &__close {
    @include icon-button("icon-clear", $primary-dark, $primary-dark);

    background-color: $primary-light;
    position: absolute;
    right: -($embed-header-padding - $embed-header-padding-icon);
    top: -($embed-header-padding - $embed-header-padding-icon);

    &:hover,
    &:focus {
      background-color: $secondary-gray20;
    }
  }

  &-form__input {
    appearance: none;
    background-color: $primary-light;
    border: 1px solid $secondary-gray20;
    border-radius: 0;
    color: $primary-dark;
    outline: none;
    padding: ($base-whitespace / 2) $base-whitespace;
    width: 100%;

    &::placeholder {
      color: $secondary-gray60;
      font-weight: $normal-weight;
    }

    &:focus {
      border: 2px solid $primary-dark;
    }
  }

  &__form {
    margin-top: 24px;

    .c-embed-header__form-row {
      border-bottom: 1px solid $secondary-gray20;
      display: flex;
      margin: 0 -46px;
      padding: ($base-whitespace / 2) 0;
    }

    .c-embed-header__field-label {
      align-self: center;
      padding-left: $embed-header-padding;
    }

    .c-embed-header__field-value {
      align-self: center;
      padding-right: $embed-header-padding;
    }
  }
}
