<div class="resources">

    <div class="resources-type" ng-repeat="resourceType in vm.apiData.results.resources">
        <div class="resources-type__header">
            <span class="resources-type__header-title">{{resourceType.type | optionLabel: vm.catalogFilters.resourceTypes}}</span>
        </div>
        <div class="resources-type__content" ng-repeat="resource in resourceType.rows">
            <div class="resources-type__content-item">

                <div class="resources-item" dp-follow-link="{{ resource['dcat:accessURL'] }}" dp-follow-link-resource-name={{vm.apiData.results["dct:title"]}}>

                        <div class="resources-item__left">
                            <div class="resources-item__title">
                                {{resource['dct:title']}}
                            </div>

                            <div class="resources-item__description">
                                <span ng-if="resource['ams:distributionType'] !== 'web'">
                                    <span class="c-data-selection-file-type
                                                 c-data-selection-file-type__name
                                                 c-data-selection-file-type__format-{{resource['dct:format'] | optionLabel: vm.catalogFilters.formatTypes| lowercase }}">{{(resource['dct:format']) ? resource['dct:format'] : 'n/a' | optionLabel: vm.catalogFilters.formatTypes}}</span>
                                </span>
                                <div>{{ resource['dct:description'] ? vm.stripMarkdown(resource['dct:description']) : resource['dcat:accessURL'] }}</div>
                            </div>
                        </div>
                        <div class="resources-item__right">
                            <div class="resources-item__modified">{{resource['dct:modified'] | date:'dd MMMM yyyy' }}</div>
                            <div class="resources-item__navigation">
                                <div class="resources-item__navigation-file-size" ng-if="resource['dcat:byteSize'] > 0">{{resource['dcat:byteSize'] | filesize}}</div>
                                <div class="resources-item__navigation-arrow"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
