$icon-dimension: 24px;
$filter-padding: 4px;

.c-data-selection-active-filters {
  margin-top: $base-whitespace * 2;
  margin-bottom: $base-whitespace * 1.5;
  line-height: $button-size;

  .c-data-selection-active-filters__listitem {
    display: inline-block;
    position: relative;
    margin-right: $base-whitespace / 2;
    margin-bottom: $base-whitespace / 2;
    padding: $filter-padding 8px;
    padding-right: $base-whitespace + $icon-dimension + $filter-padding * 2;
    padding-left: $base-whitespace;
    background-color: $secondary-gray10;
    color: $primary-dark;
  }
}

.c-data-selection-active-filters--remove-filter {
  @include icon-button('icon-clear', $primary-dark, $primary-dark);

  position: absolute;
  top: $filter-padding;
  right: $filter-padding;

  &:hover,
  &:focus {
    background-color: $secondary-gray20;
  }
}

.c-data-selection-active-filters--empty-value {
  font-style: italic;

  &::before {
    display: inline-block;
    content: '(geen)';
  }
}
