@mixin o-tag {
  .o-tag {
    &::before {
      border-top: 8px solid $secondary-gray10;
      border-right: 8px solid $secondary-gray30;
      border-bottom: 8px solid $secondary-gray10;
    }
  }
}

.c-data-selection-file-type__name {
  padding: 2px 5px 0;
}
