$dashboard-heading-height-print-version: 118px;
$dashboard-heading-padding-print-version: 46px;

.c-dashboard {
  padding: 0;
  border: solid $secondary-gray20 1px;
  border-top: none;
  overflow: visible;
}

.c-dashboard__heading {
  position: initial; // Otherwise the top box shadow of the body gets hidden
  height: $dashboard-heading-height-print-version;
  padding: $dashboard-heading-padding-print-version;
  border-bottom: none;
}

.c-dashboard__body {
  top: auto;
  height: calc(100% - #{$dashboard-heading-height-print-version});
  margin-left: auto;
  padding: $base-whitespace;
  border: 2px solid $secondary-gray40;
  background-color: $primary-light;
}

.c-dashboard__page-inner {
  padding-bottom: 0;
}

.c-dashboard__error {
  position: initial;
}

.c-dashboard__column {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media print {
  .c-dashboard {
    border: none;
  }

  .c-dashboard__heading,
  .c-dashboard__error {
    display: none;
  }

  .c-dashboard__body {
    border: none;
  }
}

// Todo: move this logic to js
// sass-lint:disable nesting-depth
.c-dashboard--page-type {
  &-search-data {
    .c-dashboard__column-holder {
      .c-dashboard__column {
        width: 100%; // Hide map

        &:nth-child(1) {
          display: none;
        }
      }
    }
  }

  &-data-detail,
  &-panorama {
    .c-dashboard__column-holder {
      .c-dashboard__column {
        width: 100%;
      }
    }
  }
}

// sass-lint:enable nesting-depth
