$data-selection-outer-padding: 2 * $base-whitespace;

.c-data-selection {
  padding: $data-selection-outer-padding;
}

.c-data-selection__available-filters {
  position: relative;
  left: -$data-selection-outer-padding;
}

.c-data-selection__no-data-panel {
  margin-top: $base-whitespace * 2;
  margin-bottom: $base-whitespace * 2;
}

.c-data-selection__no-data-header {
  margin-bottom: $base-whitespace * 1.5;
}

.c-data-selection__link {
  color: $primary-dark;
}

.c-data-selection-content {
  .loading-indicator {
    position: relative;
  }
}
