$thumbnail-width: 100% / 3;

.c-search-results {
  padding: 2 * $base-whitespace;
  background-color: $primary-light;
}

.c-search-results__thumbnail-container {
  width: $thumbnail-width;
  float: right;
}

.c-search-results__thumbnail {
  display: block;
  margin: 0 (-2 * $base-whitespace);
  border-right: (2 * $base-whitespace) solid $primary-light;
  border-left: (2 * $base-whitespace) solid $primary-light;
  background-color: $primary-light;
}

.c-search-results__block-content {
  padding-right: calc(#{$thumbnail-width} + #{2 * $base-whitespace});

  .s-indented-list & {
    padding-left: $base-font-size;
  }
}

.c-search-results__block {
  @extend %list-block;
  background-color: $primary-light;

  &:only-child {
    border-bottom: none;
  }

  &.c-search-results__block--container {
    @extend %list-block-container;
  }

  .s-indented-list & {
    @extend %list-block-indented;

    padding-left: 0;
  }
}
