@import "active-overlays-item";

%toggle-active-overlays {
  position: absolute;
  bottom: 0;
  left: 180px;
  min-width: $button-size + 81px;
  z-index: 3;
}

.c-toggle-active-overlays {
  @extend %toggle-active-overlays;
  @include icon-button-text-box-left("down", "red", "");

  &.c-toggle-active-overlays--mirrored {
    @extend %toggle-active-overlays;
    @include icon-button-text-box-left("up");
  }
}

.is-print-mode {
  .c-toggle-active-overlays {
    display: none;
  }
}

.c-active-overlays {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 305px;
  height: 80%;
  border-width: 1px 1px $button-size 0;
  border-style: solid;
  border-top-color: $secondary-gray40;
  border-right-color: $secondary-gray40;
  border-bottom-color: $primary-light;
  background-color: $primary-light;
  z-index: 2;
}

.c-active-overlays__close {
  @include icon-button("close", "red", "");

  position: absolute;
  top: -1px;
  right: -1px;
}

.c-active-overlays__scrollable {
  position: absolute;
  top: $button-size;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 $base-whitespace $base-whitespace;
  overflow-y: auto;
}
