@import "active-overlays-item";

.c-active-overlays {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 305px;
  height: 80%;
  border-width: 1px 1px $button-size 0;
  border-style: solid;
  border-top-color: $secondary-gray40;
  border-right-color: $secondary-gray40;
  border-bottom-color: $primary-light;
  background-color: $primary-light;
  z-index: 2;
}

.c-toggle-active-overlays {
  @include icon-button-text-box-right("up", "", "red");
  position: absolute;
  bottom: 0;
  left: 149px;
  min-width: 94px;
  border-bottom: none;
  z-index: 3;

  &.c-toggle-active-overlays--mirrored {
    @include icon-button-text-box-right("down");
    position: absolute;
    border-bottom: none;
  }
}

.is-print-mode {
  .c-toggle-active-overlays {
    display: none;
  }
}

.c-active-overlays__close {
  @include icon-button("close", "red", "");

  position: absolute;
  top: -1px;
  right: -1px;
}

.c-active-overlays__scrollable {
  position: absolute;
  top: $button-size;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 $base-whitespace $base-whitespace;
  overflow-y: auto;
}
