<div ng-if="!vm.hideEverything">
    <button class="c-toggle-active-overlays" ng-click="vm.toggle()">
        {{vm.buttonText}}

        <img class="c-toggle-active-overlays__icon"
             ng-class="{'c-toggle-active-overlays__icon--mirrored': vm.showActiveOverlays}"
             src="assets/icons/link-hover.svg" alt="">
    </button>

    <div ng-if="vm.showActiveOverlays" class="c-active-overlays">
        <dp-link type="HIDE_ACTIVE_OVERLAYS" class-name="c-active-overlays__close">
            <img class="c-active-overlays__close__icon" src="assets/icons/close-hover.svg" alt="Sluiten">
        </dp-link>

        <div class="c-active-overlays__scrollable">
            <dp-active-overlays-item ng-repeat="overlay in vm.overlays | orderBy: '-' track by overlay.id"
                overlay="{{overlay.id}}"
                is-visible="overlay.isVisible"
                zoom="vm.zoom">
            </dp-active-overlays-item>
        </div>
    </div>
</div>
