<div class="c-active-overlays__item">
    <h3 class="c-active-overlays__item__header">{{vm.overlayLabel}}</h3>

    <dp-link ng-if="vm.isVisible"
        class-name="c-active-overlays__item__link"
        type="MAP_TOGGLE_VISIBILITY_OVERLAY" payload="vm.overlay">

        Verbergen
    </dp-link>

    <dp-link ng-if="!vm.isVisible"
             class-name="c-active-overlays__item__link"
             type="MAP_TOGGLE_VISIBILITY_OVERLAY" payload="vm.overlay">

        Tonen
    </dp-link>

    <img ng-if="vm.hasLegend && vm.isOverlayVisible"
        class="c-active-overlays__item__legend"
        ng-src="{{vm.legendImageSrc}}"
        alt="Legenda voor {{vm.overlayLabel}}">

    <p ng-if="vm.overlayMessage" class="c-active-overlays__item__message">{{vm.overlayMessage}}</p>
</div>