.c-data-selection__no-data-panel {
  margin-top: $base-whitespace * 2;
  margin-bottom: $base-whitespace * 2;
}

.c-data-selection__no-data-header {
  margin-bottom: $base-whitespace * 1.5;
}

.c-data-selection__link {
  color: $primary-light;
}
