.c-data-selection__no-data-panel {
  margin-top: $base-whitespace * 2;
  margin-bottom: $base-whitespace * 2;
}

.c-data-selection__no-data-header {
  margin-bottom: $base-whitespace * 1.5;
}

.c-data-selection__link {
  color: $primary-dark;
}

.c-data-selection-table__column--type {
  width: 45px;
  padding-top: $base-whitespace / 2;
}

.c-data-selection-table__column--name {
  width: 250px;
}

.c-data-selection-table__column--size {
  min-width: 110px;
}

.c-data-selection-table__column--description {
  max-width: 430px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.c-data-selection-notes {
  ul {
    margin-left: $base-whitespace;
  }

  li {
    position: relative;
    margin: {
      bottom: $base-whitespace;
      left: 14px;
    }
    padding-left: 2px;

    &::before {
      display: inline-block;
      position: absolute;
      top: -13px;
      left: -14px;
      font-size: 30px;
      content: "▪";
    }
  }
}
