<div class="u-padding--2">
    <dp-loading-indicator is-loading="vm.isLoading" use-delay="true" show-inline="true"></dp-loading-indicator>

    <div ng-if="!vm.isLoading">
        <dp-tab-header ng-if="vm.showTabHeader()" search-text="{{vm.state.query}}" tab-header="vm.tabHeader"></dp-tab-header>
        <dp-data-selection-header
            state="vm.state"
            available-filters="vm.availableFilters"
            number-of-records="vm.numberOfRecords"
            show-header="!vm.showTabHeader() && ( vm.state.view === 'LIST' || !vm.isLoading )">
        </dp-data-selection-header>

        <div class="u-grid">
            <div class="u-row">
                <div ng-if="vm.showFilters" class="u-col-sm--3">
                    <dp-data-selection-available-filters
                        dataset="{{vm.state.dataset}}"
                        available-filters="vm.availableFilters"
                        active-filters="vm.state.filters">
                    </dp-data-selection-available-filters>
                </div>
                <div class="c-data-selection__body"
                     ng-class="{
                         'u-col-sm--12': !vm.showFilters,
                         'u-col-sm--9': vm.showFilters
                     }">

                    <dp-panel ng-if="vm.showMessageMaxPages" is-panel-visible="true" type="warning" can-close="true">
                        <div class="qa-message-max-pages">
                            <h3>Deze pagina kan niet worden getoond</h3>
                            <p>
                                Alleen de eerste {{vm.maxAvailablePages | number}} pagina's kunnen worden weergegeven (om technische redenen). Bij
                                downloaden worden wel alle resultaten opgenomen.
                            </p>
                            <p>
                                Tip: Gebruik de download-knop om alle resultaten te bekijken. Of voeg meer filtercriteria
                                toe voor specifiekere resultaten.
                            </p>
                        </div>
                    </dp-panel>

                    <dp-panel ng-if="vm.showMessageClusteredMarkers" is-panel-visible="true" type="warning" can-close="true">
                        <div class="qa-message-clustered-markers">
                            <p>Deze resultaten worden niet getoond op de kaart, omdat deze niet meer dan {{vm.maxNumberOfClusteredMarkers | number}} resultaten tegelijk kan weergeven (om technische redenen).</p>
                            <p class="u-margin__bottom--1">Tip: Bekijk de lijst resultaten in kleinere delen. Dit kan door een voor een filtercriteria toe te voegen (bijv. de verschillende buurtcombinaties uit de selectie).</p>
                        </div>
                    </dp-panel>

                    <div ng-if="vm.showContent">
                        <dp-data-selection-table ng-if="vm.view === 'TABLE'" content="vm.data"></dp-data-selection-table>
                        <dp-data-selection-list ng-if="vm.view === 'LIST'" content="vm.data"></dp-data-selection-list>
                        <dp-data-selection-cards ng-if="vm.view === 'CARDS'" content="vm.data"></dp-data-selection-cards>
                    </div>

                    <dp-data-selection-pagination
                        ng-if="!vm.isLoading"
                        current-page="vm.currentPage"
                        number-of-pages="vm.numberOfPages">
                    </dp-data-selection-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
