<div class="u-grid">
    <div class="u-row c-data-selection__grid">
        <div ng-if="!vm.state.listView" class="u-col-sm--3">
            <dp-data-selection-filters
                dataset="{{vm.state.dataset}}"
                available-filters="vm.availableFilters"
                active-filters="vm.state.filters"
                is-loading="vm.isLoading">

            </dp-data-selection-filters>
        </div>
        <div ng-class="{'u-col-sm--12': vm.state.listView, 'u-col-sm--9': !vm.state.listView}">
            <dp-loading-indicator is-loading="vm.isLoading" use-delay="true" show-inline="true"></dp-loading-indicator>

            <div ng-if="!vm.isLoading">
                <dp-data-selection-header
                    ng-if="!vm.state.listView"
                    state="vm.state"
                    number-of-records="vm.numberOfRecords"
                    header-title="vm.title">
                </dp-data-selection-header>

                <dp-data-selection-list-header
                    ng-if="vm.state.listView"
                    state="vm.state"
                    number-of-records="vm.numberOfRecords"
                    header-title="vm.title">
                </dp-data-selection-list-header>

                <div ng-if="vm.numberOfRecords > 0">
                    <dp-data-selection-table
                        ng-if="!vm.state.listView"
                        content="vm.tableData">
                    </dp-data-selection-table>

                    <dp-data-selection-list
                        ng-if="vm.state.listView"
                        data="vm.listData">
                    </dp-data-selection-list>
                </div>

                <dp-panel is-panel-visible="vm.noDataToDisplay"
                          type="warning"
                          can-close="false"
                          class-name="c-data-selection__no-data-panel">
                    <h3 class="c-data-selection__no-data-header">Deze pagina kan niet worden getoond.</h3>
                    <p>Alleen de eerste 100 pagina's kunnen worden weergegeven (om technische redenen). Bij downloaden worden wel alle resultaten opgenomen.</p>
                    <div>Tip: Gebruik de download-knop om alle resultaten te bekijken. Of voeg meer filtercriteria toe voor specifiekere resultaten.</div>
                </dp-panel>

                <dp-data-selection-pagination
                    current-page="vm.currentPage"
                    number-of-pages="vm.numberOfPages">
                </dp-data-selection-pagination>
            </div>
        </div>
    </div>
</div>
