<div class="u-grid">
    <div class="u-row data-selection__grid">
        <div class="u-col-sm--3 u-col-md--2">
            <dp-data-selection-filters
                dataset="{{vm.state.dataset}}"
                available-filters="vm.availableFilters"
                active-filters="vm.state.filters"
                is-loading="vm.isLoading">

            </dp-data-selection-filters>
        </div>
        <div class="u-col-sm--9 u-col-md--10">
            <dp-loading-indicator is-loading="vm.isLoading" use-delay="true" show-inline="true"></dp-loading-indicator>

            <div ng-if="!vm.isLoading && vm.numberOfRecords <= 0">
                <h2>Geen resultaten gevonden</h2>
                <p>Tip: verwijder één of meer filtercriteria</p>
            </div>

            <div ng-if="!vm.isLoading && vm.numberOfRecords > 0">

                <div class="u-row data-selection__header">
                    <div class="data-selection__buttongroup u-pull--right">
                        <dp-data-selection-download-button
                            dataset="{{vm.state.dataset}}"
                            active-filters="vm.state.filters">
                        </dp-data-selection-download-button>

                        <dp-data-selection-kaartweergave-button>
                        </dp-data-selection-kaartweergave-button>
                    </div>

                    <h2>Adressen ({{vm.numberOfRecords | number}})</h2>


                </div>

                <dp-data-selection-table
                    content="vm.tableData">

                </dp-data-selection-table>

                <div ng-if="vm.noDataToDisplay">
                    <h3 class="o-header__subtitle">Deze pagina kan niet worden getoond.</h3>
                    <p>Alleen de eerste 100 pagina's kunnen worden weergegeven (om technische redenen). Bij downloaden worden wel alle resultaten opgenomen.</p>
                    <p>Tip: Gebruik de download-knop om alle resultaten te bekijken. Of voeg meer filtercriteria toe voor specifiekere resultaten.</p>
                </div>
                <dp-data-selection-pagination current-page="vm.currentPage" number-of-pages="vm.numberOfPages">

                </dp-data-selection-pagination>
            </div>
        </div>
    </div>
</div>
