<div>
    <div class="u-row">
        <dp-stelselpedia-header
            heading="{{vm.apiData.results.kenmerk}}"
            definition="UITGEVOERDONDERZOEK">
        </dp-stelselpedia-header>


        <dl class="c-key-value-list">
            <dt>Kenmerk</dt>
            <dd>{{vm.apiData.results.kenmerk}}</dd>

            <dt>Soort rapportage</dt>
            <dd>{{vm.apiData.results.type}}</dd>

            <dt>Onderzoeksgebied</dt>
            <dd>{{vm.apiData.results.onderzoeksgebied}}</dd>

            <dt>Opdrachtnemer</dt>
            <dd>{{vm.apiData.results.opdrachtnemer}}</dd>

            <dt>Opdrachtgever</dt>
            <dd>{{vm.apiData.results.opdrachtgever}}</dd>

            <dt>Verdacht gebied</dt>
            <dd>{{vm.apiData.results.verdacht_gebied}}</dd>

            <dt>Datum rapport</dt>
            <dd>{{vm.apiData.results.datum | date : 'd-M-yyyy'}}</dd>
        </dl>
    </div>
</div>
