<div class="u-row">
    <dp-glossary-header
        heading="{{vm.apiData.results.kenmerk}}"
        definition="VERDACHTGEBIED">
    </dp-glossary-header>

    <dl class="c-key-value-list">
        <dt>Kenmerk</dt>
        <dd>{{vm.apiData.results.kenmerk}}</dd>

        <dt>Hoofdgroep</dt>
        <dd>{{vm.apiData.results.type}}</dd>

        <dt>Subsoort</dt>
        <dd>{{vm.apiData.results.subtype}}</dd>

        <dt>Kaliber</dt>
        <dd>{{vm.apiData.results.kaliber}}</dd>

        <dt>Aantallen</dt>
        <dd>{{vm.apiData.results.aantal}}</dd>

        <dt>Verschijning</dt>
        <dd>{{vm.apiData.results.verschijning}}</dd>

        <dt>Afbakening</dt>
        <dd>{{vm.apiData.results.afbakening}}</dd>

        <dt>Horizontaal</dt>
        <dd>{{vm.apiData.results.horizontaal}}</dd>

        <dt>Cartografie</dt>
        <dd>{{vm.apiData.results.cartografie}}</dd>

        <dt>Opmerkingen</dt>
        <dd>{{vm.apiData.results.opmerkingen}}</dd>

        <dt>Oorlogshandelingsrapport</dt>
        <dd ng-if="vm.apiData.results.pdf">
            <a ng-href="{{vm.apiData.results.pdf}}" class="o-btn o-btn--link" target="_blank">{{vm.apiData.results.pdf}}</a>
        </dd>
    </dl>
</div>
