@import "../../../../modules/atlas/styles/config";

%__toggle { // sass-lint:disable-line placeholder-name-format
  align-items: center;
  align-self: center;
  background-color: $primary-light;
  border: 1px solid $secondary-gray20;
  border-radius: 50%;
  content: "X";
  display: flex;
  flex-shrink: 0;
  font-size: 0;
  height: 24px;
  justify-content: center;
  width: 24px;

  &:hover {
    background-color: $primary-contrast;
    border-color: $primary-contrast;
  }
}
