@import "../../../shared/styles/config";

$icon-height: 24px;

.toggle-fullscreen {
  @extend %hover-focus-button;
  background-color: $primary-light;
  border: solid 1px $secondary-gray20;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  max-height: 34px;
  max-width: 34px;
  padding: 4px;
  position: absolute;
  right: $container-whitespace;
  top: $container-whitespace;
  z-index: 150;

  &:hover,
  &:focus {
    .toggle-fullscreen__icon--maximize {
      @include icon-sprite("icon-maximize", $primary-dark, $primary-dark, $icon-height);
    }

    .toggle-fullscreen__icon--minimize {
      @include icon-sprite("icon-minimize", $primary-dark, $primary-dark, $icon-height);
    }
  }

  &__icon {
    display: block;
    height: $icon-height;
    width: $icon-height;

    &--maximize {
      @include icon-sprite("icon-maximize", $secondary-gray60, $primary-dark, $icon-height);

    }

    &--minimize {
      @include icon-sprite("icon-minimize", $secondary-gray60, $primary-dark, $icon-height);
    }
  }

  &__left {
    left: $container-whitespace;
    right: auto;
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
