.leaflet-control-measure {
  @include font-size($body-font);
}

.leaflet-control-measure-interaction {
  float: right;
  background-color: $primary-light;
}


//This is the popup that opens when finishing a measurement
.leaflet-measure-resultpopup {
  @include font-size($body-font);
}

.is-print-mode {
  .leaflet-control-measure {
    display: none;
  }
}