<dp-panel is-panel-visible="true" type="info">
    <h3 class="c-panel__title">Disclaimer</h3>
    <p class="c-panel__paragraph">De gegevens uit het Handelsregister (HR) zijn afkomstig van een lokale gemeentelijke kopie van de Kamer van Koophandel (KvK).</p>
    <p class="c-panel__paragraph">De volgende vestigingen komen op dit moment nog niet voor op deze website (met kvk-nummer): RABO-bank (30046259), Fortis (30080248), ING (33031431), ABN AMRO (34334259), Bart Smit (36009388), Het Nederlandse Rode Kruis (40409352), Kruidvat/Trekpleister (31035585).</p>
    <p class="c-panel__paragraph">Raadpleeg voor de meest actuele gegevens de <a class="c-link c-link--inline" target="_blank" rel="noopener" href="https://www.kvk.nl/zoeken/">raadpleegvoorziening van de KvK</a>.</p>
</dp-panel>
