<dp-panel is-panel-visible="true" type="info">
    <h3 class="c-panel__title">Disclaimer</h3>
    <ul class="o-list o-list--bulleted c-panel__paragraph">
        <li>
            De Wet kenbaarheid publiekrechtelijke beperkingen onroerende
            zaken schrijft voor dat beperkingen op kadastraal object worden
            geregistreerd. Om zeker te weten waar een beperking op rust,
            raadpleeg het brondocument van de beperking.
        </li>
        <li>
            Alleen de gemeentelijke beperkingen worden getoond. Voor een
            volledig overzicht van alle publiek- en privaatrechtelijke
            beperkingen bij een bepaald kadastraal object wordt u verzocht
            de website van het
            <a class="c-link c-link--inline"
                target="_blank"
                rel="noopener"
                href="https://www.kadaster.nl">Kadaster</a>
            te raadplegen.
        </li>
        <li>
            Er kunnen vier dagen zitten tussen het kenbaar maken van een
            beperkingenbesluit en vestigingen daarvan in het register.
        </li>
    </ul>
</dp-panel>
