@mixin icon-detail-text-right($icon) {
  &::before {
    @extend %icon-button-text-extra;
    @include icon-sprite($icon, $primary-dark);

    margin-right: $base-whitespace;
  }
}

.catalog-theme__detail-icon--bestuur-en-organisatie {
  @include icon-detail-text-right('thema-bestuur-en-organisatie');
}

.catalog-theme__detail-icon--bevolking {
  @include icon-detail-text-right('thema-bevolking');
}

.catalog-theme__detail-icon--dienstverlening {
  @include icon-detail-text-right('thema-dienstverlening');
}

.catalog-theme__detail-icon--economie-haven {
  @include icon-detail-text-right('thema-economie-haven');
}

.catalog-theme__detail-icon--educatie-jeugd-diversiteit {
  @include icon-detail-text-right('thema-educatie-jeugd-diversiteit');
}

.catalog-theme__detail-icon--energie {
  @include icon-detail-text-right('thema-energie');
}

.catalog-theme__detail-icon--geografie {
  @include icon-detail-text-right('thema-geografie');
}

.catalog-theme__detail-icon--milieu-water {
  @include icon-detail-text-right('thema-milieu-water');
}

.catalog-theme__detail-icon--openbare-orde-veiligheid {
  @include icon-detail-text-right('thema-openbare-orde-veiligheid');
}

.catalog-theme__detail-icon--openbare-ruimte-groen {
  @include icon-detail-text-right('thema-openbare-ruimte-groen');
}

.catalog-theme__detail-icon--sport-recreatie {
  @include icon-detail-text-right('thema-sport-recreatie');
}

.catalog-theme__detail-icon--stedelijke-ontwikkeling {
  @include icon-detail-text-right('thema-stedelijke-ontwikkeling');
}

.catalog-theme__detail-icon--toerisme-cultuur {
  @include icon-detail-text-right('thema-toerisme-cultuur');
}

.catalog-theme__detail-icon--verkeer-infrastructuur {
  @include icon-detail-text-right('thema-verkeer-infrastructuur');
}

.catalog-theme__detail-icon--werk-inkomen {
  @include icon-detail-text-right('thema-werk-inkomen');
}

.catalog-theme__detail-icon--wonen-leefomgeving {
  @include icon-detail-text-right('thema-wonen-leefomgeving');
}

.catalog-theme__detail-icon--zorg-welzijn {
  @include icon-detail-text-right('thema-zorg-welzijn');
}
