// resources, resources-item and the styles/** are copyied form dcatd_admin and should be integrated in atlas
@import "./resources";
@import "./resources-item";
@import "./datasets-themes";

.resources {
  margin-right: -2 * $base-whitespace;
  margin-left: -2 * $base-whitespace;
  overflow-x: hidden;

  &-item {
    display: flex;

    &__left {
      flex-grow: 1;
      width: 100px;
    }

    &__right {
      padding-right: .5 * $base-whitespace;
      padding-left: .5 * $base-whitespace;
      text-align: right;
    }

    &__modified {
      position: initial;
      right: auto;
      height: 23px;

      span {
        white-space: nowrap;
      }
    }

    &__title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__description {
      width: 100%;

      &>div {
        padding-top: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

      }

      &> :first-child {
        margin-top: .5 * $base-whitespace;
        margin-right: .5 * $base-whitespace;
      }
    }

    &__navigation {
      display: flex;
      justify-content: flex-end;
      margin-right: -7px;

      &-file-size {
        padding-top: 3px;
      }

      &-arrow {
        @extend %icon-arrow-right;
        width: 24px;
        height: 24px;
        background-size: 100%;
      }
    }
  }

  .resources-type {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .resources-type__header {
    padding-top: 16px;
  }

  .resources-type__content {
    margin-bottom: 0;
  }

  .resources-type__content-item {

    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    &:hover {
      background-color: $secondary-gray10;
    }
  }
}

.dataset-detail {
  .c-detail__block {
    dl>dt {
      width: 34%;
    }

    dl>dd {
      width: 66%;
    }

    .dataset-detail__link {
      display: block;
      padding: 5px 0;
    }
  }

  .o-header__subtitle {
    padding: auto 10px;

    .o-header__button.catalog__button--wijzigen { // sass-lint:disable-line force-element-nesting
      @include icon-button-text-right("edit", "", "white");

      height: auto;
      padding: 5px 8px;
      border: 1px solid $secondary-gray20;
      color: $secondary-gray60;

      &::before {
        width: 12px;
        height: 12px;
      }

      &:hover {
        border-color: $primary-contrast;
        background-color: $primary-contrast;
        color: $primary-light;
        text-decoration: none;
      }
    }

    .o-header__button.c-stelselpedia__button { // sass-lint:disable-line force-element-nesting
      width: 32px;
      height: 32px;
      padding-left: 5px;
    }
  }

  .catalog-themes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -10px;

    .catalog-theme {
      padding: 10px 10px 0;

      &__label {
        width: auto;
      }
    }
  }

  .dataset-tag {
    display: inline-block;
    margin-left: -8px;

    &__arrow {
      display: inline-block;
      position: relative;
      top: 3.3px;
      left: 13.16px;
      width: 16.97056274847714;
      height: 16.97056274847714;
      padding: 8.58528137423857px;
      transform: rotate(45deg);
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: $secondary-gray30;
      -webkit-transform: rotate(45deg); // sass-lint:disable-line no-vendor-prefixes
    }

    &__label {
      display: inline-block;
      position: relative;
      height: 26px;
      margin: $base-whitespace / 2 0 $base-whitespace / 2;
      padding: 0 5px;
      border-top: 1px solid $secondary-gray30;
      border-right: 1px solid $secondary-gray30;
      border-bottom: 1px solid $secondary-gray30;
      color: $secondary-gray80;
      line-height: 26px;
      text-decoration: none;
      text-transform: capitalize;
    }
  }

  &__description {
    a {
      color: $primary-contrast-blue;
      text-decoration: underline;

      &:hover {
        color: $primary-contrast;
      }
    }

    ul {
      @extend %content-list;

      p,
      li {
        @include font-weight($normal-weight);
      }
    }

    ol {
      padding-bottom: $base-whitespace;
      padding-left: 2 * $base-whitespace;
    }
  }
}
