<div class="c-detail__block qa-bag">
    <dp-glossary-header definition="NUMMERAANDUIDING" use-plural="true"></dp-glossary-header>
    <dp-link class-name="o-btn o-btn--plus o-list__separate-item" type="FETCH_DATA_SELECTION"
             payload="{dataset: 'bag', view: 'TABLE', filters: vm.activeFilters, page: 1}"
        >In tabel weergeven</dp-link>
</div>

<div class="c-detail__block qa-hr">
    <dp-glossary-header definition="VESTIGING" use-plural="true"></dp-glossary-header>
    <dp-link class-name="o-btn o-btn--plus o-list__separate-item" type="FETCH_DATA_SELECTION"
             payload="{dataset: 'hr', view: 'TABLE', filters: vm.activeFilters, page: 1}"
        >In tabel weergeven</dp-link>
</div>

<div class="c-detail__block qa-brk" ng-if="vm.eigendommen">
    <dp-glossary-header definition="OBJECT" use-plural="true"></dp-glossary-header>
    <dp-link class-name="o-btn o-btn--plus o-list__separate-item" type="FETCH_DATA_SELECTION"
             payload="{dataset: 'brk', view: 'TABLE', filters: vm.activeFilters, page: 1}"
        >In tabel weergeven</dp-link>
</div>

