<div class="c-detail__block qa-bag">
    <dp-glossary-header definition="NUMMERAANDUIDING" use-plural="true"></dp-glossary-header>
    <dp-link class-name="o-btn o-btn--plus o-list__separate-item" action="vm.getBAG"
        >In tabel weergeven</dp-link>
</div>

<div class="c-detail__block qa-hr">
    <dp-glossary-header definition="VESTIGING" use-plural="true"></dp-glossary-header>
    <dp-link class-name="o-btn o-btn--plus o-list__separate-item" action="vm.getHR"
        >In tabel weergeven</dp-link>
</div>

<div class="c-detail__block qa-brk" ng-if="vm.eigendommen">
    <dp-glossary-header definition="OBJECT" use-plural="true"></dp-glossary-header>
    <dp-link class-name="o-btn o-btn--plus o-list__separate-item" action="vm.getBRK"
        >In tabel weergeven</dp-link>
</div>

