$sbi-filter-gutter: 2 * $base-whitespace;
$sbi-filter-item-height: 32px;

.c-sbi-filter {
  padding: $sbi-filter-gutter;
  background-color: $secondary-gray4;
}

.c-sbi-filter__category {
  padding-bottom: 2.5 * $base-whitespace;

  &:last-child {
    padding: 0;
  }
}

.c-sbi-filter__category-label {
  margin-bottom: $base-whitespace;
}

.c-sbi-filter__form {
  display: flex;
  margin-bottom: 10px;
}

.c-sbi-filter__input {
  flex-grow: 1;
  width: 50%;
  padding-right: $base-whitespace;
  padding-left: $base-whitespace;
  border: 1px solid $secondary-gray20;
  border-radius: 0;
  outline: none;
  background-color: $primary-light;
  color: $primary-dark;
  appearance: none;

  &::placeholder {
    @include font-weight($normal-weight);
    color: $secondary-gray60;
  }

  &:-ms-input-placeholder { /* IE11 */   // sass-lint:disable-line no-vendor-prefixes
    color: $secondary-gray60;
  }

  &::-ms-input-placeholder { /* Edge */  // sass-lint:disable-line no-vendor-prefixes
    // cannot change font attributes in edge here, so we have a lighter text color
    color: $secondary-gray40;
  }

  &::-ms-clear {                         // sass-lint:disable-line no-vendor-prefixes
    display: none;
  }

  &:focus {
    border: 2px solid $primary-dark;
  }
}

.c-sbi-filter__submit {
  @extend %base-button;
  // @extend %icon--border;
  @include font-size($s-font);
  @include font-weight($bold-weight);
  margin-left: $base-whitespace;
  padding: 3px 7px;
}

.c-sbi-filter__item {
  height: $sbi-filter-item-height;
  overflow: hidden;
}

.c-sbi-filter__button {
  display: flex;
  align-items: center;

  width: calc(100% - 5px);

  &::before {
    top: -5px;
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;

    .c-sbi-filter__item-label {
      text-decoration: underline;
    }
  }
}

.c-sbi-filter__item-label {
  display: inline-block;
  width: inherit;
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &.c-sbi-filter__item-label--empty-value {
    font-style: italic;

    &::before {
      display: inline-block;
      content: "(geen)";
    }
  }
}

.c-sbi-filter__item--sbi_l2 + .c-sbi-filter__item--sbi_l3,      // sass-lint:disable-line class-name-format
.c-sbi-filter__item--sbi_l3 + .c-sbi-filter__item--sbi_l4,      // sass-lint:disable-line class-name-format
.c-sbi-filter__item--sbi_l4 + .c-sbi-filter__item--sbi_l5 {     // sass-lint:disable-line class-name-format
  height: $sbi-filter-item-height + 15px;
  margin: 8px -20px 0;
  padding: 8px 20px 0;
  border-top: 1px solid $secondary-gray10;
}

.c-sbi-filter__show-more {
  margin: 0 (-$sbi-filter-gutter);
  padding: 0 $sbi-filter-gutter 6px;
  border-bottom: 1px solid $secondary-gray20;
}

.c-sbi-filter__show-more-button {
  height: $sbi-filter-item-height;
  line-height: $sbi-filter-item-height;
}

.c-sbi-filter__hidden-options {
  margin-bottom: $base-whitespace / 2;
  color: $secondary-gray40;
}
