<h3 class="o-header__subtitle u-margin__bottom--1-5">Panoramabeeld</h3>

<button ng-if="vm.hasThumbnail" class="u-block u-width-100 u-margin__bottom--4" ng-click="vm.openStraatbeeld()" title="Panoramabeeld preview">
    <div class="u-aspect-ratio u-aspect-ratio--16-9">
        <img ng-src="{{vm.imageUrl}}" alt="Panoramabeeld preview">
    </div>
</button>

<div class="qa-found-no-straatbeeld" ng-if="!vm.isLoading && !vm.hasThumbnail">
    <dp-panel is-panel-visible="true" type="warning" can-close="true">
        <p>
            Geen panoramabeeld beschikbaar (binnen {{ vm.radius }}m van deze locatie).
        </p>
        <p class="u-margin__bottom--0">
            Tip: kies via de kaart een nabije locatie.
        </p>
    </dp-panel>
</div>
<dp-loading-indicator is-loading="vm.isLoading" use-delay="true" show-inline="true"></dp-loading-indicator>

