<div class="c-data-selection-catalog u-margin__bottom--1">
    <div ng-repeat="row in vm.items" class="c-data-selection-catalog__list">
        <dp-redux-link class="c-data-selection-catalog__item qa-catalog-fetch-detail u-no-presentation"
            to="row.linkTo"
            tab-index="-1">
            <div class="c-data-selection-catalog__header">
                <h2>
                    {{row.header}}
                </h2>
                <div>{{row.modified | modificationDate}}</div>
            </div>

            <span class="c-data-selection-catalog__formats">
                <div ng-repeat="format in row.formats" class="c-data-selection-file-type">
                    <span class="c-data-selection-file-type__name c-data-selection-file-type__format-{{format.name | lowercase }}">
                        {{format.name}}
                    </span>
                    <span class="c-data-selection-file-type__x">x</span>
                    <span class="c-data-selection-file-type__count">{{format.count}}</span>
                </div>
            </span>

            <span class="c-data-selection-catalog__tags">
                <ul ng-repeat="tag in row.tags" class="u-inline">
                    <li class="u-inline">
                        <div class="dataset-tag-small">
                            <i class="dataset-tag-small__arrow"></i>
                            <span class="dataset-tag-small__label">{{tag | dpUppercaseFirstLetter}}</span>
                        </div>
                    </li>
                </ul>
            </span>

            <div class="c-data-selection-catalog__description">
                {{row.description | truncateHtmlAsText}}
            </div>
        </dp-redux-link>
    </div>

</div>
