<div class="u-margin__bottom--1">
    <!-- Caltalog filters: {{vm | json}} -->
    <button ng-repeat="row in vm.items" ng-click="vm.fetch_detail(row.detailEndpoint)" class="c-data-selection-catalog qa-catalog-fetch-detail u-no-presentation">
        <h2 class="c-data-selection-catalog__header">
            {{row.header}}
            <span>{{row.modification | modificationDate}}</span>
        </h2>

        <span class="c-data-selection-catalog__formats">
            <span ng-repeat="format in row.formats">*** {{format.name | optionLabel:vm.catalogFilters.formatTypes| lowercase }} x {{format.count}} /// </span>
        </span>

        <span class="c-data-selection-catalog__tags">
            <span ng-repeat="tag in row.tags">{{tag}} - </span>
        </span>

        <div class="c-data-selection-catalog__description">
            {{row.description}}
        </div>
    </button>
</div>