@import '../../../shared/styles/config';

$icon-height: 24px;

.shape-summary {
  background-color: $primary-light;
  border: solid 1px $secondary-gray20;
  display: flex;
  margin-left: 10px;
  padding: 4px;

  &__button {
    @extend %hover-focus-button;
    display: block;
    height: $icon-height;
    width: $icon-height;

    &--close {
      @include icon-sprite('icon-cross', $secondary-gray60, $primary-dark, $icon-height + 4px);
      display: block;
      height: $icon-height;
      width: $icon-height;

      &:hover {
        //sass-lint:disable-line nesting-depth
        background-size: $icon-height + 4px;
      }
    }
  }

  &__label {
    align-self: center;
    color: $secondary-gray60;
    margin: 0 4px;
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
