.shape-summary {
  background-color: #ffffff;
  border: solid 1px #CCCCCC;
  display: flex;
  margin-left: 10px;
  padding: 4px;

  &__button {
    display: block;
    fill: #666666;
    height: 24px;
    width: 24px;

    &:focus,
    &:hover {
      background-color: #ec0000;
      border-color: #ec0000;
      color: #ffffff;
      fill: #ffffff;
    }
  }

  &__label {
    align-self: center;
    color: #666666;
    margin: 0 4px;
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
