<div ng-if="vm.showHeader" class="c-data-selection-header">
    <div class="u-margin__bottom--2">
        <div ng-if="vm.state.dataset !== 'catalogus'" class="u-pull--right">
            <dp-data-selection-toggle-view-button view="vm.state.view"></dp-data-selection-toggle-view-button>

            <dp-data-selection-download-button
                dataset="{{vm.state.dataset}}"
                active-filters="vm.state.filters">
            </dp-data-selection-download-button>
        </div>

        <h2 ng-if="vm.state.view === 'TABLE' && vm.numberOfRecords">{{vm.title}} ({{vm.numberOfRecords | number}})</h2>
        <h2 ng-if="vm.state.view === 'LIST'">Resultaten</h2>
        <h2 ng-if="vm.state.view === 'CARDS' && vm.numberOfRecords">{{vm.numberOfRecords | number}} dataset<span ng-if="vm.numberOfRecords !== 1">s</span></h2>
    </div>

    <div class="o-tabs" ng-if="vm.state.view === 'LIST'">
        <ul>
            <li ng-repeat="tab in vm.tabs" ng-class="{'is-active': tab.isActive}">
                <dp-link type="FETCH_DATA_SELECTION" payload="{dataset: tab.dataset, filters: vm.state.filters, page: 1, view: 'LIST'}" class-name="o-tabs__link">{{tab.title}}</dp-link>
            </li>
        </ul>
    </div>

    <div ng-if="vm.numberOfRecords <= 0" class="qa-data-selection-header__no-records">
        <h2>Geen resultaten gevonden</h2>
        <p>Tip: verwijder één of meer filtercriteria</p>
    </div>
</div>
