<div class="c-data-selection-header">
    <div ng-if="vm.numberOfRecords > 0" class="qa-data-selection-header__with-records u-margin__bottom--2">
        <div class="u-row">
            <div ng-if="vm.state.view !== 'CARDS'" class="u-pull--right">
                <dp-data-selection-toggle-view-button view="vm.state.view"></dp-data-selection-toggle-view-button>

                <dp-data-selection-download-button
                    dataset="{{vm.state.dataset}}"
                    active-filters="vm.state.filters">
                </dp-data-selection-download-button>
            </div>

            <h2 ng-if="vm.state.view !== 'CARDS'">{{vm.headerTitle}} ({{vm.numberOfRecords | number}})</h2>
            <h2 ng-if="vm.state.view === 'CARDS'">{{vm.numberOfRecords | number}} dataset<span ng-if="vm.numberOfRecords !== 1">s</span></h2>
        </div>
    </div>

    <div class="o-tabs">
        <ul>
            <li ng-repeat="tab in vm.tabs" ng-class="{'is-active': tab.isActive}">
                <dp-link type="FETCH_DATA_SELECTION" payload="{dataset: tab.dataset, filters: vm.state.filters, page: vm.state.page, view: vm.state.view}" class-name="o-tabs__link">{{tab.title}}</dp-link>
            </li>
        </ul>
    </div>

    <div ng-if="vm.numberOfRecords <= 0" class="qa-data-selection-header__no-records">
        <h2>Geen resultaten gevonden</h2>
        <p>Tip: verwijder één of meer filtercriteria</p>
    </div>
</div>
