<div class="c-data-selection-header">
    <div ng-if="vm.numberOfRecords > 0" class="qa-data-selection-header__with-records">
        <div class="u-row">
            <div class="u-pull--right">
                <dp-data-selection-toggle-view-button
                    ng-if="vm.state.view !== 'CARDS'"
                    view="vm.state.view"></dp-data-selection-toggle-view-button>

                <dp-data-selection-download-button
                    ng-if="vm.state.view !== 'CARDS'"
                    dataset="{{vm.state.dataset}}"
                    active-filters="vm.state.filters">

                </dp-data-selection-download-button>
            </div>

            <h2 ng-if="vm.state.view !== 'CARDS'">{{vm.headerTitle}} ({{vm.numberOfRecords | number}})</h2>
            <h2 ng-if="vm.state.view === 'CARDS'">{{vm.numberOfRecords | number}} dataset<span ng-if="vm.numberOfRecords !== 1">s</span></h2>
        </div>
    </div>

    <div ng-if="vm.numberOfRecords <= 0" class="qa-data-selection-header__no-records">
        <h2>Geen resultaten gevonden</h2>
        <p>Tip: verwijder één of meer filtercriteria</p>
    </div>
</div>
