@import "../../../shared/styles/config";

.c-user-content-widget {
  &__news-entry {
    padding-left: 3 * $base-whitespace;
    padding-right: 1 * $base-whitespace;
  }

  &__news-title {
    @include font-size($s-font);
    overflow: hidden;
    white-space: nowrap;
  }

  &__news-content {
    line-height: $l-line-height;
    padding: 1.2 * $base-whitespace 0;
  }

  &__news-date {
    color: $secondary-gray60;
  }

  &__beleid-zie-ook {
    @include font-size($l-font);
    font-weight: $bold-weight;
    margin-bottom: (2 * $base-whitespace);
  }

  &__beleid-lees-meer {
    color: $secondary-gray60;
    margin-bottom: 2 * $base-whitespace;
  }

  &__entry {
    margin-bottom: 1.2 * $base-whitespace;
    max-height: 4 * $base-whitespace;
    overflow: hidden;
  }

  &__short {
    display: inline;
    font-weight: $bold-weight;
  }
}

.s-cms-widget-content {
  p {
    margin-bottom: 0;
  }

  a {
    color: $primary-dark;
    text-decoration: none;

    &:hover {
      color: $primary-contrast;
      text-decoration: underline;
    }
  }

  &--link {
    a {
      color: inherit;
      text-decoration: inherit;

      &:hover {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }

  &--inline {
    p {
      display: inline;
    }
  }
}
