$primary-light: #fff;
$primary-dark: #000;
$primary-contrast: #ec0000;
$primary-contrast-hover: #bc0000;
$primary-contrast-blue: #004699;

$primary-light-alpha67: rgba(255, 255, 255, .67);
$primary-light-alpha50: rgba(255, 255, 255, .5);
$primary-light-alpha48: rgba(255, 255, 255, .48);
$primary-light-alpha00: rgba(255, 255, 255, 0);

$primary-dark-alpha33: rgba(0, 0, 0, .33);

$secondary-gray80: #333;
$secondary-gray70: #434343;
$secondary-gray60: #666;
$secondary-gray52: #7e7e7e;
$secondary-gray40: #999;
$secondary-gray32: #d2d2d2;
$secondary-gray30: #ddd;
$secondary-gray20: #ccc;
$secondary-gray16: #e6e6e6;
$secondary-gray10: #eee;
$secondary-gray4: #f6f6f6;
$secondary-gray5: #fafafa;

$thema-1: #ff9100;
$thema-2: #ffe600;
$thema-3: #feef35;
$thema-4: #bed200;
$thema-5: #61b84d;
$thema-6: #00a03c;
$thema-7: #19a684;
$thema-8: #1aaab6;
$thema-9: #009de6;
$thema-10: #004699;
$thema-11: #0d61ab;
$thema-12: #2f3490;
$thema-13: #752f8e;
$thema-14: #ac268c;
$thema-15: #e50082;

$alert: #ff0;

$red: #ec0000;
$dandelion: #ffe600;
$tangerine: #ff9100;
$dark-hot-pink: #e50082;
$red-violet: #a00078;
$darkish-blue: #004699;
$azure: #009de6;
$emerald: #00a03c;
$ugly-yellow: #bed200;
$white-three: #f6f6f6;
$white-two: #eee;
$pinkish-grey: #ccc;
$warm-grey: #999;
$brownish-grey: #666;
$black: #000;
$white: #fff;
$white-four: #fafafa;
$black-two: #333;
$mahogany: #610000;
$red-two: #c60000;
$deep-red: #a00000;
$blood-orange: #f14600;
$orange-yellow: #fbaa00;
$marigold: #ffc700;
$sunflower-yellow: #ffd700;
$ugly-yellow-two: #dedc00;
$fresh-green: #5fd25a;
$aquamarine: #00d2b4;
$turquoise-blue: #00b7cd;
$cerulean: #0070be;
$marine-blue: #003370;
