$site-header-height: 50px;
$site-header-height-tall: 108px;
$site-header-tall-bottom-gutter: 5px;
$site-header-gutter: 42px;
$site-header-logo-margin: 30px;
$site-header-toolbar-height: 50px;
$site-header-search-form-height: 45px;
