$header-height: 116px;
$above-list-height: $map-preview-panel-top + 1px + 33px + $header-height - 50px;
$below-list-height: 1px + $map-preview-panel-bottom;
$icon-height: 24px;

.map-detail-result {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100%;

  &__header {
    height: $header-height;
    min-height: $header-height;
    position: relative;

    &--no-pano {
      height: auto;
      min-height: auto;
    }

    &-pano-button {
      height: 100%;
      width: 100%;

      &:focus {
        outline: 2px solid $primary-dark;
        outline-offset: -2px;
      }
    }

    &-pano-button--disabled {
      display: none;
    }

    &-pano {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    &-container {
      background-color: $secondary-gray60;
      bottom: 16px;
      color: $primary-light;
      margin-right: 16px;
      padding: 8px;
      position: absolute;
      text-align: left;

      @media screen and (min-width: $breakpoint-md) {
        padding: 8px 12px;
      }

      .map-detail-result__header--no-pano & {
        margin-right: 0;
        position: static;
      }
    }

    &-title {
      font-family: "Avenir LT W01 55 Roman";
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
    }

    &-subtitle {
      font-family: "Avenir LT W01 85 Heavy";
      font-size: 16px;
      font-weight: normal;
      line-height: 1;
      padding-top: 4px;
    }
  }

  &__scroll-wrapper {
    max-height: calc(100vh - #{$above-list-height + $below-list-height}); //NB: fix for IE
    min-height: 1px; // NB: firefox & ie fix - https://stackoverflow.com/a/43027202
    overflow-y: auto;

    .c-dashboard__body--error & {
      max-height: calc(100vh - #{$above-list-height + $below-list-height + $dashboard-error-height}); //NB: fix for IE
    }
  }

  &__category-title {
    color: $primary-dark;
    font-family: "Avenir LT W01 85 Heavy";
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    margin-top: 8px;
    padding: 0 8px;
    @media screen and (min-width: $breakpoint-md) {
      padding: 0 12px;
    }
  }

  &__notification {
    margin-bottom: 1px;
  }

  &__item {
    align-items: center;
    display: flex;
    padding: 8px;
    text-align: left;
    width: 100%;

    @media screen and (min-width: $breakpoint-md) {
      padding: 8px 12px;
    }

    &-content {
      flex-grow: 1;
      overflow: hidden;
    }

    &-label {
      color: $secondary-gray40;
      font-size: 14px;
      padding-bottom: 4px;
    }

    &-value {
      min-height: 20px;
      overflow: hidden;
      padding-right: $base-whitespace;
      text-overflow: ellipsis;
      white-space: nowrap;

      &::after {
        border-radius: 50%;
        content: "";
        display: none;
        height: 10px;
        margin-left: 5px;
        width: 10px;
      }

      &--alert {
        &::after {
          background-color: $primary-contrast;
          display: inline-block;
        }
      }

      &--info {
        &::after {
          background-color: $darkish-blue;
          display: inline-block;
        }
      }

      & > &--inline {
        display: inline;
      }
    }

    &-list {
      &-item {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__footer {
    padding: 24px;
  }

  &__button {
    align-items: center;
    background-color: $primary-light;
    border: 1px solid $secondary-gray20;
    border-radius: 0;
    color: $secondary-gray60;
    display: flex;
    font-family: "Avenir LT W01 85 Heavy", Arial, sans-serif;
    justify-content: center;
    margin: auto;
    padding: 6px 16px 6px 8px;
    width: auto;

    &:hover {
      background-color: $primary-contrast;
      color: $primary-light;

      &--maximize {
        @include icon-sprite("icon-maximize", $primary-dark, $primary-dark, $icon-height);
      }
    }

    &-icon {
      height: $icon-height;
      margin-right: 5px;
      width: $icon-height;

      &--maximize {
        @include icon-sprite("icon-maximize", $secondary-gray60, $primary-dark, $icon-height);
      }
    }
  }

  .is-print-mode & {

    &__header {
      // There is no pano in print mode
      height: auto;
      min-height: auto;

      &-pano-button {
        display: none;
      }

      &-container {
        background-color: $primary-light;
        color: $primary-dark;
        margin-right: 0;
        position: static;
      }
    }
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    &__scroll-wrapper {
      height: 100%;
      max-height: none;
    }
  }
}
