.c-straatbeeld-metadata__history {
  float: left;
  border-right: 1px solid $secondary-gray20;
  z-index: 2;
}

.c-straatbeeld-metadata__info {
  @include font-size($xs-font);
  @include font-weight($bold-weight);

  float: right;
  line-height: $button-size;
}

.c-straatbeeld-metadata__info-item {
  margin-left: $base-whitespace;
  padding-left: $base-whitespace;
  float: left;
  border-left: solid $secondary-gray20 1px;
}
