.c-straatbeeld-metadata__streetview-history-icon {
  @include icon-button-text-box-flat-right("clock", "black", "white");
  @include status-bar-button;

  float: left;

  span {
    position: relative;
    top: -1px;
  }
}

.c-straatbeeld-metadata__coordinates {
  padding-left: $base-whitespace;
  float: right;
  border-left: solid $secondary-gray20 1px;
  font-weight: bold;
  line-height: $button-size;

  span {
    position: relative;
    top: -1px;
  }
}
