<div ng-if="vm.showMetaInfo()">
    <dp-straatbeeld-history
        location="vm.location"
        heading="vm.heading"
        class="c-straatbeeld-metadata__history"></dp-straatbeeld-history>
    <div class="c-straatbeeld-metadata__info">
        <div class="c-straatbeeld-metadata__info-item">
            <span>{{vm.date | date : 'dd-MM-yyyy'}}</span>
        </div>
        <div class="c-straatbeeld-metadata__info-item">
            <span>{{vm.location | coordinates: 'WGS84'}}</span>
        </div>
    </div>
    <div class="u-clearfix"></div>
</div>
