<button class="c-menu__item
               c-menu__item--toggle
               c-menu__link"
        ng-class="{
            'c-menu__item--toolbar': isToolbar,
            'c-menu__item--toggle--active': isVisible
        }"
        ng-click="toggleDropdown()">
    <span>{{title}}</span>

    <nav ng-if="isVisible"
         class="c-menu__dropdown"
         ng-class="'c-menu__dropdown--align-' + align">
        <ng-include src="'modules/header/components/menu/dropdown/templates/' + type + '.html'"></ng-include>
    </nav>
</button>
