.c-detail {
  padding: $detail-padding;
}

.c-detail__block {
  @extend %list-block;

  .c-detail__block {
    margin: 0;
    padding: 0;
    border: none;
  }

  .s-indented-list & {
    @extend %list-block-indented;

    .c-detail__block {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}

.c-detail__geosearch {
  display: block;
  margin: 0;
  padding: $base-whitespace (4 * $base-whitespace);
  border-bottom: 1px solid $secondary-gray20;
}
