$hover-table-color: #eee;

.c-data-selection-table {
  display: block;

  .c-data-selection-table__field {
    padding-left: $base-whitespace;
    white-space: nowrap;

    &:last-child {
      padding-right: $base-whitespace;
    }
  }

  .c-data-selection-table__header {

    .c-data-selection-table__header-row {
      background-color: $secondary-gray40;
      color: $primary-light;
    }

    .c-data-selection-table__header-field {
      height: $button-size;
      padding: {
        top: 0;
        bottom: 0;
      }
      font-family: $header-font-family;
      font-size: $base-font-size * 1.2;
      font-weight: lighter;
    }
  }

  .c-data-selection-table__content {
    .c-data-selection-table__content-row {

      &:hover {
        background-color: $hover-table-color;
      }
    }

    .c-data-selection-table__content-field {
      padding: {
        top: .8 * $base-whitespace;
        bottom: .8 * $base-whitespace;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

