<table class="o-table c-data-selection-table">
    <thead class="c-data-selection-table__header">
        <tr class="c-data-selection-table__header-row">
            <th class="c-data-selection-table__field c-data-selection-table__header-field"
                ng-repeat="field in vm.content.head track by $index">

                {{field}}
            </th>
        </tr>
    </thead>
    <tbody class="c-data-selection-table__content">
        <tr class="c-data-selection-table__content-row"
            ng-repeat="row in vm.content.body track by $index" ng-click="vm.followLink(row.detailEndpoint)">
            <td class="c-data-selection-table__field c-data-selection-table__content-field"
                ng-repeat="variables in row.content track by $index">

                <dp-data-selection-formatter
                    variables="variables"
                    formatter="{{vm.content.formatters[$index]}}">

                </dp-data-selection-formatter>
            </td>
        </tr>
    </tbody>
</table>
