<style>
</style>
<table class="o-table">
    <thead>
        <tr class="data-selection__table__header">
            <th class="data-selection__table__cell" ng-repeat="field in vm.content.head track by $index">{{field}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in vm.content.body track by $index" ng-click="vm.followLink(row.detailEndpoint)">
            <td class="data-selection__table__cell" ng-repeat="field in row.fields track by $index">
                {{field}}
            </td>
        </tr>
    </tbody>
</table>
