.c-data-selection-file-type {
  @include font-size($xs-font);
  height: 16px;
  margin-top: $base-whitespace / 5;
  float: left;
  color: $secondary-gray40;

  &__name {
    display: inline-block;
    padding: 0 $base-whitespace * 0.5;
    background-color: $secondary-gray20;
    color: $primary-dark;
    line-height: 1;
  }

  &__count {
    display: inline-block;
    padding-right: $base-whitespace * 0.7;
  }

  &__format {
    color: $primary-dark;

    &-anders {
      background-color: $secondary-gray60;
      color: $primary-light;
    }

    &-csv {
      background-color: $aquamarine;
    }

    &-docx {
      background-color: $darkish-blue;
      color: $primary-light;
    }

    &-geojson {
      background-color: $marigold;
    }

    &-gml {
      background-color: $deep-green-two;
      color: $primary-light;
    }

    &-html {
      background-color: $azure;
    }

    &-json {
      background-color: $dandelion;
    }

    &-pdf {
      background-color: $red;
      color: $primary-light;
    }

    &-png {
      background-color: $turquoise-blue;
    }

    &-rest-atom-feed {
      background-color: $tangerine;
    }

    &-shp {
      background-color: $deep-green;
      color: $primary-light;
    }

    &-website {
      background-color: $secondary-gray40;
    }

    &-wfs {
      background-color: $red-violet;
      color: $primary-light;
    }

    &-wms {
      background-color: $dark-hot-pink;
      color: $primary-light;
    }

    &-xml {
      background-color: $ugly-yellow;
    }

    &-xls,
    &-xlsx {
      background-color: $emerald;
    }
  }
}
