.c-key-value-list {
  @extend %description-list;

  dt {
    width: 100% / 6 * 2; //2 van 6 kolommen
  }

  dd {
    width: 100% / 6 * 4; //4 van 6 kolommen
  }

  &::after {
    @extend %clearfix;
  }

  .c-key-value-list--border-top {
    border-top: 1px solid $secondary-gray20 !important;
  }

  .c-key-value-list--multiple-values {
    padding: 4.375px 0; //(2 * $base-font-size - $base-line-height) / 2
    border: none;
    line-height: $base-line-height;
  }
}


