.c-key-value-list {
  @extend %description-list;

  &::after {
    @extend %clearfix;
  }

  .c-key-value-list--border-top {
    border-top: 1px solid $secondary-gray20 !important;
  }

  .c-key-value-list--multiple-values {
    padding-top: 4.375px; //(2 * $base-font-size - $base-line-height) / 2
    padding-bottom: 4.375px;
    border: none;
    line-height: $base-line-height;
  }

  .c-key-value-list__key--full-width {
    width: 100%;
  }

  .c-key-value-list__value--full-width {
    width: calc(100% - 60px);
    float: none;

    p {
      display: inline-block;
      max-height: 100px;
      margin: 10px 0 0;
      padding: 0 20px 0 40px;
      transition: max-height .5s linear;
      border-top: none;
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: pre-line;
      overflow: hidden;
      box-sizing: content-box;
    }

    .o-loadmore--content {
      color: $secondary-gray60;

      &::before {
        top: -1px;
        left: -20px;
        font-size: 16px;
      }
    }
  }
}
