.c-key-value-list {
  @extend %description-list;

  &::after {
    @extend %clearfix;
  }

  &--sub {
    margin-bottom: 40px;
  }

  &__border-top {
    border-top: 1px solid $secondary-gray20 !important;
  }

  &--border-bottom {
    border-bottom: 1px solid $secondary-gray20;
  }

  &--attention {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: $red;
    vertical-align: text-top;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  &__multiple-values {
    padding-top: 4.375px; //(2 * $base-font-size - $base-line-height) / 2
    padding-bottom: 4.375px;
    border: none;
    line-height: $base-line-height;
  }

  .c-key-value-md {
    p {
      margin-bottom: 0;
    }
  }

  &__key {
    @extend %description-list-key;
  }

  &__value {
    @extend %description-list-value;
  }

  .c-key-value-list__key--full-width {
    width: 100%;
  }

  .c-key-value-list__value--full-width {
    width: 100%;
    padding: 0 20px;
    float: none;
    border-top: none;
  }

  .c-key-value-list__value--ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .c-key-value-list__value-inline {
    display: inline;
  }

  &__content {
    display: inline-block;
    max-width: 734px;
    max-height: 200px;
    margin: 0;
    padding: 6px 16px 0;
    transition: max-height .5s linear;
    border-top: none;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: pre-line;
    overflow: hidden;
    box-sizing: content-box;
  }
}

.c-key-value-list--in-panel {
  margin-right: -$button-size;
  margin-left: -$base-whitespace;
}
