$page-max-left-pane-width: 799px;
$page-right-pane-margin: 6 * $base-whitespace;

@import "templates/cms-page-content";
@import "templates/content-overzicht";
@import "templates/content-detail";

.c-page {
  padding-top: 50px;
}
