.custom-legenda {
  margin-bottom: -20px;

  &__item {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 26px;
    position: relative;
    width: 33.3%;
  }

  &__color {
    display: inline-block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 16px;
  }
}
