.custom-legenda {
  display: flex;
  justify-content: center;

  &__item {
    padding-left: 26px;
    position: relative;
  }

  &__color {
    display: inline-block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 16px;
  }
}
