.custom-legenda {
  display: flex;
  justify-content: left;
  margin-left: 180px;

  &__item {
    font-size: 12px;
    line-height: 12px;
    padding-left: 22px;
    position: relative;
  }

  &__color {
    display: inline-block;
    height: 12px;
    left: 0;
    position: absolute;
    width: 12px;
  }
}
