.toggle-drawing {
  background-color: #ffffff;
  border: solid 1px #CCCCCC;
  box-shadow: 2px 2px 0 0 #999999;
  display: flex;
  padding: 4px;

  &__icon {
    display: block;
    fill: #666666;
    height: 24px;
    width: 24px;
  }

  &__label {
    align-self: center;
    color: #666666;
    font-family: "Avenir LT W01 85 Heavy";
    margin: 0 4px;

    &:empty {
      margin: 0;
    }
  }


  &:focus {
    background-color: #eee;
    color: #000;
    fill: #000;
  }

  &:hover {
    background-color: #ec0000;
    border-color: #ec0000;

    .toggle-drawing__icon,
    .toggle-drawing__label {
      color: #ffffff;
      fill: #ffffff;
    }
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
