@import "../../../shared/styles/config";
@import "../../../shared/styles/config/variables/colors";

$icon-height: 24px;

.toggle-drawing {
  background-color: $primary-light;
  border: solid 1px $secondary-gray20;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  display: flex;
  max-height: 34px;
  max-width: 34px;
  padding: 4px;

  &__icon {
    @include icon-sprite("icon-measure", $secondary-gray60, $primary-dark, $icon-height);
    display: block;
    height: $icon-height;
    width: $icon-height;
  }

  &__label {
    align-self: center;
    color: $secondary-gray60;
    font-weight: $bold-weight;
    margin: 0 4px;

    &:empty {
      margin: 0;
    }
  }

  &:hover,
  &:focus {
    .toggle-drawing__label {
      color: $primary-dark;
    }

    .toggle-drawing__icon {
      @include icon-sprite("icon-measure", $primary-dark, $primary-dark, $icon-height);
    }
  }

  &--expanded {
    max-width: 100%;
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
