.map-panel-handle {
  $handle-height: 24px;

  background-color: $secondary-gray5;
  border-top: 2px solid $secondary-gray20;
  margin-top: -2px;
  position: relative;

  &--hidden {
    padding-top: 8px;
  }

  &__toggle {
    $border-size: 2px;

    background-color: $secondary-gray5;
    border: $border-size solid $secondary-gray20;
    border-bottom: none;
    box-sizing: content-box;
    height: $handle-height;
    left: 50%;
    outline: none;
    padding: 0 8px;
    position: absolute;
    top: -$handle-height - $border-size;
    transform: translateX(-50%);
    width: $handle-height;
    z-index: 10000;

    &:hover,
    &:focus {
      border-color: $primary-dark;
    }

    &--icon-collapse {
      @include icon-sprite("icon-arrow-down", $secondary-gray60, $primary-dark, $handle-height);
      background-color: $secondary-gray5;

      &:hover,
      &:focus {
        background-color: $secondary-gray5;
      }
    }

    &--icon-expand {
      @include icon-sprite("icon-arrow-up", $secondary-gray60, $primary-dark, $handle-height);
      background-color: $secondary-gray5;

      &:hover,
      &:focus {
        background-color: $secondary-gray5;
      }
    }
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
