.map-panel-handle {
  $handle-height: 24px;

  background-color: #FAFAFA;
  border-top: 2px solid #999999;
  position: relative;

  &--hidden {
    padding-top: 8px;
  }

  &__toggle {
    background-color: #FAFAFA;
    border: 2px solid #999999;
    border-bottom: none;
    height: $handle-height;
    left: 50%;
    outline: none;
    position: absolute;
    top: -$handle-height;
    transform: translateX(-50%);
    width: 40px;
    z-index: 10000;

    svg {
      height: $handle-height;
      width: $handle-height;
    }
  }
}
