.map-panel-handle {
  $handle-height: 24px;

  background-color: $secondary-gray5;
  border-top: 2px solid $secondary-gray20;
  margin-top: -2px;
  position: relative;

  &--hidden {
    padding-top: 8px;
  }

  &__toggle {
    $border-size: 2px;

    background-color: $secondary-gray5;
    border: $border-size solid $secondary-gray20;
    border-bottom: none;
    box-sizing: content-box;
    height: $handle-height;
    left: 50%;
    outline: none;
    padding: 0 8px;
    position: absolute;
    top: -$handle-height - $border-size;
    transform: translateX(-50%);
    width: $handle-height;
    z-index: 10000;

    svg {
      fill: $secondary-gray60;
      height: $handle-height;
      width: $handle-height;
    }

    &:hover {
      svg {
        fill: $primary-dark;
      }
    }
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
