<div>
    <div class="c-detail__block">
        <dp-glossary-header heading="{{vm.apiData.results.peilmerkidentificatie}}" definition="PEILMERK">
        </dp-glossary-header>

        <dl class="c-key-value-list">
            <dt>Hoogte NAP</dt>
            <dd>{{ vm.apiData.results.hoogte_nap | number:3 }} m</dd>
            <dt>Jaar</dt>
            <dd>{{ vm.apiData.results.jaar }}</dd>
            <dt>Omschrijving</dt>
            <dd>{{ vm.apiData.results.omschrijving }}</dd>
            <dt>Windrichting</dt>
            <dd>{{ vm.apiData.results.windrichting }}</dd>
            <dt>Muurvlakcoördinaten (cm)</dt>
            <dd>{{ vm.apiData.results.x_muurvlak }}, {{ vm.apiData.results.y_muurvlak }}</dd>
            <dt>Merk</dt>
            <dd>{{ vm.apiData.results.merk }}</dd>
            <dt>RWS nummer</dt>
            <dd>{{ vm.apiData.results.rws_nummer }}</dd>
        </dl>
    </div>

    <div class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-panorama-thumbnail panorama="vm.previewPanorama" is-loading="vm.isPreviewPanoramaLoading"></dp-panorama-thumbnail>
        </div>
    </div>
</div>
