<dp-panel is-panel-visible="true" type="warning" can-close="true">
    <h3 class="c-panel__title">Disclaimer</h3>
    <p class="c-panel__paragraph">De gegevens uit het Handelsregister (HR) in Atlas zijn afkomstig van een lokale gemeentelijke kopie van de Kamer van Koophandel (KvK).</p>
    <p class="c-panel__paragraph">De volgende inschrijvingen komen op dit moment nog niet voor in Datapunt (met kvk-nummer): RABO-bank (30046259), Fortis (30080248), ING (33031431), ABN AMRO (34334259), Bart Smit (36009388), Het Nederlandse Rode Kruis (40409352), Kruidvat/Trekpleister (31035585).</p>
    <p class="c-panel__paragraph">Raadpleeg voor de meest actuele gegevens de raadpleegvoorziening van de KvK: <a class="c-link c-link--inline c-link--light" target="_blank" href="https://www.kvk.nl/zoeken/">https://www.kvk.nl/zoeken/</a>.</p>
</dp-panel>
