<dp-panel is-panel-visible="true" type="warning" can-close="true">
    <h3 class="u-margin__bottom--1">Disclaimer</h3>
    <p>
        De gegevens uit het Handelsregister (HR) in Atlas zijn afkomstig van een lokale gemeentelijke kopie van de Kamer van Koophandel (KvK). Basisinformatie heeft deze lokale kopie van juni t/m oktober initieel gevuld. </p>

    <p>
        Op dit moment worden deze gegevens geactualiseerd. De verwachting is dat de gegevens medio december geactualiseerd zijn.
    </p>

    <p class="u-margin__bottom--0">
        Raadpleeg voor de meest actuele gegevens de raadpleegvoorziening van de KvK: <a class="o-link-inline o-link-inline--light" target="_blank" href="https://www.kvk.nl/zoeken/">https://www.kvk.nl/zoeken/</a>.
    </p>
</dp-panel>
