<dp-panel is-panel-visible="true" type="warning" can-close="true">
    <h3 class="u-margin__bottom--1">Disclaimer</h3>
    <p>De gegevens uit het Handelsregister (HR) in Atlas zijn afkomstig van een lokale gemeentelijke kopie van de Kamer van Koophandel (KvK). Basisinformatie heeft deze lokale kopie van juni t/m oktober initieel gevuld. De verwachting is dat ze eind december beschikbaar zijn.</p>
    <p>De volgende inschrijvingen komen op dit moment nog niet voor in Datapunt (met kvk-nummer): RABO-bank (30046259), Fortis (30080248), ING (33031431), ABN AMRO (34334259), Bart Smit (36009388), Het Nederlandse Rode Kruis (40409352), Kruidvat/Trekpleiser (31035585).</p>
    <p class="u-margin__bottom--0">Raadpleeg voor de meest actuele gegevens de raadpleegvoorziening van de KvK: <a class="o-link-inline o-link-inline--light" target="_blank" href="https://www.kvk.nl/zoeken/">https://www.kvk.nl/zoeken/</a>.</p>
</dp-panel>
