<div>
    <div class="u-row">
        <dp-stelselpedia-header
            heading="{{vm.apiData.results._display}}"
            definition="MAATSCHAPPELIJKEACTIVITEIT">
        </dp-stelselpedia-header>
        <dl class="c-key-value-list">
            <dt class="c-key-value-list--border-top">Handelsnamen</dt>
            <dd ng-if="!vm.apiData.results.onderneming.handelsnamen[0]"></dd>
            <dd class="c-key-value-list--multiple-values" ng-repeat="object in vm.apiData.results.onderneming.handelsnamen" ng-class="{'c-key-value-list--border-top': $first}">
                    {{ object.handelsnaam }}
            </dd>
            <dt>KvK-nummer</dt>
            <dd> {{ vm.apiData.results.kvk_nummer }} </dd>
            <dt>Bezoekadres</dt>
            <dd> {{ vm.apiData.results.bezoekadres.volledig_adres }} </dd>
            <dt>Datum aanvang</dt>
            <dd> {{ vm.apiData.results.datum_aanvang | date:'dd-MM-yyyy' }} </dd>
            <dt>Soort bijzondere rechtstoestand</dt>
            <dd><dp-message>Op dit moment geen gegevens beschikbaar</dp-message></dd>
        </dl>
    </div>

    <div>
        <dp-stelselpedia-header definition="FUNCTIEVERVULLING" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="{{vm.apiData.results.eigenaar}}" partial="handelsregister/functievervullingen"></dp-api-call>
    </div>

    <dp-hr-disclaimer></dp-hr-disclaimer>

    <div ng-if="vm.apiData.results.vestigingen.count >= 1">
        <dp-stelselpedia-header definition="VESTIGING" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="{{vm.apiData.results.vestigingen.href}}" partial="lijst"></dp-api-call>
    </div>
</div>
