<div>
    <div class="c-detail__block">
        <dp-glossary-header
            heading="{{vm.apiData.results._display}}"
            definition="MAATSCHAPPELIJKEACTIVITEIT"
            is-emphasized="vm.apiData.results._bijzondere_rechts_toestand.faillissement
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Voorlopig'
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Definitief'">
        </dp-glossary-header>

        <div ng-if="!vm.user.scopes.includes('HR/R')"
            ng-include="'modules/detail/components/detail/templates/handelsregister/unauthorized.html'"></div>

        <dp-panel
            ng-if="vm.user.scopes.includes('HR/R')"
            is-panel-visible="vm.apiData.results._bijzondere_rechts_toestand.faillissement"
            class-name="c-panel--offsets-below-page-title"
            type="danger">Bijzondere rechtstoestand: Faillissement</dp-panel>

        <dp-panel
            ng-if="vm.user.scopes.includes('HR/R')"
            is-panel-visible="!vm.apiData.results._bijzondere_rechts_toestand.faillissement
                && vm.apiData.results._bijzondere_rechts_toestand.status === 'Voorlopig'
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Definitief'"
            class-name="c-panel--offsets-below-page-title"
            type="danger">Bijzondere rechtstoestand: Surseance van betaling</dp-panel>

        <dl ng-if="vm.apiData.results" class="c-key-value-list">
            <dt>Handelsnaam</dt>
            <dd ng-if="!vm.apiData.results.onderneming.handelsnamen[0]"></dd>
            <dd class="c-key-value-list__multiple-values" ng-if="vm.apiData.results.onderneming.handelsnamen" ng-repeat="object in vm.apiData.results.onderneming.handelsnamen">
                {{ object.handelsnaam }}
            </dd>
            <dd class="c-key-value-list__multiple-values" ng-if="!vm.apiData.results.onderneming.handelsnamen">
                {{ vm.apiData.results.naam }}
            </dd>
            <dt>KvK-nummer</dt>
            <dd> {{ vm.apiData.results.kvk_nummer }} </dd>
            <dt>Postadres</dt>
            <dd>
                {{ vm.apiData.results.postadres.volledig_adres }}
                <dp-message ng-if="vm.apiData.results.postadres.correctie">
                    <span>Officieel BAG-adres niet bekend, schatting: {{ ::vm.apiData.results.postadres.query_string }}</span>
                </dp-message>
            </dd>
            <dt>Bezoekadres</dt>
            <dd>
                {{ vm.apiData.results.bezoekadres.volledig_adres }}
                <dp-message ng-if="vm.apiData.results.bezoekadres.correctie">
                    <span>Officieel BAG-adres niet bekend, schatting: {{ ::vm.apiData.results.bezoekadres.query_string }}</span>
                </dp-message>
            </dd>
            <dt>Datum aanvang</dt>
            <dd> {{ vm.apiData.results.datum_aanvang | date:'dd-MM-yyyy' }} </dd>
            <dt>Soort bijzondere rechtstoestand</dt>
            <dd class="{{vm.apiData.results._bijzondere_rechts_toestand.faillissement
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Voorlopig'
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Definitief' ? 'u-failliet' : ''}}">
                {{ vm.apiData.results._bijzondere_rechts_toestand.faillissement ? 'Faillissement' :
                (vm.apiData.results._bijzondere_rechts_toestand.status === 'Voorlopig'
                    || vm.apiData.results._bijzondere_rechts_toestand.status === 'Definitief') ? 'Surseance van betaling' : '' }}</dd>
        </dl>
    </div>

    <div ng-if="vm.apiData.results" class="c-detail__block">
        <dp-glossary-header definition="FUNCTIEVERVULLING" use-plural="true"></dp-glossary-header>

        <dp-api-call endpoint="{{vm.apiData.results.eigenaar}}" partial="handelsregister/functievervullingen" user="vm.user"></dp-api-call>
    </div>

    <div ng-if="vm.apiData.results.vestigingen.count >= 1"
         class="c-detail__block">
        <dp-glossary-header definition="VESTIGING" use-plural="true"></dp-glossary-header>

        <dp-api-call endpoint="{{vm.apiData.results.vestigingen.href}}" partial="lijst" user="vm.user"></dp-api-call>
    </div>

    <div ng-if="vm.apiData.results" ng-include="'modules/detail/components/detail/templates/hr-disclaimer.html'"></div>
</div>
