<div>
    <div class="c-detail__block">
        <dp-glossary-header
            heading="{{vm.apiData.results._display}}"
            definition="VESTIGING"
            is-emphasized="vm.apiData.results._bijzondere_rechts_toestand.faillissement
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Voorlopig'
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Definitief'">
        </dp-glossary-header>

        <div ng-if="!vm.user.scopes.includes('HR/R')"
            ng-include="'modules/detail/components/detail/templates/handelsregister/unauthorized.html'"></div>

        <dp-panel
            ng-if="vm.user.scopes.includes('HR/R')"
            is-panel-visible="vm.apiData.results._bijzondere_rechts_toestand.faillissement"
            class-name="c-panel--offsets-below-page-title"
            type="danger">Bijzondere rechtstoestand: Faillissement</dp-panel>

        <dp-panel
            ng-if="vm.user.scopes.includes('HR/R')"
            is-panel-visible="vm.apiData.results._bijzondere_rechts_toestand.status === 'Voorlopig'
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Definitief'"
            class-name="c-panel--offsets-below-page-title"
            type="danger">Bijzondere rechtstoestand: Surseance van betaling</dp-panel>

        <dp-panel
            is-panel-visible="true"
            ng-if="vm.apiData.results.datum_einde"
            size="tiny"
            class-name="c-panel--offsets-below-page-title"
            type="danger">
            Datum einde: {{ vm.apiData.results.datum_einde | date:'dd-MM-yyyy' }}
        </dp-panel>

        <dl ng-if="vm.apiData" class="c-key-value-list">
            <dt>Eerste handelsnaam</dt>
            <dd>{{ vm.apiData.results.naam }}</dd>
            <dt>KvK-nummer</dt>
            <dp-api-call endpoint="{{vm.apiData.results.maatschappelijke_activiteit}}" partial="handelsregister/kvk-nummer" user="vm.user"></dp-api-call>
            <dt>Vestigingsnummer</dt>
            <dd> {{  vm.apiData.results.vestigingsnummer }} </dd>
            <dt>Type vestiging</dt>
            <dd>
                {{ vm.apiData.results.hoofdvestiging ? "Hoofdvestiging" : vm.apiData.results.hoofdvestiging === false ? "Nevenvestiging" : "" }}
            </dd>
            <dt>Postadres</dt>
            <dd>
                {{ vm.apiData.results.postadres.volledig_adres }}
                <dp-message ng-if="vm.apiData.results.postadres.correctie">
                    <span>Officieel BAG-adres niet bekend, schatting: {{ ::vm.apiData.results.postadres.query_string }}</span>
                </dp-message>
            </dd>
            <dt>Bezoekadres</dt>
            <dd>
                {{ vm.apiData.results.bezoekadres.volledig_adres }}
                <dp-message ng-if="vm.apiData.results.bezoekadres.correctie">
                    <span>Officieel BAG-adres niet bekend, schatting: {{ ::vm.apiData.results.bezoekadres.query_string }}</span>
                </dp-message>
            </dd>
            <dt>SBI-code en -omschrijving</dt>
            <dd>
                <div ng-repeat="object in vm.apiData.results.activiteiten">
                    {{ object.sbi_code }}: {{ object.sbi_omschrijving }}
                </div>
            </dd>
            <dt>Datum aanvang</dt>
            <dd> {{ vm.apiData.results.datum_aanvang | date:'dd-MM-yyyy' }} </dd>
            <dt>Soort bijzondere rechtstoestand</dt>
            <dd class="{{vm.apiData.results._bijzondere_rechts_toestand.faillissement
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Voorlopig'
                || vm.apiData.results._bijzondere_rechts_toestand.status === 'Definitief' ? 'u-failliet' : ''}}">
                {{ vm.apiData.results._bijzondere_rechts_toestand.faillissement ? 'Faillissement' :
                (vm.apiData.results._bijzondere_rechts_toestand.status === 'Voorlopig'
                    || vm.apiData.results._bijzondere_rechts_toestand.status === 'Definitief') ? 'Surseance van betaling' : '' }}</dd>
            <dt>Coördinaten</dt>
            <dd ng-if="vm.apiData.results.bezoekadres.geometrie.coordinates[0]">
                {{ vm.apiData.results.bezoekadres.geometrie.coordinates | coordinates: 'RD' }}
                <dp-message ng-if="vm.apiData.results.bezoekadres.correctie">
                    <span>Officiële BAG-locatie niet bekend, schatting: {{ ::vm.apiData.results.bezoekadres.query_string }}</span>
                </dp-message>
            </dd>
        </dl>
    </div>

    <div ng-if="vm.apiData" class="c-detail__block">
        <dp-glossary-header
            definition="MAATSCHAPPELIJKEACTIVITEIT">
        </dp-glossary-header>

        <dp-link type="FETCH_DETAIL"
                 payload="vm.apiData.results.maatschappelijke_activiteit"
                 class-name="c-link c-link--arrow o-list__separate-item"
            >{{ vm.apiData.results.naam }}</dp-link>
    </div>

    <div ng-if="vm.apiData" ng-include="'modules/detail/components/detail/templates/hr-disclaimer.html'"></div>
</div>
