<div class="u-row">
    <dp-stelselpedia-header
        heading="{{vm.apiData.results._display}}"
        definition="VESTIGING">
    </dp-stelselpedia-header>

    <dl class="c-key-value-list">
        <dt>Eerste handelsnaam</dt>
        <dd>{{ vm.apiData.results.naam }}</dd>
        <dt>KvK-nummer</dt>
        <dp-api-call endpoint="{{vm.apiData.results.maatschappelijke_activiteit}}" partial="handelsregister/kvk-nummer"></dp-api-call>
        <dt>Postadres</dt>
        <dd> {{ vm.apiData.results.postadres.volledig_adres }} </dd>
        <dt>Bezoekadres</dt>
        <dd> {{ vm.apiData.results.bezoekadres.volledig_adres }} </dd>
        <dt>Type vestiging</dt>
        <dd>
            {{ vm.apiData.results.hoofdvestiging ? "Hoofdvestiging" : vm.apiData.results.hoofdvestiging === false ? "Nevenvestiging" : "" }}
        </dd>
        <dt>SBI-activiteiten</dt>
        <dd ng-if="!vm.apiData.results.activiteiten[0]"></dd>
        <dd ng-if="vm.apiData.results.activiteiten[0]" class="c-key-value-list--multiple-values" ng-repeat="object in vm.apiData.results.activiteiten" ng-class="{'c-key-value-list--border-top': $first}">
            <span class="u-line-height-base u-margin--0">
                {{ object.sbi_code }}: {{ object.sbi_omschrijving }}
            </span>
        </dd>
        <dt>Vestigingsnummer</dt>
        <dd> {{  vm.apiData.results.vestigingsnummer }} </dd>
        <dt>Datum aanvang</dt>
        <dd> {{ vm.apiData.results.datum_aanvang | date:'dd-MM-yyyy' }} </dd>
        <dt>Coördinaten</dt>
        <dd ng-if="vm.apiData.results.bezoekadres.geometrie.coordinates[0]">
            {{ vm.apiData.results.bezoekadres.geometrie.coordinates | coordinates: 'RD' }}
        </dd>
        <dd ng-if="vm.apiData.results.bezoekadres.geometrie.coordinates[0] && vm.apiData.results.bezoekadres.correctie"
            class="c-key-value-list--multiple-values">
            <dp-message>
                <span>Exacte locatie niet bekend</span><span ng-if="vm.apiData.results.bezoekadres.query_string">,
                    coördinaten gebruikt van {{vm.apiData.results.bezoekadres.query_string}}
                </span>
            </dp-message>
        </dd>
    </dl>

    <dp-stelselpedia-header
        definition="MAATSCHAPPELIJKEACTIVITEIT">
    </dp-stelselpedia-header>

    <div class="u-margin__bottom--4">
        <dp-link type="FETCH_DETAIL" payload="vm.apiData.results.maatschappelijke_activiteit">
            {{ vm.apiData.results.naam }}
        </dp-link>
    </div>

    <dp-hr-disclaimer></dp-hr-disclaimer>
</div>
