.c-search-results {
  padding: 2 * $base-whitespace;
}

.s-indented-result {
  margin-top: -$base-whitespace;
  padding-left: $base-font-size;
  border-left: 1px solid $secondary-gray20;
}

.c-search-results__category-header {
  @extend %page-header--contrast;
}

.c-search-results__indented-category-header {
  @extend %content-header--light;
}
