/* sass-lint:disable property-sort-order */
/* already in react sass lint style*/
%icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

%icon-calendar {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M732.333333,185.333333 L732.333333,120 L675.333333,120 L675.333333,185.333333 L348.666667,185.333333 L348.666667,120 L291.666667,120 L291.666667,185.333333 L120,185.333333 L120,904 L904,904 L904,185.333333 L732.333333,185.333333 Z M847,847 L177,847 L177,405.666667 L847,405.666667 L847,847 Z M847,348.666667 L177,348.666667 L177,242.333333 L291.666667,242.333333 L291.666667,291.333333 L348.666667,291.333333 L348.666667,242.333333 L675.333333,242.333333 L675.333333,291.333333 L732.333333,291.333333 L732.333333,242.333333 L847,242.333333 L847,348.666667 Z' id='path-1'></path></svg>");
  background-size: 88%;
}

%icon-arrow-right {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon points='407.805882 240 353 296.644401 561.343277 512.023234 353 727.355599 407.805882 784 671 512.023234'></polygon></svg>");
  background-size: 65%;
}

%icon-arrow-right-white {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon fill='white' points='407.805882 240 353 296.644401 561.343277 512.023234 353 727.355599 407.805882 784 671 512.023234'></polygon></svg>");
  background-size: 65%;
}

%icon-arrow-left {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon points='407.805882 240 353 296.644401 561.343277 512.023234 353 727.355599 407.805882 784 671 512.023234'></polygon></svg>");
  background-size: 65%;
  transform: rotate(180deg);
}

%icon-arrow-left-white {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon fill='white' points='407.805882 240 353 296.644401 561.343277 512.023234 353 727.355599 407.805882 784 671 512.023234'></polygon></svg>");
  background-size: 65%;
  transform: rotate(180deg);
}

%icon-verwijder {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon points='512 564.325902 678.170094 730.495995 730.495995 678.170094 564.325902 512 730.495995 345.829906 678.170094 293.504005 511.632304 460.041794 345.829906 293.504005 293.504005 345.829906 459.689221 511.984877 293.504005 678.170094 345.829906 730.495995'></polygon></svg>");
}

%icon-verwijder-white {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon fill='white' points='512 564.325902 678.170094 730.495995 730.495995 678.170094 564.325902 512 730.495995 345.829906 678.170094 293.504005 511.632304 460.041794 345.829906 293.504005 293.504005 345.829906 459.689221 511.984877 293.504005 678.170094 345.829906 730.495995'></polygon></svg>");
}

%icon-plus {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon points='549 549 784 549 784 475 549 475 549 240 475 240 475 475.52 240 475 240 549 475 548.978613 475 784 549 784'></polygon></svg>");
  background-size: 76%;
}

%icon-plus-white {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon fill='white' points='549 549 784 549 784 475 549 475 549 240 475 240 475 475.52 240 475 240 549 475 548.978613 475 784 549 784'></polygon></svg>");
  background-size: 76%;
}

%icon-edit {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M784,426.083586 L469.548356,743.056475 L240,784 L290.310919,549.087991 L598.47353,240 L642.49676,284.155427 L343.767699,583.781541 L329.617375,656.3226 L367.351572,694.170109 L445.964483,676.823334 L739.97677,381.928159 L784,426.083586 Z M382.662852,597.919478 L669.492748,310.228261 L713.9625,354.83155 L427.132603,642.522767 L382.662852,597.919478 Z'></path></svg>");
  background-size: 76%;
}

%icon-edit-white {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path fill='white' d='M784,426.083586 L469.548356,743.056475 L240,784 L290.310919,549.087991 L598.47353,240 L642.49676,284.155427 L343.767699,583.781541 L329.617375,656.3226 L367.351572,694.170109 L445.964483,676.823334 L739.97677,381.928159 L784,426.083586 Z M382.662852,597.919478 L669.492748,310.228261 L713.9625,354.83155 L427.132603,642.522767 L382.662852,597.919478 Z'></path></svg>");
  background-size: 76%;
}

%icon-delete {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M283,361.537987 L283.445255,421.066527 L298.19868,421.326182 L299.84012,838 L727.843976,836.604618 L726.202537,419.930801 L740.955963,420.190456 L740.510708,360.661915 L283,361.537987 Z M668.359267,777.525021 L358.43432,778.022516 L357.238135,420.877239 L667.163082,420.379744 L668.359267,777.525021 Z M578.307129,465.415618 L622.57382,465.312563 L623.152996,718.235157 L578.886304,718.338211 L578.307129,465.415618 Z M489.756032,465.345833 L534.022724,465.242779 L534.601899,718.165372 L490.335208,718.268426 L489.756032,465.345833 Z M401.204936,465.276049 L445.471627,465.172995 L446.050802,718.095588 L401.784111,718.198642 L401.204936,465.276049 Z M622.501588,275.279828 L622.571378,186 L401.192736,186.567863 L401.122947,275.847691 L283.044037,276.745577 L283.489292,336.274118 L741,335.398047 L740.554745,275.869506 L622.501588,275.279828 Z M460.677446,242.647606 L563.977177,242.977629 L563.462133,272.728917 L460.162402,272.398894 L460.677446,242.647606 Z'></path></svg>");
}

%icon-delete-white {
  @extend %icon;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path fill='white' d='M283,361.537987 L283.445255,421.066527 L298.19868,421.326182 L299.84012,838 L727.843976,836.604618 L726.202537,419.930801 L740.955963,420.190456 L740.510708,360.661915 L283,361.537987 Z M668.359267,777.525021 L358.43432,778.022516 L357.238135,420.877239 L667.163082,420.379744 L668.359267,777.525021 Z M578.307129,465.415618 L622.57382,465.312563 L623.152996,718.235157 L578.886304,718.338211 L578.307129,465.415618 Z M489.756032,465.345833 L534.022724,465.242779 L534.601899,718.165372 L490.335208,718.268426 L489.756032,465.345833 Z M401.204936,465.276049 L445.471627,465.172995 L446.050802,718.095588 L401.784111,718.198642 L401.204936,465.276049 Z M622.501588,275.279828 L622.571378,186 L401.192736,186.567863 L401.122947,275.847691 L283.044037,276.745577 L283.489292,336.274118 L741,335.398047 L740.554745,275.869506 L622.501588,275.279828 Z M460.677446,242.647606 L563.977177,242.977629 L563.462133,272.728917 L460.162402,272.398894 L460.677446,242.647606 Z'></path></svg>");
}
