@import "components/legend/map-legend";
@import "components/layers/map-layers";
@import "components/type/map-type";

.map-panel {
  background-color: #FAFAFA;
  border: solid 1px #CCCCCC;
  bottom: 8px;
  box-shadow: 2px 2px 0 0 #999999;
  height: calc(100vh - 32px - 50px - 130px);
  left: 8px;
  min-width: 285px;
  max-height: 800px;
  max-width: 440px;
  overflow: hidden;
  position: fixed;
  width: 28%;
  z-index: 100;

  &--collapsed {
    height: auto;
    min-width: auto;
    width: auto;

    &:hover {
      border-color: #EC0000;
    }

    .scroll-wrapper {
      display: none;
    }
  }

  &__heading {
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #999999;
    display: flex;
    padding: 4px;

    .map-panel--collapsed & {
      border-bottom: none;

      &:hover {
        background-color: #EC0000;
        cursor: pointer;

        .map-panel__heading-icon,
        .map-panel__toggle-icon {
          fill: #FFFFFF;
        }
      }
    }
  }

  &__heading-icon {
    fill: #000000;
    height: 24px;
    width: 24px;

    .map-panel--collapsed & {
      fill: #666666;
    }
  }

  &__heading-title {
    flex-grow: 1;
    font-family: "Avenir LT W01 85 Heavy";
    font-size: 16px;
    margin-left: 4px;

    .map-panel--collapsed & {
      display: none;
    }
  }

  &__toggle {
    height: 24px;
    outline: none;
    width: 24px;

    &:hover {
      background-color: #EC0000;
    }

    .map-panel--collapsed & {
      margin-left: 4px;
    }
  }

  &__toggle-icon {
    fill: #000000;
    height: inherit;
    width: inherit;

    .map-panel--collapsed & {
      fill: #666666;
    }

    .map-panel--collapsed &--expanded {
      display: none;
    }

    .map-panel--expanded &--collapsed {
      display: none;
    }

    *:hover > & {
      fill: #FFFFFF;
    }
  }

  .scroll-wrapper {
    height: calc(100% - 33px);
    overflow-y: auto;
    /* NB: Workaround to force smooth scrolling on Chrome */
    will-change: transform;
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    height: auto;
    max-height: none;
    position: absolute;
    width: auto;
  }

  .is-print-mode & {
    &--collapsed,
    &--has-no-active-layers,
    &__heading,
    &__toggle {
      display: none;
    }

    .scroll-wrapper {
      height: auto;
    }
  }
}

%__toggle {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  content: 'X';
  display: flex;
  flex-shrink: 0;
  font-size: 0;
  height: 26px;
  justify-content: center;
  width: 26px;

  svg {
    height: 12px;
    width: 12px;
  }
}
