* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

input {
  &[type="number"] {
    appearance: textfield;

    &::inner-spin-button,
    &::outer-spin-button {
      margin: 0;
      appearance: none;
    }
  }
}
