body,
button {
  @include font-size($m-font);
  color: $primary-dark;
}

h1 {
  @include font-size($xl-header-font);
  font-weight: bold;
}

h2 {
  @include font-size($l-header-font);
  font-weight: bold;
}

h3 {
  @include font-size($m-header-font);
  font-weight: bold;
}

h4,
h5,
h6 {
  @include font-size($s-header-font);
  color: $secondary-gray60;
  font-weight: bold;
}
