<div>
  <h4 ng-if="apiData.count >= 2" class="c-paginering">1-{{ apiData.results.length }} van {{ apiData.count }}</h4>

  <ul class="o-list">
    <li ng-repeat="object in apiData.results">
        <dp-redux-link
            to="object._links.self.href | detailEndpointAction"
            link-class="o-btn o-btn--link s-btn--nested"
        >{{ object._display }}</dp-redux-link>

        <div class="s-indented-list">
            <dp-partial-select partial="brk" api-data="{results:object}" user="user"></dp-partial-select>
        </div>
    </li>
  </ul>

  <a class="c-show-more" ng-click="loadMore()" ng-if="apiData.next">Meer</a>
</div>
