<div>
    <div ng-if="apiData.results._display"
         class="c-detail__block qa-nummeraanduiding">

        <!-- the apiData.results.status object is filled with data from the parent verbijfsbject -->

        <dp-glossary-header
            heading="{{apiData.results._display}}"
            definition="NUMMERAANDUIDING"
            is-emphasized="apiData.results.status.code === '18'"
            meta-data="apiData">
        </dp-glossary-header>

        <dp-panel
            ng-if="
              !apiData.results.ligplaats &&
              !apiData.results.ligplaatsidentificatie &&
              !apiData.results.standplaats &&
              !apiData.results.standplaatsidentificatie &&
              apiData.results.status.code !== '20' &&
              apiData.results.status.code !== '21'"
            is-panel-visible="true"
            class-name="c-panel--offsets-below-page-title"
            type="danger">
            Status: {{apiData.results.status.omschrijving}}
        </dp-panel>

        <dp-panel
            ng-if="apiData.results.indicatie_geconstateerd"
            is-panel-visible="true"
            class-name="c-panel--offsets-below-page-title"
            type="danger">
            Indicatie geconstateerd
        </dp-panel>

        <dp-panel
            ng-if="apiData.results.aanduiding_in_onderzoek"
            is-panel-visible="true"
            class-name="c-panel--offsets-below-page-title"
            type="danger">
            In onderzoek
        </dp-panel>

        <dp-panel ng-if="!apiData.results.hoofdadres"
            is-panel-visible="true"
            class-name="c-panel--offsets-below-page-title"
            type="warning">
            Dit is een nevenadres
        </dp-panel>

        <dl class="c-key-value-list">
            <dt>Naam openbare ruimte</dt>
            <dd ng-if="apiData.results.openbare_ruimte">
                <dp-link type="FETCH_DETAIL"
                         payload="apiData.results.openbare_ruimte._links.self.href"
                    >{{ apiData.results.openbare_ruimte._display }}</dp-link>
            </dd>
            <dt>Huisnummer</dt>
            <dd>{{ apiData.results.huisnummer }}</dd>
            <dt>Huisletter</dt>
            <dd>{{ apiData.results.huisletter }}</dd>
            <dt>Huisnummertoevoeging</dt>
            <dd>{{ apiData.results.huisnummer_toevoeging }}</dd>
            <dt>Postcode</dt>
            <dd>{{ apiData.results.postcode }}</dd>
            <dt>Woonplaats</dt>
            <dd ng-if="apiData.results.woonplaats">
                <dp-link type="FETCH_DETAIL"
                         payload="apiData.results.woonplaats._links.self.href"
                    >{{ apiData.results.woonplaats._display }}</dp-link>
            </dd>
        </dl>
    </div>
</div>
