<div>
    <div ng-if="apiData.results._display"
         class="c-detail__block qa-nummeraanduiding">

        <!-- the apiData.results.status object is filled with data from the parent verbijfsbject -->

        <dp-glossary-header
            heading="{{apiData.results._display}}"
            definition="NUMMERAANDUIDING"
            is-emphasized="
            !apiData.results.ligplaats &&
            !apiData.results.ligplaatsidentificatie &&
            !apiData.results.standplaats &&
            !apiData.results.standplaatsidentificatie &&
            apiData.results.status !== 'Verblijfsobject in gebruik (niet ingemeten)' &&
              apiData.results.status !== 'Verblijfsobject in gebruik' &&
              apiData.results.status !== 'Verbouwing verblijfsobject'"
            meta-data="apiData">
        </dp-glossary-header>

        <dp-panel
            ng-if="
              !apiData.results.ligplaats &&
              !apiData.results.ligplaatsidentificatie &&
              !apiData.results.standplaats &&
              !apiData.results.standplaatsidentificatie &&
              apiData.results.status !== 'Verblijfsobject in gebruik (niet ingemeten)' &&
              apiData.results.status !== 'Verblijfsobject in gebruik' &&
              apiData.results.status !== 'Verbouwing verblijfsobject'"
            is-panel-visible="true"
            class-name="c-panel--offsets-below-page-title"
            type="danger">
            Status: {{apiData.results.status}}
        </dp-panel>

        <dp-panel
            ng-if="apiData.results.indicatie_geconstateerd"
            is-panel-visible="true"
            class-name="c-panel--offsets-below-page-title"
            type="danger">
            Indicatie geconstateerd
        </dp-panel>

        <dp-panel
            ng-if="apiData.results.aanduiding_in_onderzoek"
            is-panel-visible="true"
            class-name="c-panel--offsets-below-page-title"
            type="danger">
            In onderzoek
        </dp-panel>

        <dp-panel 
            ng-if="apiData.results.type_adres === 'Nevenadres'"
            is-panel-visible="true"
            class-name="c-panel--offsets-below-page-title"
            type="warning">
            Dit is een nevenadres
        </dp-panel>

        <dl class="c-key-value-list">
            <dt>Naam openbare ruimte</dt>
            <dd ng-if="apiData.results.openbare_ruimte">
                <dp-redux-link
                    to="apiData.results.openbare_ruimte._links.self.href | detailEndpointAction"
                    link-class="o-btn o-btn--link"
                >{{ apiData.results.openbare_ruimte._display }}</dp-redux-link>
            </dd>
            <dt>Huisnummer</dt>
            <dd>{{ apiData.results.huisnummer }}</dd>
            <dt>Huisletter</dt>
            <dd>{{ apiData.results.huisletter }}</dd>
            <dt>Huisnummertoevoeging</dt>
            <dd>{{ apiData.results.huisnummer_toevoeging }}</dd>
            <dt>Postcode</dt>
            <dd>{{ apiData.results.postcode }}</dd>
            <dt>Woonplaats</dt>
            <dd ng-if="apiData.results.woonplaats">
                <dp-redux-link
                    to="apiData.results.woonplaats._links.self.href | detailEndpointAction"
                    link-class="o-btn o-btn--link"
                >{{ apiData.results.woonplaats._display }}</dp-redux-link>
            </dd>
            <dt>Type adres</dt>
            <dd>{{ apiData.results.type_adres }}</dd>
        </dl>
    </div>
</div>
