<div>
    <div class="c-detail__block">
        <dp-glossary-header definition="STANDPLAATS" meta-data="apiData" />

        <dl class="c-key-value-list">
            <dt>Status</dt>
            <dd>{{ apiData.results.status.omschrijving }}</dd>
            <dt>Indicatie geconstateerd</dt>
            <dd>{{ apiData.results.indicatie_geconstateerd | yesNo }}</dd>
            <dt>Aanduiding in onderzoek</dt>
            <dd>{{ apiData.results.aanduiding_in_onderzoek | yesNo }}</dd>
        </dl>
    </div>

    <!-- Vestiging -->
    <div ng-if-"apiData.results.hoofdadres.landelijk_id" class="c-detail__block">
        <dp-glossary-header definition="VESTIGING" use-plural="true" />

        <dp-panel is-panel-visible="!user.scopes.includes('HR/R')" can-close="true" type="warning">
            Medewerkers/ketenpartners van Gemeente Amsterdam kunnen inloggen om vestigingen te bekijken.
            Zie <dp-link-to-page class-name="c-link--light" />.
        </dp-panel>

        <dp-api-call
            ng-if="user.scopes.includes('HR/R') && apiData.results.hoofdadres.landelijk_id"
            endpoint="handelsregister/vestiging/?nummeraanduiding={{ apiData.results.hoofdadres.landelijk_id }}"
            add-api-root="true"
            partial="lijst"
            user="user"
        />
    </div>
</div>
