<div>
    <div class="u-row">
        <dp-stelselpedia-header definition="STANDPLAATS" meta-data="apiData"></dp-stelselpedia-header>

        <dl class="c-key-value-list u-margin__bottom--4">
            <dt>Status</dt>
            <dd>{{ apiData.results.status.omschrijving }}</dd>
        </dl>
    </div>

    <!-- Vestiging -->
    <div>
        <dp-stelselpedia-header definition="VESTIGING" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="handelsregister/vestiging/?nummeraanduiding={{ apiData.results.hoofdadres.landelijk_id }}" add-api-root="true" partial="lijst"></dp-api-call>
    </div>
</div>
