<div>
    <div
        ng-if="apiData.results._display"
        class="c-detail__block qa-verblijfsobject"
    >
        <dp-glossary-header definition="VERBLIJFSOBJECT" meta-data="apiData" />
        <dp-panel is-panel-visible="true" can-close="true" type="attention" class-name="qa-disabled-message c-disabled-message">
            Enkele kenmerken vervallen of worden gewijzigd. Deze zijn hieronder rood gemarkeerd. <br />
            Lees verder op <a class="c-link" target="_blank" href="https://www.amsterdam.nl/stelselpedia/bag-index/catalogus-bag/objectklasse-0/" target="_blank" rel="noopener">stelselpedia</a>.
        </dp-panel>
        <dl class="c-key-value-list">
            <dt>Gebruiksdoel</dt>
            <dd ng-if="!apiData.results.gebruiksdoelen[0]"></dd>
            <dd class="c-key-value-list__multiple-values" ng-repeat="object in apiData.results.gebruiksdoelen">
                {{ object.omschrijving }}<span ng-if="object.omschrijving_plus">: {{ object.omschrijving_plus }}</span>
            </dd>
            <dt>Feitelijk gebruik</dt>
            <dd>{{ apiData.results.gebruik.omschrijving }}</dd>
            <dt>Status</dt>
            <dd>{{ apiData.results.status.omschrijving }}</dd>
            <dt>Indicatie geconstateerd</dt>
            <dd>{{ apiData.results.indicatie_geconstateerd | yesNo }}</dd>
            <dt>Aanduiding in onderzoek</dt>
            <dd>{{ apiData.results.aanduiding_in_onderzoek | yesNo }}</dd>
            <dt>Oppervlakte</dt>
            <dd ng-if="apiData.results.oppervlakte !== 1">{{ apiData.results.oppervlakte | number}} m<sup>2</sup></dd>
            <dd ng-if="apiData.results.oppervlakte === 1">onbekend</dd>
            <dt>Aantal kamers</dt>
            <dd>{{ apiData.results.aantal_kamers }}</dd>
            <dt>Aantal bouwlagen</dt>
            <dd>{{ apiData.results.bouwlagen }}</dd>
            <dt>Verdieping toegang</dt>
            <dd>{{ apiData.results.bouwlaag_toegang }}</dd>
            <dt>Reden opvoer</dt>
            <dd>{{ apiData.results.reden_opvoer.omschrijving }}</dd>
            <dt>Eigendomsverhouding</dt>
            <dd>{{ apiData.results.eigendomsverhouding.omschrijving }}</dd>
            <dt>Toegang</dt>
            <dd>{{ apiData.results.toegang.omschrijving }}</dd>
            <dt>Coördinaten</dt>
            <dd>{{ apiData.results.geometrie.coordinates | coordinates: 'RD' }}</dd>
            <dt><i class="c-key-value-list--attention"></i>Type woonobject</dt>
            <dd>{{ apiData.results.type_woonobject.omschrijving }}</dd>
            <dt><i class="c-key-value-list--attention"></i>Ligging</dt>
            <dd>{{ apiData.results.ligging.omschrijving }}</dd>
            <dt><i class="c-key-value-list--attention"></i>Aantal verhuurbare eenheden</dt>
            <dd>{{ apiData.results.verhuurbare_eenheden }}</dd>
            <dt><i class="c-key-value-list--attention"></i>Financieringswijze</dt>
            <dd>{{ apiData.results.financieringswijze.omschrijving }}</dd>
            <dt><i class="c-key-value-list--attention"></i>Indicatie woningvoorraad</dt>
            <dd>{{ apiData.results.woningvoorraad | yesNo }}</dd>
            <dt><i class="c-key-value-list--attention"></i>Status coördinaten</dt>
            <dd>{{ apiData.results.status_coordinaat.omschrijving }}</dd>
        </dl>
    </div>

    <!-- Adres -->
    <div ng-if="apiData.results.adressen.count > 1"
         class="c-detail__block">
        <dp-glossary-header definition="NUMMERAANDUIDING" use-plural="true" />

        <dp-api-call endpoint="{{apiData.results.adressen.href}}" partial="adressen_lijst" user="user" />
    </div>

    <!-- Pand -->
    <div ng-if="apiData.results.panden.count"
         class="c-detail__block">
        <dp-glossary-header definition="PAND" use-plural="true" />

        <dp-api-call endpoint="{{apiData.results.panden.href}}" partial="lijst" user="user" />
    </div>

    <!-- Vestiging -->
    <div ng-if="apiData.results.hoofdadres.landelijk_id"
         class="c-detail__block">
        <dp-glossary-header definition="VESTIGING" use-plural="true" />

        <dp-panel ng-if="!user.scopes.includes('HR/R')" is-panel-visible="true" can-close="true" type="warning">
            Medewerkers/ketenpartners van Gemeente Amsterdam kunnen inloggen om vestigingen te bekijken.
            Zie <dp-link-to-page class-name="c-link--light" />.
        </dp-panel>

        <dp-api-call
            ng-if="user.scopes.includes('HR/R') && apiData.results.verblijfsobjectidentificatie"
            endpoint="handelsregister/vestiging/?verblijfsobject={{ apiData.results.verblijfsobjectidentificatie }}"
            add-api-root="true"
            partial="lijst"
            user="user"
        />
    </div>

    <!-- Kadastraal apiData -->
    <div ng-if="apiData.results.kadastrale_objecten.count"
         class="c-detail__block c-detail__block--container qa-kadastraal-object-list">
        <dp-glossary-header definition="OBJECT" use-plural="true" />

        <dp-panel is-panel-visible="!user.scopes.includes('BRK/RO')" type="warning" can-close="true">
            Medewerkers/ketenpartners van Gemeente Amsterdam kunnen inloggen om meer gegevens te zien:
            zakelijke rechten en aantekeningen.
            Zie <dp-link-to-page class-name="c-link--light" />.
        </dp-panel>

        <dp-api-call
            endpoint="{{apiData.results.kadastrale_objecten.href}}"
            partial="bag/brk-vbo"
            use-brk-object-expanded="true"
            user="user">
        </dp-api-call>
    </div>

    <!-- monumenten -->
    <div ng-if="apiData.results.hoofdadres.landelijk_id">
        <dp-api-call
            endpoint="monumenten/situeringen/?betreft_nummeraanduiding={{apiData.results.hoofdadres.landelijk_id}}"
            add-api-root="true"
            partial="monumenten/situering"
            user="user"
        />
    </div>
</div>
