<div>
    <div class="u-row">
        <dp-stelselpedia-header definition="VERBLIJFSOBJECT" meta-data="apiData"></dp-stelselpedia-header>
        <dl class="c-key-value-list u-margin__bottom--4">
            <dt>Gebruiksdoel</dt>
            <dd>{{ apiData.results.gebruiksdoel.omschrijving }}</dd>
            <dt>Feitelijk gebruik</dt>
            <dd>{{ apiData.results.gebruik.omschrijving }}</dd>
            <dt>Oppervlakte</dt>
            <dd ng-if="apiData.results.oppervlakte !== 1">{{ apiData.results.oppervlakte }} m<sup>2</sup></dd>
            <dd ng-if="apiData.results.oppervlakte === 1">onbekend</dd>
            <dt>Aantal kamers</dt>
            <dd>{{ apiData.results.aantal_kamers }}</dd>
            <dt>Type woonobject</dt>
            <dd>{{ apiData.results.type_woonapiData.results.omschrijving }}</dd>
            <dt>Ligging</dt>
            <dd>{{ apiData.results.ligging.omschrijving }}</dd>
            <dt>Aantal bouwlagen</dt>
            <dd>{{ apiData.results.bouwlagen }}</dd>
            <dt>Verdieping toegang</dt>
            <dd>{{ apiData.results.bouwlaag_toegang }}</dd>
            <dt>Aantal verhuurbare eenheden</dt>
            <dd>{{ apiData.results.verhuurbare_eenheden }}</dd>
            <dt>Eigendomsverhouding</dt>
            <dd>{{ apiData.results.eigendomsverhouding.omschrijving }}</dd>
            <dt>Financieringswijze</dt>
            <dd>{{ apiData.results.financieringswijze.omschrijving }}</dd>
            <dt>Toegang</dt>
            <dd>{{ apiData.results.toegang.omschrijving }}</dd>
            <dt>Indicatie woningvoorraad</dt>
            <dd>{{ apiData.results.woningvoorraad | yesNo }}</dd>
            <dt>Reden opvoer</dt>
            <dd>{{ apiData.results.reden_opvoer.omschrijving }}</dd>
            <dt>Status</dt>
            <dd>{{ apiData.results.status.omschrijving }}</dd>
            <dt>Coördinaten</dt>
            <dd>{{ apiData.results.geometrie.coordinates[0] }}, {{ apiData.results.geometrie.coordinates[1] }}</dd>
            <dt>Status coördinaten</dt>
            <dd>{{ apiData.results.status_coordinaat.omschrijving }}</dd>
        </dl>
    </div>

    <!-- Adres -->
    <div ng-if="apiData.results.adressen.count > 1">
        <dp-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="{{apiData.results.adressen.href}}" partial="adressen_lijst"></dp-api-call>
    </div>

    <!-- Pand -->
    <div ng-if="apiData.results.panden.count">
        <dp-stelselpedia-header definition="PAND" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="{{apiData.results.panden.href}}" partial="lijst"></dp-api-call>
    </div>

    <!-- Vestiging -->
    <div>
        <dp-stelselpedia-header definition="VESTIGING" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call endpoint="handelsregister/vestiging/?nummeraanduiding={{ apiData.results.hoofdadres.landelijk_id }}" add-api-root="true" partial="lijst"></dp-api-call>
    </div>

    <!-- Kadastraal apiData -->
    <div ng-if="apiData.results.kadastrale_objecten.count">
        <dp-stelselpedia-header definition="OBJECT" use-plural="true"></dp-stelselpedia-header>

        <dp-api-call
            endpoint="{{apiData.results.kadastrale_objecten.href}}"
            partial="bag/brk-vbo"
            use-brk-object-expanded="true">
        </dp-api-call>
    </div>
</div>
