<div>
    <div
        ng-if="apiData.results._display"
        class="c-detail__block qa-verblijfsobject"
    >
        <dp-glossary-header definition="VERBLIJFSOBJECT" meta-data="apiData" />

        <dl class="c-key-value-list">
            <dt>Gebruiksdoel</dt>
            <dd ng-if="!apiData.results.gebruiksdoel"></dd>
            <dd class="c-key-value-list__multiple-values" ng-repeat="item in apiData.results.gebruiksdoel">
                {{ item }}
            </dd>

            <dt>Gebruiksdoel woonfunctie</dt>
            <dd>{{ apiData.results.gebruiksdoel_woonfunctie }}</dd>
            <dt>Gebruiksdoel gezondheidszorgfunctie</dt>
            <dd>{{ apiData.results.gebruiksdoel_gezondheidszorgfunctie }}</dd>
            <dt>Aan­tal een­he­den complex</dt>
            <dd>{{ apiData.results.aantal_eenheden_complex }}</dd>
            <dt>Soort object (feitelijk gebruik) volgens de WOZ</dt>
            <dd>{{ apiData.results.gebruik }}</dd>
            <dt>Status</dt>
            <dd>{{ apiData.results.status }}</dd>
            <dt>Indicatie geconstateerd</dt>
            <dd>{{ apiData.results.indicatie_geconstateerd | yesNo }}</dd>
            <dt>Aanduiding in onderzoek</dt>
            <dd>{{ apiData.results.aanduiding_in_onderzoek | yesNo }}</dd>
            <dt>Oppervlakte</dt>
            <dd ng-if="apiData.results.oppervlakte !== 1">{{ apiData.results.oppervlakte | number}} m<sup>2</sup></dd>
            <dd ng-if="apiData.results.oppervlakte === 1">onbekend</dd>
            <dt>Aantal kamers</dt>
            <dd>{{ apiData.results.aantal_kamers }}</dd>
            <dt>Verdieping toegang</dt>
            <dd>{{ apiData.results.verdieping_toegang }}</dd>
            <dt>Toegang</dt>
            <dd ng-if="!apiData.results.toegang.length > 0"> &nbsp; </dd>
            <dd class="c-key-value-list__multiple-values" ng-repeat="item in apiData.results.toegang">
                {{ item }}
            </dd>
            <dt>Aantal bouwlagen</dt>
            <dd>{{ apiData.results.bouwlagen }}</dd>
            <dt>Hoogste bouwlaag</dt>
            <dd>{{ apiData.results.hoogste_bouwlaag }}</dd>
            <dt>Laagste bouwlaag</dt>
            <dd>{{ apiData.results.laagste_bouwlaag }}</dd>
            <dt>Reden opvoer</dt>
            <dd>{{ apiData.results.reden_opvoer }}</dd>
            <dt>Eigendomsverhouding</dt>
            <dd>{{ apiData.results.eigendomsverhouding }}</dd>
            <dt>Coördinaten</dt>
            <dd>{{ apiData.results.geometrie.coordinates | coordinates: 'RD' }}</dd>
        </dl>
    </div>

    <!-- Adres -->
    <div ng-if="apiData.results.adressen.count > 1"
         class="c-detail__block">
        <dp-glossary-header definition="NUMMERAANDUIDING" use-plural="true" />

        <dp-api-call endpoint="{{apiData.results.adressen.href}}" partial="adressen_lijst" user="user" />
    </div>

    <!-- Pand -->
    <div ng-if="apiData.results.panden.count"
         class="c-detail__block">
        <dp-glossary-header definition="PAND" use-plural="true" />

        <dp-api-call endpoint="{{apiData.results.panden.href}}" partial="lijst" user="user" />
    </div>

    <!-- Vestiging -->
    <div ng-if="apiData.results.hoofdadres.landelijk_id"
         class="c-detail__block">
        <dp-glossary-header definition="VESTIGING" use-plural="true" />

        <dp-panel ng-if="!user.scopes.includes('HR/R')" is-panel-visible="true" can-close="true" type="warning">
            Medewerkers/ketenpartners van Gemeente Amsterdam kunnen inloggen om vestigingen te bekijken.
            <dp-login-link></dp-login-link>
        </dp-panel>

        <dp-api-call
            ng-if="user.scopes.includes('HR/R') && apiData.results.verblijfsobjectidentificatie"
            endpoint="handelsregister/vestiging/?verblijfsobject={{ apiData.results.verblijfsobjectidentificatie }}"
            add-api-root="true"
            partial="lijst"
            user="user"
        />
    </div>

    <!-- Kadastraal apiData -->
    <div ng-if="apiData.results.kadastrale_objecten.count"
         class="c-detail__block c-detail__block--container qa-kadastraal-object-list">
        <dp-glossary-header definition="OBJECT" use-plural="true" />

        <dp-panel is-panel-visible="!user.scopes.includes('BRK/RO')" type="warning" can-close="true">
            Medewerkers/ketenpartners van Gemeente Amsterdam kunnen inloggen om meer gegevens te zien:
            zakelijke rechten en aantekeningen.
            <dp-login-link></dp-login-link>
        </dp-panel>

        <dp-api-call
            endpoint="{{apiData.results.kadastrale_objecten.href}}"
            partial="bag/brk-vbo"
            use-brk-object-expanded="true"
            user="user">
        </dp-api-call>
    </div>

    <!-- monumenten -->
    <div ng-if="apiData.results.hoofdadres.landelijk_id">
        <dp-api-call
            endpoint="monumenten/situeringen/?betreft_nummeraanduiding={{apiData.results.hoofdadres.landelijk_id}}"
            add-api-root="true"
            partial="monumenten/situering"
            user="user"
        />
    </div>

    <div class="c-detail__block">
        <dp-glossary-header definition="BOUWDOSSIER" use-plural="true"></dp-glossary-header>
        <div ng-if="!user.scopes.includes('BD/R')"
             ng-include="'modules/detail/components/detail/templates/bouwdossiers/unauthorized.html'">
        </div>
        <div ng-if="user.scopes.includes('BD/R')">
            <dp-api-call endpoint="{{apiUrl}}stadsarchief/bouwdossier/?{{ subType }}={{id}}&page_size=25" partial="bouwdossiers" user="vm.user"></dp-api-call>
        </div>
    </div>
</div>
