@import "../../../shared/styles/config";

$block-item-height: 40px;

.homepage-block {
  padding: 8px 20px 20px 8px;

  &__item {
    margin: 5px;
    height: $block-item-height;
    display: flex;
    align-items: center;

    &:hover {
      svg {
        fill: $primary-contrast;
      }
    }
  }

  &__icon {
    display: inline-block;
    height: $block-item-height;
    width: $block-item-height;
    vertical-align: middle;

    svg {
      width: $block-item-height;
      height: $block-item-height;
    }
  }

  &__label {
    @include font-weight($normal-weight);
    display: inline-block;
    padding-left: 5px;
    max-width: calc(100% - #{$block-item-height});
    vertical-align: middle;
  }
}
