@import "../../../shared/styles/config";

$block-item-height: 40px;

.homepage-block {
  padding: 15px 20px 20px 8px;

  &:hover {
    cursor: auto;
  }

  &__link {
    height: $block-item-height;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;

    &:hover {
      .homepage-block__label {
        text-decoration: underline;
      }

      path {
        fill: $primary-contrast;
      }
    }
  }

  &__icon {
    display: inline-block;
    height: $block-item-height;
    vertical-align: middle;
    width: $block-item-height;

    svg {
      height: $block-item-height;
      width: $block-item-height;
    }
  }

  &__label {
    @include font-weight($normal-weight);
    display: inline-block;
    max-width: calc(100% - #{$block-item-height});
    padding-left: 5px;
    vertical-align: middle;
  }

  .c-homepage__block-button {
    text-align: left;
  }

  &__item {
    &--invisible {
      display: none;
    }
  }
}
