.c-tab-header__title {
  margin-bottom: 3 * $base-whitespace;
}

.c-tab-header__reset {
  padding: .2em 1em;
  float: right;
  border: 1px solid $secondary-gray40;
  font-size: .5em;
  text-decoration: none;
  opacity: .6;

  .c-tab-header__reset__icon {
    @extend %dp-close-info-icon;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    vertical-align: text-bottom;
  }
}