<div ng-if="vm.show()">
    <div class="qa-tab-header__title c-tab-header__title">
        <span ng-if="vm.totalCount()">Resultaten met ‘{{vm.searchText}}’</span>
        <span ng-if="vm.totalCount() === 0">Geen resultaten met ‘{{vm.searchText}}’</span>
    </div>

    <div ng-if="vm.totalCount()">
        <div class="o-tabs qa-tabs u-margin__bottom--1-5">
            <ul>
                <li ng-repeat="tab in vm.tabHeader.tabs" ng-class="{'is-active': tab.isActive}">
                    <dp-link ng-if="!tab.isActive"
                             type="{{tab.action}}"
                             payload="tab.payload"
                             class-name="o-tabs__tab o-tabs__tab--link">
                        {{tab.title}} <span ng-if="tab.count !== null">({{tab.count | number}})</span>
                    </dp-link>

                    <span ng-if="tab.isActive"
                          class="qa-tab-header__active o-tabs__tab o-tabs__tab--active">
                    {{tab.title}} <span ng-if="tab.count !== null">({{tab.count | number}})</span>
                </span>
                </li>
            </ul>
        </div>

        <div ng-if="vm.activeTab.count === 0">
            <div>Geen resultaten van deze soort</div>
            <div>tip: {{vm.activeTab.tip}}</div>
        </div>
    </div>

    <div ng-if="vm.totalCount() === 0">
        tip: maak de zoekcriteria minder specifiek
    </div>
</div>
