//Shared variables & mixins
@import "../shared/styles/config";

//Module specific variables
$site-header-height: 50px;
$site-header-height-tall: 108px;
$site-header-gutter: 42px;
$site-header-toolbar-height: 40px;
$site-header-search-form-height: 30px;

@import "components/site-header/site-header";
@import "components/site-header/site-header-print";
@import "components/print-header/print-header";
@import "components/logo/logo";
@import "components/menu/menu";
@import "components/search/search";
