//Shared variables & mixins
@import "../shared/styles/config";

//Module specific variables
$site-header-height: 50px;
$site-header-height-homepage: 108px;
$toolbar-height: 40px;
$search-form-height: 30px;

@import "components/header/header";
@import "components/menu-dropdown/menu-dropdown";
@import "components/search/search";
