//Module specific variables
$site-header-height: 50px;
$site-header-height-tall: 108px;
$site-header-tall-bottom-gutter: 5px;
$site-header-gutter: 42px;
$site-header-toolbar-height: 50px;
$site-header-search-form-height: 30px;

@import 'components/site-header/site-header';
@import 'components/logo/logo';
@import 'components/menu/menu';

.is-print-mode,
.is-embed-preview,
.is-embed {
  @import 'components/site-header/site-header-print';
}
