.dcatd-button {
  height: auto;
  margin-left: 8px;
  padding: 5px 8px;
  float: right;
  border: 1px solid $secondary-gray20;
  color: $secondary-gray60;

  &::before {
    width: 12px;
    height: 12px;
  }

  &:hover {
    border-color: $primary-contrast;
    background-color: $primary-contrast;
    color: $primary-light;
    text-decoration: none;
  }

  &--wijzigen {
    @include icon-button-text-right("edit", "", "white");
  }

  &--toevoegen {
    @include icon-button-text-right("add", "", "white");
  }
}
