.dcatd-button {
  @extend %tab-header-button;

  &--wijzigen {
    @include icon-button-text-right("edit", "", "white");
  }

  &--toevoegen {
    @include icon-button-text-right("add", "", "white");
  }

  &::before {
    width: $base-whitespace + 2px;
    height: $base-whitespace + 2px;
    margin-right: 0;
  }
}
