%description-list {
  margin-right: -2 * $base-whitespace;
  margin-bottom: 4 * $base-whitespace;
  margin-left: -2 * $base-whitespace;
  border-bottom: 1px solid $secondary-gray20;
  line-height: 2;

  /**
   * The dd needs more than 50% in width, so the dt has to be less (see below).
   */
  dt {
    width: 49%;
    padding-right: $base-whitespace;
    padding-left: 2 * $base-whitespace;
    float: left;
    clear: both;
    border-top: 1px solid $secondary-gray20;
    color: $secondary-gray60;
    word-wrap: break-word;

    &:first-of-type {
      border-top: 1px solid transparent;
    }
  }

  /**
   * The width needs to be more than 50%, otherwise two conecutive dd's can be
   * positioned next to each other, instead of below each other to the right.
   */
  dd {
    width: 51%;
    margin: 0;
    padding-right: 2 * $base-whitespace;
    padding-left: 1%; // Compensate for the extra % in width
    float: right;
    border-top: 1px solid $secondary-gray20;

    &:first-of-type {
      border-top: 1px solid transparent;
    }

    &:last-of-type {
      min-height: 30px; //anders klapt de hoogte in (lineheight x font-size + border)
    }
  }

  &::after {
    @extend %clearfix;
  }
}
