%description-list-key {
  width: 50%;
  padding-right: $base-whitespace;
  padding-left: $detail-padding;
  float: left;
  clear: both;
  border-top: 1px solid $secondary-gray20;
  color: $secondary-gray60;
  font-weight: $medium-weight;
  word-wrap: break-word;

  &:first-of-type {
    border-top: 1px solid transparent;
  }
}

%description-list-value {
  width: 50%;
  margin: 0;
  padding-right: $detail-padding;
  float: right;
  /*
   * Make sure multiple dd's after one dt are all aligned to the right,
   * below each other, and not floating next to each other
   */
  clear: right;
  border-top: 1px solid $secondary-gray20;

  &:first-of-type {
    border-top: 1px solid transparent;
  }

  &:last-of-type {
    min-height: 30px; //anders klapt de hoogte in (lineheight x font-size + border)
  }

  &::first-letter {
    // Capitalize when the data doesn't do this already
    text-transform: capitalize;
  }
}

%description-list {
  margin-right: -$detail-padding;
  margin-left: -$detail-padding;
  line-height: 2;

  &::after {
    @extend %clearfix;
  }

  dt {
    @extend %description-list-key;
  }

  dd {
    @extend %description-list-value;
  }
}
