%description-list {
  margin-right: -2 * $base-whitespace;
  margin-bottom: 4 * $base-whitespace;
  margin-left: -2 * $base-whitespace;
  border-bottom: 1px solid $secondary-gray20;
  line-height: 2;

  dt {
    width: 50%;
    padding-right: $base-whitespace;
    padding-left: 2 * $base-whitespace;
    float: left;
    clear: both;
    border-top: 1px solid $secondary-gray20;
    color: $secondary-gray60;
    word-wrap: break-word;

    &:first-of-type {
      border-top: 1px solid transparent;
    }
  }

  dd {
    width: 50%;
    margin: 0;
    padding-right: 2 * $base-whitespace;
    float: right;
    /*
     * Make sure multiple dd's after one dt are all aligned to the right,
     * below each other, and not floating next to each other
     */
    clear: right;
    border-top: 1px solid $secondary-gray20;

    &:first-of-type {
      border-top: 1px solid transparent;
    }

    &:last-of-type {
      min-height: 30px; //anders klapt de hoogte in (lineheight x font-size + border)
    }
  }

  &::after {
    @extend %clearfix;
  }
}
