.c-stelselpedia__button {
  @include icon("stelselpedia");
}

.c-metadata__button {
  @include icon("metadata");
}

// Negate negative margins for glossary meta inside a panel
._c-glossary-meta--in-panel {
  margin-right: -$base-whitespace * .6;
  margin-bottom: $base-whitespace * -4;
  padding: $base-whitespace 0 $base-whitespace $base-whitespace;
}
