$contact-height: 60px;

.c-site-header {
  position: relative;
  background-color: $primary-light;
}

.c-site-header__contact {
  @extend %link--arrow;
  @include font-size($xs-font);
  height: $contact-height;
  float: right;
  color: $primary-dark;
  font-weight: normal;
  line-height: $contact-height;
  opacity: .6;

  &::before {
    position: static;
    vertical-align: text-bottom;
  }
}

.c-site-header__toolbar {
  height: $site-header-toolbar-height;
  background-color: $secondary-gray4;
}

.c-site-header__search {
  height: $site-header-search-form-height;
}

.c-site-header__menu {
  position: absolute;
  top: 0;
}

.c-site-header--tall {
  height: $site-header-height-tall + $site-header-toolbar-height;
  margin-right: $site-header-gutter;
  margin-left: $site-header-gutter;

  .c-site-header__logo {
    height: $site-header-height-tall;
  }

  .c-site-header__search {
    margin-top: ($site-header-toolbar-height - $site-header-search-form-height) / 2;
    margin-bottom: ($site-header-toolbar-height - $site-header-search-form-height) / 2;
  }

  .c-site-header__menu {
    right: -$base-whitespace;
    height: $site-header-toolbar-height;
  }
}

.c-site-header--short {
  height: $site-header-height;

  .c-site-header__logo {
    height: $site-header-height;
  }

  .c-site-header__search {
    margin: ($site-header-height - $site-header-search-form-height) / 2
      $base-whitespace * 2;
  }

  .c-site-header__menu {
    right: 0;
    height: $site-header-height;
  }
}

._extra-space-for-the-menu {
  left: $base-whitespace * -2;
}
