<header class="c-site-header u-hide-on-print qa-site-header"
        ng-class="'c-site-header--' + vm.size">
    <div class="u-grid">
        <div class="u-row">
            <div class="qa-site-header__logo-col" ng-class="{
                     'u-col-sm--6': vm.isTall,
                     'u-col-sm--3': vm.isShort
                 }">
                <div class="c-site-header__logo qa-site-header__logo">
                    <dp-logo size="vm.size"></dp-logo>
                </div>
            </div>
            <div ng-if="vm.isTall" class="u-col-sm--6 qa-site-header__contact">
                <a href="https://amsterdam.nl/contact" class="c-site-header__contact">Contact</a>
            </div>
            <div ng-if="vm.isShort" class="u-col-sm--6">
                <div class="c-site-header__search qa-site-header__search">
                    <dp-search query="{{vm.query}}" action-type="vm.actionType"></dp-search>
                </div>
            </div>
            <div ng-if="vm.isShort" class="u-col-sm--3 u-padding__right--2 qa-site-header__menu-col">
                <div class="c-site-header__menu qa-site-header__menu">
                    <dp-menu size="vm.menuSize" has-print-button="vm.hasPrintButton"></dp-menu>
                </div>
            </div>
        </div>
        <div ng-if="vm.isTall" class="u-row">
            <div class="c-site-header__toolbar qa-site-header__toolbar">
                <div class="u-col-sm--6">
                    <div class="c-site-header__search qa-site-header__search">
                        <dp-search query="{{vm.query}}" action-type="vm.actionType"></dp-search>
                    </div>
                </div>
                <div class="u-col-sm--6 u-padding__right--2 qa-site-header__menu-col">
                    <div class="c-site-header__menu qa-site-header__menu">
                        <dp-menu size="vm.menuSize" has-print-button="vm.hasPrintButton"></dp-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
