<header class="c-site-header u-hide-on-print qa-site-header" ng-class="'c-site-header--' + vm.size">
    <div class="u-grid">
        <div class="u-row">
            <div ng-class="{'u-col-sm--6': vm.isTall, 'u-col-sm--8': vm.isShort}">
                <div style="display: flex">
                  <div class="c-site-header__logo qa-site-header__logo">
                    <dp-logo size="vm.size"></dp-logo>
                  </div>

                    <div ng-if="vm.isShort" class="c-site-header__search-short c-site-header__search qa-site-header__search react-auto-suggest-container">
                        <!-- search bar is loaded here -->
                    </div>
                </div>
            </div>

            <div ng-if="vm.isTall" class="u-col-sm--6 qa-site-header__contact">
                <a href="mailto:datapunt@amsterdam.nl" class="c-site-header__contact">Contact</a>
            </div>

            <div class="u-clearfix" ng-if="vm.isTall"></div>

            <div ng-class="{'u-col-sm--12 c-site-header__toolbar qa-site-header__toolbar': vm.isTall}">
                <div ng-if="vm.isTall" class="c-site-header__search-tall u-col-sm--6">
                    <div class="c-site-header__search qa-site-header__search react-auto-suggest-container">
                        <!-- search bar is loaded here -->
                    </div>
                </div>
                <div class="u-col-sm--4 qa-site-header__menu-col" ng-class="{'u-col-sm--6': vm.isTall}">
                    <div class="c-site-header__menu qa-site-header__menu" ng-class="{'_extra-space-for-the-menu': vm.isShort}">
                        <dp-menu
                            user="vm.user"
                            size="vm.menuSize"
                            has-print-button="vm.hasPrintButton"
                            has-embed-button="vm.hasEmbedButton"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
