@import '../../../shared/styles/config';

.map-panel {
  background-color: $primary-light;
  border: solid 1px $secondary-gray20;
  bottom: $container-whitespace;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  display: flex;
  flex-direction: column;
  font-weight: $normal-weight;
  left: $container-whitespace;
  max-height: calc(100% - #{$dashboard-heading-height} - #{$map-panel-offset});
  max-width: 380px;
  overflow: hidden;
  pointer-events: all;
  position: relative;
  width: calc(100% - 15px);
  z-index: 100;

  &--collapsed {
    border: none;
    height: auto;
    min-width: $map-panel-button-width;
    top: auto;
    width: $map-panel-button-width;

    .scroll-wrapper {
      display: none;
    }
  }

  &__heading {
    align-items: center;
    background-color: $primary-light;
    border-bottom: 1px solid $secondary-gray40;

    .map-panel--collapsed & {
      border-bottom: none;

      &:focus,
      &:hover {
        cursor: pointer;
      }
    }

    &-icon {
      @include icon-sprite('icon-map-layers', $secondary-gray60, $primary-dark, $handle-height);
      height: $handle-height;
      width: $handle-height;
    }
  }

  &__heading-title {
    color: $secondary-gray60;
    flex-grow: 1;
    font-size: $s-font-size;
    font-weight: $bold-weight;
    margin-left: 4px;
    text-align: left;

    .map-panel--collapsed & {
      display: none;
    }
  }

  &__toggle {
    @extend %hover-focus-button;
    align-items: center;
    background-color: $primary-light;
    border-radius: 0;
    display: flex;
    height: 100%;
    outline: none;
    padding: 4px;
    width: 100%;

    .map-panel--collapsed & {
      border: solid 1px $secondary-gray20;
    }

    &--icon {
      height: $handle-height;
      margin-left: 8px;
      width: $handle-height;

      svg {
        fill: $secondary-gray60;
        height: $handle-height;
        padding: 4px;
        width: $handle-height;
      }

      &-collapse {
        transform: rotate(180deg);
      }
    }

    &:hover,
    &:focus {
      .map-panel__heading-title {
        color: $primary-dark;
      }

      .map-panel__heading-icon {
        @include icon-sprite('icon-map-layers', $primary-dark, $primary-dark, $handle-height);
      }

      svg {
        fill: $primary-dark;
      }
    }
  }

  .scroll-wrapper {
    max-height: calc(
      100% - #{$dashboard-heading-height} - #{$map-panel-offset} - #{$map-panel-heading-height}
    );
    overflow-x: hidden;
    overflow-y: auto; // NB: Workaround to force smooth scrolling on Chrome
    will-change: transform;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      //sass-lint:disable-line no-vendor-prefixes
      // NB: IE doesn't take the height of the parent into account (because 100vh we need to take the site-nav into account 50px)
      max-height: calc(
        100vh - #{$dashboard-heading-height} - #{$map-panel-offset} - #{$map-panel-heading-height} -
          50px
      );
    }
  }

  .is-print-mode & {
    height: auto;
    max-height: none;
    position: absolute; // Make sure the width is fixed
    width: $map-panel-max-width;

    &--collapsed,
    &--has-no-active-layers,
    &--has-just-invisible-layers,
    &__heading,
    &__toggle {
      display: none;
    }

    .scroll-wrapper {
      height: auto;
    }

    // This hack makes sure IE also has a white background when printing
    // https://stackoverflow.com/a/27822161
    @media print {
      &::before {
        border-right: $map-panel-max-width solid $primary-light;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        z-index: -1;
      }
    }
  }

  .is-embed &,
  .is-embed-preview & {
    // adjustment for embed no map-panel-offset needed but need extra margin of 14
    max-height: calc(100% - #{$dashboard-heading-height} - 14px);

    &--has-no-active-layers,
    &--has-just-invisible-layers {
      display: none;
    }
  }
}

.leaflet-control-container {
  .leaflet-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .leaflet-control-zoom {
    border: none;
    box-shadow: none;
    margin-bottom: $container-whitespace;
    margin-right: $container-whitespace;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    @extend %hover-focus-button;
    background-color: $primary-light;
    border: 1px solid $secondary-gray20;
    border-bottom: 1px solid !important;
    border-radius: 0 !important;
    box-shadow: 2px 2px 0 0 $secondary-gray40;
    box-sizing: content-box;
    color: $secondary-gray60;
    height: 24px !important;
    line-height: 22px !important;
    outline: none;
    padding: 4px;
    width: 24px !important;
  }

  .leaflet-control-zoom-in {
    margin-bottom: 2px;
  }

  .leaflet-control-scale {
    margin: 0 $container-whitespace $container-whitespace 0 !important;
  }
}

@media (min-width: $breakpoint-lg) {
  .map-panel {
    width: $map-panel-max-width;

    &--collapsed {
      min-width: $map-panel-button-width;
      width: $map-panel-button-width;
    }
  }
}
