.map-panel {
  background-color: $primary-light;
  border: solid 1px $secondary-gray20;
  bottom: 8px;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  display: flex;
  flex-direction: column;
  font-family: "Avenir LT W01 55 Roman";
  left: 8px;
  max-width: 444px;
  min-width: 285px;
  overflow: hidden;
  position: fixed;
  width: 28%;
  z-index: 100;

  &--collapsed {
    height: auto;
    min-width: auto;
    width: auto;

    &:hover {
      border-color: $primary-contrast;
    }

    .scroll-wrapper {
      display: none;
    }
  }

  &__heading {
    align-items: center;
    background-color: $primary-light;
    border-bottom: 1px solid $secondary-gray40;

    .map-panel--collapsed & {
      border-bottom: none;

      &:focus,
      &:hover {
        background-color: $primary-contrast;
        cursor: pointer;

        .map-panel__heading-icon, // sass-lint:disable-line nesting-depth
        .map-panel__toggle-icon {
          fill: $primary-light;
        }
      }
    }
  }

  &__heading-icon {
    fill: $secondary-gray60;
    height: 24px;
    width: 24px;

    .map-panel--collapsed & {
      fill: $secondary-gray60;
    }
  }

  &__heading-title {
    flex-grow: 1;
    font-family: "Avenir LT W01 85 Heavy";
    font-size: 16px;
    font-weight: normal;
    margin-left: 4px;
    text-align: left;

    .map-panel--collapsed & {
      display: none;
    }
  }

  &__toggle {
    align-items: center;
    border-radius: 0;
    display: flex;
    height: 100%;
    outline: none;
    padding: 4px;
    width: 100%;

    &:focus {
      background-color: $secondary-gray10;
      color: $primary-dark;

      .map-panel__heading-icon,
      .map-panel__toggle-icon {
        fill: $primary-dark;
      }
    }

    &:hover {
      background-color: $primary-contrast;
      color: $primary-light;

      .map-panel__heading-icon,
      .map-panel__toggle-icon {
        fill: $primary-light;
      }
    }

  }

  &__toggle-icon {
    fill: $secondary-gray60;
    height: 24px;
    width: 24px;

    .map-panel--collapsed & {
      fill: $secondary-gray60;
    }

    .map-panel--collapsed &--expanded {
      display: none;
    }

    .map-panel--expanded &--collapsed {
      display: none;
    }
  }

  .scroll-wrapper {
    max-height: calc(100vh - #{$dashboard-heading-height} - 130px);
    overflow-x: hidden;
    overflow-y: auto;
    // NB: Workaround to force smooth scrolling on Chrome
    will-change: transform;
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    height: auto;
    max-height: none;
    position: absolute;
  }

  .is-print-mode & {
    &--collapsed,
    &--has-no-active-layers,
    &--has-just-invisible-layers,
    &__heading,
    &__toggle {
      display: none;
    }

    .scroll-wrapper {
      height: auto;
    }
  }

  .is-embed &,
  .is-embed-preview & {
    &--has-no-active-layers,
    &--has-just-invisible-layers {
      display: none;
    }
  }
}

.leaflet-control-container {

  .leaflet-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .leaflet-control-zoom {
    border: none;
    box-shadow: none;
    margin-right: 8px;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    background-color: $primary-light;
    border: 1px solid $secondary-gray20;
    border-radius: 0 !important;
    box-shadow: 2px 2px 0 0 $secondary-gray40;
    box-sizing: content-box;
    color: $secondary-gray60;
    height: 24px !important;
    line-height: 22px !important;
    outline: none;
    padding: 4px;
    width: 24px !important;

    &:focus {
      background-color: $secondary-gray10;
      color: $primary-dark;
    }

    &:hover {
      background-color: $primary-contrast;
      border-color: $primary-contrast;
      color: $primary-light;
    }

  }

  .leaflet-control-zoom-in {
    margin-bottom: 2px;
  }

  .leaflet-control-scale {
    margin: 0 8px 8px 0 !important;
  }
}

%__toggle { // sass-lint:disable-line placeholder-name-format
  align-items: center;
  align-self: center;
  background-color: $primary-light;
  border: 1px solid $secondary-gray20;
  border-radius: 50%;
  content: "X";
  display: flex;
  flex-shrink: 0;
  font-size: 0;
  height: 26px;
  justify-content: center;
  width: 26px;

  svg {
    height: 24px;
    width: 24px;
  }
}
