@import "../../styles/config";

$handle-height: 24px;

.select-button {
  background-color: $primary-light;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;

  &__wrapper {
    @extend %hover-focus-button;
    align-items: center;
    border: 1px solid $secondary-gray52;
    border-radius: 0;
    border-right: none;
    display: flex;
    height: 36px;
    justify-content: space-between;
    outline: none;
    overflow: hidden;
    width: calc(100% - 32px);

    &:hover,
    &:focus {
      border-right: none;

      // sass-lint:disable nesting-depth
      .select-button__label {
        color: $primary-dark;
      }
    }
  }

  &__icon-wrapper {
    @extend %hover-focus-button;
    border: 1px solid $secondary-gray52;
    border-radius: 0;
    bottom: 0;
    height: 36px;
    outline: none;
    padding: 6px 3px;
    position: absolute;
    right: 0;
    width: 32px;

    &:hover,
    &:focus {
      .select-button__icon-collapse { // sass-lint:disable nesting-depth
        @include icon-sprite("icon-arrow-up", $primary-dark, $primary-dark, $handle-height - 2px);
      }

      .select-button__icon-expand { // sass-lint:disable nesting-depth
        @include icon-sprite("icon-arrow-down", $primary-dark, $primary-dark, $handle-height - 2px);
      }
    }
  }

  &__icon {
    display: block;
    height: $handle-height - 2px;
    width: $handle-height - 2px;

    &-collapse {
      @include icon-sprite("icon-arrow-up", $secondary-gray60, $primary-dark, $handle-height - 2px);
    }

    &-expand {
      @include icon-sprite("icon-arrow-down", $secondary-gray60, $primary-dark, $handle-height - 2px);
    }
  }

  &--enabled {
    .select-button__icon-expand {
      @include icon-sprite("icon-arrow-down", $primary-dark, $primary-dark, $handle-height - 2px);
    }
  }

  &--expanded {
    .select-button__drop-down {
      display: block;
    }

    .select-button__icon-wrapper {
      background-color: $secondary-gray20;
      border-color: $primary-dark;
      color: $primary-dark;
    }
  }

  &--disabled {
    .select-button__wrapper,
    .select-button__icon-wrapper {
      @extend %hover-focus-button;
      border-color: $secondary-gray32;
      color: $secondary-gray60;
    }

    &.select-button--expanded {
      .select-button__icon-wrapper {
        border-color: $primary-dark;
      }
    }
  }

  &__custom-icon {
    height: 20px;
    margin: 0 7px;
    width: 20px;
  }

  &__drop-down {
    background-color: $primary-light;
    border: 1px solid $primary-dark;
    border-top: none;
    box-sizing: border-box;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 700;
  }

  &__drop-down-item {
    width: inherit;

    &--selected {
      background-color: $secondary-gray10;
    }
  }

  &__label,
  &__drop-down-button {
    font-size: $s-font-size;
    font-weight: $bold-weight;
    padding-right: 10px;
    text-align: left;
    width: inherit;
  }

  &__label {
    white-space: nowrap;
  }

  &__drop-down-button {
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: $s-font-size;
    font-weight: $normal-weight;
    margin: 0;
    outline: none;
    padding: 7px 10px 7px 40px;

    &:hover,
    &:focus {
      background-color: $secondary-gray4;
    }
  }
}
