.c-user-content-widget__news-entry {
  padding-right: 1 * $base-whitespace;
  padding-left: 3 * $base-whitespace;
}

.c-user-content-widget__news-title {
  @include font-size($s-font);
  white-space: nowrap;
  overflow: hidden;
}

.c-user-content-widget__news-content {
  padding: 1.2 * $base-whitespace 0;
  line-height: $l-line-height;
}

.c-user-content-widget__news-date {
  color: $secondary-gray60;
}

.c-user-content-widget__beleid-zie-ook {
  @include font-size($l-font);
  margin-bottom: (2 * $base-whitespace);
  font-weight: $bold-weight;
}

.c-user-content-widget__beleid-lees-meer {
  margin-bottom: 2 * $base-whitespace;
  color: $secondary-gray60;
}

.c-user-content-widget__entry {
  max-height: 4 * $base-whitespace;
  margin-bottom: 1.2 * $base-whitespace;
  overflow: hidden;
}

.c-user-content-widget__short {
  display: inline;
  font-weight: $bold-weight;
}
