.c-user-content-widget__beleid-zie-ook {
  @include font-weight($bold-weight);
  margin-bottom: $base-whitespace;
}

.c-user-content-widget__beleid-lees-meer {
  margin-bottom: 2 * $base-whitespace;
  color: $secondary-gray60;
}

.c-user-content-widget__entry {
  max-height: 4 * $base-whitespace;
  margin-bottom: 1.2 * $base-whitespace;
  overflow: hidden;
}

.c-user-content-widget__short {
  @include font-weight($normal-weight);
  display: inline;
}

.c-user-content-widget__events-link {
  margin-left: 0;

  &::before {
    display: none;
  }
}
