.c-user-content-widget {
  .c-user-content-widget__beleid-zie-ook {
    margin-bottom: $base-whitespace;
    font-weight: bold;
  }

  .c-user-content-widget__beleid-lees-meer {
    margin-bottom: $base-whitespace;
    color: $secondary-gray60;
  }

  .c-user-content-widget__entry {
    margin-bottom: $base-whitespace;

    &:hover {
      color: $primary-contrast;
    }
  }

  .c-user-content-widget__events-short {
    margin-left: .5 * $base-whitespace;
  }

  .c-user-content-widget__events-link {
    margin-left: 0;

    &::before {
      display: none;
    }
  }
}
