<div class="detail-page__content--main">
    <div class="c-detail__block">
        <dp-glossary-header heading="{{vm.apiData.results.meetboutidentificatie}}" definition="MEETBOUT">
        </dp-glossary-header>

        <dl class="c-key-value-list">
            <dt>Status</dt>
            <dd>{{ vm.apiData.results.status }}</dd>
            <dt>Adres</dt>
            <dd>{{ vm.apiData.results.adres }}</dd>
            <dt>Locatie</dt>
            <dd>{{ vm.apiData.results.locatie }}</dd>
            <dt>Coördinaten</dt>
            <dd>{{ vm.apiData.results.geometrie.coordinates | coordinates: 'RD' }}</dd>
            <dt>Bouwblok</dt>
            <dd>
                <dp-redux-link
                    to="vm.apiData.results.bouwblok_link | detailEndpointAction"
                    link-class="o-btn o-btn--link"
                >{{ vm.apiData.results.bouwblok }}</dp-redux-link>
            </dd>
            <dt>Bouwblokzijde</dt>
            <dd>{{ vm.apiData.results.bouwblokzijde }}</dd>
            <dt>Bouwblokeenheid</dt>
            <dd>{{ vm.apiData.results.blokeenheid }}</dd>
            <dt>Stadsdeel</dt>
            <dd>
                <dp-redux-link
                    to="vm.apiData.results.stadsdeel_link | detailEndpointAction"
                    link-class="o-btn o-btn--link"
                >{{ vm.apiData.results.stadsdeel }}</dp-redux-link>
            </dd>
            <dt>Indicatie beveiligd</dt>
            <dd>{{ vm.apiData.results.beveiligd | yesNo }}</dd>
        </dl>
    </div>

    <div class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-straatbeeld-thumbnail panorama="vm.previewPanorama" is-loading="vm.isPreviewPanoramaLoading"></dp-straatbeeld-thumbnail>
        </div>
    </div>

    <div class="c-detail__block">
        <dp-glossary-header definition="METING" use-plural="true"></dp-glossary-header>

        <p ng-if="!vm.apiData.results.metingen.href"><dp-message>Geen metingen beschikbaar</dp-message></p>

        <dp-api-call ng-if="vm.apiData.results.metingen.href"
            endpoint="{{vm.apiData.results.metingen.href}}"
            partial="meetbouten/metingen-tabel"
            user="vm.user">
        </dp-api-call>

        <h3 ng-if="vm.apiData.results.metingen.count > 1">Zakking cumulatief (mm)</h3>

        <dp-meetbout-graph
            page-size="vm.apiData.results.metingen.count"
            href="{{vm.apiData.results.metingen.href}}">
        </dp-meetbout-graph>
    </div>

    <div class="c-detail__block">
        <dp-glossary-header definition="ROLLAAG" use-plural="true"></dp-glossary-header>

        <p ng-if="!vm.apiData.results.rollaag" class="c-detail__block"><dp-message>Geen rollaagtekening beschikbaar</dp-message></p>

        <dp-api-call ng-if="vm.apiData.results.rollaag"
            endpoint="{{vm.apiData.results.rollaag}}"
            partial="meetbouten/rollaag"
            user="vm.user">
        </dp-api-call>
    </div>
</div>
