//Shared variables & mixins
@import "../shared/styles/config";

.data-selection__header {
  padding-bottom: $base-whitespace;
}

.data-selection__grid {
  margin-top: $base-whitespace * 2;
  p {
    margin-top: $base-whitespace;
  }
}

.data-selection__table {
  display: block;
  overflow-x: auto;
  thead tr {
    background-color: $secondary-gray40;
    color: $primary-light;
  }
  td, th {
    padding: {
      top: $base-whitespace;
      bottom: $base-whitespace;
      left: $base-whitespace;
    }
    white-space: nowrap;
    &:last-child {
      padding-right: $base-whitespace;
    }
  }
}

.data-selection__buttongroup {
}

@mixin data-selection-button ($url, $urlHover: $url) {
  margin-left: $base-whitespace;
  margin-right: $base-whitespace;
  font-weight: 700;
  line-height: $button-size;
  text-decoration: none;
  color: inherit;

  &::after {
    display: inline-block;
    width: $button-size;
    height: $button-size;
    margin-left: $base-whitespace / 2;
    background-image: url($url);
    content: "";
    vertical-align: middle;
  }

  &:hover {
    color: $primary-contrast;

    &::after {
      background-image: url($urlHover);
    }
  }
}

.data-selection__empty__value {
  font-style: italic;
  &::before {
    display: inline-block;
    content: "(geen)";
  }
}

.data-selection__kaartweergave__button {
  @include data-selection-button("assets/icons/link-active.svg", "assets/icons/link-hover.svg")
}

.data-selection__download__button {
  @include data-selection-button("assets/icons/link-active.svg", "assets/icons/link-hover.svg")
}

.data-selection__filters {
  margin-right: $base-whitespace * 2;
  h4 {
    margin-top: $base-whitespace;
    color: $primary-contrast;
  }
  ul li {
    overflow: hidden;
  }
}

.data-selection__align__right {
  //!important to overide default o-table th
  text-align: right !important;
}

.data-selection__active__filters {
  ul li {
    padding-left:$base-whitespace;
    padding-top:$base-whitespace / 2;
    padding-bottom:$base-whitespace / 2;
    margin-bottom: $base-whitespace;
    background-color: $secondary-gray60;
    color: $primary-light;
    button {
      margin-right: $base-whitespace;
      color: $primary-light;
      font-weight: bolder;
    }
  }
}

.data-selection__available__filters {
  padding-right: $base-whitespace;
  padding-left:$base-whitespace;
  background-color: $secondary-gray4;
  hr {
    width:100%;
    height:1px;
    margin-top: $base-whitespace / 2 ;
    margin-bottom:$base-whitespace / 2;
    background: $secondary-gray40;
  }
  h4, ul li {
    margin-bottom: $base-whitespace;
  }
}

.data-selection__toon__meer__minder {
  margin-top: $base-whitespace;
  margin-bottom:$base-whitespace;
}

.data-selection__hidden__options {
  color: $secondary-gray40;
  margin-bottom: $base-whitespace / 2;
}

