@import "../shared/styles/config";

@import "components/available-filters/available-filters";
@import "components/sbi-filter/sbi-filter";
@import "components/data-selection/data-selection";
@import "components/formatter/templates/bezoekadres";
@import "components/formatter/templates/handelsnaam";
@import "components/formatter/templates/sbi-omschrijving";
@import "components/formatter/templates/file-type";
@import "components/formatter/templates/tags";
@import "components/header/header";
@import "components/pagination/pagination";
@import "components/views/table/table";
@import "components/views/catalog/catalog";
