@mixin icon-button($name, $state: "", $hover-state: "") {
  @include icon-sprite($name, $state, $hover-state);

  height: $button-size;
  width: $button-size;

  &:hover,
  &:focus {
    outline: none;
  }
}

%icon-button-text {
  @extend %link;
  @include font-size($s-font);
  color: inherit;
  font-weight: $bold-weight;
  height: $button-size;
  margin-left: 0;
}

%icon-button-text-extra {
  content: "";
  display: inline-block;
  height: $button-size;
  vertical-align: middle;
  width: $button-size + 1px;
}

@mixin icon-button-text-left($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text;

  &::after {
    @extend %icon-button-text-extra;
    @include sprite(#{$icon + if(str-length($state) > 0, "-", "") + $state});

    margin-left: $base-whitespace;
  }

  &:hover,
  &:focus {
    &::after {
      @include sprite(#{$icon + if(str-length($hover-state) > 0, "-", "") + $hover-state});
    }
  }
}

@mixin icon-button-text-right($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text;

  &::before {
    @extend %icon-button-text-extra;
    @include sprite(#{$icon + if(str-length($state) > 0, "-", "") + $state});

    margin-right: $base-whitespace;
  }

  &:hover,
  &:focus {
    &::before {
      @include sprite(#{$icon + if(str-length($hover-state) > 0, "-", "") + $hover-state});
    }
  }
}
