%svg-common-thema {
  background: url('assets/images/icons-thema-54b05521.svg') no-repeat;
  background-size: auto 100%;
}

%dp-thema-bestuur-en-organisatie-icon {
  @extend %svg-common-thema;
  background-position: 0 0;
}

%dp-thema-bevolking-icon {
  @extend %svg-common-thema;
  background-position: 5.882352941176471% 0;
}

%dp-thema-dienstverlening-icon {
  @extend %svg-common-thema;
  background-position: 11.764705882352942% 0;
}

%dp-thema-economie-haven-icon {
  @extend %svg-common-thema;
  background-position: 17.647058823529413% 0;
}

%dp-thema-educatie-jeugd-diversiteit-icon {
  @extend %svg-common-thema;
  background-position: 23.529411764705884% 0;
}

%dp-thema-energie-icon {
  @extend %svg-common-thema;
  background-position: 29.41176470588235% 0;
}

%dp-thema-geografie-icon {
  @extend %svg-common-thema;
  background-position: 35.294117647058826% 0;
}

%dp-thema-milieu-water-icon {
  @extend %svg-common-thema;
  background-position: 41.1764705882353% 0;
}

%dp-thema-openbare-orde-veiligheid-icon {
  @extend %svg-common-thema;
  background-position: 47.05882352941177% 0;
}

%dp-thema-openbare-ruimte-groen-icon {
  @extend %svg-common-thema;
  background-position: 52.94117647058823% 0;
}

%dp-thema-sport-recreatie-icon {
  @extend %svg-common-thema;
  background-position: 58.8235294117647% 0;
}

%dp-thema-stedelijke-ontwikkeling-icon {
  @extend %svg-common-thema;
  background-position: 64.70588235294117% 0;
}

%dp-thema-toerisme-cultuur-icon {
  @extend %svg-common-thema;
  background-position: 70.58823529411765% 0;
}

%dp-thema-verkeer-infrastructuur-icon {
  @extend %svg-common-thema;
  background-position: 76.47058823529412% 0;
}

%dp-thema-verkiezingen-icon {
  @extend %svg-common-thema;
  background-position: 82.3529411764706% 0;
}

%dp-thema-werk-inkomen-icon {
  @extend %svg-common-thema;
  background-position: 88.23529411764706% 0;
}

%dp-thema-wonen-leefomgeving-icon {
  @extend %svg-common-thema;
  background-position: 94.11764705882354% 0;
}

%dp-thema-zorg-welzijn-icon {
  @extend %svg-common-thema;
  background-position: 100% 0;
}
