@mixin icon($name, $state: "#666", $hover-state: "#000", $tall: "") {
  @include icon-sprite($name, $state, $hover-state);

  background-color: $primary-light;
  display: inline-block;
  line-height: $button-size;
  padding: 0;
  position: relative;
  width: $button-size;

  @if $tall == "tall" {
    height: $button-tall-size;
  } @else {
    height: $button-size;
  }

  &:hover,
  &:focus {
    background-color: $secondary-gray20;
    outline: none;
  }

  &::before {
    content: "";
    display: block;
    height: $button-size;
    width: $button-size;
  }
}

%icon-label {
  @include font-size($s-font);
  @include font-weight($bold-weight);
}

@mixin icon-label-left($icon, $state: "", $hover-state: "red", $tall: "") {
  @extend %icon-label;
  @include icon($icon, $state, $hover-state, $tall);

  padding-left: $base-whitespace;
  width: auto;

  @if $tall == "tall" {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  &::before {
    float: right;
  }
}

@mixin icon-label-right($icon, $state: "", $hover-state: "red", $tall: "") {
  @extend %icon-label;
  @include icon($icon, $state, $hover-state, $tall);

  padding-right: $base-whitespace;
  width: auto;

  @if $tall == "tall" {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  &::before {
    float: left;
  }
}

%border-after {
  border: 1px solid $secondary-gray20;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

%icon--border {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &::after {
    @extend %border-after;
  }
}

%base-button {
  background-color: $primary-light;
  color: $secondary-gray60;
  position: relative;

  &::after {
    @extend %border-after;
  }

  &:hover,
  &:focus {
    background-color: $secondary-gray20;
    color: $primary-dark;
    outline: none;

    &::after {
      border: 1px solid $primary-dark;
    }
  }
}

%icon--border-hover {
  @extend %icon--border;

  &:hover,
  &:focus {
    background-color: $primary-dark;

    &::after {
      border-color: $primary-dark;
    }
  }
}

%icon--border-inverted {
  @extend %icon--border-hover;

  &::after {
    border-color: $secondary-gray20;
  }

  &:hover,
  &:focus {
    background-color: $secondary-gray20;
    color: $secondary-gray60;
    outline: none;

    &::after {
      border-color: $primary-dark;
    }
  }
}

%icon--shadow {
  box-shadow: $button-shadow-size $button-shadow-size 0 0 $secondary-gray40;
}

@mixin icon-sprite($name, $fill: "#FFF", $hover-fill: "", $size: auto 100%) {
  @include sprite($name, ( fill: $fill));

  @if $size {
    background-size: $size;
  }

  @if $hover-fill {
    &:hover,
    &:focus {
      @include sprite($name, ( fill: $hover-fill));

      @if $size {
        background-size: $size;
      }
    }
  }
}
