@mixin icon-button($icon, $state: "", $hover-state: "red") {
  @include sprite(#{$icon + if(str-length($state) > 0, "-", "") + $state});

  height: $button-size;
  width: $button-size;

  &:hover {
    @include sprite(#{$icon + if(str-length($hover-state) > 0, "-", "") + $hover-state});
  }
}

%icon-button-text {
  @extend %link;
  @include font-size($s-font);
  @include font-weight($bold-weight);
  color: inherit;
  height: $button-size;
  margin-left: 0;
}

%icon-button-text-extra {
  content: "";
  display: inline-block;
  height: $button-size;
  vertical-align: middle;
  width: $button-size + 1px;
}

@mixin icon-button-text-left($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text;

  &::after {
    @extend %icon-button-text-extra;
    @include sprite(#{$icon + if(str-length($state) > 0, "-", "") + $state});

    margin-left: $base-whitespace;
  }

  &:hover {
    &::after {
      @include sprite(#{$icon + if(str-length($hover-state) > 0, "-", "") + $hover-state});
    }
  }
}

@mixin icon-button-text-right($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text;

  &::before {
    @extend %icon-button-text-extra;
    @include sprite(#{$icon + if(str-length($state) > 0, "-", "") + $state});

    margin-right: $base-whitespace;
  }

  &:hover {
    &::before {
      @include sprite(#{$icon + if(str-length($hover-state) > 0, "-", "") + $hover-state});
    }
  }
}
