.c-toggle-straatbeeld-fullscreen {
  position: absolute;
  top: calc(#{$base-whitespace} / 2);
  left: calc(#{$base-whitespace} / 2);
  cursor: pointer;
  z-index: 10;
}

.c-toggle-straatbeeld-fullscreen--minimize {
  @include icon-button("minimize", "", "red");
}

.c-toggle-straatbeeld-fullscreen--maximize {
  @include icon-button("maximize", "", "red");
}
