dp-toggle-straatbeeld-fullscreen {
  position: absolute;
  top: $container-whitespace;
  left: $container-whitespace;
  z-index: $on-top-z-index;

  .c-toggle-straatbeeld-fullscreen {
    @extend %hover-focus-button;
  }
}
