.map-search-results-category {
  padding-top: 24px;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &--subcategory {
    border-left: 8px solid $secondary-gray20;
  }

  &__header,
  &__showmore {
    color: $primary-dark;
    font-size: $s-font-size;
    line-height: 16px;
    text-align: left;
    width: 100%;
  }

  &__header {
    padding: 8px;
    @media screen and (min-width: $breakpoint-md) {
      padding: 8px 12px;
    }
  }
}
