@import "modules/shared/styles/config";

$dashboard-heading-height: 50px;
$dashboard-heading-height-homepage: 108px;
$dashboard-heading-shadow-height: 2px;
$dashboard-toolbar-height: 40px;
$dashboard-footer-height: 40px;
$dashboard-footer-separator-height: 8px;
$dashboard-error-height: $button-size;
$dashboard-gutter-bottom: $base-whitespace * 4;
$dashboard-gutter-bottom-homepage: $base-whitespace * 6;

.c-dashboard {
  height: 100%;
  background-color: $primary-light;
}

.c-dashboard__heading {
  position: relative;
  height: $dashboard-heading-height;
  background-color: $primary-light;
  box-shadow: 0 $dashboard-heading-shadow-height $secondary-gray40;
  z-index: 2;
}

.c-dashboard__error {
  position: fixed;
  top: $dashboard-heading-height;
  width: 100%;
  z-index: 2;
}

.c-dashboard__body {
  position: relative;
  top: $dashboard-heading-height;
  height: calc(100% - #{$dashboard-heading-height});
  z-index: 1;
}

.c-dashboard__body--error {
  top: $dashboard-heading-height + $dashboard-error-height;
  height: calc(100% - #{$dashboard-heading-height + $dashboard-error-height});
}

.c-dashboard__column {
  height: 100%;
}

.c-dashboard__page {
  position: relative;
  min-height: 100%;
  background-color: $primary-light;
}

.c-dashboard__page-inner {
  padding-bottom: $dashboard-gutter-bottom;
}

.c-dashboard__footer {
  @include font-size($xs-font);

  position: absolute;
  bottom: 0;
  width: 100%;
  height: $dashboard-footer-height + $dashboard-footer-separator-height;
  border-top: $dashboard-footer-separator-height solid $secondary-gray60;
  background-color: $primary-light;
  line-height: $dashboard-footer-height;
}

.c-dashboard--max-width {
  background-color: $secondary-gray10;
}

.c-dashboard--full-height {
  overflow: hidden;

  .c-dashboard__body {
    overflow-y: hidden;
  }

  .c-dashboard__column {
    overflow-y: auto;
  }
}

.c-dashboard--homepage {
  .c-dashboard__heading {
    height: $dashboard-heading-height-homepage + $dashboard-toolbar-height;
    border-bottom: $dashboard-toolbar-height solid $secondary-gray4;
    box-shadow: none;
  }

  .c-dashboard__body {
    top: $dashboard-heading-height-homepage + $dashboard-toolbar-height;
    height: calc(100% - #{$dashboard-heading-height-homepage + $dashboard-toolbar-height});
  }

  .c-dashboard__page-inner {
    padding-bottom: $dashboard-gutter-bottom-homepage + $dashboard-footer-height + $dashboard-footer-separator-height;
  }
}
