<div class="c-dashboard">

    <!-- Header -->
    <div ng-if="!vm.isCatalogus" class="qa-dashboard__default-header c-dashboard__heading"
        ng-controller="HeaderController as header">

        <dp-header
            query="{{header.query}}"
            has-print-button="header.hasPrintButton"
            is-print-mode="vm.isPrintMode"></dp-header>
    </div>

    <!-- Header -->
    <div ng-if="vm.isCatalogus" class="qa-dashboard__catalogus-header c-dashboard__heading">
        <dp-cards-header query="{{vm.dataSelectionState.query}}"></dp-cards-header>
    </div>

    <!-- Body -->
    <div class="c-dashboard__body"
        ng-class="{ 'c-dashboard__body--error': vm.visibility.httpStatus }">
        <div class="u-grid">

            <!-- Error message -->
            <div ng-if="vm.visibility.httpStatus" class="c-dashboard__error">
                <dp-api-error></dp-api-error>
            </div>

            <!-- Columns -->
            <div class="u-row">
                <!-- Left column -->
                <div ng-show="vm.columnSizes.left"
                    class="qa-dashboard__column--left c-dashboard__column"
                    ng-class="'u-col-sm--' + vm.columnSizes.left">

                    <!-- Layer selection -->
                    <div ng-if="vm.activity.layerSelection" ng-controller="LayerSelectionController as layerSelection">
                        <dp-layer-selection
                            ng-show="vm.visibility.layerSelection"
                            base-layer="{{layerSelection.baseLayer}}"
                            overlays="layerSelection.overlays"
                            zoom="layerSelection.zoom">
                        </dp-layer-selection>
                    </div>
                </div>

                <!-- Middle column -->
                <div ng-show="vm.columnSizes.middle"
                    class="c-dashboard__column u-col-sm--{{vm.columnSizes.middle}} qa-dashboard__column--middle">

                    <!-- Map -->
                    <div ng-if="vm.activity.map" ng-controller="MapController as map">
                        <dp-map
                            ng-show="vm.visibility.map"
                            map-state="map.mapState"
                            show-layer-selection="map.showLayerSelection"
                            markers="map.markers">
                        </dp-map>
                    </div>
                </div>

                <!-- Right column -->
                <div ng-show="vm.columnSizes.right"
                    dp-scrollable-content
                    visibility="vm.visibility"
                    page-name="{{vm.pageName}}"
                    class="c-dashboard__column c-dashboard__content u-col-sm--{{vm.columnSizes.right}} qa-dashboard__column--right">

                    <!-- Detail -->
                    <div ng-if="vm.activity.detail" ng-controller="DetailController as detail">
                        <dp-detail
                            ng-show="vm.visibility.detail"
                            endpoint="{{detail.endpoint}}"
                            reload="detail.reload"
                            is-loading="detail.isLoading">
                        </dp-detail>
                    </div>

                    <!-- Page -->
                    <div ng-if="vm.activity.page" ng-controller="PageController as page">
                        <dp-page
                            ng-show="vm.visibility.page"
                            name="{{page.pageName}}">
                        </dp-page>
                    </div>

                    <!-- Search results -->
                    <div ng-if="vm.activity.searchResults" ng-controller="SearchResultsController as searchResults">
                        <dp-search-results
                            ng-show="vm.visibility.searchResults"
                            is-loading="searchResults.isLoading"
                            query="{{searchResults.query}}"
                            location="searchResults.location"
                            category="{{searchResults.category}}"
                            number-of-results="searchResults.numberOfResults">
                        </dp-search-results>
                    </div>

                    <!-- Straatbeeld -->
                    <div ng-if="vm.activity.straatbeeld"
                        ng-controller="StraatbeeldController as straatbeeld"
                        class="u-dashboard--full-height">

                        <!--Resize straatbeeld when any of printMode, errorMode or fullscreen changes-->
                        <dp-straatbeeld
                            ng-show="vm.visibility.straatbeeld"
                            state="straatbeeld.straatbeeldState"
                            resize="[vm.isPrintMode, vm.visibility.httpStatus, straatbeeld.straatbeeldState.isFullscreen]">
                        </dp-straatbeeld>
                    </div>

                    <!-- Data selection -->
                    <div ng-if="vm.activity.dataSelection" ng-controller="DataSelectionController as dataSelection">
                        <dp-data-selection
                            ng-show="vm.visibility.dataSelection"
                            state="dataSelection.dataSelectionState">
                        </dp-data-selection>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
