<div class="c-dashboard">

    <!-- Header -->
    <div ng-if="!vm.isCatalogus" class="qa-dashboard__default-header c-dashboard__heading"
        ng-controller="HeaderController as header">

        <dp-header
            query="{{header.query}}"
            has-print-button="header.hasPrintButton"
            is-print-mode="vm.isPrintMode"></dp-header>
    </div>

    <!-- Header -->
    <div ng-if="vm.isCatalogus" class="qa-dashboard__catalogus-header c-dashboard__heading">
        <dp-cards-header query="{{vm.dataSelectionState.query}}"></dp-cards-header>
    </div>

    <!-- Body -->
    <div class="c-dashboard__body"
        ng-class="{ 'c-dashboard__body--error': vm.visibility.httpStatus.hasErrors }">

        <div class="u-grid">

            <!-- Error message -->
            <div ng-if="vm.visibility.httpStatus.hasErrors" class="c-dashboard__error">
                <dp-api-error></dp-api-error>
            </div>

            <!-- Columns -->
            <div class="u-row">

                <!-- Layer selection -->
                <div ng-if="vm.columnSizes.left"
                    class="qa-dashboard__layer-selection c-dashboard__column"
                    ng-class="'u-col-sm--' + vm.columnSizes.left">

                    <div ng-controller="LayerSelectionController as vm">

                        <dp-layer-selection
                            base-layer="{{vm.baseLayer}}"
                            overlays="vm.overlays"
                            zoom="vm.zoom"></dp-layer-selection>
                    </div>
                </div>

                <!-- Map -->
                <div ng-if="vm.columnSizes.middle && vm.visibility.map"
                     class="qa-dashboard__map c-dashboard__column"
                     ng-class="'u-col-sm--' + vm.columnSizes.middle">

                    <div ng-controller="MapController as vm">
                        <!-- ng-if="vm.visibility.map" -->
                        <dp-map
                            map-state="vm.mapState"
                            show-layer-selection="vm.showLayerSelection"
                            markers="vm.markers"></dp-map>
                    </div>
                </div>

                <!-- Fullscreen Straatbeeld -->
                <div ng-if="vm.columnSizes.middle && vm.visibility.straatbeeld && vm.isFullscreen"
                     class="qa-dashboard__straatbeeld c-dashboard__column"
                     ng-class="'u-col-sm--' + vm.columnSizes.middle">

                    <div ng-controller="StraatbeeldController as straatbeeld"
                         class="u-dashboard--full-height">
                        <dp-straatbeeld
                            state="straatbeeld.straatbeeldState"
                            resize="[vm.isPrintMode, vm.visibility.httpStatus.hasErrors]">
                        </dp-straatbeeld>
                    </div>
                </div>

                <!-- Content -->
                <div ng-if="vm.columnSizes.right"
                    dp-scrollable-content
                    visibility="vm.visibility"
                    page-name="{{vm.pageName}}"
                    class="qa-dashboard__content c-dashboard__column c-dashboard__content"
                    ng-class="'u-col-sm--' + vm.columnSizes.right">

                    <!-- Detail -->
                    <div ng-if="vm.visibility.detail" ng-controller="DetailController as vm">
                        <dp-detail
                            endpoint="{{vm.endpoint}}"
                            reload="vm.reload"
                            is-loading="vm.isLoading"></dp-detail>
                    </div>

                    <!-- Page -->
                    <div ng-if="vm.visibility.page" ng-controller="PageController as vm">
                        <dp-page name="{{vm.pageName}}"></dp-page>
                    </div>

                    <!-- Search results -->
                    <div ng-if="vm.visibility.searchResults" ng-controller="SearchResultsController as vm">
                        <dp-search-results
                            is-loading="vm.isLoading"
                            query="{{vm.query}}"
                            location="vm.location"
                            category="{{vm.category}}"
                            number-of-results="vm.numberOfResults"></dp-search-results>
                    </div>

                    <!-- Straatbeeld -->
                    <div ng-if="vm.visibility.straatbeeld && !vm.isFullscreen"
                         ng-controller="StraatbeeldController as straatbeeld"
                       class="u-dashboard--full-height">

                        <!--Resize straatbeeld when any of printMode or errorMode changes-->
                        <dp-straatbeeld
                            state="straatbeeld.straatbeeldState"
                            resize="[vm.isPrintMode, vm.visibility.httpStatus.hasErrors]">
                        </dp-straatbeeld>
                    </div>

                    <!-- Data selection -->
                    <div ng-if="vm.visibility.dataSelection" ng-controller="DataSelectionController as vm">
                        <dp-data-selection state="vm.dataSelectionState"></dp-data-selection>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
