$suggestion-offset: $base-font-size;

.c-autocomplete {
  position: absolute;
  top: $search-form-height + $base-whitespace;
  right: 0;
  left: 0;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: $secondary-gray20;
  background-color: $primary-light;
  box-shadow: 0 3px 4px 0 $secondary-gray60;

  .c-autocomplete__tip {
    @include font-size($body-font);
    margin-top: $base-whitespace / 2;
    color: $secondary-gray40;
    font-style: italic;
    font-weight: 400;
    text-align: center;
  }

  .c-autocomplete__category {
    &:not(:first-of-type) {
      margin-top: $base-whitespace / 2;
      padding-top: $base-whitespace;
      border-top: 1px solid $secondary-gray20;
    }
  }

  .c-autocomplete__category__heading {
    margin: {
      top: 0;
      right: $base-whitespace;
      bottom: $base-whitespace / 2 ;
      left: $base-whitespace;
    };
    color: $secondary-gray60;
    font-weight: 400;
  }

  .c-autocomplete__category__suggestion {
    @include font-size($body-font);
    display: block;
    position: relative;
    width: 100%;
    padding-top: $base-whitespace / 3;
    padding-right: $base-whitespace;
    padding-bottom: $base-whitespace / 2;
    padding-left: $base-whitespace + $suggestion-offset;
    background-color: transparent;
    color: $primary-dark;
    text-align: left;
    cursor: pointer;

    &:hover,
    &.c-autocomplete__category__suggestion--active {
      background-color: $secondary-gray20;
      font-weight: inherit;
    }

    &::before {
      display: inline-block;
      position: absolute;
      left: $base-whitespace;
      width: 15px;
      content: "›";
    }
  }
}
