@import '../../../shared/styles/config';

.editorial-page {
  min-height: 50vh; // Makes sure the loading indicator is displayed inside the page

  &__body {
    background-color: $primary-light;
    min-height: calc(100vh - 330px);
    position: relative;
    width: 100%;

    .is-print-mode & {
      min-height: auto;
    }
  }

  .loading-indicator {
    padding-top: 56px;
  }
}
