@import '../../../shared/styles/config';

.editorial-page {
  min-height: 50vh; // Makes sure the loading indicator is displayed inside the page

  &__body {
    background-color: $primary-light;
    position: relative;
    width: 100%;

    @media screen {
      min-height: calc(100% - 278px);
    }
  }

  .loading-indicator {
    padding-top: 56px;
  }
}
