.c-api-error__panel {
  &:hover {
    .c-api-error__panel-text {
      padding-right: 0;
      text-overflow: inherit;
      white-space: inherit;
      overflow: inherit;
    }
  }
}

.c-api-error__panel-text {
  padding-right: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
