<div class="c-api-error__panel">
    <dp-panel is-panel-visible="vm.httpStatus.hasErrors && vm.httpStatus.errorType === 'SERVER'"
            type="danger" can-close="true" class-name="qa-api-error">
        Momenteel wordt niet alle informatie getoond. Aan deze technische storing wordt gewerkt.
        Probeer het zodadelijk nog eens…
    </dp-panel>
    <dp-panel is-panel-visible="vm.httpStatus.hasErrors && vm.httpStatus.errorType === 'NOT_FOUND'"
            type="danger" can-close="true" class-name="qa-api-error">
        Deze informatie is niet beschikbaar. Dit is reeds teruggemeld.
    </dp-panel>
</div>
