@import "../../../shared/styles/config";

$statusbar-background: rgba(255, 255, 255, .67);
$tatusbar-shadow: 1px 0 0 0 #999;

.c-panorama-status-bar {
  background-color: $statusbar-background;
  border-right: 1px solid $secondary-gray20;
  bottom: $base-whitespace;
  box-shadow: $tatusbar-shadow;
  color: $primary-dark;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  position: absolute;
  right: 0;

  &__items {
    display: flex;
  }

  &__history {
    border-right: 1px solid $secondary-gray20;
    padding: 0 (.5 * $base-whitespace);
  }

  &__coordinates {
    padding: 0 (.5 * $base-whitespace);
  }
}
