&.c-dashboard {
  padding: 0;
  border: none;
  overflow: visible;
}

.c-dashboard__body {
  top: 0;
  height: 100%;
}

.c-dashboard__page-inner {
  padding-bottom: 0;
}

.c-dashboard__error {
  position: initial;
}

.c-dashboard__column {
  margin: 0;
  padding: 0;
}
