$dashboard-heading-height-embed-version: 211px;
$dashboard-heading-padding-embed-version: 46px;

&.c-dashboard {
  padding: 0;
  border: solid $secondary-gray20 1px;
  border-top: none;
  overflow: visible;
}

.c-dashboard__heading {
  position: initial; // Otherwise the top box shadow of the body gets hidden
  height: $dashboard-heading-height-embed-version;
  padding: $dashboard-heading-padding-embed-version;
  border-bottom: none;
}

.c-dashboard__body {
  top: 0;
  height: calc(100% - #{$dashboard-heading-height-embed-version});
  padding: $base-whitespace * 2;
  border: 2px solid $secondary-gray40;
  background-color: $primary-light;
}

.c-dashboard__page-inner {
  padding-bottom: 0;
}

.c-dashboard__error {
  position: initial;
}

.c-dashboard__column {
  margin: 0;
  padding: 0;
}

@media print {
  &.c-dashboard {
    border: none;
  }

  .c-dashboard__heading,
  .c-dashboard__error {
    display: none;
  }

  .c-dashboard__body {
    border: none;
  }
}
