$embed-header-height: 211px;
$embed-header-padding: 46px;

.c-embed-header__title {
  @include font-size($xl-header-font);
}

.c-embed-header__close {
  @include icon-button("close", $secondary-gray60, $primary-dark);

  position: absolute;
  top: -($embed-header-padding - $base-whitespace);
  right: -($embed-header-padding - $base-whitespace);
  background-color: $primary-light;

  &:hover,
  &:focus {
    background-color: $secondary-gray20;
  }
}

.c-embed-header-form__input {
  width: 100%;
  padding: ($base-whitespace / 2) $base-whitespace;
  border: 1px solid $secondary-gray20;
  border-radius: 0;
  outline: none;
  background-color: $primary-light;
  color: $primary-dark;
  appearance: none;

  &::placeholder {
    @include font-weight($normal-weight);
    color: $secondary-gray60;
  }

  &:focus {
    border-color: $primary-dark;
  }
}

.c-embed-header__form {
  margin-top: 24px;

  .c-embed-header__form-row {
    display: flex;
    margin: 0 -46px;
    padding: ($base-whitespace / 2) 0;
    border-bottom: 1px solid $secondary-gray20;
  }

  .c-embed-header__field-label {
    align-self: center;
    padding-left: $embed-header-padding;
  }

  .c-embed-header__field-value {
    align-self: center;
    padding-right: $embed-header-padding;
  }
}
