<div class="u-grid">
    <div class="u-row">
        <div class="u-col-sm--3">
            <h1 class="c-embed-header__title">Embedversie</h1>
        </div>
        <div class="u-col-sm--9">
            <nav>
                <dp-link action="vm.closeAction" class-name="c-embed-header__close"></dp-link>
            </nav>
        </div>
    </div>
    <form class="c-embed-header__form">
        <div class="u-row c-embed-header__form-row qa-embed-header-form-link">
            <label class="u-col-sm--2 c-embed-header__field-label qa-embed-header-form-label">
               Link
            </label>
            <div class="u-col-sm--10 c-embed-header__field-value">
                <input
                    class="c-embed-header-form__input qa-embed-header-form-input"
                    type="text"
                    onClick="this.setSelectionRange(0, this.value.length) // Select the whole input on click"
                    ng-model="vm.link"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="off"
                    spellcheck="false"
                    placeholder="Link">
            </div>
        </div>
        <div class="u-row c-embed-header__form-row qa-embed-header-form-html">
            <label class="u-col-sm--2 c-embed-header__field-label qa-embed-header-form-label">
               HTML-code
            </label>
            <div class="u-col-sm--10 c-embed-header__field-value">
                <!-- Select the whole input on click -->
                <input
                    class="c-embed-header-form__input qa-embed-header-form-input"
                    type="text"
                    onClick="this.setSelectionRange(0, this.value.length) // Select the whole input on click"
                    ng-model="vm.html"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="off"
                    spellcheck="false"
                    placeholder="Link">
            </div>
        </div>
    </form>
</div>
