.c-parent-relations {
  @extend %description-list;

  .s-btn--wordwrap {
    width: calc(100% - #{$link-offset});

    /* For Firefox */
    white-space: pre-wrap;
    word-break: break-all;

    /* For Chrome and IE */
    word-wrap: break-word;
  }
}
