<div class="c-detail__block">
    <h3 class="o-header__subtitle">Ligt in</h3>
    <dl class="c-parent-relations">
      <dt ng-repeat-start="parent in vm.parentRelations" class="parent-relations__variable">{{parent.label}}</dt>
      <dd ng-repeat-end class="parent-relations__value">
        <dp-redux-link
            to="parent.data._links.self.href | detailEndpointAction"
            link-class="o-btn o-btn--link s-btn--wordwrap"
        >{{parent.data._display}}</dp-redux-link>
      </dd>
    </dl>
</div>
