@import "../../../shared/components/toggle/toggle";
@import "../../../shared/styles/utilities/screen-reader";

.map-legend {
  background-color: $primary-light;
  border: 1px solid $secondary-gray40;
  border-top: none;
  list-style-type: none;
  margin: 8px 8px 32px;
  padding: 0;
  user-select: none;

  @media screen and (min-width: $breakpoint-md) {
    margin: 12px 12px 32px;
  }

  &__category {
    align-items: center;
    border-top: 1px solid $secondary-gray40;
    display: flex;
    justify-content: space-between;
    padding: 9px 10px;
    position: relative;

    &--selectable-legend {
      &::after { // sass-lint:disable-line nesting-depth
        background-color: $secondary-gray40;
        bottom: -1px;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        width: 36px;
      }
    }

    &--unselectable-legend + .map-legend__items {
      padding-top: 0;

      .is-print-mode &, // sass-lint:disable-line nesting-depth
      .is-embed &,
      .is-embed-preview & {
        padding-top: 10px;
      }
    }
  }

  &__notification {
    background-color: $thema-10;
    color: $primary-light;
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }

  &__items {
    padding: 10px;
  }

  &__item {
    align-items: center;
    display: flex;

    & + & {
      margin-top: 12px;
    }
  }

  &__image {
    box-sizing: content-box;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    width: 16px;

    &--not-selectable {
      margin-left: 36px;
    }

    & + * {
      margin-left: 10px;
    }

    & > img {
      height: auto;
      width: inherit;
    }
  }

  &__category-title {
    color: $primary-dark;
    font-family: "Avenir LT W01 55 Roman";
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  &__category-title,
  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    font-family: "Avenir LT W01 45 Book";
  }

  &__toggle {
    @extend %__toggle; // sass-lint:disable-line placeholder-name-format
    @extend %hover-focus-button;
    margin-left: 10px;
    outline: none;
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    margin-bottom: 12px;

    &__category {
      font-size: 14px;
      padding-bottom: 0;

      &::after,
      button,
      .checkbox {
        display: none;
      }
    }

    &__image {
      margin-left: 0;
    }

    &__item {
      font-size: 14px;

      & + .map-legend__item {
        margin-top: 6px;
      }
    }

    &__items {
      .checkbox {
        display: none;
      }
    }
  }
}
