@import "../../../shared/styles/config";

.c-dashboard--page-type-data {
  .c-loading-indicator__container {
    right: $base-whitespace - 2;
  }
}

.c-loading-indicator__container {
  border: none;
  display: none;
  position: absolute;
  right: $base-whitespace * 5;
  top: $base-whitespace - 2;

  &.is-loading {
    display: block;
  }

  .c-loading-indicator__box {
    font-family: $base-font-family;
    font-size: $s-font-size;
    height: $base-whitespace * 3.5;
    left: 0;
    position: relative;
    top: 0;
    z-index: 999;
  }
}
