
@mixin o-tag {
  .o-tag {
    &::before {
      border-top: 8px solid $secondary-gray10;
      border-right: 8px solid $secondary-gray30;
      border-bottom: 8px solid $secondary-gray10;
    }
  }
}

.c-data-selection-card {
  display: block;
  position: relative;
  width: 100%;
  padding-top: $base-whitespace * 2;
  border-bottom: 1px solid $secondary-gray20;

  &:hover {
    @include o-tag;
    background-color: $secondary-gray10;
  }
}

.c-data-selection-card__header {
  margin-bottom: $base-whitespace * .5;
  line-height: $base-font-size * 1.2;
}

.c-data-selection-card__header-link {
  color: $primary-dark;
  font-size: $base-font-size * 1.2;
  text-decoration: none;
}

.c-data-selection-card__date {
  position: absolute;
  top: $base-whitespace * 2;
  right: 0;
  color: $secondary-gray40;
  font-size: $base-font-size * .9;
  line-height: $base-font-size * 1.2;
}

.c-data-selection-card__formats {
  float: left;
}

.c-data-selection-card__tags {
  display: inline;
  position: relative;
  top: -3px; // TODO: fix weird positioning
  margin: {
    top: 0;
    left: 0;
  };
}

.c-data-selection-card__description {
  margin-bottom: $base-whitespace;

  & p {
    margin-bottom: $base-whitespace;
  }
}
