@import "../shared/styles/config";

@import "styles/config";
@import "styles/utilities/fixed";
@import "styles/utilities/full-height";
@import "styles/utilities/gutter";
@import "styles/objects/max-width";
@import "styles/deprecated/dashboard";
@import "styles/deprecated/active-filters";

.is-print-mode {
  @import "styles/deprecated/dashboard-print";
}

.is-embed {
  @import "styles/deprecated/dashboard-embed";
}

@import "styles/deprecated/dashboard-embed-preview";

.is-print-mode,
.is-embed-preview,
.is-embed {
  @import "styles/utilities/page-break";
}

