<div>
    <dl class="c-key-value-list" ng-repeat="object in apiData.results">
        <dt>Inschrijfnummer</dt>
        <dd>{{ object.inschrijfnummer }}</dd>
        <dt>Soort besluit</dt>
        <dd>{{ object.soort_besluit }}</dd>
        <dt>Bevoegd orgaan</dt>
        <dd>{{ object.bevoegd_orgaan }}</dd>

        <dt ng-if-start="user.scopes.includes('WKPB/RBDU')">Documentnaam</dt><dd ng-if-end>
        <dp-wkpb-download-link ng-if="object.extern_url" label="object._display" url="object.extern_url"></dp-wkpb-download-link></dd>
        <dt>Persoonsgegevens afschermen</dt>
        <dd>{{ object.persoonsgegevens_afschermen | yesNo }}</dd>
    </dl>
</div>
