<div ng-if="vm.formattedActiveFilters.length" class="qa-active-filters c-data-selection-active-filters">
    <ul class="c-data-selection-active-filters__list">
        <li class="c-data-selection-active-filters__listitem"
            ng-repeat="filter in vm.formattedActiveFilters">
            <span>
                {{filter.label}}:
                <span ng-class="{'c-data-selection-active-filters--empty-value': !filter.option.label}">
                    {{filter.option.label}}
                </span>
            </span>

            <button ng-click="vm.removeFilter(filter.slug)"
               class="c-data-selection-active-filters--remove-filter o-btn"
               title="Filter verwijderen">
                <span class="u-sr-only">Filter verwijderen</span>
            </button>
        </li>
    </ul>
</div>
