@import "../../../shared/styles/config";

$icon-height: 24px;

.button-new {
  @extend %hover-focus-button;
  background-color: $primary-light;
  border: solid 1px $secondary-gray20;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  max-height: 34px;
  max-width: 34px;
  padding: 4px;
  position: absolute;
  right: $container-whitespace;
  top: $container-whitespace;
  z-index: 150;

  &__left {
    left: $container-whitespace;
    right: auto;
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
