@import "modules/shared/styles/config";

$dashboard-heading-height: 50px;
$dashboard-heading-height-homepage: 158px;
$dashboard-heading-shadow-height: 2px;
$dashboard-toolbar-height: 0;

$dashboard-error-height: $button-size;

$dashboard-gutter-bottom: $base-whitespace * 4;
$dashboard-gutter-bottom-homepage: $base-whitespace * 5;

$dashboard-footer-height: 40px;
$dashboard-footer-separator-height: 8px;
