.c-login-form {
  margin-bottom: $base-whitespace * 2;
}

.c-login-form__row {
  margin-bottom: $base-whitespace;
  overflow: auto;
}

.c-login-form__label {
  width: percentage(1 / 3);
  float: left;
  font-weight: bold;
}

.c-login-form__input {
  width: percentage(2 / 3);
  height: 30px;
  padding-right: $base-whitespace;
  padding-left: $base-whitespace;
  float: left;
  border: 1px solid $secondary-gray40;
  font-size: inherit;
  box-shadow: inset 0 1px 3px 0 $secondary-gray20;

  &:focus {
    border: solid $primary-dark 1px;
  }
}

.c-login-form__error-panel {
  margin-top: 0;
  margin-bottom: 2 * $base-whitespace;
  padding-top: $base-whitespace * .3;
  padding-bottom: $base-whitespace * .4;
  padding-left: $base-whitespace;
  line-height: 26 - ($base-whitespace * .3) - ($base-whitespace * .4);
}

.c-login-form__button {
  @include icon-button-text-left("forward", "gray");

  margin-right: 0;
  float: right;
}
