.toggle-fullscreen {
  background-color: #ffffff;
  position: absolute;
  right: 10px;
  top: 10px;
  border: solid 1px #CCCCCC;
  box-shadow: 2px 2px 0 0 #999999;
  padding: 2px;
  z-index: 150;

  svg {
    display: block;
    fill: #666666;
    height: 24px;
    width: 24px;
  }

  &:hover svg {
    fill: #ffffff;
  }

  &:hover {
    background-color: #fd0000;
  }
}
