@import "../../../shared/styles/config/variables/colors";

.toggle-fullscreen {
  background-color: $primary-light;
  border: solid 1px $secondary-gray20;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 150;

  .toggle-fullscreen__icon {
    display: block;
    fill: $secondary-gray60;
    height: 24px;
    width: 24px;
  }

  &:focus {
    background-color: $secondary-gray10;
    color: $primary-dark;
    fill: $primary-dark;
    outline: none;
  }

  &:hover {
    background-color: $primary-contrast;
    border-color: $primary-contrast;

    .toggle-fullscreen__icon {
      fill: $primary-light;
    }
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
