.toggle-fullscreen {
  background-color: #ffffff;
  border: solid 1px #CCCCCC;
  box-shadow: 2px 2px 0 0 #999999;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 150;

  .toggle-fullscreen__icon {
    display: block;
    fill: #666666;
    height: 24px;
    width: 24px;
  }

  &:focus {
    background-color: #eee;
    color: #000;
    fill: #000;
    outline: none;
  }

  &:hover {
    background-color: #ec0000;
    border-color: #ec0000;

    .toggle-fullscreen__icon {
      fill: #ffffff;
    }
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}
