.c-link {
  @extend %link;
}

.c-link--inverse {
  @extend %link;
  @include font-weight($normal-weight);

  color: $primary-light;
  text-decoration: underline;

  &:hover {
    color: $primary-light;
  }
}

.c-link--light {
  color: $primary-light;

  &:hover {
    color: $primary-light;
  }
}

.c-link--arrow {
  @extend %link--arrow;
}

.c-link--arrow-right {
  @extend %link--arrow;

  &::after {
    display: inline-block;
  }


  &::before {
    display: none;
  }
}

.c-link--inline {
  @extend %link--inline;
}

.c-link__wrapper--inine-block {
  display: inline-block;

  a {
    color: $primary-contrast-blue;
    text-decoration: underline;

    &:hover {
      color: $primary-contrast;
      text-decoration: underline;
    }
  }
}

.c-panel--warning .c-link__wrapper--inine-block { // sass-lint:disable-line force-element-nesting
  a {
    color: $primary-light;

    &:hover {
      color: $primary-contrast;
    }
  }
}
