.c-show-more {
  @extend %link--plus;

  background-color: transparent;
  color: $secondary-gray60;
  display: block;
  line-height: $list-item-height;

  .c-key-value-list__value--full-width & {
    color: $primary-dark;
  }
}

.c-show-more--less {
  @extend %link--min;
}

.c-show-more--gray {
  color: $secondary-gray60;
}

.c-show-more__container {
  display: block !important;
  position: relative;
}

.c-show-more__container--collapsed {
  &::before {
    background: linear-gradient(to bottom, $primary-light-alpha00 0%, $primary-light-alpha00 1%, $primary-light 100%);
    bottom: 0;
    content: "";
    height: 72px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
