/*
@name Table
@markup
<table class="c-table">
  <thead class="c-table">
    <tr class="c-table__header-row">
      <th class="c-table__field c-table__header-field">Key</th>
      <th class="c-table__field c-table__header-field">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr class="c-table__content-row">
      <th class="c-table__field c-table__content-field c-table__content-field--header" scope="row">Naam 24-posities (NEN)</th>
      <td class="c-table__field c-table__content-field">Agatha Dekenstraat</td>
    </tr>
    <tr>
      <th class="c-table__field c-table__content-field c-table__content-field--header" scope="row">Naam 17-posities (post)</th>
      <td class="c-table__field c-table__content-field">A DEKENSTR</td>
    </tr>
    <tr>
      <th class="c-table__field c-table__content-field c-table__content-field--header" scope="row">Woonplaats</th>
      <td class="c-table__field c-table__content-field">Amsterdam</td>
    </tr>
  </tbody>
</table>
*/

.c-table {
  border-spacing: 0;
  display: inline-table;
  margin-bottom: $base-whitespace;
  width: 100%;
}

.c-table__field {
  border-bottom: 1px solid $secondary-gray20;
  font-weight: normal;
  padding-bottom: $base-whitespace / 2;
  padding-left: $base-whitespace;
  padding-right: $base-whitespace * 2;
  padding-top: $base-whitespace / 2;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;

  &--link {
    cursor: pointer;
    padding: 0;

    & > div {
      display: block;
      padding-left: $base-whitespace;
      padding-right: $base-whitespace * 2;
      padding-top: $base-whitespace / 2;
    }
  }

  &:last-child {
    padding-right: $base-whitespace;
  }
}

.c-table__header-row {
  background-color: $secondary-gray40;
  color: $primary-light;
}

.c-table__header-field {
  @include font-size-responsive($m-header-font);
  @include font-weight($medium-weight);

  border: none;
  height: $button-size;
  padding: {
    bottom: 0;
    top: 0;
  }
  vertical-align: middle;
}

.c-table__content-row {
  &:last-child {
    .c-table__content-field {
      border-bottom: none;
    }
  }

  &:hover,
  &:focus {
    background-color: $secondary-gray10;
    outline: none;
  }

  .c-table--click &:hover {
    cursor: pointer;
  }
}

.c-table__content-field {
  a {
    color: $primary-dark;
    text-decoration: none;
  }
}

.c-table__content-field--header {
  @include font-weight($medium-weight);
}
