$tab-height: 36px;
$tab-border-radius: 2px;
$tab-v-padding: 8px;

.o-tabs {
  position: relative;

  &::before {
    margin-left: -2 * $base-whitespace;
    margin-right: -2 * $base-whitespace;
  }

  &::before,
  &::after {
    background-color: $secondary-gray20;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }

  ul {
    border-left: 1px solid $secondary-gray20;
    border-top-left-radius: $tab-border-radius;
    display: block;
    overflow: hidden;
  }

  li {
    border-right: 1px solid $secondary-gray20;
    border-top: 1px solid $secondary-gray20;
    display: block;
    float: left;
    height: $tab-height;

    &:not(.is-active) {
      background-color: $secondary-gray4;

      &:hover {
        background-color: $secondary-gray10;
      }
    }

    &.is-active {
      position: relative;

      &::after {
        background-color: $primary-light;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 1;
      }
    }
  }
}

.o-tabs__tab {
  display: block;
  padding: $tab-v-padding (2 * $base-whitespace);
}

.o-tabs__tab--link {
  color: $primary-dark;
  text-decoration: none;
}
