.c-toggle-button {
  @extend %hover-focus-button;
  background-color: $primary-light;
  border: 1px solid $secondary-gray20;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  box-sizing: content-box;
  display: flex;
  height: 24px;
  margin: 0;
  outline: none;
  padding: 4px;
  width: 24px;

  svg {
    fill: $secondary-gray60;
    height: 24px;
    width: 24px;
  }
}
