%content-list {
  list-style-type: square;
  margin: 0 0 2.6 * $base-whitespace 0.6 * $base-whitespace;
  padding-left: 2 * $base-whitespace;

  p,
  li {
    font-weight: $normal-weight;
    margin-bottom: 0.6 * $base-whitespace;
  }
}
