%content-list {
  list-style-type: square;
  margin: 0 0 2.6 * $base-whitespace .6 * $base-whitespace;
  padding-left: 2 * $base-whitespace;

  p,
  li {
    @include font-weight($normal-weight);
    margin-bottom: .6 * $base-whitespace;
  }
}
