%failliet {
  &::after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: .5 * $base-whitespace;
    border-radius: 50%;
    background-color: $primary-contrast;
    content: "";
  }
}
