%failliet {
  &::after {
    background-color: $primary-contrast;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 10px;
    margin-left: 0.5 * $base-whitespace;
    width: 10px;
  }
}
