%list-block {
  border-bottom: 1px solid $secondary-gray20;
  margin-bottom: 4 * $base-whitespace;
  margin-left: -2 * $base-whitespace;
  margin-right: -2 * $base-whitespace;
  padding: 0 (2 * $base-whitespace);
}

%list-block-container {
  border-bottom: none;
  margin-bottom: 2 * $base-whitespace;
}

%list-block-indented {
  border-bottom: 1px solid $secondary-gray20;
  border-left: 2px solid $secondary-gray20;
  margin-bottom: $base-whitespace;
  margin-left: -$base-font-size;
  margin-right: -2 * $base-whitespace;
  padding-bottom: 0.8 * $base-whitespace;
  padding-left: $base-font-size;
  padding-right: 2 * $base-whitespace;
  padding-top: 1.4 * $base-whitespace;
}
