@import "catalogus-themes/catalogus-themes";

$block-tall-height: 287px;
$block-short-height: 141px;
$show-more-height: 70px;

.c-homepage__block {
  display: block;
  position: relative;
  margin-bottom: .5 * $base-whitespace;
  background-color: $secondary-gray4;
  background-position: center center;
  background-size: cover;
}

.c-homepage__block--left {
  margin-right: .5 * $base-whitespace;
}

.c-homepage__block--middle {
  margin-right: .5 * $base-whitespace;
}

.c-homepage__block--right {
  padding: 2 * $base-whitespace;
}

.c-homepage__block--tall {
  height: $block-tall-height;
}

.c-homepage__entries {
  position: relative;
  height: $block-tall-height - $show-more-height;
  overflow: hidden;
}

.c-homepage__show-more {
  @include font-weight($bold-weight);
  position: absolute;
  bottom: 2 * $base-whitespace;
}

.c-homepage__block--short {
  height: $block-short-height;
}

.c-homepage__text {
  margin-top: 6 * $base-whitespace;
}

.c-homepage__visie {
  @include font-size-responsive($m-font);
  max-width: 734px;
}

.c-homepage__visie-header {
  margin-bottom: 2 * $base-whitespace;
}

.c-homepage__visie-paragraph {
  margin-bottom: 1.6 * $base-whitespace;
  line-height: $l-line-height;
}

.c-homepage__beleid {
  padding: 2 * $base-whitespace;
  padding-top: 0;
}

.c-homepage__block--homepage {
  background-image: url("assets/images/homepage-map.png");
}

.c-homepage__block--straatbeeld {
  background-image: url("assets/images/homepage-straatbeeld.png");
}

.c-homepage__block--vestigingen {
  background-image: url("assets/images/homepage-vestigingen.png");
}

.c-homepage__block--adressen {
  background-image: url("assets/images/homepage-adressen.png");
}

.c-homepage__block-button {
  position: absolute;
  right: $base-whitespace;
  bottom: $base-whitespace;
  left: $base-whitespace;
  width: calc(100% - (2 * #{$base-whitespace}));

  &:hover {
    @include o-btn-white--hover;
  }
}
