@import "catalogus-themes/catalogus-themes";

$block-tall-height: 287px;
$block-short-height: 141px;

.c-homepage__block {
  display: block;
  position: relative;
  margin-bottom: 5px;
  background-color: $secondary-gray4;
  background-position: center center;
  background-size: cover;

  &:hover {
    .c-homepage__block__button {
      @include o-btn-white--hover;
    }
  }
}

.c-homepage__block--left {
  margin-right: 5px;
}

.c-homepage__block--middle {
  margin-right: 5px;
}

.c-homepage__block--right {
  padding: 2 * $base-whitespace;
}

.c-homepage__block--tall {
  height: $block-tall-height;
}

.c-homepage__entries {
  position: relative;
  height: $block-tall-height - 70;
  overflow: hidden;
}

.c-homepage__show-more {
  position: absolute;
  bottom: 2 * $base-whitespace;
  font-weight: 700;
}

.c-homepage__block--beleid {
  padding-top: 0;
}

.c-homepage__block--short {
  height: $block-short-height;
}

.c-homepage__block--homepage {
  background-image: url("assets/images/homepage-map.png");
}

.c-homepage__block--straatbeeld {
  background-image: url("assets/images/homepage-straatbeeld.png");
}

.c-homepage__block--vestigingen {
  background-image: url("assets/images/homepage-vestigingen.png");
}

.c-homepage__block--adressen {
  background-image: url("assets/images/homepage-adressen.png");
}

.c-homepage__block__button {
  position: absolute;
  right: $base-whitespace;
  bottom: $base-whitespace;
  left: $base-whitespace;
  width: calc(100% - (2 * #{$base-whitespace}));
}
