<div class="c-homepage u-padding__top--2">
    <div class="u-grid">
        <div class="u-row">
            <div class="u-col-sm--9">
                <!-- Link to map -->
                <div class="qa-map-link">
                    <dp-link type="SHOW_MAP" class-name="c-homepage__block c-homepage__block--left c-homepage__block--tall c-homepage__block--homepage">
                        <div class="c-homepage__block-button">
                            <div class="o-btn--transparent">Data op de kaart</div>
                            <div class="c-homepage__block-details">Selecteer kaartlagen, vind gegevens op een punt in de kaart, meet of teken een gebied</div>
                        </div>
                    </dp-link>
                </div>
            </div>
            <div class="u-col-sm--3">
                <!-- Link to straatbeeld -->
                <div class="qa-straatbeeld-link">
                    <dp-link type="FETCH_STRAATBEELD_BY_ID" class-name="c-homepage__block c-homepage__block--right c-homepage__block--tall c-homepage__block--straatbeeld" payload="vm.fetchStraatbeeldPayload">
                        <div class="c-homepage__block-button">
                            <div class="o-btn--transparent">Panoramabeelden</div>
                            <div class="c-homepage__block-details">Kijk rond ter plaatse</div>
                        </div>
                    </dp-link>
                </div>
            </div>
        </div>
        <div class="u-row u-margin__bottom--2">
            <div class="u-col-sm--9">
                <!-- Links to data selection themes -->
                <div class="c-homepage__block c-homepage__block--left c-homepage__block--tall c-homepage__block--datasets" ng-class="{ 'c-homepage__block--shadow': datasetsHover }">
                    <div class="c-homepage__block-button" ng-mouseover="datasetsHover = true" ng-mouseout="datasetsHover = false">
                        <div class="o-btn--transparent">Datasetcatalogus</div>
                        <div class="c-homepage__block-details">Blader door datasets (verzamelingen gegevens)</div>
                    </div>
                    <dp-catalogus-themes></dp-catalogus-themes>
                </div>
            </div>
            <div class="u-col-sm--3">
                <div>
                    <!-- Link to data selection BAG -->
                    <dp-link type="FETCH_DATA_SELECTION" class-name="c-homepage__block c-homepage__block--right c-homepage__block--short c-homepage__block--adressen" payload="{dataset: 'bag', filters: {}, page: 1}">
                        <div class="c-homepage__block-button">
                            <div class="o-btn--transparent">Adressentabel</div>
                            <div class="c-homepage__block-details">Selecteer adressen en download als spreadsheet</div>
                        </div>
                    </dp-link>
                </div>

                <div>
                    <!-- Link to data selection HR -->
                    <dp-link type="FETCH_DATA_SELECTION" class-name="c-homepage__block c-homepage__block--right c-homepage__block--short c-homepage__block--vestigingen" payload="{dataset: 'hr', filters: {}, page: 1}">
                        <div class="c-homepage__block-button">
                            <div class="o-btn--transparent">Vestigingentabel</div>
                            <div class="c-homepage__block-details">Selecteer vestigingen en download als spreadsheet</div>
                        </div>
                    </dp-link>
                </div>
            </div>
        </div>
        <div class="u-row">
            <div class="c-homepage__text">
                <div class="u-col-sm--8">
                    <div class="u-margin__left--2 c-homepage__visie">
                        <h1 class="c-homepage__visie-header">Welkom bij AmsterdamData</h1>
                        <p class="c-homepage__visie-paragraph">Amsterdam beschikt over een schat aan gegevens over de stad. Via dit dataportaal stelt de gemeente, in samenwerking met haar partners, deze gegevens beschikbaar. Wij nodigen u uit om met innovatieve datatoepassingen bij te dragen aan Amsterdam als leefbare stad.</p>
                        <p class="c-homepage__visie-paragraph">AmsterdamData is blijvend in ontwikkeling. Het aantal beschikbare datasets en functionaliteiten zal gaandeweg groeien, afgestemd op concrete vragen in de stad en met de medewerking van partners om gegevens via dit dataportaal beschikbaar te maken.</p>
                    </div>
                </div>
                <div class="u-col-sm--3 u-col-sm--offset-1">
                    <div class="c-homepage__beleid">
                        <dp-user-content-widget type="beleid"></dp-user-content-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
