.c-loading-indicator__box {
  display: flex;
  position: absolute;
  top: $base-whitespace;
  left: $base-whitespace;
  padding: $base-whitespace / 2 $base-whitespace;
  border: 1px solid $secondary-gray20;
  background-color: $primary-light;
  z-index: 3;
}

.c-loading-indicator__icon {
  align-self: center;
  width: 18px;
  height: 18px;
  margin-right: $base-whitespace;
  background: url('assets/images/spinner.svg') no-repeat;
  background-size: auto 100%;
  animation: rotating-spinner 1s linear infinite;
}

.c-loading-indicator__text {
  align-self: center;
}

@keyframes rotating-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
