@import "../../styles/config";

$checkbox-height: 24px;
$checkbox-width: 30px;

.checkbox {
  @include icon-sprite("icon-tick", $primary-dark, $primary-dark, $checkbox-height);
  background-color: $primary-light;
  border: 1px solid $primary-dark;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: $checkbox-height;
  margin-right: $base-whitespace;
  position: relative;
  width: $checkbox-width;

  // NB: Fix width for IE11
  @media screen and (-ms-high-contrast: active), // sass-lint:disable-line no-vendor-prefixes
  screen and (-ms-high-contrast: none) {  // sass-lint:disable-line no-vendor-prefixes
    width: $checkbox-width;
  }

  &:hover,
  &:focus {
    border: 2px solid $primary-dark;
  }

  input {
    appearance: none;
    height: 100%;
    outline: none;
    position: absolute;
    width: 100%;

    &:not(:checked) {
      background-color: $primary-light;
    }

    &::-ms-check {// sass-lint:disable-line no-vendor-prefixes
      display: none;
    }
  }

  * {
    cursor: pointer;
  }
}
