@import "../../styles/config";

$checkbox-height: 24px;

.checkbox {
  @include icon-sprite("icon-tick", $primary-dark, $primary-dark, $checkbox-height);
  background-color: $primary-light;
  cursor: pointer;
  display: block;
  height: $checkbox-height;
  margin-right: 10px;
  position: relative;
  width: $checkbox-height;

  // NB: Fix width for IE11
  @media screen and (-ms-high-contrast: active), // sass-lint:disable-line no-vendor-prefixes
  screen and (-ms-high-contrast: none) {  // sass-lint:disable-line no-vendor-prefixes
    width: 32px;
  }

  input {
    appearance: none;
    border: 1px solid $primary-dark;
    height: inherit;
    outline: none;
    width: inherit;

    &:not(:checked) {
      background-color: $primary-light;
    }

    &:hover,
    &:focus {
      border: 2px solid $primary-dark;
    }
  }

  * {
    cursor: pointer;
  }
}
