<div class="qa-available-filters c-data-selection-available-filters">
    <div class="c-data-selection-available-filters__category"
         ng-show="vm.hasInactiveFilterOptions(filter)"
         ng-if="!filter.slug.startsWith('sbi') && filter.options.length"
         ng-repeat="filter in vm.availableFilters">

        <h2 class="c-data-selection-available-filters__category-label qa-category-header">
            <span>{{filter.label}}</span>
            <a ng-if="filter.info_url"
                class="o-header__button c-stelselpedia__button"
                title="Uitleg tonen"
                ng-href="{{filter.info_url}}"
                target="_blank"
                rel="noopener"></a>
        </h2>

        <ul>
            <li class="c-data-selection-available-filters__item"
                ng-repeat="option in filter.options | limitTo : vm.isExpandedFilter(filter.slug) ? undefined : vm.showMoreThreshold">
                <button class="o-btn o-btn--link o-btn--inline-block"
                        ng-click="vm.addFilter(filter.slug, option.id)"
                    ><span class="c-data-selection-available-filters__item-label"
                          ng-class="{'c-data-selection-available-filters__item-label--empty-value': !option.label}"
                        ><span class="qa-option-label">{{option.label}}</span>
                        <span ng-if="vm.showOptionCounts">({{option.count}})</span>
                    </span>
                </button>
            </li>
        </ul>

        <div class="c-data-selection-available-filters__show-more"
             ng-if="vm.canExpandImplode(filter.slug) && vm.showExpandButton(filter.slug)">
            <button class="
                        c-data-selection-available-filters__show-more-button
                        c-show-more
                        c-show-more--gray
                        qa-show-more-button"
                    ng-click="vm.expandFilter(filter.slug)"
                >Toon meer
            </button>
        </div>

        <div class="c-data-selection-available-filters__show-more"
             ng-if="vm.canExpandImplode(filter.slug) && vm.isExpandedFilter(filter.slug)">
            <div ng-if="vm.nrHiddenOptions(filter) > 0"
                 class="c-data-selection-available-filters__hidden-options qa-hidden-options">
                ...nog {{vm.nrHiddenOptions(filter) | number}} waarden
            </div>
            <button class="c-show-more c-show-more--less c-show-more--gray qa-show-more-button"
                    ng-click="vm.implodeFilter(filter.slug)"
                >Toon minder
            </button>
        </div>
    </div>
</div>
