@import "../../../../../shared/styles/config";

.leaflet-control.leaflet-bar.leaflet-control-layer-container { // sass-lint:disable-line force-element-nesting
  background-color: $primary-light;
  border: 1px solid $secondary-gray20;
  border-radius: 0;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  display: none;
  height: 3 * $base-whitespace + 3px;
  left: -$base-whitespace * .2;
  position: relative;
  top: 4 * $base-whitespace;
  width: 3 * $base-whitespace + 3px;

  &.is-loading {
    display: block;
  }
}

.leaflet-control-loading {
  animation: rotating-spinner 1s linear infinite;
  margin-left: $base-whitespace * .9;
  margin-top: $base-whitespace * .8;
}
