@import "../../../../../shared/styles/config";

.leaflet-control.leaflet-bar.leaflet-control-layer-container { // sass-lint:disable-line force-element-nesting
  border: none;
  display: none;
  margin-right: 0;
  margin-top: $base-whitespace - 2px;
  right: $base-whitespace * 5;

  &.is-loading {
    display: block;
  }
}

.leaflet-container {
  .c-loading-indicator {
    font-family: $base-font-family;
    font-size: $s-font-size;
    height: 3 * $base-whitespace + 3px;
    left: 0;
    position: relative;
    top: 0;
  }
}
