@mixin icon-button($icon, $state: "", $hover-state: "red") {
  @extend %#{"dp-" + $icon + if(str-length($state) > 0, "-", "") + $state + "-icon"};

  width: $button-size;
  height: $button-size;

  &:hover {
    @extend %#{"dp-" + $icon + if(str-length($hover-state) > 0, "-", "") + $hover-state + "-icon"};
  }
}

%icon-button-text {
  @extend %link;
  height: $button-size;
  margin-left: 0;
  color: inherit;
  font-family: $header-font-family;
  font-size: $base-font-size;
  font-weight: lighter;
}

%icon-button-text-extra {
  display: inline-block;
  width: $button-size;
  height: $button-size;
  content: "";
  vertical-align: middle;
}

@mixin icon-button-text-left($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text;

  &::after {
    @extend %#{"dp-" + $icon + if(str-length($state) > 0, "-", "") + $state + "-icon"};
    @extend %icon-button-text-extra;

    margin-left: $base-whitespace;
  }

  &:hover {
    &::after {
      @extend %#{"dp-" + $icon + if(str-length($hover-state) > 0, "-", "") + $hover-state + "-icon"};
    }
  }
}

@mixin icon-button-text-right($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text;

  &::before {
    @extend %#{"dp-" + $icon + if(str-length($state) > 0, "-", "") + $state + "-icon"};
    @extend %icon-button-text-extra;

    margin-right: $base-whitespace;
  }

  &:hover {
    &::before {
      @extend %#{"dp-" + $icon + if(str-length($hover-state) > 0, "-", "") + $hover-state + "-icon"};
    }
  }
}

%icon-button-text-box {
  display: block;
  position: relative;
  height: $button-size;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid $secondary-gray20;
  background-color: $primary-light;
  color: $secondary-gray60;
  font-family: $header-font-family;
  font-size: $base-font-size;
  font-weight: lighter;
  line-height: $button-size - 2;
  text-align: left;
  text-decoration: none;
  cursor: pointer;

  span {
    position: relative;
    top: -1px;
  }
}

%icon-button-text-box-extra {
  position: absolute;
  top: 0;
  width: $button-size;
  height: $button-size;
  content: "";
  vertical-align: middle;
}

%icon-button-text-box-hover {
  border: solid $primary-contrast 1px;
  background-color: $primary-contrast;
  color: $primary-light;
  text-decoration: none;
}

@mixin icon-button-text-box-left($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text-box;

  padding-right: 10px + $button-size;

  &::after {
    @extend %#{"dp-" + $icon + if(str-length($state) > 0, "-", "") + $state + "-icon"};
    @extend %icon-button-text-box-extra;

    top: 0;
    right: 0;
  }

  &:hover {
    @extend %icon-button-text-box-hover;

    &::after {
      @extend %#{"dp-" + $icon + if(str-length($hover-state) > 0, "-", "") + $hover-state + "-icon"};
    }
  }
}

@mixin icon-button-text-box-right($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text-box;

  padding-left: $button-size;

  &::before {
    @extend %#{"dp-" + $icon + if(str-length($state) > 0, "-", "") + $state + "-icon"};
    @extend %icon-button-text-box-extra;
    left: 0;
  }

  &:hover {
    @extend %icon-button-text-box-hover;

    &::before {
      @extend %#{"dp-" + $icon + if(str-length($hover-state) > 0, "-", "") + $hover-state + "-icon"};
    }
  }
}

// Icon with a text box on the right side, hover state inverted
%icon-button-text-box-hover-invert {
  border: solid $primary-light 1px;
  border-right: solid $secondary-gray20 1px;
  border-bottom: solid $secondary-gray20 1px;
  background-color: $primary-light;
  color: $secondary-gray60;
  text-decoration: none;
}

@mixin icon-button-text-box-right-invert($icon, $state: "", $hover-state: "") {
  @extend %icon-button-text-box;

  padding-left: $button-size;
  // Overuling default attributes for inverted state
  background-color: $primary-contrast;
  color: $primary-light;

  &::before {
    @extend %#{"dp-" + $icon + if(str-length($state) > 0, "-", "") + $state + "-icon"};
    @extend %icon-button-text-box-extra;
    left: 0;
  }

  &:hover {
    @extend %icon-button-text-box-hover-invert;

    &::before {
      @extend %#{"dp-" + $icon + if(str-length($hover-state) > 0, "-", "") + $hover-state + "-icon"};
    }
  }
}

%icon-button-text-box-flat {
  @extend %icon-button-text-box;

  border: none;
  background-color: transparent;
  color: $primary-dark;
}

%icon-button-text-box-flat-extra {
  @extend %icon-button-text-box-extra;
}

%icon-button-text-box-flat-hover {
  @extend %icon-button-text-box-hover;

  border: none;
}

@mixin icon-button-text-box-flat-left($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text-box-flat;

  padding-right: 10px + $button-size;

  &::after {
    @extend %#{"dp-" + $icon + if(str-length($state) > 0, "-", "") + $state + "-icon"};
    @extend %icon-button-text-box-flat-extra;

    top: 0;
    right: 0;
  }

  &:hover {
    @extend %icon-button-text-box-flat-hover;

    &::after {
      @extend %#{"dp-" + $icon + if(str-length($hover-state) > 0, "-", "") + $hover-state + "-icon"};
    }
  }
}

@mixin icon-button-text-box-flat-right($icon, $state: "", $hover-state: "red") {
  @extend %icon-button-text-box-flat;

  padding-left: $button-size;

  &::before {
    @extend %#{"dp-" + $icon + if(str-length($state) > 0, "-", "") + $state + "-icon"};
    @extend %icon-button-text-box-flat-extra;
    left: 0;
  }

  &:hover {
    @extend %icon-button-text-box-flat-hover;

    &::before {
      @extend %#{"dp-" + $icon + if(str-length($hover-state) > 0, "-", "") + $hover-state + "-icon"};
    }
  }
}
