%svg-common {
  background: url("assets/images/icons-f0b172ed.svg") no-repeat;
  background-size: auto 100%;
}

%dp-close-icon {
  @extend %svg-common;
  background-position: 0 0;
}

%dp-close-active-icon {
  @extend %svg-common;
  background-position: 3.3333333333333335% 0;
}

%dp-close-hover-icon {
  @extend %svg-common;
  background-position: 6.666666666666667% 0;
}

%dp-download-icon {
  @extend %svg-common;
  background-position: 10% 0;
}

%dp-download-active-icon {
  @extend %svg-common;
  background-position: 13.333333333333334% 0;
}

%dp-download-hover-icon {
  @extend %svg-common;
  background-position: 16.666666666666668% 0;
}

%dp-fullscreen-icon {
  @extend %svg-common;
  background-position: 20% 0;
}

%dp-fullscreen-active-icon {
  @extend %svg-common;
  background-position: 23.333333333333332% 0;
}

%dp-fullscreen-hover-icon {
  @extend %svg-common;
  background-position: 26.666666666666668% 0;
}

%dp-last-icon {
  @extend %svg-common;
  background-position: 30% 0;
}

%dp-last-hover-icon {
  @extend %svg-common;
  background-position: 33.333333333333336% 0;
}

%dp-link-icon {
  @extend %svg-common;
  background-position: 36.666666666666664% 0;
}

%dp-link-active-icon {
  @extend %svg-common;
  background-position: 40% 0;
}

%dp-link-hover-icon {
  @extend %svg-common;
  background-position: 43.333333333333336% 0;
}

%dp-metadata-icon {
  @extend %svg-common;
  background-position: 46.666666666666664% 0;
}

%dp-metadata-active-icon {
  @extend %svg-common;
  background-position: 50% 0;
}

%dp-metadata-hover-icon {
  @extend %svg-common;
  background-position: 53.333333333333336% 0;
}

%dp-minimize-icon {
  @extend %svg-common;
  background-position: 56.666666666666664% 0;
}

%dp-minimize-active-icon {
  @extend %svg-common;
  background-position: 60% 0;
}

%dp-minimize-hover-icon {
  @extend %svg-common;
  background-position: 63.333333333333336% 0;
}

%dp-next-icon {
  @extend %svg-common;
  background-position: 66.66666666666667% 0;
}

%dp-next-hover-icon {
  @extend %svg-common;
  background-position: 70% 0;
}

%dp-plus-icon {
  @extend %svg-common;
  background-position: 73.33333333333333% 0;
}

%dp-plus-active-icon {
  @extend %svg-common;
  background-position: 76.66666666666667% 0;
}

%dp-plus-hover-icon {
  @extend %svg-common;
  background-position: 80% 0;
}

%dp-print-icon {
  @extend %svg-common;
  background-position: 83.33333333333333% 0;
}

%dp-print-hover-icon {
  @extend %svg-common;
  background-position: 86.66666666666667% 0;
}

%dp-search-icon {
  @extend %svg-common;
  background-position: 90% 0;
}

%dp-stelselpedia-icon {
  @extend %svg-common;
  background-position: 93.33333333333333% 0;
}

%dp-stelselpedia-active-icon {
  @extend %svg-common;
  background-position: 96.66666666666667% 0;
}

%dp-stelselpedia-hover-icon {
  @extend %svg-common;
  background-position: 100% 0;
}

