@import '../../../shared/styles/config';

.c-video {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.c-video__element {
  height: 100%;
  object-fit: cover;
  width: 100%;

  video {
    // turn off play controls in iOS: needs vendor prefixes
    // sass-lint:disable no-vendor-prefixes
    // sass-lint:selector-pseudo-element-no-unknown
    ::-webkit-media-controls-panel {
      -webkit-appearance: none;
      display: none !important;
    }

    ::-webkit-media-controls-play-button {
      -webkit-appearance: none;
      display: none !important;
    }

    ::-webkit-media-controls-start-playback-button {
      -webkit-appearance: none;
      display: none !important;
    }
  }
  // sass-lint:enable no-vendor-prefixes
}
