@import "../../../shared/styles/config";

.editorial-overview {
  min-height: 100%;

  &__body {
    background-color: $primary-light;
    min-height: calc(100% - 278px);
    position: relative;
    width: 100%;
  }
}
