.c-image-viewer {
  height: 100%;
  width: 100%;

  .is-print-mode & {
    height: 645px;

    & + .viewer-controls {
      .viewer-controls-item--top-right,
      .viewer-controls-item--bottom-left {
        display: none;
      }
    }
  }
}
