$primary-light: #fff;
$primary-dark: #000;
$primary-contrast: #f00;

$primary-light-alpha66: rgba(255, 255, 255, .66);
$primary-light-alpha50: rgba(255, 255, 255, .5);

$primary-dark-alpha33: rgba(0, 0, 0, .33);

$secondary-gray80: #333;
$secondary-gray60: #666;
$secondary-gray40: #999;
$secondary-gray30: #ddd;
$secondary-gray20: #ccc;
$secondary-gray10: #eee;
$secondary-gray4: #f6f6f6;

$thema-1: #f37721;
$thema-2: #fcb315;
$thema-3: #feef35;
$thema-4: #b7d432;
$thema-5: #61b84d;
$thema-6: #00a550;
$thema-7: #19a684;
$thema-8: #1aaab6;
$thema-9: #00adef;
$thema-10: #1586c9;
$thema-11: #0d61ab;
$thema-12: #2f3490;
$thema-13: #752f8e;
$thema-14: #ac268c;
$thema-15: #ec018b;


