$base-font-family: Avenir, Arial, sans-serif;
$header-font-family: $base-font-family;

$xs-font-size: 14px;
$s-font-size: 16px;
$m-font-size: 18px;
$l-font-size: 20px;
$xl-font-size: 26px;

$xs-line-height: 1.14;
$s-line-height: 1.25;
$m-line-height: 1.44;
$l-line-height: 1.5;
$xl-line-height: 1.6;

$phone-font-factor: .875;
$tablet-font-factor: 1;
$screen-font-factor: 1.05;
$wide-font-factor: 1.1;
$hd-font-factor: 1.14;

$phone-line-height-factor: $phone-font-factor;
$tablet-line-height-factor: $tablet-font-factor;
$screen-line-height-factor: $screen-font-factor;
$wide-line-height-factor: $wide-font-factor;
$hd-line-height-factor: $hd-font-factor;

$base-font-size: $s-font-size;
$base-line-height: $s-line-height;

$p-font-size: $m-font-size;
$p-line-height: $m-line-height;

$breakpoints: (
  tablet: 1024px,
  screen: 1200px,
  wide: 1600px,
  hd: 1920px
);

// per breakpoint (font-family, font-size, line-height)
// te gebruiken met de font-size mixin
// p {
//  @include font-size($body-font);
// }
// typografie gebasseerd op http://typecast.com/blog/a-more-modern-scale-for-web-typography

/* Font sizes */

$xs-font: (
  null: ($base-font-family, $xs-font-size * $phone-font-factor, $xs-line-height * $phone-line-height-factor),
  tablet: ($base-font-family, $xs-font-size * $tablet-font-factor, $xs-line-height * $tablet-line-height-factor),
  screen: ($base-font-family, $xs-font-size * $screen-font-factor, $xs-line-height * $screen-line-height-factor),
  wide: ($base-font-family, $xs-font-size * $wide-font-factor, $xs-line-height * $wide-line-height-factor),
  hd: ($base-font-family, $xs-font-size * $hd-font-factor, $xs-line-height * $hd-line-height-factor)
);

$s-font: (
  null: ($base-font-family, $s-font-size * $phone-font-factor, $s-line-height * $phone-line-height-factor),
  tablet: ($base-font-family, $s-font-size * $tablet-font-factor, $s-line-height * $tablet-line-height-factor),
  screen: ($base-font-family, $s-font-size * $screen-font-factor, $s-line-height * $screen-line-height-factor),
  wide: ($base-font-family, $s-font-size * $wide-font-factor, $s-line-height * $wide-line-height-factor),
  hd: ($base-font-family, $s-font-size * $hd-font-factor, $s-line-height * $hd-line-height-factor)
);

$m-font: (
  null: ($base-font-family, $m-font-size * $phone-font-factor, $m-line-height * $phone-line-height-factor),
  tablet: ($base-font-family, $m-font-size * $tablet-font-factor, $m-line-height * $tablet-line-height-factor),
  screen: ($base-font-family, $m-font-size * $screen-font-factor, $m-line-height * $screen-line-height-factor),
  wide: ($base-font-family, $m-font-size * $wide-font-factor, $m-line-height * $wide-line-height-factor),
  hd: ($base-font-family, $m-font-size * $hd-font-factor, $m-line-height * $hd-line-height-factor)
);

$l-font: (
  null: ($base-font-family, $l-font-size * $phone-font-factor, $l-line-height * $phone-line-height-factor),
  tablet: ($base-font-family, $l-font-size * $tablet-font-factor, $l-line-height * $tablet-line-height-factor),
  screen: ($base-font-family, $l-font-size * $screen-font-factor, $l-line-height * $screen-line-height-factor),
  wide: ($base-font-family, $l-font-size * $wide-font-factor, $l-line-height * $wide-line-height-factor),
  hd: ($base-font-family, $l-font-size * $hd-font-factor, $l-line-height * $hd-line-height-factor)
);

$xl-font: (
  null: ($base-font-family, $xl-font-size * $phone-font-factor, $xl-line-height * $phone-line-height-factor),
  tablet: ($base-font-family, $xl-font-size * $tablet-font-factor, $xl-line-height * $tablet-line-height-factor),
  screen: ($base-font-family, $xl-font-size * $screen-font-factor, $xl-line-height * $screen-line-height-factor),
  wide: ($base-font-family, $xl-font-size * $wide-font-factor, $xl-line-height * $wide-line-height-factor),
  hd: ($base-font-family, $xl-font-size * $hd-font-factor, $xl-line-height * $hd-line-height-factor)
);

/* Normal texts */

$body-font: $s-font;
$p-font: $m-font;

/* Headers */

$s-header-font: (
  null: ($header-font-family, $s-font-size * $phone-font-factor, $s-line-height * $phone-line-height-factor),
  tablet: ($header-font-family, $s-font-size * $tablet-font-factor, $s-line-height * $tablet-line-height-factor),
  screen: ($header-font-family, $s-font-size * $screen-font-factor, $s-line-height * $screen-line-height-factor),
  wide: ($header-font-family, $s-font-size * $wide-font-factor, $s-line-height * $wide-line-height-factor),
  hd: ($header-font-family, $s-font-size * $hd-font-factor, $s-line-height * $hd-line-height-factor)
);

$m-header-font: (
  null: ($header-font-family, $m-font-size * $phone-font-factor, $m-line-height * $phone-line-height-factor),
  tablet: ($header-font-family, $m-font-size * $tablet-font-factor, $m-line-height * $tablet-line-height-factor),
  screen: ($header-font-family, $m-font-size * $screen-font-factor, $m-line-height * $screen-line-height-factor),
  wide: ($header-font-family, $m-font-size * $wide-font-factor, $m-line-height * $wide-line-height-factor),
  hd: ($header-font-family, $m-font-size * $hd-font-factor, $m-line-height * $hd-line-height-factor)
);

$l-header-font: (
  null: ($header-font-family, $l-font-size * $phone-font-factor, $l-line-height * $phone-line-height-factor),
  tablet: ($header-font-family, $l-font-size * $tablet-font-factor, $l-line-height * $tablet-line-height-factor),
  screen: ($header-font-family, $l-font-size * $screen-font-factor, $l-line-height * $screen-line-height-factor),
  wide: ($header-font-family, $l-font-size * $wide-font-factor, $l-line-height * $wide-line-height-factor),
  hd: ($header-font-family, $l-font-size * $hd-font-factor, $l-line-height * $hd-line-height-factor)
);

$xl-header-font: (
  null: ($header-font-family, $xl-font-size * $phone-font-factor, $xl-line-height * $phone-line-height-factor),
  tablet: ($header-font-family, $xl-font-size * $tablet-font-factor, $xl-line-height * $tablet-line-height-factor),
  screen: ($header-font-family, $xl-font-size * $screen-font-factor, $xl-line-height * $screen-line-height-factor),
  wide: ($header-font-family, $xl-font-size * $wide-font-factor, $xl-line-height * $wide-line-height-factor),
  hd: ($header-font-family, $xl-font-size * $hd-font-factor, $xl-line-height * $hd-line-height-factor)
);
