$light-weight: "45 Book";
$normal-weight: "55 Roman";
$medium-weight: "65 Medium";
$bold-weight: "85 Heavy";

$base-font-before: "Avenir LT W01 ";
$base-font-family-after: Arial, sans-serif;
$base-font-family: $base-font-before + $normal-weight, $base-font-family-after;

$xs-font-size: 14px;
$s-font-size: 16px;
$m-font-size: 18px;
$l-font-size: 20px;
$xl-font-size: 26px;

$xs-line-height: 1.14;
$s-line-height: 1.25;
$m-line-height: 1.44;
$l-line-height: 1.5;
$xl-line-height: 1.6;

$xs-font-factor: .875;
$s-font-factor: 1;
$m-font-factor: 1.05;
$l-font-factor: 1.1;
$xl-font-factor: 1.14;

$xs-line-height-factor: $xs-font-factor;
$s-line-height-factor: $s-font-factor;
$m-line-height-factor: $m-font-factor;
$l-line-height-factor: $l-font-factor;
$xl-line-height-factor: $xl-font-factor;

$base-font-size: $s-font-size;
$base-line-height: $s-line-height;

$breakpoints: (
  s: 1024px,
  m: 1200px,
  l: 1600px,
  xl: 1920px
);

/**
 * per breakpoint (font-size, line-height)
 * te gebruiken met de font-size mixin
 * p {
 *  @include font-size($body-font);
 * }
 * typografie gebasseerd op http://typecast.com/blog/a-more-modern-scale-for-web-typography
 */

/* Font sizes */

$xs-font: (
  null: ($xs-font-size * $xs-font-factor, $xs-line-height * $xs-line-height-factor),
  s: ($xs-font-size * $s-font-factor, $xs-line-height * $s-line-height-factor),
  m: ($xs-font-size * $m-font-factor, $xs-line-height * $m-line-height-factor),
  l: ($xs-font-size * $l-font-factor, $xs-line-height * $l-line-height-factor),
  xl: ($xs-font-size * $xl-font-factor, $xs-line-height * $xl-line-height-factor)
);

$s-font: (
  null: ($s-font-size * $xs-font-factor, $s-line-height * $xs-line-height-factor),
  s: ($s-font-size * $s-font-factor, $s-line-height * $s-line-height-factor),
  m: ($s-font-size * $m-font-factor, $s-line-height * $m-line-height-factor),
  l: ($s-font-size * $l-font-factor, $s-line-height * $l-line-height-factor),
  xl: ($s-font-size * $xl-font-factor, $s-line-height * $xl-line-height-factor)
);

$m-font: (
  null: ($m-font-size * $xs-font-factor, $m-line-height * $xs-line-height-factor),
  s: ($m-font-size * $s-font-factor, $m-line-height * $s-line-height-factor),
  m: ($m-font-size * $m-font-factor, $m-line-height * $m-line-height-factor),
  l: ($m-font-size * $l-font-factor, $m-line-height * $l-line-height-factor),
  xl: ($m-font-size * $xl-font-factor, $m-line-height * $xl-line-height-factor)
);

$l-font: (
  null: ($l-font-size * $xs-font-factor, $l-line-height * $xs-line-height-factor),
  s: ($l-font-size * $s-font-factor, $l-line-height * $s-line-height-factor),
  m: ($l-font-size * $m-font-factor, $l-line-height * $m-line-height-factor),
  l: ($l-font-size * $l-font-factor, $l-line-height * $l-line-height-factor),
  xl: ($l-font-size * $xl-font-factor, $l-line-height * $xl-line-height-factor)
);

$xl-font: (
  null: ($xl-font-size * $xs-font-factor, $xl-line-height * $xs-line-height-factor),
  s: ($xl-font-size * $s-font-factor, $xl-line-height * $s-line-height-factor),
  m: ($xl-font-size * $m-font-factor, $xl-line-height * $m-line-height-factor),
  l: ($xl-font-size * $l-font-factor, $xl-line-height * $l-line-height-factor),
  xl: ($xl-font-size * $xl-font-factor, $xl-line-height * $xl-line-height-factor)
);
