.c-data-selection-pagination {
  margin: 0 (-2 * $base-whitespace);
  padding: 2 * $base-whitespace;
  padding-bottom: 0;
  border-top: 2px solid $secondary-gray40;
  background-color: $primary-light;
}

.c-data-selection-pagination__controls {
  @include font-size($s-font);
  @include font-weight($normal-weight);

  position: relative;
  height: $button-size;
  text-align: center;
}

.c-data-selection-pagination__input {
  @include font-weight($normal-weight);
  width: 3rem;
  height: $button-size;
  border: 1px solid $secondary-gray20;
  text-align: center;
  vertical-align: middle;
}

.c-data-selection-pagination__button {
  @extend %icon--border-hover;
  @include icon-label-left("forward");

  padding-right: $base-whitespace;
  vertical-align: middle;

  /* Display button without icon */
  &::before {
    display: none;
  }
}

.c-data-selection-pagination__backward {
  position: absolute;
  left: 0;
  z-index: 2;
}

.c-data-selection-pagination__go {
  position: absolute;
  right: 0;
  left: -$base-whitespace * 2;
  line-height: 1.3;
  z-index: 1;
}

.c-data-selection-pagination__forward {
  position: absolute;
  right: 0;
  z-index: 2;
}

.c-data-selection-pagination-link--first {
  @extend %icon--border-hover;
  @include icon-label-right("first", "", "white");
  margin-right: $base-whitespace;
}

.c-data-selection-pagination-link--last {
  @extend %icon--border-hover;
  @include icon-label-left("last", "", "white");
  margin-left: $base-whitespace;
}

.c-data-selection-pagination-link--previous {
  @extend %icon--border-hover;
  @include icon-label-right("previous", "", "white");
}

.c-data-selection-pagination-link--next {
  @extend %icon--border-hover;
  @include icon-label-left("next", "", "white");
}
