$pagination-line-color: #e4e4e4;

@mixin data-selection-pagination-button($icon) {
  $iconplain: $icon + ".svg";
  $iconhover: $icon + "-hover.svg";

  &::before {
    content: url($iconplain);
  }

  &:hover {
    color: $primary-contrast;
    text-decoration: none;

    .c-data-selection-pagination-link-text {
      text-decoration: underline;
    }

    &::before {
      content: url($iconhover);
    }
  }
}

@mixin data-selection-pagination-button-flip($icon) {
  transform: scaleX(-1);
  content: url($icon);
  filter: FlipH;
}

@mixin data-selection-pagination-font {
  font-family: $header-font-family;
  font-size: $base-font-size;
  font-weight: lighter;
}

.c-data-selection-pagination {
  @include data-selection-pagination-font;
  text-align: center;

  .c-data-selection-pagination__input {
    width: 3rem;
    height: $button-size;
    border: 1px solid $secondary-gray20;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }

  .c-data-selection-pagination__button {
    width: $button-size;
    height: $button-size;
    background-image: url("assets/icons/link-active.svg");
    vertical-align: middle;

    &:hover {
      background-image: url("assets/icons/link-hover.svg");
    }
  }
}

.c-data-selection-pagination--separator {
  width: auto;
  height: 1px;
  margin: {
    top: 2 * $base-whitespace;
    right: - 2 * $base-whitespace;
    bottom: 2 * $base-whitespace;
    left: - 2 * $base-whitespace;
  }
  border: none;
  background: $pagination-line-color;
}

.c-data-selection-page--form-links {
  margin-top: -.55rem;
}

.c-data-selection-pagination-link {
  margin-left: .2rem;

  &::before {
    display: inline-block;
    position: relative;
    top: .5rem;
    width: $button-size;
    height: $button-size;
  }
}

.c-data-selection-pagination-link-text {
  @include data-selection-pagination-font;

  &:hover {
    color: $primary-contrast;
    text-decoration: underline;
  }
}

.c-data-selection-pagination-link--first {
  @include data-selection-pagination-button("assets/icons/icon-last");

  &::before {
    @include data-selection-pagination-button-flip("assets/icons/icon-last.svg");
  }
}

.c-data-selection-pagination-link--last {
  @include data-selection-pagination-button("assets/icons/icon-last");
}

.c-data-selection-pagination-link--previous {
  @include data-selection-pagination-button("assets/icons/icon-next");
  margin-left: $base-whitespace;

  &::before {
    @include data-selection-pagination-button-flip("assets/icons/icon-next.svg");
  }
}

.c-data-selection-pagination-link--next {
  @include data-selection-pagination-button("assets/icons/icon-next");
  margin-right: $base-whitespace;
}