@import "./../../../shared/styles/config";

.draw-tool {
  display: flex;
  left: 8px;
  position: absolute;
  top: 8px;
  z-index: 2;

  .toggle-drawing {
    @extend %hover-focus-button;
  }

  .toggle-drawing,
  .shape-summary,
  .points-available {
    align-self: center;
  }
}

.leaflet-draw-tooltip {
  color: $primary-light !important;

  .leaflet-draw-tooltip-subtext {
    color: $primary-light !important;
  }

  .leaflet-marker-icon {
    // edit anchor
    &.leaflet-editing-icon {
      // fix the marker size
      height: 14px !important;
      margin-left: -7px !important;
      margin-top: -7px !important;
      width: 14px !important;
    }
  }
}


// this css selectors are longer because they mainly use the leaflet selectors
// therefore the nesting-depth is disabled and no-duplicate-properties is disabled for ie compatibility


.leaflet-dragging {
  // dragging the map
  .leaflet-grab {
    cursor: move;
  }
}

.leaflet-marker-icon {
  // edit anchor
  &.leaflet-editing-icon {

    // sass-lint:disable no-duplicate-properties
    cursor: grab;
    cursor: url("assets/images/cursors/grab.cur"), url("/assets/images/cursors/grab.cur"), pointer; // no grab icon for ie
    // sass-lint:enable no-duplicate-properties

    height: 14px !important;
    margin-left: -7px !important;
    margin-top: -7px !important;
    width: 14px !important;

    .leaflet-dragging & {
      // sass-lint:disable no-duplicate-properties
      cursor: grabbing;
      cursor: url("assets/images/cursors/grabbing.cur"), url("/assets/images/cursors/grabbing.cur"), pointer; // no grabbing icon for ie
      // sass-lint:enable no-duplicate-properties
    }

    .c-map--drawing-mode-draw & {
      cursor: pointer;
    }
  }

  // cluster icon
  &.o-highlight-cluster {
    // sass-lint:disable no-duplicate-properties
    cursor: zoom-in;
    cursor: url("assets/images/cursors/zoom-in.cur"), url("/assets/images/cursors/zoom-in.cur"), pointer; // no zoom-in icon for ie
    // sass-lint:enable no-duplicate-properties

    .leaflet-dragging & {
      cursor: move;
    }

    &:focus {
      border: 1px solid $primary-dark;
      border-radius: 50%;
      outline: none;
    }
  }
}

.leaflet-overlay-pane {
  > svg {
    .leaflet-interactive {
      cursor: default;

      // sass-lint:disable nesting-depth
      .leaflet-dragging & {
        cursor: move;
      }

      // drawn polygon on the map
      &.c-map__leaflet-drawn-polygon {
        cursor: url("assets/images/cursors/edit.cur"), url("/assets/images/cursors/edit.cur"), pointer;

        .c-map--drawing-mode-edit & {
          cursor: url("assets/images/cursors/save.cur"), url("/assets/images/cursors/save.cur"), pointer;
        }

        .leaflet-dragging & {
          cursor: move;
        }
      }
      // sass-lint:enable nesting-depth
    }
  }
}

// pano popje
.leaflet-pane {
  &.leaflet-marker-pane {
    // sass-lint:disable nesting-depth
    > img {
      cursor: default;

      // sass-lint:disable nesting-depth
      .leaflet-dragging & {
        cursor: move;
      }
      // sass-lint:enable nesting-depth
    }
  }
}

%draw-tool-element {
  background-color: $primary-light;
  color: $secondary-gray60;
  float: left;
  height: $button-size;
  line-height: $button-size;
  margin-right: $base-whitespace;
  padding: 0 $base-whitespace;
  position: relative;
}

.c-draw-tool {
  align-items: center;
  display: flex;
  left: 0;
  padding: $base-whitespace;
  position: absolute;
  top: 0;
  z-index: $fixed-position-z-index;
}

.c-toggle-drawing-tool {
  background-color: $primary-light;
  border: 1px solid $secondary-gray20;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  box-sizing: content-box;
  color: $secondary-gray60;
  display: flex;
  height: 24px;
  margin: -2px 0 0 -2px;
  outline: none;
  padding: 4px;

  &:focus {
    background-color: $secondary-gray10;
    color: $primary-dark;
    fill: $primary-dark;
  }

  &:hover {
    background-color: $primary-contrast;
    border-color: $primary-contrast;

    // TODO:, fix illegal BEM
    svg {
      fill: $primary-light;
    }

    // TODO:, fix illegal BEM
    span {
      color: $primary-light;
    }
  }

  // TODO:, fix illegal BEM
  svg {
    fill: $secondary-gray60;
    height: 24px;
    width: 24px;
  }

  // TODO:, fix illegal BEM
  div {
    font-family: "Avenir LT W01 85 Heavy";
    line-height: 24px;
    margin-left: 4px;
  }
}
