<div class="u-padding__bottom--2">
  <table class="c-table" ng-if="apiData.results">
    <thead>
      <tr class="c-table__header-row">
        <th class="c-table__field c-table__header-field">Datum</th>
        <th class="c-table__field c-table__header-field u-align--right">Hoogte NAP</th>
        <th class="c-table__field c-table__header-field u-align--right">Zakking (mm)</th>
        <th class="c-table__field c-table__header-field u-align--right">Zaksnelheid (mm/j)</th>
        <th class="c-table__field c-table__header-field u-align--right">Zakking cum. (mm)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="c-table__content-row" ng-repeat="object in apiData.results">
        <td class="c-table__field c-table__content-field">{{ object.datum }}</td>
        <td class="c-table__field c-table__content-field u-align--right">
            {{object.hoogte_nap >= 0 ? '+' : ''}}{{ object.hoogte_nap | number:3}}
        </td>
        <td class="c-table__field c-table__content-field u-align--right">
            {{object.zakking >= 0 ? '+' : ''}}{{ object.zakking | number:3}}
        </td>
        <td class="c-table__field c-table__content-field u-align--right">
            {{object.zakkingssnelheid >= 0 ? '+' : ''}}{{ object.zakkingssnelheid | number:3}}
        </td>
        <td class="c-table__field c-table__content-field u-align--right">
            {{object.zakking_cumulatief >= 0 ? '+' : ''}}{{ object.zakking_cumulatief | number:3}}
        </td>
      </tr>
    </tbody>
  </table>

  <a class="c-show-more" ng-click="loadMore()" ng-if="apiData.next">Meer</a>
</div>
