@mixin svg-highlight-color($color) {
  svg {
    path,
    polygon {
      fill: $color;
    }
  }
}

.select-button {
  background-color: white;
  margin-bottom: 10px;
  position: relative;

  .select-button__wrapper {
    align-items: center;
    border-bottom: 1px solid #7e7e7e;
    border-left: 1px solid #7e7e7e;
    border-top: 1px solid #7e7e7e;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    outline: none;
    overflow: hidden;
    width: calc(100% - 32px);

    &:hover {
      background-color: #f00;
      border-color: #f00;
      color: white;

      @include svg-highlight-color(white);
    }
  }

  .select-button__icon-wrapper {
    border: 1px solid #7e7e7e;
    bottom: 0;
    height: 36px;
    padding: 6px 3px;
    position: absolute;
    right: 0;
    width: 32px;

    &:hover {
      background-color: #f00;
      border-color: #f00;
      color: white;

      @include svg-highlight-color(white);
    }
  }

  .select-button__icon {
    svg {
      height: 22px;
      width: 22px;
    }
  }

  .select-button__icon--expand {
    display: inline;
  }

  .select-button__icon--contract {
    display: none;
  }

  &.select-button--expanded {
    .select-button__drop-down {
      display: block;
    }

    .select-button__icon--expand {
      display: none;
    }

    .select-button__icon--contract {
      display: inline;
    }

    .select-button__icon-wrapper {
      background-color: #f00;
      border-color: #f00;
      color: white;

      @include svg-highlight-color(white);
    }
  }

  &.select-button--disabled {
    .select-button__wrapper,
    .select-button__icon-wrapper {
      border-color: #d2d2d2;
      color: #666;

      &:hover {
        color: white;
        background-color: #f00;
        border-color: #f00;

        @include svg-highlight-color(white);
      }
    }

    &.select-button--expanded {
      .select-button__icon-wrapper {
        border-color: #f00;
      }
    }

    @include svg-highlight-color(#666);
  }

  .select-button__custom-icon {
    height: 20px;
    margin-left: 7px;
    width: 20px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  .select-button__drop-down {
    background-color: #fff;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 700;
  }

  .select-button__drop-down-item {
    width: inherit;
  }

  .select-button__drop-down-item--selected {
    background-color: #eeeeee;
  }

  .select-button__label,
  .select-button__drop-down-button {
    font-family: "Avenir LT W01 85 Heavy";
    padding: 7px 10px 7px 0;
    text-align: left;
    width: inherit;
  }

  .select-button__drop-down-button {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: "Avenir LT W01 55 Roman";
    outline: none;
    padding: 7px 10px 7px 33px;

    &:hover {
      background-color: #f6f6f6;
    }
  }
}
