.c-data-selection-tag {
  @include font-size($xs-font);
  float: left;
}

.c-data-selection-tag__name {
  display: inline-block;
  margin-right: $base-whitespace;
  padding: 0 $base-whitespace * .5;
  background-color: $secondary-gray20;
  color: $secondary-gray80;
  text-transform: lowercase;
}
