.c-data-selection-tag {
  float: left;
  color: $secondary-gray40;
  font-size: $base-font-size * .8;
}

.c-data-selection-tag__name {
  display: inline-block;
  padding: 0 $base-whitespace * .5;
  background-color: $thema-7;
  color: $primary-light;
  text-transform: lowercase;
}
