.c-meetbout {
  margin-bottom: 20px;
}

.c-meetbout__axis {
  font-size: 12px;
  fill: $secondary-gray20;
  stroke: none;

  path,
  line {
    shape-rendering: crispEdges;
    fill: none;
    stroke: $secondary-gray20;
    stroke-width: 1px;
  }
}

.c-meetbout__axis-x-year {
  text {
    fill: $primary-dark;
  }
}

.c-meetbout__axis-y {
  .domain {
    stroke: transparent;
  }
}

.c-meetbout__line {
  background-color: $secondary-gray4;
  stroke-width: 2px;
  fill: none;
}

.c-meetbout__line--zakking,
.c-meetbout__axis--y-zakking {
  stroke: $primary-contrast;
}

.c-meetbout__line--zakking-cum,
.c-meetbout__axis--y-zakking-c {
  stroke: $darkish-blue;
}

.c-meetbout__background {
  rect {
    fill: $secondary-gray4;
  }
}
