.c-meetbout {
  margin-bottom: 20px;
}

.c-meetbout__axis {
  fill: $primary-dark;
  stroke: none;

  path,
  line {
    fill: none;
    stroke: $primary-dark;
    stroke-width: 1px;
  }
}

.c-meetbout__line {
  fill: none;
  stroke-width: 2px;
}

.c-meetbout__line--zakking,
.c-meetbout__axis--y-zakking {
  stroke: $primary-contrast;
}

.c-meetbout__line--zakking-cum,
.c-meetbout__axis--y-zakking-c {
  stroke: $thema-10;
}
