@import "../../../shared/styles/config";

$offset: 10px;

.viewer-controls {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;

  &-item {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    pointer-events: all;
    position: absolute;

    button {
      // These styles are temporary, until we move to the new amsterdam style
      border: 1px solid $secondary-gray20;
      box-shadow: 2px 2px 0 0 $secondary-gray40;

      & + button {
        margin-top: 2px;
      }
    }

    & > * + * {
      margin-top: $offset;
    }

    &--top-left {
      left: $offset;
      top: $offset;
    }

    &--top-right {
      right: $offset;
      top: $offset;
    }

    &--bottom-right {
      bottom: $offset;
      padding-right: $offset;
      right: 0;
    }

    &--bottom-left {
      bottom: $offset;
      left: $offset;
    }
  }

  // Split to seperate component
  &__meta {
    $meta-bg: rgba(255, 255, 255, .67);

    align-items: center;
    box-shadow: 0 2px 0 0 $secondary-gray40;
    display: flex;
    flex-direction: row;
    margin-right: $offset * -.5;
    width: 100%;

    &__item {
      align-items: center;
      background-color: $meta-bg;
      display: flex;
      flex-grow: 1;
      height: 32px;
      max-width: 70vw;
      padding: 0 10px;

      & + & {
        margin-left: 1px;
        max-width: 20vw;
      }

      & > span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
