.s-cms-page-content {
  h2 {
    margin-bottom: 2 * $base-whitespace;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    margin-bottom: .5 * $base-whitespace;
    padding-left: 2 * $base-whitespace;
    list-style-type: square;
  }

  li,
  p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 1.6 * $base-whitespace;
  }

  a {
    color: $primary-dark;
    text-decoration: underline;

    &:hover {
      color: $primary-contrast;
    }
  }
}
