.s-cms-page-content {
  h2 {
    //margin-top: 1.5 * $base-whitespace;
  }

  ul {
    margin-bottom: .5 * $base-whitespace;
    padding-left: 2 * $base-whitespace;
    list-style-type: square;
  }

  li,
  p {
    margin-bottom: .5 * $base-whitespace;
  }

  a {
    color: $primary-dark;
    text-decoration: none;

    &:hover {
      color: $primary-contrast;
    }
  }
}
