.s-cms-page-content {
  h2 {
    margin-top: 4 * $base-whitespace;
    margin-bottom: $base-whitespace;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin-bottom: .5 * $base-whitespace;
  }

  img {
    width: 100%;
    border: solid 1px $secondary-gray20;
  }

  ul {
    margin-bottom: .5 * $base-whitespace;
    padding-left: 2 * $base-whitespace;
    list-style-type: square;
  }

  li,
  p {
    margin-bottom: 1.6 * $base-whitespace;
  }

  blockquote {
    padding: 5px 16px;
    border-left: 2px solid $secondary-gray20;
    font-style: italic;

    p {
      margin-bottom: 0;
    }
  }

  a {
    color: $primary-dark;
    text-decoration: underline;

    &:hover {
      color: $primary-contrast;
    }
  }
}

.s-cms-page-content--toc {
  p {
    display: inline;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
      color: inherit;
      text-decoration: inherit;
    }
  }
}
