.c-user-content-overview__left {
  @include font-size-responsive($m-font);
  max-width: $page-max-left-pane-width;
}

.c-user-content-overview__right {
  margin-right: $page-right-pane-margin;
  font-size: $s-font-size;

  .o-btn--link {
    white-space: normal;
  }
}

.c-user-content-overview__toc-header {
  @include font-weight($bold-weight);
  margin-bottom: $base-whitespace;
  color: $primary-contrast;
}

.c-user-content-overview__date {
  @include font-size($s-font);
  margin: $base-whitespace 0;
  color: $secondary-gray60;
}
