.c-user-content-overview {
  .c-user-content-overview__contents {
    margin-right: $base-whitespace;
  }

  .c-user-content-overview__toc {
    position: fixed;
  }

  .c-user-content-overview__toc-header {
    margin-bottom: $base-whitespace;
    color: $primary-contrast;
  }

  .c-user-content-overview__toc-item {
    margin-bottom: .5 * $base-whitespace;
    color: $primary-dark;
  }

  .c-user-content-overview__header {
    margin-bottom: 3 * $base-whitespace;
  }

  .c-user-content-overview__item {
    margin-bottom: 3 * $base-whitespace;
  }

  .c-user-content-overview__item-header {
    margin-bottom: $base-whitespace;
  }

  .c-user-content-overview__events-item-contents {
    margin-left: 2 * $base-whitespace;
  }

  .c-user-content-overview__events-intro {
    margin-bottom: 1.5 * $base-whitespace;
    line-height: $button-size;
  }
}
