<div id="{{vm.type + 'top'}}" ng-if="vm.feed">

    <div class="u-row">
        <div class="u-col-sm--offset-1 u-col-sm--7">
            <h1 class="u-margin__bottom--3">{{vm.feed.title}}</h1>
        </div>
    </div>

    <div class="u-row">
        <div class="u-col-sm--offset-1 u-col-sm--7">
            <div class="c-user-content-overview__left">
                <div ng-if="!entry.short.isHref"
                     id="{{vm.type}}{{entry.id}}"
                     ng-repeat="entry in vm.entries"
                     class="u-margin__bottom--4">

                    <div ng-if="vm.type !== 'events'">
                        <h2 class="u-margin__bottom--1">{{entry.titel.value}}</h2>
                        <div class="s-cms-page-content" ng-bind-html="entry.contents.html"></div>
                    </div>

                    <div ng-if="vm.type === 'events'">
                        <dp-event date="entry.datum.date">
                            <div class="u-margin__bottom--1">
                                <div class="u-margin__left--2">
                                    <dp-event-when-where title="entry.titel.value"
                                                         time="entry.tijd.value"
                                                         location="entry.location.value"></dp-event-when-where>
                                    <div class="s-cms-page-content" ng-bind-html="entry.contents.html"></div>
                                </div>
                            </div>
                        </dp-event>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="vm.entries.length > 1" class="u-col-sm--offset-1 u-col-sm--3">
            <div class="c-user-content-overview__right">
                <div class="c-user-content-overview__toc-header">Op deze pagina</div>
                <div ng-repeat="entry in vm.entries"
                        ng-if="entry.short.isHref || entry.titel.value" class="u-margin__bottom--1">
                    <div ng-if="entry.short.isHref"
                         class="o-btn o-btn--link s-cms-page-content s-cms-page-content--toc"
                         ng-bind-html="entry.short.html"></div>
                    <dp-anchor-link ng-if="!entry.short.isHref"
                                    link="{{$first ? (vm.type + 'top') : (vm.type + entry.id)}}"
                                    auto-scroll="entry.id === vm.entry.id"
                        >{{entry.short.value}}</dp-anchor-link>
                </div>
            </div>
        </div>
    </div>
</div>
