<div ng-if="vm.type !== 'beleid'">
    <ng-include src="'modules/page/components/page/templates/content-overzicht.html'"></ng-include>
</div>

<div ng-if="vm.feed && vm.type === 'beleid'" class="c-user-content-detail">
    <div class="u-grid">
        <div class="u-row">
            <div class="u-col-sm--8">

                <div ng-if="vm.type !== 'events'">
                    <h1 class="c-user-content-detail__item-header">{{vm.entry.titel.value}}</h1>
                    <div class="s-cms-content" ng-bind-html="vm.entry.contents.html"></div>
                </div>

                <div ng-if="vm.type === 'events'">
                    <h1 class="c-user-content-detail__event-item-header">{{vm.entry.titel.value}}</h1>
                    <div class="c-user-content-detail__event-when-where">
                        {{vm.entry.datum.date | dpDate}} {{vm.entry.tijd.value}}
                        |
                        {{vm.entry.location.value}}
                    </div>
                    <div class="s-cms-content" ng-bind-html="vm.entry.contents.html"></div>
                </div>

            </div>

            <div class="u-col-sm--3 u-col-sm--offset-1">
                <div class="c-user-content-detail--right">
                    <dp-user-content-widget type="{{vm.type}}"></dp-user-content-widget>
                </div>
            </div>

        </div>
    </div>
</div>
