<h2 class="o-header__subtitle u-margin__bottom--2-5">Wat is Atlas?</h2>
<p class="u-margin__bottom--4">
    Atlas is een applicatie van de gemeente Amsterdam. Hiermee kun je data zoeken en selecteren.
</p>

<h2 class="o-header__subtitle u-margin__bottom--2-5">Hoe gebruik ik Atlas?</h2>
<ul class="o-list--bulleted u-margin__bottom--4">
    <dp-link type="SHOW_PAGE" payload="'snel-wegwijs'">
        Snel wegwijs
    </dp-link>
    <li>
        Vragen over Atlas? Mail naar <a class="o-link-inline" href="mailto:atlas@amsterdam.nl">atlas@amsterdam.nl</a>
    </li>
</ul>

<h2 class="o-header__subtitle u-margin__bottom--2-5">Over de data in Atlas</h2>
<dp-link type="SHOW_PAGE" payload="'metadata'">
    Wat is de actualiteit van de data?
</dp-link>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        Correcties op data melden? Gebruik de terugmeldknop in het menu dat bovenaan elk scherm zichtbaar is.
    </li>
</ul>