<h2 class="o-header__subtitle">Wat is Atlas?</h2>
<p class="u-margin__bottom--4">
    Atlas is een applicatie van de gemeente Amsterdam. Hiermee kun je data zoeken en selecteren.
</p>

<h2 class="o-header__subtitle">Hoe gebruik ik Atlas?</h2>

<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        <dp-link type="SHOW_PAGE" payload="'snel-wegwijs'" class-name="o-link-inline">
            Snel wegwijs
        </dp-link>
    </li>
    <li>
        Vragen over Atlas? Mail naar <a class="o-link-inline" href="mailto:atlas@amsterdam.nl">atlas@amsterdam.nl</a>
    </li>
</ul>

<h2 class="o-header__subtitle">Over de data in Atlas</h2>

<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        <dp-link type="SHOW_PAGE" payload="'metadata'" class-name="o-link-inline">
            Wat is de actualiteit van de data?
        </dp-link>
    </li>
    <li>
        Terugmelden: Heb je het idee dat een bepaald gegeven niet klopt? Ga naar de pagina in Atlas waar het gegeven staat en gebruik dan de Terugmeldknop in het menu rechtsboven.
    </li>
</ul>