<img class="o-home__logo u-margin__bottom--3" src="assets/images/gemeente-amsterdam.png" alt="Logo Gemeente Amsterdam">

<p class="u-margin__bottom--4">
    Welkom! Atlas is een applicatie van de gemeente Amsterdam. Hiermee kun je data zoeken en selecteren.
</p>

<h2 class="o-header__subtitle">Nieuw in Atlas</h2>
<ul class="o-list--bulleted u-margin__bottom--2-5">
    <li>Diverse details verbeterd.</li>
</ul>

<p class="u-margin__bottom--4">
    <dp-link type="SHOW_PAGE" payload="{name: 'versie-historie'}" class-name="o-link-inline">Alle verbeteringen weergeven</dp-link>
</p>

<h2 class="o-header__subtitle">Binnenkort in Atlas</h2>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        Aanpassingen aan inloggen: aansluiting op ADW-accounts. Je kunt dan via een aparte ADW-inlogpagina inloggen en
        komt daarna terug bij DataPunt/Atlas, in plaats van dat je inlogt binnen Atlas. Het inloggen via ADW is een
        voorwaarde voor de externe openstelling van het dataportaal.
    </li>
    <li>
        Tellussen (verkeersstromen) als kaartlaag en detailpagina's.
    </li>
</ul>

<h2 class="o-header__subtitle">Meer weten?</h2>
<p class="u-margin__bottom--4">Meer over Atlas vind je onder de
    <dp-link type="SHOW_PAGE" payload="{name: 'help'}" class-name="o-link-inline">Help-knop</dp-link>
    in het menu rechtsboven.
</p>
