<img class="o-home__logo u-margin__bottom--3" src="assets/images/gemeente-amsterdam.png" alt="Logo Gemeente Amsterdam">

<p class="u-margin__bottom--4">
    Welkom! Atlas is een applicatie van de gemeente Amsterdam. Hiermee kun je data zoeken en selecteren.
</p>

<h2 class="o-header__subtitle">Nieuw in Atlas</h2>
<ul class="o-list--bulleted u-margin__bottom--2-5">
    <li>
        Aansluiting op ADW-accounts voor medewerkers die al inlogden in Atlas.
        Dit werkt nu via een vernieuwde inlogpagina, waar je kunt aanmelden met je ADW-account.
        Dit is nuttig wanneer je speciaal bevoegd bent (dan mag je zoeken welke eigendommen een bepaalde persoon bezit).
        De koppeling met de ADW-accounts is een noodzakelijke stap voor de externe openstelling van Atlas.
        Heb je vragen over het inloggen in Atlas, mail dan naar
        <a class="o-link-inline" href="mailto:algemeen.ois@amsterdam.nl">algemeen.ois@amsterdam.nl</a>.
    </li>
    <li>
        De weergave van bedrijfsgegevens (bij tabelweergave en bij een gedownload bestand) is verbeterd.
    </li>
</ul>

<p class="u-margin__bottom--4">
    <dp-link type="SHOW_PAGE" payload="{name: 'versie-historie'}" class-name="o-link-inline">Alle verbeteringen weergeven</dp-link>
</p>

<h2 class="o-header__subtitle">Let op: vanaf 12 april is Atlas in deze vorm niet meer beschikbaar</h2>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        Om de data te kunnen raadplegen/selecteren/downloaden zoals je gewend bent (en nog veel meer!) ga je vanaf die datum naar het nieuwe dataportaal (data.amsterdam.nl).
    </li>
    <li>
        Zie ook <a class="o-link-inline" href="http://intranet.amsterdam.nl/kennis-beleid/dienstverlening/programma-datapunt/ontwikkeling/amsterdamdata-live/?reload=true">AmsterdamData: hét dataportaal van de gemeente</a>.
    </li>
</ul>

<h2 class="o-header__subtitle">Meer weten?</h2>
<p class="u-margin__bottom--4">Meer over Atlas vind je onder de
    <dp-link type="SHOW_PAGE" payload="{name: 'help'}" class-name="o-link-inline">Help-knop</dp-link>
    in het menu rechtsboven.
</p>
