<img class="o-home__logo u-margin__bottom--3" src="assets/images/gemeente-amsterdam.png" alt="Logo Gemeente Amsterdam">

<uL>
    <li><dp-link type="SHOW_MAP">Toon de kaart</dp-link></li>
    <li>Toon straatbeeld</li>
</uL>


<!--p class="u-margin__bottom--4">
    Welkom! Atlas is een applicatie van de gemeente Amsterdam. Hiermee kun je data zoeken en selecteren.
</p>

<h2 class="o-header__subtitle">Nieuw in Atlas</h2>
<ul class="o-list--bulleted u-margin__bottom--2-5">
    <li>Zelf gegevens (adressen, vestigingen) kunnen selecteren en downloaden in tabelvorm op basis van een 'ingetekend' gebied op de kaart.
        Gebruik hiervoor de vernieuwde meet/tekenfunctie, via de knop linksboven in de kaart. Zie 'Meten en tekenen' in
        <dp-link type="SHOW_PAGE" payload="'snel-wegwijs'" class-name="o-link-inline">Snel wegwijs</dp-link>.
    </li>
    <li>
        Explosieven zijn ook via de kaart te selecteren en detailpagina's te bekijken. Dit is met name van belang bij het plannen van graafwerkzaamheden.
    </li>
</ul>

<p class="u-margin__bottom--4">
    <dp-link type="SHOW_PAGE" payload="'versie-historie'" class-name="o-link-inline">Alle verbeteringen weergeven</dp-link>
</p>

<h2 class="o-header__subtitle">Binnenkort in Atlas</h2>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        Tellussen (verkeersstromen) als kaartlaag en detailpagina's.
    </li>
</ul>

<h2 class="o-header__subtitle">Meer weten?</h2>
<p class="u-margin__bottom--4">Meer over Atlas vind je onder de
    <dp-link type="SHOW_PAGE" payload="'help'" class-name="o-link-inline">Help-knop</dp-link>
    in het menu rechtsboven.
</p-->
