<h1 class="o-header__title u-margin__bottom--3">{{ vm.name | dpPageName }}</h1>
<p class="u-margin__bottom--4">
    Hieronder vind je een toelichting op enkele van de meestgebruikte functies.
</p>

<h2 class="o-header__subtitle">Zoeken</h2>
<img class="c-snel-wegwijs__image" src="assets/images/zoeken.png" alt="Zoeken" title="Zoeken">
<p class="u-margin__bottom--4">
    Zoekveld: zoeken op adres of postcode, handelsnaam, kadastrale aanduiding, gebiedsnaam, bouwblokcode of meetboutnummer.
    <br>
    Tip: je kunt de zoeksuggesties met je toetsenbord (pijltje omhoog, omlaag) doorlopen om bijvoorbeeld een lange straatnaam te kiezen en daarna het huisnummer te typen.
</p>

<h2 class="o-header__subtitle">Zoeken in kaart</h2>
<img class="c-snel-wegwijs__image" src="assets/images/zoeken-in-kaart.png" alt="Zoeken in kaart" title="Zoeken in kaart">
<p class="u-margin__bottom--4">
    Klik op een punt in de kaart: vind adressen en gebouwen, economie, onroerende zaken, gebieden, hoogte (alleen meetbouten en NAP-peilmerken) en explosieven.
</p>

<h2 class="o-header__subtitle">Meten en tekenen in kaart</h2>
<img class="c-snel-wegwijs__image" src="assets/images/meten-en-tekenen-in-kaart.png" alt="Meten en tekenen in kaart" title="Meten en tekenen in kaart">
<p class="u-margin__bottom--05">
    Teken-knop:
</p>
<ul class="o-list--bulleted u-margin__bottom--1">
    <li>
        Meet afstanden en oppervlakten in de kaart. Als een lijn is getekend, zie je de meetgegevens bovenaan de kaart.
    </li>
    <li>
        Intekenen van een gebied. Dan verschijnt rechts de selectie (adressen en vestigingen) binnen dat gebied, met
        daarbij de meetgegevens. Zie ook Downloaden adressen/vestigingen (verderop bij Menu).
    </li>
</ul>
<p class="u-margin__bottom--1">
    Tip: Beide werken met de teken-knop linksboven de kaart, die het tekenen begint (en eindigt). Klik vervolgens twee of
    meer punten in de kaart (max. 40 punten). Gebruik daarna weer de teken-knop (Eindig) om de lijn of gebied af te maken.
    Of door het laatste punt met het eerste punt te verbinden. Door een eerder getekend punt aan te klikken, kun je het weer verwijderen.<br>
    Wijzigen van het getekende kan door het aan te klikken (nogmaals klikken betekent weer eindigen).
    En opnieuw beginnen kan door de teken-knop weer te gebruiken.
</p>

<h2 class="o-header__subtitle">Meer kaartlagen</h2>
<img class="c-snel-wegwijs__image" src="assets/images/meer-kaartlagen.png" alt="Meer kaartlagen" title="Meer kaartlagen">
<p class="u-margin__bottom--4">
    Meer kaartlagen: open het overzicht met beschikbare kaartlagen…
</p>

<h2 class="o-header__subtitle">Kaartlagen selecteren</h2>
<img class="c-snel-wegwijs__image" src="assets/images/kaartlagen-selecteren.png" alt="Kaartlagen selecteren" title="Kaartlagen selecteren">
<p class="u-margin__bottom--4">
    …selecteer welke kaartlagen je wilt zien.
</p>

<h2 class="o-header__subtitle">Legenda</h2>
<img class="c-snel-wegwijs__image" src="assets/images/legenda.png" alt="Legenda" title="Legenda">
<p class="u-margin__bottom--4">
    Legenda: toon/sluit de legenda van geselecteerde kaartlagen.
</p>

<h2 class="o-header__subtitle">Extra informatie</h2>
<img class="c-snel-wegwijs__image" src="assets/images/extra-informatie.png" alt="Extra informatie" title="Extra informatie">
<p class="u-margin__bottom--4">
    'i': Actualiteit van de data bekijken.<br>
    '?': Toelichting van begrippen.
</p>

<h2 class="o-header__subtitle">Panoramabeeld</h2>
<img class="c-snel-wegwijs__image" src="assets/images/straatbeeld.png" alt="Straatbeeld" title="Straatbeeld">
<p class="u-margin__bottom--4">
    Panoramabeeld: klik de afbeelding om het straatbeeld te bekijken (nabij deze locatie). Gebruik de kaart-knop om een kaart erbij weer te geven. Tip: er is een aparte <a class="o-link-inline" href="assets/documents/historische-panoramabeelden-raadplegen.pdf" target="_blank">handleiding</a> (pdf) voor het raadplegen van historische panoramabeelden.
</p>

<h2 class="o-header__subtitle">Inloggen</h2>
<img class="c-snel-wegwijs__image" src="assets/images/inloggen.png" alt="Inloggen" title="Inloggen">
<p class="u-margin__bottom--4">
    Inloggen: sommige gegevens in Atlas zijn om privacyredenen niet voor iedereen toegankelijk. Je moet inloggen om deze gegevens te kunnen inzien. Dit is het geval als je wilt zoeken op basis van de naam van een persoon en je wilt weten welke panden of percelen die in eigendom heeft (zakelijk recht).
</p>

<h2 class="o-header__subtitle">Menu</h2>
<img class="c-snel-wegwijs__image" src="assets/images/menu.png" alt="Menu" title="Menu">

<ul class="o-list--bulleted u-margin__bottom--2-5">
    <li>
        Downloaden adressen/vestigingen: een adressenbestand/vestigingenbestand maken. Je kunt op alle
        adressen/vestigingen in Amsterdam filters toepassen, o.a. op basis van gebiedsindelingen en straten. Vervolgens
        kunnen de geselecteerde gegevens in tabelvorm worden gedownload voor verder gebruik. Tip: er is een aparte
        <a class="o-link-inline" href="assets/documents/adressen-downloaden-en-adresstickers-maken.pdf" target="_blank">handleiding</a>
        (pdf) voor het downloaden van adressen en het maken van adresstickers.
    </li>
    <li>
        Printen: printversie bekijken en afdrukken (van de huidige pagina). Tip: grote kaarten en panoramabeelden kunnen
        het beste liggend worden afgedrukt.
    </li>
    <li>
        Terugmelden: als een gegeven in Atlas niet blijkt te kloppen, kun je hiermee een mail sturen (met link naar de
        huidige pagina).
    </li>
</ul>

<h2 class="o-header__subtitle">Schermafbeelding</h2>
<img class="c-snel-wegwijs__image" src="assets/images/schermafbeelding.png" alt="Schermafbeelding" title="Schermafbeelding">
<p class="u-margin__bottom--4">
    Schermafbeelding: om een afbeelding van een (gedeelte van een) pagina in Atlas te maken, kun je Knipprogramma gebruiken. Dit werkt heel eenvoudig en vind je in het Startmenu van je ADW-werkplek.</p>

<h2 class="o-header__subtitle">Terug</h2>
<img class="c-snel-wegwijs__image" src="assets/images/terug.png" alt="Terug" title="Terug">
<p class="u-margin__bottom--4">
    Terug-knop: de browser (Firefox) heeft een terug-knop waarmee je altijd terug kunt naar de vorige pagina.
    <br>
    Tip: je kunt een bladwijzer maken van de huidige pagina, waarmee je later rechtstreeks terug kunt naar de huidige pagina in Altas (zelfde kaartlagenselectie, kaartpositie, et cetera). Je kunt ook de link (url) uit de adresbalk van de browser kopiëren en die aan iemand anders doorgeven.
</p>

<h2 class="o-header__subtitle">Herstart</h2>
<img class="c-snel-wegwijs__image" src="assets/images/herstart.png" alt="Herstart" title="Herstart">
<p class="u-margin__bottom--4">
    Terug naar startpagina en begin opnieuw.
</p>
