<h1 class="o-header__title u-margin__bottom--3">{{ vm.name | dpPageName }}</h1>
<p class="u-margin__bottom--4">
    Hieronder vind je een toelichting op enkele van de meestgebruikte functies.
</p>

<h2 class="o-header__subtitle">Zoeken</h2>
<img class="c-snel-wegwijs__image" src="assets/images/zoeken.png" alt="Zoeken" title="Zoeken">
<p class="u-margin__bottom--4">
    Zoek: op adres of postcode, kadastrale aanduiding, gebiedsnaam, bouwblokcode of meetboutnummer<br>
    Tip: Je kunt de zoeksuggesties met pijltjestoetsen (omhoog, omlaag) doorlopen om bijvoorbeeld een lange straatnaam te kiezen en daarna verder te typen (het huisnummer bijvoorbeeld).
</p>

<h2 class="o-header__subtitle">Zoeken in kaart</h2>
<img class="c-snel-wegwijs__image" src="assets/images/zoeken-in-kaart.png" alt="Zoeken in de kaart" title="Zoeken in de kaart">
<p class="u-margin__bottom--4">
    Klik op een punt in de kaart en vind adressen en gebouwen, onroerende zaken, gebieden, en hoogte (alleen meetbouten en NAP-peilmerken).
</p>

<h2 class="o-header__subtitle">Meten in kaart</h2>
<img class="c-snel-wegwijs__image" src="assets/images/meten-in-kaart.png" alt="Meten in de kaart" title="Meten in de kaart">
<p class="u-margin__bottom--4">
    Hiermee kun je afstanden en oppervlakten meten ('pak' de meetlat en klik in de kaart).
</p>

<h2 class="o-header__subtitle">Meer kaartlagen</h2>
<img class="c-snel-wegwijs__image" src="assets/images/meer-kaartlagen.png" alt="Meer kaartlagen" title="Meer kaartlagen">
<p class="u-margin__bottom--4">
    Hiermee open je het overzicht met beschikbare kaartlagen.
</p>

<h2 class="o-header__subtitle">Kaartlagen selecteren</h2>
<img class="c-snel-wegwijs__image" src="assets/images/kaartlagen-selecteren.png" alt="Kaartlagen selecteren" title="Kaartlagen selecteren">
<p class="u-margin__bottom--4">
    Selecteer welke kaartlagen je wilt zien.
</p>

<h2 class="o-header__subtitle">Legenda</h2>
<img class="c-snel-wegwijs__image" src="assets/images/legenda.png" alt="Legenda" title="Legenda">
<p class="u-margin__bottom--4">
    Toon/sluit de legenda van geselecteerde kaartlagen.
</p>

<h2 class="o-header__subtitle">Extra informatie</h2>
<img class="c-snel-wegwijs__image" src="assets/images/extra-informatie.png" alt="Extra informatie" title="Extra informatie">
<p class="u-margin__bottom--4">
    'i': Actualiteit van de data bekijken.<br>
    '?': Toelichting van begrippen.
</p>

<h2 class="o-header__subtitle">Straatbeeld</h2>
<img class="c-snel-wegwijs__image" src="assets/images/straatbeeld.png" alt="Straatbeeld" title="Straatbeeld">
<p class="u-margin__bottom--4">
    Bekijk het straatbeeld nabij deze locatie.
</p>

<h2 class="o-header__subtitle">Inloggen</h2>
<img class="c-snel-wegwijs__image" src="assets/images/inloggen.png" alt="Inloggen" title="Inloggen">
<p class="u-margin__bottom--4">
    Sommige gegevens in Atlas zijn om privacyredenen niet voor iedereen toegankelijk. Je moet inloggen om deze gegevens te kunnen inzien. Dit is het geval als je wilt zoeken op basis van de naam van een persoon en je wilt weten welke panden of percelen die in eigendom heeft (zakelijk recht).
</p>

<h2 class="o-header__subtitle">Menu</h2>
<img class="c-snel-wegwijs__image" src="assets/images/menu.png" alt="Menu" title="Menu">
<p class="u-margin__bottom--4">
    Afdrukken (van huidige pagina).<br>
    Terugmelding doen (over huidige pagina), als een gegeven in Atlas niet blijkt te kloppen.
</p>

<h2 class="o-header__subtitle">Schermafbeelding</h2>
<img class="c-snel-wegwijs__image" src="assets/images/schermafbeelding.png" alt="Schermafbeelding" title="Schermafbeelding">
<p class="u-margin__bottom--4">
    Tip: Om een afbeelding van een (gedeelte van) het scherm van Atlas te maken, kun je Knipprogramma gebruiken. Dat vind je in het Startmenu van je werkplek.
</p>

<h2 class="o-header__subtitle">Terug</h2>
<img class="c-snel-wegwijs__image" src="assets/images/terug.png" alt="Terug" title="Terug">
<p class="u-margin__bottom--4">
    Met de terug-knop van de browser (Firefox) kun je altijd terug naar vorige schermen.<br>
    Tip: je kunt de link in de browser kopiëren of er een bladwijzer maken, via de link kom je direct uit in de huidige schermweergave (zelfde kaartlagenselectie, positie, et cetera).
</p>

<h2 class="o-header__subtitle">Herstart</h2>
<img class="c-snel-wegwijs__image" src="assets/images/herstart.png" alt="Herstart" title="Herstart">
<p class="u-margin__bottom--4">
    Terug naar startscherm en begin opnieuw.
</p>
