<h1>E2E testlinks</h1>
<ul>
    <li><a href="#?dsd=catalogus&dsp=1&dsv=CARDS&mpb=topografie&mpz=9&mpv=52.3719:4.9012">DATA-SELECTION--CARDS</a></li>
    <li><a href="#?dsd=bag&dsp=1&dsv=TABLE&mpb=topografie&mpz=9&mpv=52.3719:4.9012">DATA-SELECTION--TABLE</a></li>
    <li><a href="#?dte=https:%2F%2Fapi.datapunt.amsterdam.nl%2Fcatalogus%2Fapi%2F3%2Faction%2Fpackage_show%3Fid%3D642f15c7-8368-4795-9e3d-1a87fa7e562a&dtfs=T&mpb=topografie&mpz=9&mpv=52.3719:4.9012">DETAIL</a></li>
    <li><a href="#?mpv=52.3719:4.9012&mpb=topografie&mpz=9&lse=T&pgn=home">LAYER-SELECTION_MAP</a></li>
    <li><a href="#?mpv=52.3719:4.9012&mpb=topografie&mpz=9&mpfs=T&pgn=home">MAP</a></li>
    <li><a href="#?dsd=hr&dsp=1&dsv=LIST&mpb=topografie&mpz=9&mpv=52.3719:4.9012">MAP_DATA-SELECTION</a></li>
    <li><a href="#?mpv=52.353263440372224:5.001382398402873&mpb=topografie&mpz=16&dte=https:%2F%2Fapi.datapunt.amsterdam.nl%2Fbag%2Fnummeraanduiding%2F03630000500149%2F">MAP_DETAIL--NUMMERAANDUIDING</a></li>
    <li><a href=".">MAP_PAGE--HOME</a></li>
    <li><a href="#?mpv=52.3719:4.9012&mpb=topografie&mpz=9&pgn=login">MAP_PAGE--LOGIN</a></li>
    <li><a href="#?mpb=topografie&mpz=9&mpv=52.3729183:4.8931775&srl=ZRVst:3JJOB">MAP_SEARCH-RESULTS--LOCATION</a></li>
    <li><a href="#?mpb=topografie&mpz=9&mpv=52.3719:4.9012&srq=Oost">MAP_SEARCH-RESULTS--QUERY</a></li>
    <li><a href="#?dte=https:%2F%2Fapi.datapunt.amsterdam.nl%2Fbag%2Fnummeraanduiding%2F03630000500149%2F&mpb=topografie&mpz=16&mpv=52.3532634:5.0013828&sbf=Cu&sbh=4W&sbi=TMX7315120208-000068_pano_0002_000405&sbl=ZQgX9:3Nqgu">MAP_STRAATBEELD--DETAIL</a></li>
    <li><a href="#?mpb=topografie&mpz=9&mpv=52.3729183:4.8931775&sbf=Cu&sbh=-76&sbi=TMX7315120208-000073_pano_0005_000446&sbl=ZRVst:3JJOB">MAP_STRAATBEELD--SEARCH-RESULTS</a></li>
    <li><a href="#?dte=https:%2F%2Fapi.datapunt.amsterdam.nl%2Fbag%2Fnummeraanduiding%2F03630000500149%2F&mpb=topografie&mpz=16&mpv=52.3531791:5.00131&sbf=Cu&sbfs=T&sbh=4W&sbi=TMX7315120208-000068_pano_0002_000405&sbl=ZQgX9:3Nqgu">STRAATBEELD--DETAIL</a></li>
    <li><a href="#?mpb=topografie&mpz=9&mpv=52.3729183:4.8931775&sbf=Cu&sbfs=T&sbh=Ni&sbi=TMX7315120208-000073_pano_0005_000446&sbl=ZRVst:3JJOB">STRAATBEELD--SEARCH-RESULTS</a></li>
</ul>
