<h1>E2E scenario testlinks</h1>
<ul class="u-margin__bottom--2">
    <li><a class="o-btn o-btn--link" href="#?dsd=catalogus&dsp=1&dsv=CARDS&mpb=topografie&mpz=9&mpv=52.3719:4.9012">DATA-SELECTION--CARDS</a></li>
    <li><a class="o-btn o-btn--link" href="#?dsd=bag&dsp=1&dsv=TABLE&mpb=topografie&mpz=9&mpv=52.3719:4.9012">DATA-SELECTION--TABLE</a></li>
    <li><a class="o-btn o-btn--link" href="#?dte=https://api.datapunt.amsterdam.nl/catalogus/api/3/action/package_show%3Fid%3D642f15c7-8368-4795-9e3d-1a87fa7e562a&dtfs=T&mpb=topografie&mpz=9&mpv=52.3719:4.9012">DETAIL</a></li>
    <li><a class="o-btn o-btn--link" href="#?lse=T&mpb=topografie&mpz=11&mpfs=T&mpv=52.3731081:4.8932945&pgn=home">LAYER-SELECTION_MAP</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpv=52.3719:4.9012&mpb=topografie&mpz=9&mpfs=T&pgn=home">MAP</a></li>
    <li><a class="o-btn o-btn--link" href="#?dsd=hr&dsp=1&dsv=LIST&mpb=topografie&mpz=9&mpv=52.3719:4.9012">MAP_DATA-SELECTION</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpv=52.353263440372224:5.001382398402873&mpb=topografie&mpz=16&dte=https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000500149/">MAP_DETAIL--NUMMERAANDUIDING</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpb=topografie&mpz=11&mpv=52.3731081:4.8932945&src=adres&srq=dam">MAP_SEARCH-RESULTS--CATEGORY</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpb=topografie&mpz=9&mpv=52.3729183:4.8931775&srl=ZRVst:3JJOB">MAP_SEARCH-RESULTS--LOCATION</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpb=topografie&mpz=9&mpv=52.3719:4.9012&srq=Oost">MAP_SEARCH-RESULTS--QUERY</a></li>
    <li><a class="o-btn o-btn--link" href="#?dte=https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000500149/&mpb=topografie&mpz=16&mpv=52.3532634:5.0013828&sbf=Cu&sbh=4W&sbi=TMX7315120208-000068_pano_0002_000405&sbl=ZQgX9:3Nqgu">MAP_STRAATBEELD--DETAIL</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpb=topografie&mpz=11&mpv=52.3731081:4.8932945&pgn=home&sbf=5e&sbh=-Lc&sbi=TMX7315120208-000073_pano_0005_000451&sbl=ZRWNV:3JJh3">MAP_STRAATBEELD--PAGE</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpb=topografie&mpz=9&mpv=52.3729183:4.8931775&sbf=Cu&sbh=-76&sbi=TMX7315120208-000073_pano_0005_000446&sbl=ZRVst:3JJOB">MAP_STRAATBEELD--SEARCH-RESULTS</a></li>
    <li><a class="o-btn o-btn--link" href=".">PAGE--HOME</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpv=52.3731081:4.8932945&mpb=topografie&mpz=11&pgn=login">PAGE--LOGIN</a></li>
    <li><a class="o-btn o-btn--link" href="#?dte=https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000500149/&mpb=topografie&mpz=16&mpv=52.3531791:5.00131&sbf=Cu&sbfs=T&sbh=4W&sbi=TMX7315120208-000068_pano_0002_000405&sbl=ZQgX9:3Nqgu">STRAATBEELD--DETAIL</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpb=topografie&mpz=11&mpv=52.3731081:4.8932945&pgn=home&sbf=5e&sbfs=T&sbh=-Lc&sbi=TMX7315120208-000073_pano_0005_000451&sbl=ZRWNV:3JJh3">STRAATBEELD--PAGE</a></li>
    <li><a class="o-btn o-btn--link" href="#?mpb=topografie&mpz=9&mpv=52.3729183:4.8931775&sbf=Cu&sbfs=T&sbh=Ni&sbi=TMX7315120208-000073_pano_0005_000446&sbl=ZRVst:3JJOB">STRAATBEELD--SEARCH-RESULTS</a></li>
</ul>

<h1>Detailpagina's</h1>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/woonplaats/03630022796658/'">BAG - Woonplaats</dp-link></li>
</ul>

<h2>Openbare ruimtes (BAG)</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/openbareruimte/03630000003186/'">Weg</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/openbareruimte/03630011950328/'">Water</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/openbareruimte/03630011950597/'">Kunstwerk</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/openbareruimte/03630000005318/'">Landschappelijk gebied</dp-link></li>
</ul>

<h2>Nummeraanduiding (BAG)</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000438761/'">Verblijfsobject</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000517566/'">Ligplaats</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000153651/'">Standplaats</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000048658/'">Meerdere adressen</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630022325762/'">Meerdere panden</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000215880/'">Hoofd- en nevenadres</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630003761448/'">Meerdere nevenadressen</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630023919714/'">Status code 18 / verblijfsobject gevormd</dp-link></li>
</ul>

<h2>Verblijfsobject (BAG)</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/verblijfsobject/03630000553603/'">Damstraat 1a (een 'gewone')</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/verblijfsobject/03630000586261/'">Meerdere adressen</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/verblijfsobject/03630022325965/'">Meedere panden</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/verblijfsobject/03630023646964/'">Status code 18 / verblijfsobject gevormd</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/verblijfsobject/03630000747172/'">Geen beperkingen</dp-link></li>
</ul>

<h2>Hetzelfde onder een andere URL</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/ligplaats/03630001030155/'">BAG - Ligplaats (Binnenkant 1C)</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000517566/'">BAG - Nummeraanduiding (Binnenkant 1C)</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/standplaats/03630000691674/'">BAG - Standplaats (Johan Broedeletstraat 10)</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000153651/'">BAG - Nummeraanduiding (Johan Broedeletstraat 10)</dp-link></li>
</ul>

<h2>Pand (BAG)</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/pand/03630013105676/'">0363100012185506 (een 'gewone')</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/pand/03630013077074/'">Meerdere adressen</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/pand/03630012980786/'">Zonder verblijfsobject</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/bag/pand/03630013126606/'">Zonder adres</dp-link></li>
</ul>

<h2>Gebieden</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/stadsdeel/03630000000018/'">Stadsdeel</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/buurtcombinatie/3630012052036/'">Buurtcombinatie</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/gebieden/bouwblok/03630012095971/'">Bouwblok</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/buurt/03630000000724/'">Buurt (G-buurt Oost)</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/buurt/03630000000078/'">Buurt (Kop Zeedijk)</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/buurt/03630000000601/'">Buurt (geen BBGA corporaties)</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/gebiedsgerichtwerken/DX01/'">Gebiedsgericht werken</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/gebiedsgerichtwerken/DXXX1/'">Gebiedsgericht werken (geen data beschikbaar)</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/grootstedelijkgebied/noord-zuidlijn/'">Grootstedelijk gebied</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/unesco/bufferzone/'">Unesco bufferzone</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/gebieden/unesco/kernzone/'">Unesco kerzone</dp-link></li>
</ul>

<h2>Beperkingen</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/wkpb/beperking/3488/'">WKPB beperking</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/brk/object/NL.KAD.OnroerendeZaak.11500193270000/'">BRK object met drie beperkingen</dp-link></li>
</ul>

<h2>Kadastraal object</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/brk/object/NL.KAD.OnroerendeZaak.11780225970000/'">Meerdere zakelijke rechten</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/brk/object/NL.KAD.OnroerendeZaak.11441034170000/'">Meerdere A percelen</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/brk/object/NL.KAD.OnroerendeZaak.14020919910003/'">A perceel in een A perceel</dp-link></li>
</ul>

<h2>Kadastraal subject</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/brk/subject/NL.KAD.Persoon.259599452/'">Niet natuurlijk persoon</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/brk/subject/NL.KAD.Persoon.172021189/'">Niet natuurlijk persoon (Veel zakelijke rechten met lange namen)</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/brk/subject/NL.KAD.Persoon.145754202/'">Natuurlijk persoon</dp-link></li>
</ul>

<h2>Meetbouten</h2>
<ul class="u-margin__bottom--2">
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/meetbouten/meetbout/10581099/'">Veel metingen</dp-link></li>
    <li><dp-link type="FETCH_DETAIL" payload="'https://api.datapunt.amsterdam.nl/meetbouten/meetbout/11681014/'">Met één meting</dp-link></li>
</ul>
