<h1 class="o-header__title u-margin__bottom--3">{{ vm.name | dpPageName }}</h1>

<h3 class="o-header__subtitle">26 januari 2017</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        Zelf bedrijfsgegevens van Amsterdam kunnen filteren en downloaden op basis van bedrijfsindeling (SBI) of
        gebiedsindelingen en deze in tabelvorm downloaden voor verder gebruik. (Tijdelijk) te vinden via menu-item
        'Downloaden vestigingen'. Of kies op de detailpagina van een stadsdeel, GGW-gebied, buurtcombinatie, buurt of
        openbare ruimte voor 'Toon alle vestigingen' en vervolgens 'Tabelweergave'.
    </li>
    <li>
        Geselecteerde vestigingen kunnen worden weergegeven op de kaart (bij keuze 'Kaartweergave'). Daarbij is het
        mogelijk om op de detailpagina te wisselen tussen weergave van adressen en weergave van vestigingen (via tab
        'Adressen' resp. 'Vestigingen').
    </li>
    <li>
        De links die Atlas gebruikt (de 'url' in de adresbalk van Firefox) zijn gewijzigd om nieuwe functies mogelijk te
        maken. Dit betekent dat eerder opgeslagen favorieten/bladwijzers en links uit eerdere terugmeldingen niet meer
        direct leiden tot de juiste plek in Atlas.
    </li>
</ul>

<h3 class="o-header__subtitle">12 januari 2017</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        Explosieven zijn beschikbaar als kaartlagen. Deze z.g. 'bommenkaarten' bevatten historische gegevens van waar
        inslagen zijn geweest en mogelijk nog restanten in de grond zitten.
    </li>
    <li>
        Op <a class="o-link-inline" href="https://data.amsterdam.nl/" target="_blank">data.amsterdam.nl</a> vind je op
        dit moment de catalogus van alle tot dusver beschikbare open data van de regio Amsterdam. Het zijn data van de
        Gemeente Amsterdam, en van andere overheidsinstellingen, bedrijven en organisaties. Beschikbaar in verschillende
        formaten en als API's en webservices voor datakoppelingen in applicaties.
    </li>
</ul>

<h3 class="o-header__subtitle">22 december 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>Panoramabeelden worden groter weergegeven. De tot nu toe gebruikte weergave met de kaart erbij, kan alsnog worden opgeroepen (met de knop 'Kaart').</li>
    <li>Adressen van Amsterdam kunnen filteren en downloaden ('Tabelweergave') is uitgebreid met de mogelijkheid de geselecteerde adressen weer te geven op de kaart ('Kaartweergave').</li>
    <li>Luchtfoto's uit 2005, 2008, 2009 en 2010 zijn beschikbaar als achtergrond.</li>
</ul>

<h3 class="o-header__subtitle">1 december 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        Panoramabeelden vanaf het water (in het Havengebied) beschikbaar.
    </li>
    <li>
        Vanuit een panoramabeeld in DataPunt/Atlas kan Google Streetview nu
        geopend worden vanaf (ongeveer) dezelfde locatie. Dit kan via de
        datumknop onderin de foto. Op deze manier kun je historische
        panoramabeelden raadplegen van andere jaargangen dan in DataPunt
        beschikbaar zijn. In Google Streetview kan je namelijk via de datumknop
        (linksboven) naar historische beelden.
    </li>
    <li>
        Zoeken (via zoekveld) op gebieden mogelijk, variërend van
        grootstedelijke gebieden tot buurten en gebiedsgerichtwerken-gebieden.
    </li>
    <li>
        Bedrijfsgegevens uit het Handelsregister zijn nu ook via het zoekveld
        vindbaar.
    </li>
</ul>

<h3 class="o-header__subtitle">17 november 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        Printen (via menu) is verbeterd. Alleen de paginainhoud wordt afgedrukt en kaarten bevatten geen knoppen meer. Grote kaarten en panoramabeelden worden nu liggend weergegeven in de printversie en kunnen daardoor groter worden afgedrukt.
    </li>
    <li>
        De panoramaviewer is verbeterd. Het is nu mogelijk om je via de kaart naar een ander panoramabeeld te verplaatsen.
    </li>
    <li>
        Links kunnen nu in een nieuw tabblad geopend worden (via rechtermuismenu of via ctrl-toets en klik)
    </li>
    <li>
        Luchtfoto's uit 2003 zijn beschikbaar als achtergrond.
    </li>
</ul>

<h3 class="o-header__subtitle">3 november 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>
        Zelf adressen van Amsterdam kunnen filteren en downloaden op basis van gebiedsindelingen, straten en postcodes en deze in tabelvorm downloaden voor verder gebruik. (Tijdelijk) te vinden via menu-item 'Downloaden adressen'. Of kies op de detailpagina van een stadsdeel, GGW-gebied, buurtcombinatie, buurt of openbare ruimte voor 'Toon alle adressen' en vervolgens 'Tabelweergave'.
    </li>
    <li>
        Als er gegevens niet worden getoond, omdat je daarvoor ingelogd moet zijn, dan attenderen we daar op (melding).
    </li>
    <li>
        Er kan verder ingezoomd worden op panoramabeelden.
    </li>
</ul>

<h3 class="o-header__subtitle">20 oktober 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>De actuele panoramabeelden kun je nu in Atlas bekijken.</li>
    <li>Bedrijfsgegevens uit het Handelsregister zijn nu ook via de kaart te vinden door een pand, standplaats of ligplaats aan te klikken.</li>
    <li>Luchtfoto’s uit 2004, 2006 en 2007 zijn beschikbaar als achtergrond.</li>
</ul>

<h3 class="o-header__subtitle">6 oktober 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>Bedrijfsgegevens uit het Handelsregister zijn toegevoegd in Atlas en zijn te raadplegen op de kaart(lagen), adressenpagina, pandpagina, vestigingsdetailpagina en bedrijfsdetailpagina en de gegevens zijn als API beschikbaar. Alle vestiginggegevens, die onder meer in de kaart worden getoond, zijn compleet en zijn van juni 2016. Naar verwachting medio december zullen ook alle overige gegevens zijn toegevoegd, zoals die van personen en maatschappelijke activiteiten (bijvoorbeeld ondernemingen).</li>
    <li>De actuele panoramafoto’s zijn als API beschikbaar.</li>
</ul>

<h3 class="o-header__subtitle">26 september 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--2-5">
    <p>
        Op basis van onderzoek en feedback van gebruikers is het ontwerp van Atlas grondig veranderd. Zowel visueel als functioneel
        zijn er dingen verbeterd; het werkt logischer en biedt meer mogelijkheden, zoals:
    </p>

    <li>De kaart behoudt de door jou gekozen instellingen, waardoor je je beter kunt oriënteren.</li>
    <li>Kaartlagen en legenda kunnen altijd vanaf de kaart worden opgeroepen.</li>
    <li>Nieuwe luchtfoto’s 2016 vind je onder de kaartlagen.</li>
    <li>Meten in de kaart met meer nauwkeurigheid (tot op decimalen).</li>
    <li>Met de terug-knop van de browser (Firefox) kun je altijd terug naar vorige schermen.</li>
    <li>Afdrukken werkt beter door de aparte optie ‘printversie’ in het menu.</li>
    <li>Atlas werkt nu ook goed op kleinere schermen en met touch (iPad en groter).</li>
</ul>

<p>Meer weten over de veranderingen?</p>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>Lees het artikel <a class="o-link-inline" href="http://intranet.amsterdam.nl/basisinformatie/projecten-0/atlas/atlas-porum/">Het nieuwe porem van Atlas</a>        op intranet.</li>
    <li>Of word
        <dp-link type="SHOW_PAGE" payload="'snel-wegwijs'" class-name="o-link-inline">
            Snel wegwijs
        </dp-link>
        met deze korte introductie over de werking van de meest gebruikte functies (ook benaderbaar via de Help-knop in het menu).</li>
    <li>Of ga meteen aan de slag!</li>
</ul>

<h3 class="o-header__subtitle">25 augustus 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>Vernieuwde cartografie waarmee:
        <ul>
            <li>de vormgeving meer is afgestemd op de Amsterdamse huisstijl</li>
            <li>bij inzoomen vanaf niveau 12 meer elementen zijn te onderscheiden dan voorheen</li>
            <li>actuelere kaartgegevens zichtbaar zijn (nieuwe brondata zijn ontsloten)</li>
        </ul>
    </li>
    <li>Zoekresultaten verbeterd</li>
    <li>Automatisch aanvullen in het zoekveld verbeterd</li>
</ul>

<h3 class="o-header__subtitle">11 augustus 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>Zoekresultaten verbeterd (minder irrelevante resultaten).</li>
    <li>Automatisch aanvullen in het zoekveld verbeterd (minder irrelevante resultaten)</li>
</ul>
