<h1 class="o-header__title u-margin__bottom--3">{{ vm.name | dpPageName }}</h1>

<h3 class="o-header__subtitle">6 oktober 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>Bedrijfsgegevens uit het Handelsregister zijn toegevoegd in Atlas en zijn te raadplegen op de kaart(lagen), adressenpagina, pandpagina, vestigingsdetailpagina en bedrijfsdetailpagina en de gegevens zijn als API beschikbaar. Alle vestiginggegevens, die onder meer in de kaart worden getoond, zijn compleet en zijn van juni 2016. Naar verwachting medio december zullen ook alle overige gegevens zijn toegevoegd, zoals die van personen en maatschappelijke activiteiten (bijvoorbeeld ondernemingen).</li>
    <li>De actuele panoramafoto’s zijn als API beschikbaar.</li>
</ul>

<h3 class="o-header__subtitle">26 september 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--2-5">
    <p>
        Op basis van onderzoek en feedback van gebruikers is het ontwerp van Atlas grondig veranderd. Zowel visueel als functioneel
        zijn er dingen verbeterd; het werkt logischer en biedt meer mogelijkheden, zoals:
    </p>

    <li>De kaart behoudt de door jou gekozen instellingen, waardoor je je beter kunt oriënteren.</li>
    <li>Kaartlagen en legenda kunnen altijd vanaf de kaart worden opgeroepen.</li>
    <li>Nieuwe luchtfoto’s 2016 vind je onder de kaartlagen.</li>
    <li>Meten in de kaart met meer nauwkeurigheid (tot op decimalen).</li>
    <li>Met de terug-knop van de browser (Firefox) kun je altijd terug naar vorige schermen.</li>
    <li>Afdrukken werkt beter door de aparte optie ‘printversie’ in het menu.</li>
    <li>Atlas werkt nu ook goed op kleinere schermen en met touch (iPad en groter).</li>
</ul>

<p>Meer weten over de veranderingen?</p>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>Lees het artikel <a class="o-link-inline" href="http://intranet.amsterdam.nl/basisinformatie/projecten-0/atlas/atlas-porum/">Het nieuwe porem van Atlas</a>        op intranet.</li>
    <li>Of word
        <dp-link type="SHOW_PAGE" payload="'snel-wegwijs'" class-name="o-link-inline">
            Snel wegwijs
        </dp-link>
        met deze korte introductie over de werking van de meest gebruikte functies (ook benaderbaar via de Help-knop in het menu).</li>
    <li>Of ga meteen aan de slag!</li>
</ul>

<h3 class="o-header__subtitle">25 augustus 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>Vernieuwde cartografie waarmee:
        <ul>
            <li>de vormgeving meer is afgestemd op de Amsterdamse huisstijl</li>
            <li>bij inzoomen vanaf niveau 12 meer elementen zijn te onderscheiden dan voorheen</li>
            <li>actuelere kaartgegevens zichtbaar zijn (nieuwe brondata zijn ontsloten)</li>
        </ul>
    </li>
    <li>Zoekresultaten verbeterd</li>
    <li>Automatisch aanvullen in het zoekveld verbeterd</li>
</ul>

<h3 class="o-header__subtitle">11 augustus 2016</h3>
<ul class="o-list--bulleted u-margin__bottom--4">
    <li>Zoekresultaten verbeterd (minder irrelevante resultaten).</li>
    <li>Automatisch aanvullen in het zoekveld verbeterd (minder irrelevante resultaten)</li>
</ul>
