.map-preview-panel {
  $map-preview-panel-top-print: 8px;
  $map-preview-panel-bottom-print: 2px + 10px + 17px + 8px;

  background-color: $secondary-gray5;
  border: solid 1px $secondary-gray20;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  font-family: "Avenir LT W01 55 Roman";
  max-height: calc(100vh - #{$map-preview-panel-top + $map-preview-panel-bottom});
  max-width: 440px;
  min-width: 285px;
  overflow: hidden;
  position: fixed;
  right: 9px;
  top: $map-preview-panel-top;
  width: 28%;
  z-index: 100;

  .c-dashboard__body--error & {
    max-height: calc(100vh - #{$map-preview-panel-top + $map-preview-panel-bottom + $dashboard-error-height});
    top: #{$map-preview-panel-top + $dashboard-error-height};
  }

  &--hidden {
    display: none;
  }

  &__heading {
    align-items: center;
    background-color: $primary-light;
    border-bottom: 1px solid $secondary-gray20;
    display: flex;
    justify-content: flex-end;
    padding: 4px;
  }

  &__heading-icon {
    fill: $primary-dark;
    height: 24px;
    width: 24px;

    .map-panel--collapsed & {
      fill: $secondary-gray60;
    }
  }

  &__button {
    border-radius: 0;
    height: 24px;
    margin-left: 4px;
    outline: none;
    width: 24px;

    &:hover {
      background-color: $primary-contrast;
    }

    &--show-all {
      align-items: center;
      display: flex;
      flex-grow: 1;

      &:hover {
        background-color: transparent;

        .map-preview-panel__button-label {
          color: $primary-contrast;
          text-decoration: underline;
        }

        .map-preview-panel__button-icon {
          fill: $primary-contrast;
        }
      }

      .map-preview-panel__button-label {
        color: $secondary-gray60;
        font-family: "Avenir LT W01 85 Heavy";
        font-size: 14px;
      }

      .map-preview-panel__button-icon {
        height: 20px;
        width: 20px;
      }
    }

    &-icon {
      fill: $secondary-gray60;
      height: inherit;
      width: inherit;

      *:hover > & {
        fill: $primary-light;
      }
    }
  }

  &__body {
    height: calc(100% - 33px);

    &--loading {
      padding: 36px;
    }

    .is-print-mode & {
      height: 100%;
    }
  }

  .is-print-mode & {
    bottom: $map-preview-panel-bottom-print;
    max-height: none;
    position: absolute;
    top: $map-preview-panel-top-print;

    &__heading {
      display: none;
    }
  }
}
