$map-preview-panel-max-width: 440px;
$button-height: 24px;

.map-preview-panel {
  background-color: $secondary-gray5;
  border: solid 1px $secondary-gray20;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  font-family: "Avenir LT W01 55 Roman";
  margin-bottom: $map-preview-panel-bottom;
  margin-left: auto;
  margin-right: $container-whitespace;
  margin-top: $map-preview-panel-top;
  max-height: calc(100% - #{$map-preview-panel-top + $map-preview-panel-bottom});
  max-width: $map-preview-panel-max-width;
  min-width: 285px;
  position: relative;
  width: 28%;
  z-index: 100;

  &--hidden {
    display: none;
  }

  &__heading {
    align-items: center;
    background-color: $primary-light;
    border-bottom: 1px solid $secondary-gray20;
    display: flex;
    justify-content: flex-end;
    min-height: 33px;
    padding: 4px;
  }

  &__button {
    @extend %hover-focus-button;
    border-radius: 0;
    height: $button-height;
    margin-left: 4px;
    outline: none;
    width: $button-height;


    &:hover,
    &:focus {
      .map-preview-panel__button-icon--close { //sass-lint:disable-line nesting-depth
        @include icon-sprite("icon-clear", $primary-dark, $primary-dark, $button-height);
      }

      .map-preview-panel__button-icon--maximize { //sass-lint:disable-line nesting-depth
        @include icon-sprite("icon-maximize", $primary-dark, $primary-dark, $button-height);
      }

      .map-preview-panel__button-icon--plus { //sass-lint:disable-line nesting-depth
        @include icon-sprite("icon-plus", $primary-dark, $primary-dark, $button-height);
      }
    }

    &--show-all {
      align-items: center;
      display: flex;
      flex-grow: 1;

      &:hover,
      &:focus {
        background-color: transparent !important; //override %hover-focus-button

        .map-preview-panel__button-label { //sass-lint:disable-line nesting-depth
          color: $primary-contrast;
          text-decoration: underline;
        }
      }

      .map-preview-panel__button-label {
        color: $secondary-gray60;
        font-family: "Avenir LT W01 85 Heavy";
        font-size: 14px;
      }
    }

    &-icon {
      display: block;
      height: $button-height;
      width: $button-height;

      &--close {
        @include icon-sprite("icon-clear", $secondary-gray60, $primary-dark, $button-height);
      }

      &--maximize {
        @include icon-sprite("icon-maximize", $secondary-gray60, $primary-dark, $button-height);
      }

      &--plus {
        @include icon-sprite("icon-plus", $secondary-gray60, $primary-dark, $button-height);
      }
    }
  }

  &__body {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: calc(100% - 33px);
    min-height: 0; // NB: firefox fix https://stackoverflow.com/a/28639686

    // IE FIX
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //sass-lint:disable-line no-vendor-prefixes
      -ms-flex: 0 0 auto; //sass-lint:disable-line no-vendor-prefixes
      -ms-flex-negative: 0; //sass-lint:disable-line no-vendor-prefixes
    }

    &--loading {
      padding: 36px;
    }
  }

  .is-print-mode & {
    background-color: $primary-light;

    // Make sure the width is fixed
    width: $map-preview-panel-max-width;

    // This hack makes sure IE also has a white background when printing
    // https://stackoverflow.com/a/27822161
    @media print {
      &::before {
        border-right: $map-preview-panel-max-width solid $primary-light;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        z-index: -1;
      }
    }

    &__heading {
      display: none;
    }

    &__body {
      height: 100%;
    }
  }
}

/* TODO: Should be removed after migration of the map component to react */
.map-preview-panel-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
