<div class="c-straatbeeld-history qa-straatbeeld-history">
    <button class="c-straatbeeld-history__button qa-straatbeeld-history__button"
        ng-class="{'c-straatbeeld-history__button--active': menuActive}"
        ng-click="toggleMenu()">
        {{selectedOption.label}}
    </button>
    <ul class="c-straatbeeld-history__menu qa-straatbeeld-history__menu"
        ng-if="menuActive">
        <li class="c-straatbeeld-history__item qa-straatbeeld-history__item"
            ng-class="{'c-straatbeeld-history__item--active': selectedOption === option}"
            ng-click="setSelectedOption(option); toggleMenu()"
            ng-repeat="option in options">
            {{option.label}}
        </li>
        <li class="c-straatbeeld-history__devider qa-straatbeeld-history__devider"></li>
        <li class="c-straatbeeld-history__external qa-straatbeeld-history__external">
            <a ng-href="{{streetViewUrl}}"
                target="_blank"
                rel="noopener"
                class="
                    c-link
                    c-link--arrow
                    c-straatbeeld-history__external-link
                    qa-straatbeeld-history__external-link"
                ng-click="toggleMenu()"
                >Google Street View</a>
        </li>
    </ul>
</div>
