@import "../../../../shared/styles/config";

.c-ds-table {
  $self: &;
  display: inline-table;
  width: 100%;

  &__head {
    display: table-header-group;
    font-weight: $bold-weight;
    white-space: nowrap;

    #{$self}__cell {
      border-bottom: 1px solid;
      border-top: 1px solid;
      height: 26px;
      vertical-align: middle;
    }
  }

  &__body {
    display: table-row-group;

    #{$self}__row {

      &--link {
        &:hover,
        &:focus {
          background-color: $secondary-gray10;
        }
      }

      &:last-child {
        #{$self}__cell {
          border-bottom: none;
        }
      }
    }
  }

  &__row {
    display: table-row;
    text-decoration: none;
  }

  &__cell {
    border-bottom: 1px solid $secondary-gray20;
    color: $primary-dark;
    display: table-cell;
    font-weight: normal;
    padding-bottom: $base-whitespace / 2;
    padding-left: $base-whitespace;
    padding-right: $base-whitespace * 2;
    padding-top: $base-whitespace / 2;
    white-space: nowrap;
  }
}
