@import "../../../shared/styles/config";
$spinner-height: 36px;

.loading-indicator {
  display: flex;
  height: $spinner-height;
  justify-content: center;
  width: 100%;

  & > .icon {
    @include icon-sprite("icon-spinner", $secondary-gray60, $secondary-gray60, $spinner-height);
    animation: rotating-spinner 1s linear infinite;
    height: $spinner-height;
    width: $spinner-height;
  }
}

@keyframes rotating-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
