.c-data-selection-filters__filters {
  margin-right: $base-whitespace * 2;

  ul {

    li {
      overflow: hidden;
    }
  }
}

.c-data-selection-header__close-filter__button {
  @include data-selection-button("assets/icons/close-active.svg", "assets/icons/close-hover.svg");
  margin-top: - $base-whitespace;
  margin-right: 0;
}

.c-data-selection-filters__empty__value {
  font-style: italic;

  &::before {
    display: inline-block;
    content: "(geen)";
  }
}

.c-data-selection-filters__active__filters {

  .c-data-selection-filters__active__filter {
    vertical-align: middle;
  }

  ul {

    li {
      margin-bottom: $base-whitespace / 2;
      padding-left: $base-whitespace;
      background-color: $secondary-gray60;
      color: $primary-light;

      &:last-child {
        margin-bottom: $base-whitespace * 2.5;
      }
    }

  }

  button {
    color: $primary-light;
    font-weight: bolder;
  }
}

.c-data-selection-filters__available__filters {
  padding-right: $base-whitespace;
  padding-left: $base-whitespace;
  background-color: $secondary-gray4;

  .c-data-selection-filters__available__filter {
    padding-bottom: 1.5 * $base-whitespace;
  }

  hr {
    width: auto;
    height: 1px;
    margin: {
      top: $base-whitespace / 2 ;
      right: - $base-whitespace;
      bottom: $base-whitespace / 2;
      left: - $base-whitespace;
    }
    background: $secondary-gray40;
  }

  .c-data-selection-filters__available-filter-label {
    margin-bottom: $base-whitespace;
    padding-top: $base-whitespace;
    color: $primary-contrast;
  }

  ul {

    li {
      margin-bottom: $base-whitespace;
    }
  }
}

.c-data-selection-filters__toon__meerminder {
  margin-top: $base-whitespace;
  margin-bottom: $base-whitespace;
}

.c-data-selection-filters__hidden__options {
  margin-bottom: $base-whitespace / 2;
  color: $secondary-gray40;
}
