.c-data-selection-filters {
  margin-right: $base-whitespace * 2;

  .c-data-selection-filters__list {

    .c-data-selection-filters__listitem {
      overflow: hidden;
    }
  }
}

.c-data-selection-filters--remove-filter {
  @include data-selection-button("assets/icons/close-active.svg", "assets/icons/close-hover.svg");
  margin-top: - $base-whitespace;
  margin-right: 0;
  color: $primary-light;
  font-weight: bolder;
}

.c-data-selection-filters--empty-value {
  font-style: italic;

  &::before {
    display: inline-block;
    content: "(geen)";
  }
}

.c-data-selection-filters--toon-meerminder {
  margin-top: $base-whitespace;
  margin-bottom: $base-whitespace;
}

.c-data-selection-filters--hidden-options {
  margin-bottom: $base-whitespace / 2;
  color: $secondary-gray40;
}

.c-data-selection-filters--active-filters {

  .c-data-selection-filters__active-filter {
    vertical-align: middle;
  }

  .c-data-selection-filters__list {

    .c-data-selection-filters__listitem {
      margin-bottom: $base-whitespace / 2;
      padding-left: $base-whitespace;
      background-color: $secondary-gray60;
      color: $primary-light;

      &:last-child {
        margin-bottom: $base-whitespace * 2.5;
      }
    }

  }
}

.c-data-selection-filters--available-filters {
  padding-right: $base-whitespace;
  padding-left: $base-whitespace;
  background-color: $secondary-gray4;

  .c-data-selection-filters__available-filter {
    padding-bottom: 1.5 * $base-whitespace;
  }

  .c-data-selection-filters__separator {
    width: auto;
    height: 1px;
    margin: {
      top: $base-whitespace / 2 ;
      right: - $base-whitespace;
      bottom: $base-whitespace / 2;
      left: - $base-whitespace;
    }
    background: $secondary-gray40;
  }

  .c-data-selection-filters__available-filter-label {
    margin-bottom: $base-whitespace;
    padding-top: $base-whitespace;
    color: $primary-contrast;
  }

  .c-data-selection-filters__list {

    .c-data-selection-filters__listitem {
      margin-bottom: $base-whitespace;
    }
  }
}
