<div class="data-selection__filters">

    <div ng-if="vm.formattedActiveFilters.length" class="qa-active-filters data-selection__active__filters">
        <!--No heading-->
        <ul>
            <li ng-repeat="filter in vm.formattedActiveFilters">
                <span class="u-pull--right">
                    <button ng-click="vm.removeFilter(filter.categorySlug)"
                            title="Verwijder filter">X</button>

                </span>
                {{filter.categoryLabel}}: {{filter.option}}
            </li>
        </ul>
    </div>

    <div class="qa-available-filters data-selection__available__filters">
        <!--No heading-->

        <dp-loading-indicator is-loading="vm.isLoading" use-delay="true" show-inline="true"></dp-loading-indicator>

        <div ng-if="!vm.isLoading" ng-show="vm.hasSelectableValues(category)" ng-repeat="category in vm.availableFilters">
            <h4>{{category.label}}</h4>
            <ul>
                <li ng-repeat="option in category.options | limitTo : vm.isExpandedCategory(category.slug) ? undefined : vm.showMoreThreshold">
                    <button
                        class="o-btn o-btn--link"
                        ng-class="{
                            'u-color__primary--dark': vm.isFilterActive(category.slug, option.label)
                        }"
                        ng-click="vm.addFilter(category.slug, option.label)">

                        <dp-data-selection-formatted-value
                            value="option.label"
                            format="option.format">

                        </dp-data-selection-formatted-value>

                    </button>

                </li>
            </ul>

            <div class="data-selection__toon__meer" ng-if="vm.showExpandButton(category.slug)">
                <hr>
                <button class="o-btn o-btn--link qa-show-more-button"
                        ng-click="vm.expandCategory(category.slug)">

                    <strong>Toon meer</strong>
                </button>
                <hr>
            </div>

            <p ng-if="vm.showHiddenOptionsMessage(category)" class="qa-hidden-options">
                Er zijn nog meer opties, maar we tonen ze niet.
            </p>
        </div>
    </div>
</div>