.o-highlight-cluster {
  background-image: url('assets/images/map/cluster.svg');
  background-size: 100%;
  color: $primary-light;
  position: absolute;
  text-align: center;
}

.o-highlight-cluster__text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
