.data-selection-cluster {
  background-image: url("assets/images/map/data-selection/cluster-zoomed-in-100.svg");
  background-size: 100%;
  color: $primary-light;
  cursor: default;
  position: absolute;
  text-align: center;

  &--zoomed-in {
    font-size: 12px;
  }

  &--zoomed-out {
    font-size: 9px;
  }

  &--zoomed-in-100 {
    background-image: url("assets/images/map/data-selection/cluster-zoomed-in-100.svg");

    .data-selection-cluster__text {
      line-height: 29px;
    }
  }

  &--zoomed-in-10 {
    background-image: url("assets/images/map/data-selection/cluster-zoomed-in-10.svg");

    .data-selection-cluster__text {
      line-height: 24px;
    }
  }

  &--zoomed-in-1 {
    background-image: url("assets/images/map/data-selection/cluster-zoomed-in-1.svg");

    .data-selection-cluster__text {
      line-height: 21px;
      margin-left: -1.5px;
    }
  }

  &--zoomed-in-point {
    background-image: url("assets/images/map/data-selection/point-zoomed-in.svg");

    .data-selection-cluster__text {
      line-height: 21px;
    }
  }

  &--zoomed-out-100 {
    background-image: url("assets/images/map/data-selection/cluster-zoomed-out-100.svg");

    .data-selection-cluster__text {
      line-height: 23px;
    }
  }

  &--zoomed-out-10 {
    background-image: url("assets/images/map/data-selection/cluster-zoomed-out-10.svg");

    .data-selection-cluster__text {
      line-height: 18px;
    }
  }

  &--zoomed-out-1 {
    background-image: url("assets/images/map/data-selection/cluster-zoomed-out-1.svg");

    .data-selection-cluster__text {
      line-height: 15px;
      margin-left: -1px;
      margin-top: -.5px;
    }
  }

  &--zoomed-out-point {
    background-image: url("assets/images/map/data-selection/point-zoomed-out.svg");

    .data-selection-cluster__text {
      line-height: 15px;
    }
  }
}
