.c-map {
  border-bottom-width: 1px;
  bottom: auto;
  height: 350px;
  left: auto;
  page-break-inside: avoid;
  position: relative;
  right: auto;
  top: auto;
  width: 100%;
}

.leaflet-interactive {
  display: inherit;
}
