$on-top-of-leaflet: 999;

.c-map {
  border: 1px solid $secondary-gray20;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  &__controls {
    align-items: flex-end;
    display: flex;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;

    &--bottom-left {
      bottom: 0;
      left: 0;
    }
  }
}

.c-map__focus-layer {
  display: block;
  height: 100%;
  pointer-events: none; // allows mouse clicks to pass to leaflet map in FireFox
  position: relative;
  width: 100%;
  z-index: $on-top-of-leaflet;
}

.c-map__leaflet,
.leaflet-container {
  bottom: 0;
  cursor: default;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateZ(
    0
  ); //translateZ(0) is needed to fix a Firefox bug, see tg-1306 (black screen when scrolling
  z-index: $body-z-index; // This z-index is needed to make the map clickable even when detail panels are opened
}

.c-map__overlay-buttons {
  bottom: $button-shadow-size;
  left: 0;
  position: absolute;
}

%overlay-button {
  float: left;
  margin-right: $base-whitespace * 0.2;
  z-index: $on-top-z-index;
}

.is-print-mode {
  .leaflet-control-zoom {
    display: none;
  }
}

.is-embed,
.is-embed-preview {
  .c-map__leaflet {
    &:focus {
      .c-map__focus-layer {
        // sass-lint:disable-line nesting-depth
        border: 1px solid $primary-dark;
      }
    }
  }
}

.c-map__wrapper {
  height: 100%;
}
