.c-map {
  height: 100%;
}

.map-detail-result {
  &__header--pano {
    height: auto;
    min-height: auto;
  }

  &__header-pano-button {
    cursor: default;
  }

  &__header-pano {
    display: none;
  }
}

.c-loading-indicator__container--with-link {
  right: 196px !important;
}

.map-preview-panel {
  margin-top: 52px;

  &__button--expand {
    display: none;
  }
}

.map-preview-panel__button--expand,
.map-search-results__footer {
  display: none;
}
