$dashboard-max-width-outer: 1800px;
$dashboard-max-width-inner: 1600px;

.o-max-width {
  max-width: $dashboard-max-width-outer;
  margin-right: auto;
  margin-left: auto;
}

.o-max-width__inner {
  max-width: $dashboard-max-width-inner;
  margin-right: auto;
  margin-left: auto;
}
