<div>
    <h4 ng-if="apiData.count >= 5" class="c-paginering">1-{{ apiData.results.length }} van
        {{apiData.count}}</h4>

    <p ng-if="!apiData.results.length">
        <dp-message>(Nog) geen bouwdossiers beschikbaar</dp-message>
    </p>
    <ul class="o-list">
        <li ng-repeat="object in apiData.results | orderBy:'-datering'">
            <dp-redux-link
                to="object._links.self.href | constructionFilesEndpointAction"
                link-class="o-btn o-btn--link"
            >{{ object.stadsdeel }}{{ object.dossiernr }} {{ object.datering | date:'yyyy' }} {{ object.dossier_type }} 
            </dp-redux-link>
        </li>
    </ul>
    <a class="c-show-more" ng-click="loadMore()" ng-if="apiData.next">Meer</a>
</div>
