<div>
    <div ng-if="apiData.results.rechten[0]" class="qa-zakelijk-recht">
      <dp-glossary-header definition="ZAKELIJK_RECHT" use-plural="true"></dp-glossary-header>

      <dp-partial-select partial="rechten" api-data="{results:apiData.results.rechten}"></dp-partial-select>
    </div>

    <div ng-if="apiData.results.beperkingen[0]" class="qa-beperking">
      <dp-glossary-header definition="BEPERKING" use-plural="true" brk="apiData.results"></dp-glossary-header>

      <dp-partial-select partial="beperking" api-data="{results:apiData.results.beperkingen}"></dp-partial-select>
    </div>

    <div ng-if="apiData.results.aantekeningen[0]" class="qa-aantekeningen">
      <dp-glossary-header definition="AANTEKENING" use-plural="true"></dp-glossary-header>

      <dp-partial-select partial="aantekening" api-data="{results:apiData.results.aantekeningen}"></dp-partial-select>
    </div>

    <div ng-if="apiData.results.ontstaan_uit[0]" class="qa-ontstaan-uit">
      <dp-glossary-header definition="ONTSTAAN_UIT" use-plural="true"></dp-glossary-header>

      <dp-partial-select partial="lijst" api-data="{results:apiData.results.ontstaan_uit}"></dp-partial-select>
    </div>

    <div ng-if="apiData.results.betrokken_bij[0]" class="qa-betrokken-bij">
      <dp-glossary-header definition="BETROKKEN_BIJ" use-plural="true"></dp-glossary-header>

      <dp-partial-select partial="lijst" api-data="{results:apiData.results.betrokken_bij}"></dp-partial-select>
    </div>
</div>
