<div>
  <h4 ng-if="apiData.count >= 5" class="c-paginering">1-{{ apiData.results.length }} van {{ apiData.count }}</h4>

  <p ng-if="!apiData.results.length"><dp-message>Geen rechten gevonden</dp-message></p>

  <ul class="o-list">
    <li ng-repeat="object in apiData.results">
        <dp-redux-link
            to="object.kadastraal_subject._links.self.href | detailEndpointAction"
            link-class="o-btn o-btn--link"
        >{{ object._display }}</dp-redux-link>
    </li>
  </ul>

  <a class="c-show-more" ng-click="loadMore()" ng-if="apiData.next">Meer</a>
</div>
