$icon-dimension: 24px;

.c-panel {
  position: relative;
  margin: $base-whitespace * 1.5 0 $base-whitespace / 2 0;
  padding: $base-whitespace * 0.6 $base-whitespace;
  background-color: $secondary-gray10;

  &__title {
    @include font-size-responsive($l-header-font);
    margin-bottom: $base-whitespace;
    font-weight: $bold-weight;

    // @at-root div.c-panel {
    //   padding: $base-whitespace;
    // }
  }

  &__paragraph {
    margin-bottom: $base-whitespace;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--offsets-below-page-title {
    margin-bottom: 3 * $base-whitespace;
  }

  &--warning {
    padding: $base-whitespace * 0.6 $base-whitespace * 0.8;
    background-color: $darkish-blue;
    color: $primary-light;
  }

  &--danger {
    padding: $base-whitespace * 0.6 $base-whitespace * 0.8;
    background-color: $primary-contrast;
    color: $primary-light;
  }

  &--small {
    margin: 0;
    padding-top: $base-whitespace * 0.3;
    padding-bottom: $base-whitespace * 0.4;
    padding-left: $base-whitespace;
    line-height: $button-size - ($base-whitespace * 0.3) - ($base-whitespace * 0.4);
  }

  &--tiny {
    position: absolute;
    top: 0;
    right: ($button-size + $base-whitespace) * 2; //afstand berekend mbt metadata en stelselpedia buttons
    padding: 0 $base-whitespace;
    line-height: $button-size;
  }

  &--can-close {
    padding-top: $base-whitespace * 0.6;
    padding-right: $button-size;
    padding-bottom: $base-whitespace * 0.6;
  }

  &__list {
    margin: 0 20px;
    list-style: disc;

    li {
      margin-top: 10px;
    }
  }

  a {
    font-weight: $bold-weight;
    text-decoration: underline;
  }

  &--info {
    .o-btn--close {
      @include icon-sprite('icon-clear', $primary-dark, $primary-dark, $icon-dimension);

      &:hover,
      &:focus {
        background-color: $secondary-gray20;
      }
    }
  }
}
