@import "../../styles/config";

$icon-height: 24px;

.notification {
  color: $primary-light;
  display: flex;
  font-family: "Avenir LT W01 65 Medium";
  justify-content: space-between;
  margin: 0;
  padding: 6px 8px;
  padding-right: 26px;
  position: relative;

  &--info {
    background-color: $darkish-blue;

    a {
      color: $white;
    }
  }

  &--alert {
    background-color: $primary-contrast;
  }

  &--message {
    color: $secondary-gray40;
    font-family: "Avenir LT W01 45 Book";
    font-style: italic;
    padding: 0;

    &__content {
      line-height: 1;
      vertical-align: middle;
    }

    a {
      color: $primary-contrast-blue;
    }
  }

  &__content {
    line-height: $icon-height;
    vertical-align: middle;
  }

  &__button {
    @extend %hover-focus-button;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: $icon-height;
    line-height: 0;
    position: absolute;
    right: 4px;
    top: 4px;
    width: $icon-height;

    &:hover,
    &:focus {
      .notification__button--close {
        @include icon-sprite("icon-cross", $primary-light, $primary-dark);
      }
    }

    &--close {
      @include icon-sprite("icon-cross", $primary-light, $primary-dark);
      display: block;
      height: $icon-height;
      width: $icon-height;
    }
  }

  a {
    text-decoration: underline;
  }
}
