@import "../../styles/config";

.notification {
  color: $primary-light;
  display: flex;
  font-family: "Avenir LT W01 65 Medium";
  justify-content: space-between;
  margin: 0;
  padding: 4px 8px;

  @media screen and (min-width: $breakpoint-md) {
    padding: 4px 12px;
  }

  &--info {
    background-color: $thema-10;
  }

  &__content {
    line-height: 24px;
    vertical-align: middle;
  }

  &__button {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 24px;
    line-height: 0;
    width: 24px;

    &:hover {
      background-color: $secondary-gray60;
    }
  }

  a {
    color: $primary-light;
    text-decoration: underline;
  }

  svg {
    fill: $primary-light;
    height: 24px;
    width: 24px;
  }
}
