.c-layer-selection {
  border-width: 1px;
}

.c-layer-selection__heading {
  position: relative;
  height: auto;
  padding-top: 0 !important;
  padding-right: 0;
  padding-left: 0;
  background-color: inherit;
  color: inherit;
}

.c-layer-selection__heading__icon {
  display: none;
}

.c-layer-selection__content {
  padding-right: 0;
  //A padding-left of zero partially hides the radio buttons on a Mac.
  padding-left: 1px;
}