<div class="c-layer-selection">
    <div class="c-layer-selection__heading">
        Selecteer kaartlagen

        <dp-link type="HIDE_LAYER_SELECTION" 
                class-name="c-layer-selection__close" 
                hover-text="Sluiten">
            <span class="u-sr-only">sluiten</span>
        </dp-link>
    </div>
    <div class="c-layer-selection__content">
        <div class="u-margin__bottom--1">
            <h2 class="o-header__subtitle u-margin__bottom--1 u-margin__top--2-5">Ondergrond</h2>
            <ul class="u-margin__bottom--4">
                <li ng-repeat="baseLayer in vm.allBaseLayers" class="c-layer-selection__item">
                    <label>
                        <input
                            ng-model="vm.activeBaseLayer"
                            ng-change="vm.setBaseLayer(vm.activeBaseLayer)"
                            type="radio"
                            value="{{baseLayer.slug}}">

                        {{baseLayer.label}}
                    </label>
                </li>
            </ul>
        </div>

        <div class="u-margin__bottom--1" ng-repeat="category in vm.allOverlays">
            <h2 class="o-header__subtitle u-margin__bottom--1">{{category.heading}}</h2>
            <ul class="u-margin__bottom--4">
                <li ng-repeat="overlay in category.overlays" class="c-layer-selection__item">
                    <label>
                        <input
                            type="checkbox"
                            ng-checked="vm.isOverlayActive(overlay.slug)"
                            ng-click="vm.toggleOverlay(overlay.slug)"
                            value="{{overlay.slug}}">

                        <strong ng-if="vm.isOverlayActive(overlay.slug)">
                            {{overlay.label}}
                        </strong>

                        <span ng-if="!vm.isOverlayActive(overlay.slug)">
                            {{overlay.label}}
                        </span>
                    </label>

                    <p ng-if="vm.isOverlayActive(overlay.slug) && !vm.isOverlayVisible(overlay.slug)"
                        class="c-layer-selection__item__message qa-show-invisble-by-zoom">
                        Zichtbaar bij verder zoomen
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>