.o-btn {
  /*
  @name Button w/ link styling
  @markup
    <button class="btn btn--link">Lorem ipsum</button>
  */
  background-color: transparent;
  font-size: inherit;
  text-align: left;
  overflow: visible;
}

.o-btn--link {
  @extend %link--arrow;
}

.o-btn--plus {
  @extend %link--plus;
}

.o-btn--contrast {
  color: $primary-contrast;

  &:hover {
    color: $secondary-gray60;
  }
}

.o-btn--link--inverse {
  color: $primary-light;

  &:hover,
  &:visited,
  &:active {
    color: $primary-light;
  }
}

.o-btn--block {
  @include icon-button-text-left("forward", "gray")
}

.o-btn--inverted-block {
  @include icon-button-text-left("forward", "gray-inverted")
}

.o-btn--white {
  @include font-weight($bold-weight);
  display: inline-block;
  width: 100%;
  height: $base-whitespace * 5;
  background-color: $primary-light;
  color: $primary-dark;
  font-size: $base-font-size;
  line-height: $base-whitespace * 5;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.o-btn--white__label {
  @extend %link--arrow;

  width: 100%;
  padding-left: $base-whitespace;
  line-height: $base-whitespace * 4;
}

.o-btn--white__label-right {
  @extend %link--arrow;

  width: 100%;
  padding-right: $base-whitespace;
  padding-left: calc(#{$base-whitespace - 6px});
  line-height: $base-whitespace * 4;

  &::after {
    display: inline-block;
    margin: 7px 16px;
    float: right;
  }

  &::before {
    display: none;
  }
}

%btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

.o-btn--close {
  @extend %btn-close;
  @include icon-button("close");
}

.o-btn--close--info {
  @extend %btn-close;
  @include icon-button("close", "info", "");
}

.o-btn--close--warning {
  @extend %btn-close;
  @include icon-button("close", "warning", "");
}

.o-btn--close--danger {
  @extend %btn-close;
  @include icon-button("close", "danger", "");
}

.s-btn--nested {
  margin-top: $base-whitespace !important;
  margin-bottom: $base-whitespace !important;
}
