.c-header {
  position: relative;
  margin-bottom: 3 * $base-whitespace;
}

.c-header__title {
  @include font-size($xl-header-font);

  font-weight: bold;
}

.c-header__subtitle {
  @include font-size($m-header-font);

  font-weight: bold;
}

.c-h2 {
  @include font-size($l-header-font);

  font-weight: bold;
}

.c-h2--contrast {
  color: $primary-contrast;
}

.c-h3 {
  @include font-size($m-header-font);

  font-weight: bold;
}

.c-h3--light {
  color: $secondary-gray60;
}

.c-h4 {
  @include font-size($s-header-font);

  font-weight: bold;
}

.o-header__buttongroup {
  position: absolute;
  top: 0;
  right: 0;
}

.o-header__button {
  width: $button-size;
  height: $button-size;
  margin-left: $base-whitespace;
  float: right;
}

.o-header__button--image {
  display: block;
  width: $button-size;
  height: $button-size;
}
