.o-link-inline {
  color: $primary-dark;
  text-decoration: underline;

  &:hover {
    color: $primary-contrast;
  }
}

.o-link-inline--light {
  color: $primary-light;

  &:hover {
    color: $primary-light;
  }
}