.o-list--bulleted {
  @extend %list;

  li {
    position: relative;
    margin-left: $base-font-size;
    padding-left: 2px;

    &::before {
      display: inline-block;
      position: absolute;
      top: -2px;
      left: -$base-font-size;
      font-size: 30px;
      content: "▪";
    }
  }
}