.c-panel {
  position: relative;
  margin-bottom: $base-whitespace * 4;
  padding: $base-whitespace;
  background-color: $secondary-gray10;

  &.c-panel--warning {
    background-color: $thema-10;
    color: $primary-light;
  }

  &.c-panel--danger {
    background-color: $primary-contrast;
    color: $primary-light;
  }
}