.c-show-more {
  @extend %link--plus;

  display: block;
  color: $secondary-gray60;
  line-height: $list-item-height;

  .c-key-value-list__value--full-width & {
    color: $primary-dark;
  }
}

.s-indented-result {
  .c-show-more {
    color: $primary-contrast;
    line-height: $list-item-height;
  }

  &:hover {
    color: $secondary-gray60;
  }
}

.c-show-more--gray {
  color: $secondary-gray60;
}
