



.o-tag {
  background: $secondary-gray10 ;
  border-radius: 3px 0 0 3px;
  color: $secondary-gray80 ;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.o-tag::before {
  background: $primary-light;
  border-bottom: 13px solid transparent;
  border-right: 10px solid $secondary-gray10 ;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  left:0;
  top: 0;
}

.o-tag__small {
    line-height: 16px;
    padding: 0 5px 0 13px;
    height: 16px;
    font-size: 12px;
}
.o-tag__small::before {
  border-bottom: 8px solid transparent;
  border-right: 5px solid $secondary-gray10 ;
  border-top: 8px solid transparent;
}
