@import "../../../shared/styles/config";

.bottom-left {
  bottom: $container-whitespace;
  display: flex;
  left: $container-whitespace;
  position: absolute;
  z-index: 9;

  section + section {
    margin-left: $container-whitespace;
  }
}
