$print-header-height: 118px;
$print-header-padding: 46px;

.c-print-header__title {
  @include font-size($xl-header-font);
}

.c-print-header__close {
  @include icon-button("close", "transparent", "red");

  position: absolute;
  top: -($print-header-padding - $base-whitespace);
  right: -($print-header-padding - $base-whitespace);
}

.c-print-header__print {
  float: right;
}
