<div class="u-grid">
    <div class="u-row">
        <div class="u-col-sm--3">
            <h1 class="c-print-header__title">Printversie</h1>
        </div>
        <div class="u-col-sm--9">
            <nav class="c-print-header__menu">
                <div class="c-print-header__print">
                    <dp-print-button>
                        Printen
                    </dp-print-button>
                </div>
                <div class="c-print-header__close">
                    <dp-link type="HIDE_PRINT" class-name="o-btn--close--danger"></dp-link>
                </div>
            </nav>
        </div>
    </div>
</div>
