%toggle-drawing-mode {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 2;
}

.c-toggle-drawing-mode {
  @extend %toggle-drawing-mode;
  @include icon-button("polygon-measure");

}

&.c-toggle-drawing-mode--active {
  @extend %toggle-drawing-mode;
  @include icon-button("polygon-measure", "red");
}
