@import "../../../shared/styles/config";

$suggestion-offset: $base-font-size;
$backdrop-color: rgba(0, 0, 0, .5);
$clear-button-margin: 3px;

// the input field
.auto-suggest {
  position: relative;

  &-container {
    float: left;
    position: relative;
    width: calc(100% - #{$site-header-search-form-height + $base-whitespace * .5});
  }

  &__input {
    @include font-size($s-font);
    @include font-weight($bold-weight);
    appearance: none; // sass-lint:disable-line
    background-color: $primary-light;
    border: 1px solid $secondary-gray20;
    border-radius: 0;
    color: $primary-dark;
    display: block;
    height: $site-header-search-form-height;
    outline: none;
    padding-left: $base-whitespace;
    padding-right: $base-whitespace + $site-header-search-form-height;
    width: 100%;

    &:last-child {
      // if the clear button is not showed, then there should be no extra padding on the right
      padding-right: $base-whitespace;
    }

    &::placeholder {
      @include font-weight($normal-weight);
      color: $secondary-gray60;
    }

    &:-ms-input-placeholder {/* IE11 */ //sass-lint:disable-line no-vendor-prefixes no-css-comments
      @include font-weight($normal-weight);
      color: $secondary-gray60;
    }

    &::-ms-input-placeholder {/* Edge */ // sass-lint:disable-line no-vendor-prefixes no-css-comments
      // cannot change font attributes in edge here, so we have a lighter text color
      color: $secondary-gray40;
    }

    &::-ms-clear {//sass-lint:disable-line no-vendor-prefixes
      display: none;
    }

    &:focus {
      border: 2px solid $primary-dark; // to compensate for the thick border, pull padding to left by 1px
      padding-left: $base-whitespace - 1px;
    }
  }

  &__clear {
    cursor: pointer;
    height: 25px;
    outline: none;
    position: absolute;
    right: $clear-button-margin;
    top: $clear-button-margin;
    width: 25px;

    &:hover {
      svg {
        fill: $primary-contrast;
      }
    }
  }

  &__submit {
    @include font-size($s-font);
    background-color: $primary-contrast;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: $site-header-search-form-height;
    margin-left: $base-whitespace * .5;
    width: $site-header-search-form-height;

    svg {
      fill: $primary-light;
      height: $site-header-search-form-height;
      padding: 3px;
      width: $site-header-search-form-height;
    }

    &:hover {
      background-color: $primary-contrast-hover;
    }
  }

  &__tip {
    @include font-size($xs-font);
    @include font-weight($normal-weight);
    color: $secondary-gray60;
    margin-top: $base-whitespace / 2;
    text-align: center;
  }

  &__backdrop {
    &::before {
      background-color: $backdrop-color;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      top: $site-header-height;
    }

    .c-site-header--tall & {
      &::before {
        top: $site-header-height-tall + $site-header-toolbar-height;
      }
    }
  }

  &__dropdown {
    background-color: $primary-light;
    border: 2px solid $primary-dark;
    border-top: 1px solid $primary-dark;
    left: 0;
    padding-bottom: $base-whitespace * .5;
    position: absolute;
    right: $site-header-search-form-height + $base-whitespace * .5;
    top: $site-header-search-form-height - 1px;

    &-category {
      &:not(:first-of-type) {
        border-top: 1px solid $secondary-gray20;
        margin-top: 7px;
        padding-top: 12px;
      }

      &__heading {
        @include font-weight($medium-weight);
        color: $secondary-gray60;
        margin: 0 $base-whitespace $base-whitespace / 2;
      }
    }

    &-item {
      @include font-size($s-font);
      @include font-weight($light-weight);
      background-color: transparent;
      color: $primary-dark;
      cursor: pointer;
      display: block;
      overflow: hidden;
      padding-bottom: $base-whitespace / 2;
      padding-top: $base-whitespace / 3;
      position: relative;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &:hover,
      &--active {
        background-color: $secondary-gray10;
        font-weight: inherit;
      }


      &--row-height {
        height: 10px;
      }

      &-button {
        outline: none;
        padding-left: 27px;
        position: relative;
        text-align: left;
        top: -10px;
        width: 100%;
      }

      .icon {
        display: inline-block;
        height: 2 * $base-whitespace + 2px;
        margin-left: $base-whitespace / 2;
        position: relative;
        top: 2px;
        vertical-align: sub;
        width: 2 * $base-whitespace + 2px;
      }
    }

    &__highlight {
      @include font-weight($bold-weight);
    }
  }
}
