@import '../../../shared/styles/config';

.c-construction-files {
  background-color: $primary-light;
  padding-bottom: 100px;

  &__subtitle {
    color: $red;
    margin-bottom: 7px !important;
  }

  &__title {
    display: block !important;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .c-ds-table {
    margin-bottom: 10px;

    &__row {
      &:last-child {
        .c-ds-table__cell {
          border-bottom: 1px solid $secondary-gray20;
        }
      }
    }

    &__cell {
      padding-left: 20px;
      white-space: normal;

      &:first-child {
        width: 33%;
      }
    }
  }
}
