//This is an extend so it can be used by both the anchor tag as well as buttons with .btn--link

// The size of the link arrow icon (relative to the font size)
$icon-size: 1.22em;
// The offset of the actual arrow inside the image from the left of the image
$icon-offset: .4em;
// Extra space between the link arrow icon and the link text
$link-offset: 3px;

%link {
  @include font-size($s-font);

  display: inline-block;
  position: relative;
  color: $primary-dark;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  overflow: visible;

  &:hover {
    color: $primary-contrast;
    text-decoration: underline;
  }

  &:active {
    color: $primary-contrast;

    &:focus {
      outline: none;
    }
  }
}

%link--arrow {
  @extend %link;

  // Make sure multi line links have all lines aligned under the first icon
  // That is the size of the icon plus the space between the icon and the link
  // text, minus the space within the icon image between the actual arrow and
  // the left side of the image.
  margin-left: calc(#{$icon-size - $icon-offset} + #{$link-offset});

  &::before {
    @include icon-button("link-arrow");

    display: inline-block;
    position: static;
    width: $icon-size;
    height: $icon-size;
    margin-right: $link-offset;
    // Move the arrow icon left of the link text by the width of the icon plus
    // the space needed between the icon and the link
    margin-left: calc(-#{$icon-size} - #{$link-offset});
    content: "";
    vertical-align: text-bottom;
  }
}

%link--plus {
  @extend %link;

  // Make sure multi line links have all lines aligned under the first icon
  // That is the size of the icon plus the space between the icon and the link
  // text, minus the space within the icon image between the actual arrow and
  // the left side of the image.
  margin-left: calc(#{$icon-size - $icon-offset} + #{$link-offset});
  outline: none;

  &::before {
    display: inline-block;
    position: static;
    width: $icon-size;
    height: $icon-size;
    margin-right: $link-offset;
    // Move the arrow icon left of the link text by the width of the icon plus
    // the space needed between the icon and the link
    margin-left: calc(-#{$icon-size} - #{$link-offset});
    text-align: center;
    content: "+";
  }
}

%link--inline {
  @extend %link;
  @include font-size($m-font);

  display: inline;
  font-weight: normal;
  text-decoration: underline;
}
