//This is an extend so it can be used by both the anchor tag as well as buttons with .btn--link

$link-offset: $base-font-size;

%link {
  display: inline-block;
  position: relative;
  color: $secondary-gray60;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  overflow: visible;

  &:hover {
    color: $primary-contrast;
    text-decoration: underline;
  }

  &:active {
    color: $secondary-gray80;

    &:focus {
      outline: none;
    }
  }
}

%link--arrow {
  @extend %link;

  margin-left: $link-offset;

  &::before {
    display: inline-block;
    position: absolute;
    left: -$link-offset;
    content: "›";
  }
}

%link--inline {
  @extend %link;

  display: inline;
  color: $primary-dark;
  font-weight: normal;
  text-decoration: underline;
}
