//This is an extend so it can be used by both the anchor tag as well as buttons with .btn--link

$icon-size: 1.22em;
$icon-offset: .4em;
$link-offset: 3px;

%link {
  @include font-size($s-font);

  display: inline-block;
  position: relative;
  color: $primary-dark;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  overflow: visible;

  &:hover {
    color: $primary-contrast;
    text-decoration: underline;
  }

  &:active {
    color: $primary-contrast;

    &:focus {
      outline: none;
    }
  }
}

%link--arrow {
  @extend %link;

  margin-left: -$icon-offset;

  &::before {
    @include icon-button("link-arrow");

    display: inline-block;
    position: static;
    width: $icon-size;
    height: $icon-size;
    margin-right: $link-offset;
    content: "";
    vertical-align: text-bottom;
  }
}

%link--plus {
  @extend %link;

  margin-left: calc(#{$icon-size} + #{2 * $link-offset});

  &::before {
    display: inline-block;
    position: static;
    width: $icon-size;
    height: $icon-size;
    margin-right: $link-offset;
    margin-left: calc(-#{$icon-size} - #{$link-offset});
    text-align: center;
    content: "+";
  }
}

%link--inline {
  @extend %link;
  @include font-size($m-font);

  display: inline;
  font-weight: normal;
  text-decoration: underline;
}
