%base-typography {
  @include font-size($body-font);
  color: $primary-dark;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
}

/* Headers */

%title-header {
  @extend %base-typography;
  @include font-size($xl-header-font);
  font-weight: bold;
}

%page-header {
  @extend %base-typography;
  @include font-size($l-header-font);
  font-weight: bold;
}

%page-header--contrast {
  color: $primary-contrast;
}

%page-header--inverted {
  color: $primary-light;
}

%content-header {
  @extend %base-typography;
  @include font-size($m-header-font);
  font-weight: bold;
}

%content-header--light {
  color: $secondary-gray60;
}

%content-header--inverted {
  color: $primary-light;
}

%sub-header {
  @extend %base-typography;
  @include font-size($s-header-font);
  color: $secondary-gray60;
  font-weight: bold;
}

/* Body fonts */

%inline-text {
  @extend %base-typography;
  @include font-size($m-font);
}

%inline-text--strong {
  font-weight: bold;
}

%strong-text {
  @extend %base-typography;
  @include font-size($s-font);
  font-weight: bold;
}

%strong-text--light {
  color: $secondary-gray60;
}

%strong-text--contrast {
  color: $primary-contrast;
}

%secondary-text {
  @extend %base-typography;
  @include font-size($s-font);
  color: $secondary-gray60;
  font-weight: bold; /* Should be Avenir-Medium */
}

%small-text {
  @extend %base-typography;
  @include font-size($xs-font);
  color: $secondary-gray80;
}

%small-text--strong {
  color: $primary-dark;
  font-weight: bold;
}
