// this css selectors are longer because they mainly use the leaflet selectors
// therefore the nesting-depth is disabled

.leaflet-dragging {
  // dragging the map
  .leaflet-grab {
    cursor: move;
  }
}

.leaflet-marker-icon {
  // edit anchor
  &.leaflet-editing-icon {
    cursor: grab;

    .leaflet-dragging & {
      cursor: grabbing;
    }

    .c-map--drawing-mode-draw & {
      cursor: pointer;
    }

    &:active {
      cursor: grabbing;
    }
  }

  // cluster icon
  &.o-highlight-cluster {
    cursor: zoom-in;

    .leaflet-dragging & {
      cursor: move;
    }
  }
}

// sass-lint:disable nesting-depth
// drawn polygon on the map
.leaflet-overlay-pane {
  > svg {
    .leaflet-interactive {
      cursor: url("assets/images/cursor-edit.cur") 3 19, pointer;

      .c-map--drawing-mode-edit & {
        cursor: url("assets/images/cursor-save.cur") 10 10, pointer;
      }

      .leaflet-dragging & {
        cursor: move;
      }
    }
  }
}

// pano popje
.leaflet-pane {
  &.leaflet-marker-pane {
    > img {
      cursor: default;

      .leaflet-dragging & {
        cursor: move;
      }
    }
  }
}
// sass-lint:enable nesting-depth
