// this css selectors are longer because they mainly use the leaflet selectors
// therefore the nesting-depth is disabled and no-duplicate-properties is disabled for ie compatibility


.leaflet-dragging {
  // dragging the map
  .leaflet-grab {
    cursor: move;
  }
}

.leaflet-marker-icon {
  // edit anchor
  &.leaflet-editing-icon {
    // sass-lint:disable no-duplicate-properties
    cursor: grab;
    cursor: url("../assets/images/cursors/grab.cur"), url("assets/images/cursors/grab.cur"), pointer; // no grab icon for ie
    // sass-lint:enable no-duplicate-properties

    .leaflet-dragging & {
      // sass-lint:disable no-duplicate-properties
      cursor: grabbing;
      cursor: url("../assets/images/cursors/grabbing.cur"), url("assets/images/cursors/grabbing.cur"), pointer; // no grabbing icon for ie
      // sass-lint:enable no-duplicate-properties
    }

    .c-map--drawing-mode-draw & {
      cursor: pointer;
    }
  }

  // cluster icon
  &.o-highlight-cluster {
    // sass-lint:disable no-duplicate-properties
    cursor: zoom-in;
    cursor: url("../assets/images/cursors/zoom-in.cur"), url("assets/images/cursors/zoom-in.cur"), pointer; // no zoom-in icon for ie
    // sass-lint:enable no-duplicate-properties

    .leaflet-dragging & {
      cursor: move;
    }
  }
}

.leaflet-overlay-pane {
  > svg {
    .leaflet-interactive {
      cursor: default;

      // sass-lint:disable nesting-depth
      .leaflet-dragging & {
        cursor: move;
      }

      // drawn polygon on the map
      &.c-map__leaflet-drawn-polygon {
        cursor: url("../assets/images/cursors/edit.cur"), url("assets/images/cursors/edit.cur"), pointer;

        .c-map--drawing-mode-edit & {
          cursor: url("../assets/images/cursors/save.cur"), url("assets/images/cursors/save.cur"), pointer;
        }

        .leaflet-dragging & {
          cursor: move;
        }
      }
      // sass-lint:enable nesting-depth
    }
  }
}

// pano popje
.leaflet-pane {
  &.leaflet-marker-pane {
    // sass-lint:disable nesting-depth
    > img {
      cursor: default;

      // sass-lint:disable nesting-depth
      .leaflet-dragging & {
        cursor: move;
      }
      // sass-lint:enable nesting-depth
    }
  }
}

