.s-leaflet-draw {
  //Override leaflet draw tooltip in draw and edit mode to show text in white
  .leaflet-draw-tooltip {
    color: $primary-light;

    .leaflet-draw-tooltip-subtext {
      color: $primary-light;
    }
  }

  .leaflet-marker-icon {
    // edit anchor
    &.leaflet-editing-icon {
      // fix the marker size
      width: 14px !important;
      height: 14px !important;
      margin-top: -7px !important;
      margin-left: -7px !important;
    }
  }
}
