$on-top-of-leaflet: 999;

.c-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid $secondary-gray20;
  overflow: hidden;
}

.c-map__focus-layer {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: $on-top-of-leaflet;
  pointer-events: none; // allows mouse clicks to pass to leaflet map in FireFox
}

.c-map__leaflet {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  //translateZ(0) is needed to fix a Firefox bug, see tg-1306 (black screen when scrolling)
  transform: translateZ(0);
  cursor: default;
  z-index: $body-z-index;
}

.c-map__overlay-buttons {
  position: absolute;
  bottom: $button-shadow-size;
  left: 0;
}

%overlay-button {
  margin-right: $base-whitespace * .2;
  float: left;
  z-index: $on-top-z-index;
}

.is-print-mode {
  .leaflet-control-zoom {
    display: none;
  }
}

.is-embed,
.is-embed-preview {
  .c-map__leaflet {
    &:focus {
      .c-map__focus-layer { // sass-lint:disable-line nesting-depth
        border: 1px solid $primary-dark;
      }
    }
  }
}
