.c-map {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 800px;
  margin-top: $base-whitespace * 2.1;
  border-bottom-width: 1px;
}

@media print {
  .leaflet-control-zoom {
    display: none;
  }
}