.c-map {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 950px;
  border-bottom-width: 1px;
  page-break-inside: avoid;
}

@media print {
  .leaflet-control-zoom {
    display: none;
  }
}
