<dp-loading-indicator is-loading="mapState.isLoading" use-delay="true" show-inline="false"></dp-loading-indicator>

<div class="c-map c-map--drawing-mode-{{drawingMode}} qa-map-container">
    <div class="s-leaflet-draw c-map__leaflet js-leaflet-map qa-leaflet-map">
        <div class="c-map__focus-layer"></div>
    </div>

    <div id="map-panel-react"></div>

    <div id="map-preview-panel-react" class="map-preview-panel-wrapper"></div>

    <div id="map-react"></div>

    <div id="map-embed-button"></div>
</div>
