<dp-loading-indicator is-loading="mapState.isLoading" use-delay="true" show-inline="false"></dp-loading-indicator>

<div class="c-map">
    <div class="c-map__leaflet js-leaflet-map"></div>

    <div class="c-map__overlay-buttons">
        <dp-toggle-layer-selection
            overlays="mapState.overlays"
            show-layer-selection="showLayerSelection">
        </dp-toggle-layer-selection>

        <dp-toggle-active-overlays
            overlays="mapState.overlays"
            show-active-overlays="mapState.showActiveOverlays">
        </dp-toggle-active-overlays>
    </div>

    <dp-active-overlays
        overlays="mapState.overlays"
        zoom="mapState.zoom"
        show-active-overlays="mapState.showActiveOverlays">
    </dp-active-overlays>

    <dp-toggle-fullscreen is-fullscreen="isFullscreen"></dp-toggle-fullscreen>

    <dp-draw-tool ng-if="leafletMap" state="mapState" polygon="drawGeometry" map="leafletMap"></dp-draw-tool>
    <dp-toggle-drawing-tool></dp-toggle-drawing-tool>
    <dp-points-available></dp-points-available>
</div>
