.c-hotspot {
  $self: &;
  background: transparent;
  cursor: pointer;
  margin: 0 -20px;
  outline: none;
  padding: 0 20px;

  &:hover {
    animation: hotspot-animation 100ms linear;
    transform: scale(1.15);
  }

  &__image {
    background-size: cover;
    transform: scale(1);

    @for $i from 16 through 20 {
      #{$self}--year-20#{$i} & {
        background-image: url('assets/images/hotspots/20#{$i}.svg');
      }
    }
  }
}

@keyframes hotspot-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}
