<div>
    <div class="c-detail__block">
        <dp-glossary-header
          definition="MONUMENTEN"
          heading="{{ vm.apiData.results._display }}"
          meta-data="vm.apiData">
        </dp-glossary-header>

        <dp-panel
          can-close="true"
          is-panel-visible="!vm.user.scopes.includes('MON/RDM')"
          class-name="c-panel--offsets-below-page-title"
          type="warning">
            Medewerkers/ketenpartners van Gemeente Amsterdam kunnen inloggen om meer gegevens te zien: type, architect en opdrachtgever, bouwjaar, oorspronkelijke functie, beschrijving en redengevende omschrijving.
            Zie <dp-link-to-page class-name="c-link--light"></dp-link-to-page>.
        </dp-panel>

        <dl class="c-key-value-list">
            <dt>Nummer</dt>
            <dd>{{ vm.apiData.results.monumentnummer }}</dd>
            <dt>Naam</dt>
            <dd>{{ vm.apiData.results.monumentnaam }}</dd>
            <dt ng-if-start="vm.user.scopes.includes('MON/RDM')">Type</dt>
            <dd ng-if-end>{{ vm.apiData.results.monumenttype }}</dd>
            <dt>Status</dt>
            <dd>{{ vm.apiData.results.monumentstatus }}</dd>
            <dt ng-if-start="vm.user.scopes.includes('MON/RDM')">Architect ontwerp</dt>
            <dd>{{ vm.apiData.results.architect_ontwerp_monument }}</dd>
            <dt>Opdrachtgever bouw</dt>
            <dd>{{ vm.apiData.results.opdrachtgever_bouw_monument }}</dd>
            <dt>Bouwjaar start bouwperiode</dt>
            <dd>{{ bouwjaar_start_bouwperiode_monument }}</dd>
            <dt>Oorspronkelijke functie</dt>
            <dd ng-if-end>{{ vm.apiData.results.oorspronkelijke_functie_monument }}</dd>
            <dt>In onderzoek</dt>
            <dd>{{ vm.apiData.results.in_onderzoek === 'J' ? 'Ja' : '' }}{{ vm.apiData.results.in_onderzoek === 'N' ? 'Nee' : '' }}</dd>
            <dt ng-if-start="vm.user.scopes.includes('MON/RDM')"
                class="c-key-value-list__key--full-width">Beschrijving</dt>
            <dd class="c-key-value-list__value--full-width">
                <p
                  class="c-key-value-list__content"
                  dp-expand-collapse
                  ng-if="vm.apiData.results.beschrijving_monument">{{ vm.apiData.results.beschrijving_monument }}</p>
            </dd>
            <dt class="c-key-value-list__key--full-width">Redengevende omschrijving</dt>
            <dd ng-if-end class="c-key-value-list__value--full-width">
                <p
                  class="c-key-value-list__content"
                  dp-expand-collapse
                  ng-if="vm.apiData.results.redengevende_omschrijving_monument">{{ vm.apiData.results.redengevende_omschrijving_monument }}</p>
            </dd>
        </dl>
    </div>

    <div ng-if="vm.apiData.results.ligt_in_complex._links.self.href"
         class="c-detail__block">
        <dp-api-call
          endpoint="{{ vm.apiData.results.ligt_in_complex._links.self.href }}"
          partial="monumenten/complex"
          user="vm.user">
        </dp-api-call>
    </div>

    <div ng-if="vm.apiData.results.heeft_als_grondslag_beperking._links.self.href"
         class="c-detail__block">
        <dp-glossary-header
          definition="BEPERKING"
          use-plural="true">
        </dp-glossary-header>
        <dp-api-call
          endpoint="{{ vm.apiData.results.heeft_als_grondslag_beperking._links.self.href }}"
          partial="berperking"
          user="vm.user">
        </dp-api-call>
    </div>

    <div ng-if="vm.apiData.results.betreft_pand.length > 0"
         class="c-detail__block">
        <dp-glossary-header
          definition="PAND"
          use-plural="vm.apiData.results.betreft_pand.length > 1">
        </dp-glossary-header>
        <dp-partial-select
          api-data="vm.apiData.results.betreft_pand"
          partial="monumenten/pand_lijst"
          user="vm.user">
        </dp-partial-select>
    </div>

    <div ng-if="vm.apiData.results.heeft_situeringen.count"
         class="c-detail__block">
        <dp-glossary-header
          definition="ADRES"
          use-plural="true">
        </dp-glossary-header>
        <dp-api-call
          endpoint="{{ vm.apiData.results.heeft_situeringen.href }}"
          partial="monumenten/adressen_lijst"
          user="vm.user">
        </dp-api-call>
    </div>
</div>
