@import "autocomplete/autocomplete";

.c-search-form__input {
  @include font-size($s-font);
  display: block;
  width: calc(100% - #{$search-form-height + $base-whitespace * .5});
  height: $search-form-height;
  padding-right: $base-whitespace + $submit-button-width;
  padding-left: $base-whitespace;
  float: left;
  border: 1px solid $secondary-gray20;
  outline: none;
  background-color: $primary-light;
  color: $primary-dark;

  &::placeholder {
    color: $secondary-gray60;
  }

  &:focus {
    border-color: $primary-dark;
  }
}

.c-search-form__submit {
  @extend %dp-search-icon;
  @include font-size($s-font);

  width: $search-form-height;
  height: $search-form-height;
  margin-left: $base-whitespace * .5;
  float: left;
  background-color: $primary-contrast;
  background-repeat: no-repeat;
  color: $primary-light;
  cursor: pointer;

  &:hover {
    background-color: $secondary-gray60;
  }
}

.c-search-form__clear {
  @include icon-button("close", "transparent", "red");

  width: $submit-button-width;
  height: $search-form-height;
  margin-left: -2 * $submit-button-width;
  float: left;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $primary-contrast;
  }
}
