@import "autocomplete/autocomplete";

$clear-button-margin: ($site-header-search-form-height - $button-size) / 2;

.c-search-form {
  position: relative;
}

.c-search-form__input-container {
  position: relative;
  width: calc(100% - #{$site-header-search-form-height + $base-whitespace * .5});
  float: left;
}

.c-search-form__input {
  @include font-size($s-font);
  @include font-weight($bold-weight);
  display: block;
  width: 100%;
  height: $site-header-search-form-height;
  padding-right: $base-whitespace + $site-header-search-form-height;
  padding-left: $base-whitespace;
  border: 1px solid $secondary-gray20;
  border-radius: 0;
  outline: none;
  background-color: $primary-light;
  color: $primary-dark;
  appearance: none;

  &::placeholder {
    @include font-weight($normal-weight);
    color: $secondary-gray60;
  }

  &:focus {
    border-color: $primary-dark;
  }
}

.c-search-form__clear {
  @include icon-button("clear");
  position: absolute;
  top: $clear-button-margin;
  right: $clear-button-margin;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $primary-contrast;
  }
}

.c-search-form__submit {
  @extend %dp-search-icon;
  @include font-size($s-font);
  width: $site-header-search-form-height;
  height: $site-header-search-form-height;
  margin-left: $base-whitespace * .5;
  float: left;
  background-color: $primary-contrast;
  background-repeat: no-repeat;
  color: $primary-light;
  cursor: pointer;

  &:hover {
    background-color: $secondary-gray60;
  }
}
