@import "autocomplete/autocomplete";

$submit-button-width: 30px;

.c-search-form {
  padding-top: $base-whitespace;
  padding-bottom: $base-whitespace;
}

.c-search-form__input {
  display: block;
  width: calc(100% - #{$submit-button-width});
  height: $search-form-height;
  padding-right: $base-whitespace + $submit-button-width;
  padding-left: $base-whitespace;
  float: left;
  outline: none;
  background-color: $secondary-gray40;
  color: $primary-light;
  font-family: $header-font-family;
  font-size: $base-font-size;

  &::placeholder {
    color: $secondary-gray20;
  }

  &:focus {
    & + .c-search-form__submit {
      background-color: $primary-contrast;
    }
  }
}

.c-search-form__submit {
  @extend %dp-search-icon;

  width: $submit-button-width;
  height: $search-form-height;
  float: left;
  background-color: $secondary-gray40;
  background-repeat: no-repeat;
  color: $primary-light;
  font-size: $base-font-size;
  cursor: pointer;

  &:hover {
    background-color: $primary-contrast;
  }
}

.c-search-form__clear {
  @include icon-button("close", "transparent", "red");

  width: $submit-button-width;
  height: $search-form-height;
  margin-left: -2 * $submit-button-width;
  float: left;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $primary-contrast;
  }
}
