@import "../../../shared/styles/config";

.context-menu {
  bottom: $container-whitespace;
  color: $secondary-gray60;
  left: calc(#{$map-panel-button-width} + #{$container-whitespace * 2});
  position: absolute;

  svg {
    fill: $secondary-gray60;

    & > g > g {
      fill: $secondary-gray60;
    }
  }

  &--offset {
    left: calc(#{$map-panel-width} + #{$container-whitespace * 2});
  }

  & > div {
    z-index: 10;
  }

  & > div > button {
    border: 1px solid $secondary-gray20;
    box-shadow: 2px 2px 0 0 $secondary-gray40;
    height: 34px;
    padding: 0 4px;
    z-index: 10;

    & > span {
      text-align: left;
      width: 100%;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $secondary-gray20;
      border: 1px solid $primary-dark;
      outline: 0;

      svg {
        fill: $primary-dark;

        & > g > g {
          fill: $primary-dark;
        }
      }
    }
  }

  & > div > div {
    box-shadow: 2px 2px 0 0 $secondary-gray40;
    min-width: 200px;
    z-index: 9;

    & > ul > li {
      &:hover,
      &:active,
      &:focus {
        color: $primary-dark;

        svg {
          fill: $primary-dark;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .context-menu {
    &--offset {
      left: calc(#{$map-panel-max-width} + #{$container-whitespace * 2});
    }
  }
}
