<div class="u-grid">
    <div class="u-row">
        <div class="u-col-md--12">
            <div class="o-header">
                <h3 class="o-header__subtitle u-margin__bottom--05">Dataset</h3>
                <h2 class="o-header__title u-margin__bottom--3">{{vm.apiData.results.title}}</h2>
            </div>
            <dl class="c-key-value-list">
                <dt>Aangemaakt</dt>
                <dd>{{ { metadata_created: vm.apiData.results.metadata_created, metadata_compact: true } | modificationDate }} ({{vm.apiData.results.metadata_created | date:'dd MMMM yyyy'}})</dd>

                <dt>Gewijzigd</dt>
                <dd>{{ { metadata_modified: vm.apiData.results.metadata_modified, metadata_compact: true } | modificationDate }} ({{vm.apiData.results.metadata_modified | date:'dd MMMM yyyy'}})</dd>
                <dt>Gepubliceerd door</dt>
                <dd><a href="mailto:{{vm.apiData.results.author_email}}" class="o-btn o-btn--link">{{vm.apiData.results.author}} ({{vm.apiData.results.author_email}})</a>                    </dd>
                <dt>Thema</dt>
                <dd>
                    <ul ng-repeat="group in vm.apiData.results.groups"> 
                        <li> {{ group.title }}</li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <div class="u-row u-margin__bottom--2">
        <div class="u-col-md--12">
           <span ng-bind-html="vm.apiData.results.notes"> </span>
        </div>
    </div>
    <div class="u-row u-margin__bottom--2">
        <div class="u-col-md--12">
            <h3 class="o-header__subtitle">Data</h3>

            <table class="o-table">
                <tbody class="c-data-selection-table__content">
                    <tr class="c-data-selection-table__content-row" ng-repeat="resource in vm.apiData.results.resources">
                        <td>
                            <div class="c-data-selection-file-type c-data-selection-file-type__name c-data-selection-file-type__format-{{resource.format | lowercase }}"><span ng-if="resource.format">{{resource.format}}</span>
                            <span ng-if="!resource.format"> ? </span></div>
                            
                        </td>
                        <td> <span class="c-data-selection-file__name">{{resource.name}} </span></td>
                        <td>
                            <span ng-if="resource.description">{{resource.description}} </span>
                            <span ng-if="!resource.description">{{resource.url}} </span> 
                        </td>
                        <td class="u-align--right">
                            <a ng-href="{{resource.url}}" class="c-download-button o-btn" title="Downloaden dataset">{{resource.size / 1024 | number:0}} KB</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="u-row u-margin__bottom--2">
        <div class="u-col-md--12">

            <h3 class="o-header__subtitle">Tags</h3>
            <ul ng-repeat="tag in vm.apiData.results.tags" class="u-inline">
                <li class="u-inline"><span class="o-tag">{{tag.display_name | dpUppercaseFirstLetter}}</span></li>
            </ul>
        </div>
    </div>

    <div class="u-row u-margin__bottom--2">
        <div class="u-col-md--12">
            <h3 class="o-header__subtitle">Licentie</h3>
            <p ng-if="!vm.apiData.results.license_url">{{vm.apiData.results.license_title}}</p>
            <a ng-if="vm.apiData.results.license_url" class="o-btn o-btn--link" ng-href="{{ vm.apiData.results.license_url }}" target="_blank">{{vm.apiData.results.license_title}}</a>
        </div>
    </div>
</div>